/*******************************************************************************

                                Branding  F8FDB2

*******************************************************************************/
@media screen
{
    .branding{display:inline-block;float:left;}
    .header-panel .welcome-msg { display: inline; float: left; font-weight: bold;  }

    .logo,.logo:hover{
        font-size:28px;
        color:#34BBF0;
        text-transform: uppercase;}

    .logo .madison{font-weight: 600;}



}
@media screen and (max-width:965px)
{
    /*.branding{margin-left: 30px!important;}*/
    .welcome-msg{margin-left:8px!important}
}

@media screen and (max-width: 931px)
{


    .branding, .branding h1.logo,  .branding h1.logo a {display:inline-block!important; height:100%!important;}

    .header-panel .welcome-msg{/*padding-left: 28px;*/font-style:italic; ;float:left;margin:1px 5px 0 0  /*2px*/;font-size: 10px;line-height: normal;font-weight:500}

    .branding{float:none!important;display:inline-block;/*margin-left:12px*/}
    .branding h1.logo a{font-family: Raleway;  font-weight:200; color:#FFFFFF;line-height:32px; text-align: center!important; padding: 23px 0 0 0}

    .logo .madison, .logo .island{font-size:37px;}
    .logo .madison {font-weight:600;display:block; }


    a.logo:hover{text-decoration: none!important;}
    .branding a.logo{padding:0;float:none;}
    /* a.logo img{vertical-align: text-top!important}*/


}



@media screen and (max-width: 840px){


    /* .branding{margin-left:-16px!important}*/
}

@media screen and (max-width: 730px){
    /*.branding h1.logo a{font-size:46px!important}*/
}

@media screen and (max-width:685px)
{/* .header-panel .welcome-msg{font-size:11px !important; margin: -43px 8px 0!important;}
  .branding h1.logo a{font-size:42px !important;}  
  .logo .madison{margin-bottom:0!important;}*/
}

@media screen and (max-width:586px){

    .branding h1.logo a{color:/*#1A9ACC*/#34BBF0;line-height:44px; padding:5px 0 0 0;}
    .header-panel .welcome-msg{font-size: 11px;display: none;}
    .logo .madison{font-weight: 500;display: inline-block;
                   font-size:40px;
                   height:49px;
                   background-color: #FFFFA2;

                   margin: 29px 0 0;
                   padding:18px 15px 0 14px ;
                   border-top:6px solid #73F4ED
    }
    .logo .island{
        color:white;
        font-size: 21px;
        font-weight: 500;
        line-height: 48px;
        background-color: #73F4ED;
        padding:0 6px 0 5px;
        margin:-7px 0 0 1px;
        vertical-align: text-top;
        display:inline-block;
    }
}

@media screen and (max-width:360px){
    .logo .madison{font-size: 30px; height:40px;padding:7px 15px 0 14px}
    .logo .island{margin:-3px 0 0 1px; line-height:38px;}
}



@media screen and (max-width:290px){
    /* .branding h1.logo a{line-height:34px; font-size:37px;}
     .header-panel .welcome-msg{font-size: 9px;}*/
    .logo .madison{font-size: 27px;}
    .logo{background-color:#FFFFA2}
}


@media screen and (max-width:275px){
    /* .branding h1.logo a{line-height:34px; font-size:37px;}
     .header-panel .welcome-msg{font-size: 9px;}*/
      .logo .madison,.logo .island{padding:0;margin:0;vertical-align: top;line-height: 47px;;height:auto;}
    .branding,.logo{width:100%;}
    .logo .island{line-height:47px;width:38%;background-color:#FFFFA2}
    .logo .madison{width:62%;border-top: none;}
  
}

@media screen and (max-width:245px){
    /* .branding h1.logo a{line-height:34px; font-size:37px;}
     .header-panel .welcome-msg{font-size: 9px;}*/
    .logo{font-size: 18px;}
   
  
}
@media screen and (max-width:218px){
    .branding h1.logo a{ line-height:28px;}
    .header-panel .welcome-msg{display:none;}
    .logo .madison{font-size:30px;}

}

@media screen and (max-width:175px){
    .branding h1.logo a{font-size:18px; line-height:18px;padding:0;}

    .branding{margin:3px 0 0 0}


}