@media screen{
    .checkout-cart-index .checkout-types {display:none;}
    .cart-table{margin:-65px 0 0}

    #shopping-cart-form {display:inline-block;width:100%;text-align:center;}

    .shopping-cart-product .product-options,
    .shopping-cart-product .price-info{
        display:block;
    }

    .shopping-cart-product .product-options { margin:10px 0 ; }
    .shopping-cart-product .product-options dt, .product-options dd{display:inline-block;vertical-align: top;;}
    
    .shopping-cart-product .product-options dt, 
    .shopping-cart-product label{font-weight:bold;color:#00C7ED; font-size:12px;}

    .shopping-cart-product label{color:#31E03E}
    
    .shopping-cart-product{display: inline-block;text-align:left;border: 1px dashed #4AE6FF;margin: 0 18px 0 0;max-width:289px;;}
    .shopping-cart-product:last-child{margin:0;}

    .shopping-cart-product .cart-price{display:block;}

    .shopping-cart-product .product-name{padding:0 0 0 13px;}
    .shopping-cart-product  .product-title{display:block;line-height:21px;background-color: #63E6FF}

    .shopping-cart-product .product-edit-link, .shopping-cart-product .product-delete-link{float:right;} 
    .shopping-cart-product .product-info{width:52%;}
    .shopping-cart-product .product-image{margin: 7px; width:41%;}
    .shopping-cart-product  .product-options li{display:inline-block;margin:0 9px 0 0}

    .shopping-cart-product .cart-price{margin:1px 0}
    .shopping-cart-product .price{margin:0 0 0 2px; font-size:13px;}

    .shopping-cart-product .qty{height:13px;margin:-2px 0 0 7px; width:28px}
    .shopping-cart-product .product-qty-box{margin:11px 0; display:inline-block;}
}