/*******************************************************************************

                              MINI DASHBOARD

*******************************************************************************/

@media screen{

    .mini-dashboard{display: inline-block; float:right;}
    .mini-dashboard-item{display: inline-block; vertical-align: top;margin:0 20px 0 0}

    .mini-dashboard .nav-toggle-button{display:none;} 

    .mini-dashboard-item  a,
    .mini-dashboard-item h3 span,
    .mini-dashboard-item h3  , 
    .mini-dashboard-item strong{
        background:none; 
        padding:0; 
        color:white;/*color:#1A9ACC !important;*/ 
        font-weight:bold; 
        font-size:11px}

}

@media screen and (max-width: 931px)
{
    .mini-dashboard{float:none;display:block; text-align: center;}
    /* .mini-dashboard >li:nth-child(2)*/.my-cart-link{background-color:#80FAE6 ;}
    /*.mini-dashboard >li:nth-child(3)*/.my-account-link{background-color:#89EDFA ;}
    .mini-dashboard-item{
        border-bottom:5px solid /*#F8FD9E*/  /*#FFFF99*//*#FFFFA2*/#ffffbc ;
        background-color: #73F4ED ;

        float: left ;
       
        line-height: normal ;
        margin: 0 1px 0 0;
        /* margin-bottom: 1px !important;
         margin-left: 0 !important;
         margin-right: 1px !important;
         margin-top: 2px;*/
        /*padding: 43.2px 0 !important;*/
        vertical-align: top !important;
        width: 32.9% ;
        text-align:center!important;
        padding:54px 0 33px 0;

    }



    /*.top-cart{padding:0 22px 0 15px;}*/

    .mini-dashboard{height:104px ;width:260px/*13.5%*/;  vertical-align:top!important; display:inline-block; /*border-bottom:2px dotted #5CDFDA!important*/}


    /*.mini-dashboard{vertical-align:top!important; margin: 0 0 0 3px!important}

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{float:none !important;display:block!important; height:35px!important;text-align:center!important;padding:0!important;}
    .mini-dashboard a, .mini-dashboard h3, .mini-dashboard strong{ color:white !important; font-weight:600!important}
    .mini-dashboard ul.links{padding-top:17px!important; height:13px!important;}*/
 


    .mini-dashboard-item  a,
    .mini-dashboard-item h3 span,
    .mini-dashboard-item h3  , 
    .mini-dashboard-item strong{ font-size:13.5px}
    /*.mini-dashboard strong{color:#5FC77F !important}*/


    /*.mini-dashboard ul.links, .mini-dashboard .top-cart{margin-right:11px!important}*/

}




@media screen and (max-width:586px){
    .mini-dashboard-item 
    {height:auto;
     border-bottom: 0; 
     background-color:transparent;
     line-height: 21px; 
     width:44%; 
     padding:0;
     margin:0 3px 0 0;
    }

    .links, .top-cart, .top-myaccount{
        padding:0;
        white-space: nowrap;
        overflow:visible;
    }

    .mini-dashboard-item a, .mini-dashboard-item h3 span, .mini-dashboard-item h3, .mini-dashboard-item strong{
        /* color: #1A9ACC*/
        font-weight:600;
        font-size:12px;
    }

    .mini-dashboard{
        height:auto; 
        background-color: #73F4ED; 
        width:46%;
       
        
    }
  
}
@media screen and (max-width:360px){
    .mini-dashboard-item a, .mini-dashboard-item h3 span, .mini-dashboard-item h3, .mini-dashboard-item strong{
        font-size: 11px;
    }
    .mini-dashboard{width:57%;}
}



@media screen and (max-width:280px)
{
   .mini-dashboard{width:100%;}
   .mini-dashboard-item{width:30%;}
}


@media screen and (max-width:225px)
{
    .mini-dashboard{width:100%;}
}
@media screen and (max-width:175px)
{
    .mini-dashboard{z-index:9999;margin: 0;padding:0; width:100%;border-top:none;background-color:#FFFFA2;position:fixed;}
    .mini-dashboard-item{display:inline-block;}
    .mini-dashboard-item a, .mini-dashboard-item h3 span, .mini-dashboard-item h3, .mini-dashboard-item strong{font-size:10px;color:black;}

  

}


/******************************************************************************

                            TOP SHOPPING CART

******************************************************************************/
@media screen{
    /* Top Shopping Cart */
    .top-cart{ background: url("../../images/madison-sprite-a.png") no-repeat scroll -7px -219px transparent; display: block; padding: 0 0 0 20px; text-decoration: none; /*font-weight: 600;*/ }




    .top-cart .block-content .block-subtitle { font-size:10px; color:#50A4CF; font-weight:bold; text-transform:uppercase; line-height:12px; padding:5px; }
    .top-cart .block-content .block-subtitle .close-btn { 
        background: url("../../images/madison-sprite-a.png") no-repeat scroll -8px -641px transparent;

        cursor: pointer;
        float: right;
        height: 12px;
        line-height: 12px;
        overflow: hidden;
        padding-top: 0;
        position: relative;
        text-align: left;
        text-indent: -9999px;
        width: 12px;
        z-index: 1; }
}

@media screen and (max-width:931px)
{
    .top-cart{padding:0;background: transparent;}
}


/******************************************************************************

                                TOP MY ACCOUNT

******************************************************************************/
@media screen{
    /* Top My Account Block */


}
/******************************************************************************

                                TOP CHECKOUT

******************************************************************************/

@media screen
{
    .header-panel .links { float:right; white-space:nowrap; }
    .header-panel .links li a { color:#FFFFFF; }
    .header-panel .links li a:hover { color:#FFFFFF; text-decoration:none; }
}

@media screen and (max-width:586px){
        .checkout-link{display:none;}
}

@media screen and (max-width:280px){
        .checkout-link{display:inline-block;}
}