

/*******************************************************************************

                                 MY ACCOUNT SECTION

*******************************************************************************/
@media  screen{
      .my-account {}
    .my-account .page-title{ text-align:center; }
    .my-account .fieldset h2.legend { border-bottom:1px solid #d8d8d8; font:700 14px/1.25em 'Raleway', Arial, Helvetica, sans-serif; padding:3px 0 4px; margin:0 0 10px; color:#656565; text-transform:uppercase; }
    .my-account .buttons-set a.button,
    .my-account .buttons-set button.button { float:right; margin-left:15px; }
    .my-account p.back-link { border-right:none; }

    .my-account .pager { width:100% }
    .my-account .pager .limiter { margin-left:20px; line-height:20px; }
    .my-account .pager .limiter .jqTransformSelectWrapper { margin:0 5px; position: }
    

}