/*******************************************************************************

                              Navigation

*******************************************************************************/
@media screen{
    /********** < Navigation */

    .nav-container{background: none!important;}
    #nav {background: transparent  }
.nav-content-menu{z-index: 9999}



    /*-------------------------------
    Navigation Label
    -------------------------------*/
    .regular-nav .nav-label{display:none;}

    /*-------------------------------
    All Levels
    -------------------------------*/



    /*-------------------------------
    1st Level (Top Level)
    -------------------------------*/
    #nav .ui-menu-item.level-top { 
        height: 38px;
        position: relative;   
        display: inline-block;
        width:16%;
        z-index: 500
    }
    #nav .ui-menu-item.level-top .ui-menu-icon{display:none;}

    #nav  a.level-top {color:#666; text-transform: uppercase;    
                       white-space: normal;   }


    /*-------------------------------
    2nd Level
    -------------------------------*/
    #nav  .ui-menu.level0 { 
        display: inline-block;
        background:#fbfbfb; 
        padding:5px 11px 10px; 
        border-top:1px solid #ECECEC;
        position: absolute;
        top:50px!important; 
        left:0!important; 
        width:200px;
    }
    
    #nav .level1.ui-menu-item { 
        display:inline-block;
        border-bottom:1px solid #e2e2e2;    
        text-align: left; 
        display:block; 
        font-size:12px;  
        padding:5px 0; 
        text-decoration:none !important; 
        color:#444; 
        line-height: 26px;
    }

}


@media screen and (max-width: 931px)
{
    /*Navigation*/


    #nav{margin-bottom:10px; vertical-align: top;}

    /*-------------------------------
    1st Level (Top Level)
    -------------------------------*/
    #nav .ui-menu-item.level-top{ 
        width:85px;
        text-align:center;
        display: inline-block;
        height:auto;
        line-height: 20px;
        margin:0 0 0 1px;
        border-bottom:1px solid white
    }

    #nav  a.level-top{color:inherit; font-weight: 600;font-size:13px;}

    #nav >.level-top.nav-1, 
    #nav >.level-top.nav-2, 
    #nav >.level-top.nav-3{background-color:/*#43DADB*/#89EDFA; color:/*#F8FD9E*/white ;  }

    #nav >.level-top.nav-4, 
    #nav >.level-top.nav-5, 
    #nav > .level-top.nav-6{color:/*#43DADB*/#00ebed; background-color:/*#F8FD9E*//*#FFFF99*/ /*#FFFFA2*/#ffffbc ; }


    #nav >.level-top.nav-3{width:108px}
    #nav >.level-top.nav-4{width:113px; margin-left:0!important}
    #nav >.level-top.nav-6{width:50px; }


}

@media screen and (max-width:586px){
    .nav-container{display: inline-block;width:54%;margin:0 0 0 -3px }
    .nav-content-menu{width:270px;border:2px solid #89EDFA}

    #nav{
        margin:0;
        width:100%;
        text-align: center /*background-color:#1A9ACC;*/;
        background-color: transparent;
        padding:0;
        width:auto;
    }

    #nav .expanded-submenu .close-submenu-btn{display:none;}
    
    /*-------------------------------
    All Levels
    -------------------------------*/
    #nav .ui-icon{display:none;}


    /*-------------------------------
    Navigation Label
    -------------------------------*/
    .nav-label
    {
        /* margin: 0 0 0 119px;*/
        background-color: #FFFFA2;
        line-height: 22px;

    }
    .nav-label a
    {
        color: #34BBF0; 
        font-weight: bold;
        display: block;
    }

    .nav-label .ui-menu-icon{display: none;} 

    /*-------------------------------
    1st Level (Top Level)
    -------------------------------*/
    #nav .ui-menu-item.level-top
    {
        color:white;
        width:100%;;
        display:inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 26px;
        display: block;
    } 
    #nav .col-1,#nav .col-2{
        float:left;
        display: inline-block!important;
        left:0!important; 
        position: static!important;
        padding: 0;
        border: none;
    }

    #nav .col-1{width: 60%}
    #nav .col-1 .level-top.ui-menu-item{
        color:/*#43DADB*/#00ebed; 
        background-color:/*#F8FD9E*//*#FFFF99*/ /*#FFFFA2*/#ffffbc ;
    }

    #nav  .col-2{width:40%}
    #nav .col-2 .ui-menu-item.level-top{
        background-color:/*#43DADB*/#89EDFA; 
        color:/*#F8FD9E*/white ; 
    }


    /*-------------------------------
    2nd Level
    -------------------------------*/
    
  
    #nav  .ui-menu.level0 { 
        background-color: white;
        width:285px;
        display:inline-block; 
        left:0!important; 
        top:50px!important;
        position:static;
    }

    #nav  .expanded-submenu .ui-menu.level0{display:inline-block!important;z-index:9999;width:100%;padding:0;}

    #nav  a.level-top{ font-weight:normal;width:100%; text-align: center;font-size:12px;font-weight:bolder}





}

@media screen and (max-width:500px)
{

    #nav > .level-top.ui-menu-item{width:42px;text-align: right;}
    #nav > .level-top.nav-3{width:94px;;}
    #nav > .level-top.nav-4{width:107px;}
    #nav > .level-top.nav-6{width:28px}

}
@media screen and (max-width:300px)
{
    .nav-content-menu{width:235px}
}
@media screen and (max-width:390px)
{

    #nav > .level-top.ui-menu-item{width:35px/*42px*/;text-align: center;}
    #nav > .level-top.nav-3{width:/*94px;*/78px;}
    #nav > .level-top.nav-4{width:/*107px*//*86px*/109px;}
    #nav > .level-top.nav-6{width:28px}
}
@media screen and (max-width:360px)
{
    .nav-container{width:43%;}

}

@media screen and (max-width:280px)
{
    .nav-container{width:100%;}
   
}

@media screen and (max-width:175px)
{
    .nav-close-button{display:inline-block;}
    #nav .level-top.ui-menu-item{text-align:left;display:block;width:100%;}
    .nav-container{position:absolute;top:-149px; width:100%;border-top:none;padding:0;
    }
    #nav{background-color: #89EDFA;} 




}
/*******************************************************************************

                                BreadCrumbs

*******************************************************************************/
@media screen and (min-width: 932px){
    .breadcrumbs{display:block!important;}
}
@media screen and (max-width: 931px){
    .breadcrumbs{padding:0 5px!important; display:inline-block!important;/*margin-left:5px*//*-251px*//*!important*/; width:108%!important;  border-bottom:2px dotted #80FAE6 !important; line-height: 13px!important;}

}
@media screen and (max-width: 630px){
    .breadcrumbs{width:105%!important}
}

@media screen and (max-width: 600px){
    .breadcrumbs{width:103%!important}
}
@media screen and (max-width: 580px){
    .breadcrumbs{width:100%!important}
}


/*@media screen and (max-width: 820px){
    .breadcrumbs{width:60%!important}
}

@media screen and (max-width:550px){
    .breadcrumbs{width:460px !important;margin-top:-17px !important;margin-left:-221px !important}
}*/
@media screen and (max-width:550px){
    #nav{height:100%;}
}

