/*******************************************************************************

                                PRODUCT NAME

*******************************************************************************/

@media screen
{
    .product-name {     color: #686868;   font-size: 12px;    font-weight: bold;text-align: center;word-wrap:  break-word;padding:38px 0 16px;display:inline-block }
.product-name a{color:white;}

}

/*******************************************************************************

                                   PODUCT PRICE

*******************************************************************************/

@media screen{
    .price { 
        white-space:nowrap !important; 
        font:normal 16px/16px Georgia, "Times New Roman", Times, serif; 
        color:#50A4CF }

}
@media screen and (max-width: 931px){
    .product-name .price-box{display: inline-block}
}

/*******************************************************************************

                                   PODUCT AVAILABILITY BOX

*******************************************************************************/
@media screen and (max-width: 931px){
    .product-name .availability{display: inline-block; margin: 0 9px;}
}


/*******************************************************************************

                                PRODUCT DESCRIPTION

*******************************************************************************/

@media screen {

    #product-description-tab{text-align: center;}
    .product-main-info,
    .product-details
    {
        /* border-top:1px dashed #49BFED!important;
         border-bottom:1px dashed #49BFED !important;*/
        background-color:transparent ; 
        display:block;
        width:auto;
        min-height:40px;
        text-align: center;


    }
    .product-details .std,.product-main-info p{display:inline-block;text-align: left;max-width:55%;}
}
@media screen and (max-width:931px)
{

    .product-main-info .ratings{display: none;}
}

/*******************************************************************************

                        PRODUCT SPECIFICATION TABLE

*******************************************************************************/



@media screen and (max-width: 931px){
    .product-view > .product-name  .data-table{border:0!important; }
    .product-view > .product-name .data-table tr{display:inline!important}
    .product-view > .product-name .data-table .label,.product-view > .product-name .data-table .data{color: #37CEFF !important;font-size:15px!important; font-weight:600!important; font-style:italic!important;  padding:0!important;background:none!important;vertical-align: middle!important; }
    .product-view > .product-name .data-table tbody{text-align: center!important;}
    .product-view > .product-name .data-table .label{color:#21DFC7!important; padding:0 4px 0 9px !important;  text-transform: none!important; font-size:15px!important; font-weight:500!important;  }

}


/*******************************************************************************

                               PRODUCT IMAGES

*******************************************************************************/



@media screen and (max-width:931px)
{
    .product-img-box{text-align: center!important;width:100%; display: inline-block; vertical-align: top;}
    .more-views{width:20%;display:inline-block!important;vertical-align:top!important; margin:0 !important;margin-top:22px!important}

    .more-views ul{text-align: left !important; display:inline-block!important}
    .more-views img{width:100%; height:100%;}

    .more-views h2{display:none!important}
    .more-views li{border:1px solid #DDDDDD!important; display:inline-block!important; margin:0 6px 6px 0!important}

    .product-img-box p.notice {padding: 0 0 2px 0!important}
    .product-img-box #main-image{display:inline!important}



}
/*******************************************************************************

                               CUSTOMIZE AND BUY PRODUCT

*******************************************************************************/


@media screen and (max-width:931px)
{
    #product-buy-tab{text-align: center}

    .product-shop{max-width:73%;display:inline-block;text-align:left;}

    #product_addtocart_form{text-align: left;border:0; }
    .add-to-cart,.add-to-cart-buttons,.paypal-pay-box{display:inline-block;vertical-align: top;}


    .product-customize-fields {text-align:center}
    .product-customize-fields  select{

        padding:4px!important;
        width:100%!important;
    }
    .product-customize-fields .qty{
        width:6em;

    }
    .product-customize-fields  .input-box{display:block}
    .product-customize-fields  li
    {display:inline-block;
     max-width:32%;
     width:auto; 
     vertical-align: top; 
     margin:0 20px 0 0;
     text-align: left;}



    .options-container-small{
        /* border-top:1px dashed #49BFED!important;
         border-bottom:1px dashed #49BFED !important;*/
        background-color:transparent !important; 
        display:block!important;
        width:100%!important;
        margin-top:10px!important;
        min-height:40px!important;


    }
    .product-options  label, .add-to-cart label{
        color: #50A4CF!important;
        font-size: 12px!important;
        font-weight: 600!important;
        padding: 5px 0!important;
        text-transform: uppercase!important;
        margin:0!important;

    }

    .product-options  .required em {
        float: none;
    }
    .required em {
        color: #DA1818;
        float: left;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-size: 14px;
        font-weight: bold;
        margin: 0 4px;
    }
    .product-options-bottom{text-align: center;margin:22px 0 0 0}
    .product-options-bottom .required{display:none;}

}

/*******************************************************************************

                                PRODUCT REVIEW

*******************************************************************************/
@media screen and (max-width:931px)
{
    #customer-reviews
    {background: transparent!important;}
    .product-view .box-mini-reviews .box-title{padding:0!important; }

}

/*******************************************************************************

                                PRODUCT RATING

*******************************************************************************/
@media screen{
    .rating-box { text-align: center; width:65px; height:13px; font-size:0; line-height:0; background:url(../../images/bkg_rating.gif) 0 100% repeat-x; overflow:hidden; }
    .rating-box .rating {  height:13px; background:url(../../images/bkg_rating.gif) 0 0 repeat-x;   cursor: pointer; }
    .ratings { display:inline-block; 

               display: inline-block;
               margin: -16px 0 0;
               position: absolute;
    }
    .ratings .rating-box { display:inline-block }
    .ratings .amount { font-size:12px; }
    .ratings .rating-links { margin:0; font-size:11px; }
    .ratings .rating-links a { text-decoration:underline; }
    .ratings .rating-links a:hover { text-decoration:none; }
    .ratings .rating-links .separator { margin:0 3px;  color: #E6E6E6;}
}
@media screen and (max-width:931px)
{
    /*Product Main Info Block*/
    .product-main-info .ratings .rating-box
    {float:none!important; margin:0!important; display:block!important;position: static!important; vertical-align: top!important; }

}

/*******************************************************************************

                        TAG THIS PRODUCT

*******************************************************************************/

@media screen and (max-width: 931px){
    .product-view .box-tags .LHS{
        float:none!important;
    } 

    .box-tags.box-collateral{padding:0!important;margin:0!important;}
    #addTagForm label{display:none!important;}
    .box-tags .box-title{display:none!important}

}

/*******************************************************************************

                         COMPARE, WISHLIST , FACEBOOK BUTTONS

*******************************************************************************/
@media screen and (max-width:931px)
{
    .catalog-product-view .additional-actions ul,
    .additional-actions ul li,
    .catalog-category-view .add-to-links
    {display:inline-block!important;float:none;vertical-align: middle!important;}


    #social_facebook_block{margin:0;display:none; }
    #social_facebook_block *{text-align: center!important; float:none!important;}
    #social_facebook_block .facebookBtn{display:inline-block!important; float:none!important;}

    .catalog-category-view .add-to-links{float:left;}

}
@media screen and (max-width:215px)

{
    .category-view .products-grid .item .add-to-links{float:none;}
}

/*******************************************************************************

                        PRODUCT TABS

*******************************************************************************/
@media screen and (max-width: 931px){

    #product-tabs .ui-tabs-nav{text-align: center;}

    #product-tabs.ui-tabs .ui-tabs-nav li {float:none; display:inline-block;line-height: 6px;border-bottom-width: 1px;border-radius: 4px 4px 4px 4px;}
    #product-tabs.ui-tabs .ui-tabs-nav li a{padding:5px}



}



/*******************************************************************************

                                PRODUCT GRID DISPLAY

*******************************************************************************/

@media screen
{
    .products-grid {font-size:0;display:inline-block}
    .products-grid .item{ border:1px dashed #4AE6FF; float:none!important; display:inline-block!important;vertical-align: top; margin: 0 17px 11px 0;text-align: center!important; width:200px;}
    .products-grid .item.last{margin-right:0;}
    .products-grid .item.first{margin-left:0;}
    .products-grid .product-name{padding: 3px 0; margin:0px 0px 3px 0; font-size: 14px ; font-weight: 500!important;background-color:#63E6FF; display:block;}


    .products-grid .product-name a{color:white}


    .products-grid .price-box{display:inline-block;margin:5px 0 8px}
    .products-grid  .ratings + .price-box{margin: 4px 0 4px 0; }
}
@media screen and (max-width:965px)
{  .products-grid li .product-image-block div.actions{display:inline-block;}
   .products-grid li .product-image-block{border: none;border-bottom: 1px dashed #4AE6FF }

   .products-grid .actions{position: static;margin:3px 0 0 0}

   /*.products-grid{width:100%!important}*/
   .products-grid{width:100%; text-align: left; display: inline-block;}
   .products-grid li.item{float:none; display: inline-block; vertical-align: top;}

   /* Products Grid Containers*/
   .category-products, .cms-home .category-view{width:100%;text-align:center;}


}

@media screen and (max-width:931px)
{


    /*.category-view ul.add-to-links{margin: 5px 0 0 2px}*/


    .products-grid .price{font-size: 20px; color:#21DFC7 }

}


@media screen and (max-width:455px)
{
    .products-grid .item{margin:0 0 11px 0;}
}


/*******************************************************************************

                      RELATED PRODUCTS

*******************************************************************************/
@media screen and (max-width: 931px){
    .box-related, .box-related ul.box-content{display:inline-block!important; float:none!important; width:100%!important;text-align: center!important; }
    .product-view .box-related li.item{vertical-align:top!important; min-width:30%!important;float:none!important; display:inline-block!important}
    .box-related ul.box-content{width:86%!important;text-align: left!important;}

}


