/*******************************************************************************

                              SEARCH FORM

*******************************************************************************/
@media screen{


    #search_mini_form{float: right;width:203px;}
    #search_mini_form  label { display:none; }
    #search {    height: 30px;    line-height: 30px;    padding: 0 35px 0 5px;    width: 160px; }

}


@media screen and (max-width: 931px)
{
    /*Header Search Form*/
    #search_mini_form .form-search{float:none;padding:0 }
    #search_mini_form {
        display:inline-block;
        float:none;
        width:auto;
        margin: 11px 0 0;
        position: absolute;
        top: -13px;

    }


    #search{/*background:transparent!important;*/ 
        border:1px dotted #5CDFDA ;
       
        width:191px; 
        height:21px;
                color:white!important;
        font-size: 12px;
        font-style: italic;
        font-weight:400;
        
        
        padding:0 34px 0 33px;
        text-align: center;

        border:none;
        border-bottom: 1px solid white;
        border-top: 9px solid #F8FD9E;
        background-color: #73F4ED
    }


    #search_mini_form .button{
        background: transparent;
        margin:0 0 -8px -29px;
    }
}

@media screen and (max-width: 586px)
{
     .search-form-wrapper{height: 43px}
    
}
@media screen and (max-width: 583px)
{
    #search_mini_form label{display:none!important;}
    #search_mini_form{margin: /*4px  0 0 90px*/4px 0 0 0;z-index:999; color:white;position: static}
    #search_mini_form input{background-color: white; color:black!important;border: none; border:2px dotted #89EDFA}
}

@media screen and (max-width: 550px)
{
    #search_mini_form{position: static;}
}


@media screen and (max-width: 300px)
{
     .search-form-wrapper #search{width:162px;}
}