/*#################################################################################################



                            PRODUCT CONTAINER STYLES



#################################################################################################*/

/****** MOBILE VIEW ******/
.checkout-cart{
    .widget-cross-sell-products .product{
        margin: 17px 0 0 0;
        width: 131px;
        text-align: center;
    }
}


.product-view{
    .widget-related-products .product{width: 283px; &:not(:last-child){margin-right: 8px;}}
    .widget-upsell-products .product:not(:last-child){margin-right: 15px;}

}

/****** TABLET VIEW ******/
@include breakpoint(sm){
    .checkout-cart{
        .widget-cross-sell-products .product{
            margin-right: 27px;
            .col-right{padding-left: 10px;}
        }
    }
}


/****** DESKTOP VIEW ******/
//NO STYLES

/*#################################################################################################



                                    PRODUCT NAME



#################################################################################################*/
.widget-cross-sell-products .product-name{
    margin-bottom: 5px;
}

.product-view  .widget-related-products{

    .product-name{
        .link{font:{size: 12px; weight: 700;};}
        .check-box{margin-top: 2px;}
    }

}


/*#################################################################################################



                                    PRODUCT IMAGES



#################################################################################################*/


/*#################################################################################################



                                    PRODUCT PRICE



#################################################################################################*/
.widget-related-products {
    .price-tag-container{margin: 8px 0;}
}
.widget-similar-products{
    .price-label,.price-amount{font-size: 11px; color: color(dark-gray)}
    .price-amount{font-weight:bold}
}

.widget-cross-sell-products .price-tag-container{
    margin-bottom: 5px;
}

/*#################################################################################################



                                    PRODUCT ACTIONS



#################################################################################################*/


/*#################################################################################################



                                   RATINGS & REVIEWS



#################################################################################################*/
.product-view .widget-upsell-products{
    .ratings-reviews{height: auto; margin: 5px 0}
    .rating-review-links{display:block;}
}