
/*==============================================================================

               GLOBAL STYLES APPLICABLE TO MULTIPLE MODULES

=============================================================================*/
.category-product-list .product-module .link,
.product-view .product-module .link,
.widget-cross-sell-products .product-module .link{

    font:{weight:normal; size: 11px; family: Arial}
    color: color(dark-gray);
    //line-height: 11px;
    text-decoration: underline;
    //@extend %gray-link-with-underline;

}

.category-product-list.grid-view .product-module{text-align: center}

/*==============================================================================

                        MODULE SPECIFIC STYLES

=============================================================================*/

/*------------------------------------------------------------------------------ 

                       PRODUCT CONTAINER STYLES

------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------ 

                              PRODUCT NAME

------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------ 

                              PRODUCT IMAGE

------------------------------------------------------------------------------*/





/*------------------------------------------------------------------------------ 

                             PRODUCT PRICE

------------------------------------------------------------------------------*/

//Global Styles
.price-tag{
    display: block;

    &.minimal-price, &.minimal-price .price-amount, &.minimal-price .price-label,
    &.regular-price, &.regular-price .price-amount, &.regular-price .price-label,
    &.price-from, &.price-from .price-amount, &.price-from .price-label,
    &.price-to, &.price-to .price-amount, &.price-to .price-label
    {font-size: 12px;  color: color(dark-gray); font-weight: 700}

    &.old-price, &.old-price .label, &.old-price .price-amount{ font-weight: normal; color: #989696;}
    &.old-price{text-decoration: line-through;}

    &.special-price .price-amount,&.special-price .label{color: color(orange);font-weight: bold;}
}



/*------------------------------------------------------------------------------ 

                             PRODUCT QUANTITY

------------------------------------------------------------------------------*/

.product-qty {@include text-box(qty-text-box);}




/*------------------------------------------------------------------------------ 

                             PRODUCT AVAILABILITY

------------------------------------------------------------------------------*/

//Global Settings
.product-availability-status .out-of-stock-label,
.product-availability-status .in-stock-label{
    font: {size: 11px; weight: 700};
}
.product-availability-status .out-of-stock-label{
    color: color(orange);
}

.product-availability-status .in-stock-label{
    color: #1B6800;
}


//Page Specific Settings






/*------------------------------------------------------------------------------ 
 
                             PRODUCT ACTIONS
 
------------------------------------------------------------------------------*/

//ADD TO CART
.cart-button{ @include button(cart-button);}


/*------------------------------------------------------------------------------ 
  
                            RATINGS & REVIEWS
  
------------------------------------------------------------------------------*/
.ratings-reviews{
    text-align: left;
    .rating-box{                                
   
        width: 65px;
        background:url("../images/bkg_rating.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
        .rating{
            float: left;
            height: 13px;
            background: url("../images/bkg_rating.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);

        }
    }
}



