
/*------------------------------------------------------------------------------ 

                       PRODUCT CONTAINER STYLES

------------------------------------------------------------------------------*/
.category-product-list.grid-view .product{
    /*------- MOBILE VIEW ------*/
    width: 156px;
    margin-right: 0;
    margin-left: 0;
    vertical-align: top;
    margin-bottom: 25px;



    /*------- TABLET VIEW ------*/
    @include breakpoint(sm){
        width: 164px;
        margin-right: 19px;
        &:last-of-type{margin-right: 0}
    }


    /*------- DESKTOP VIEW ------*/



}

.category-product-list.list-view .product{

    /*------- MOBILE VIEW ------*/
    &:not(:last-child) {border-bottom: 1px dotted color(medium-gray);}
    padding-bottom: 26px;
    
    .col-right{padding-left: 19px;}
    .col-left{text-align: center}

    /*------- TABLET VIEW ------*/
    @include breakpoint(sm){
        .col-right{padding-left: 0;}
    }
    
    /*------- DESKTOP VIEW ------*/
}

/*------------------------------------------------------------------------------ 

                             PRODUCT NAME

------------------------------------------------------------------------------*/
.category-product-list .product-name{
    margin:3px 0 8px;
    line-height: 16px;
    .link{font-weight: bold;}
}

/*------------------------------------------------------------------------------ 

                           PRODUCT IMAGES

------------------------------------------------------------------------------*/
.category-product-list .product-image-link{border-bottom: none }
.category-product-list .product-image-container{text-align: center}


/*------------------------------------------------------------------------------ 

                           PRODUCT PRICE

------------------------------------------------------------------------------*/
.category-product-list.grid-view .price-tag{
    margin: 4px 0 10px 0;
}
.category-product-list.list-view .price-tag-container{margin: 5px 0 10px 0;}


/*------------------------------------------------------------------------------ 

                          PRODUCT ACTIONS

------------------------------------------------------------------------------*/

//ADD TO WISHLIST & ADD TO COMPARE LINKS
.category-product-list .add-to-actions .link{
    .link{color: #999999;}
    .add-to-wish-link, .add-to-compare-link{display: block; }
}

/*------------------------------------------------------------------------------ 

                         PRODUCT DESCRIPTION

------------------------------------------------------------------------------*/
.category-product-list .short-description{
    font-size: 12px;
    text-align: left;
    margin-bottom: 8px;
    line-height: 16.2px;
    padding-right: 20px;
    color:color(dark-gray);
    .learn-more-link{font-size: 12px; }
}

/*------------------------------------------------------------------------------ 

                         RATINGS & REVIEWS

------------------------------------------------------------------------------*/

.category-product-list .ratings-reviews{
    
    /****** MOBILE VIEW ******/
    margin-bottom: 10px;
   @include height($height: 26px, $line-height: 13px);
    .rating-review-links, .rating-box{@include inline-block();}
    
    /****** TABLET VIEW ******/
    @include breakpoint(sm){
         @include height(13px);
    }
    
    
    /****** DESKTOP VIEW ******/
}

.category-product-list.list-view{
    .rating-box{margin-right: 15px}
}


