/*******************************************************************************

                                HEADER

*******************************************************************************/
@media screen{
    
    .header-panel { z-index:9999; position:relative; color: #FFFFFF; text-transform: uppercase;/* border-bottom:1px solid #c8c8c8; */ /*  */height:35px; line-height:35px; padding:0 0 0 0px; font-weight: 600; }
    .header{margin:14px 0 26px  0;padding:0 20px}

}

@media screen and (max-width: 931px)
{
    .cms-home .std{text-align:center;}
    .header-panel{z-index:0; background-color:#34bbf0/*#1a9acc*/;/*height:161px!important;*/ height: 114px ;  margin-top:-10px; /*padding: 5px 0 !important;*/ /*padding: 50px 0 !important;*/}
    .header{padding:15px 0 27px!important}


    .top-container{float:none!important; margin: 0!important;}
    .top-container .widget-banner li{width:100%!important;}

    .header-panel{/*margin-top:-35px !important;*/ width:291px/*331px*/ ;display:inline-block !important; text-align:center !important; border-bottom: 5px solid /*#43DADB*/#89EDFA;}

    .header-container{
        height:143px;
        border-bottom:3px dotted #F8FD9E ; 
        padding: 0 0 10px 0!important; 
        background-color:#FFFFD6; 
        text-align:center ;/*border-top:10px solid /*#5FC77F#F8FD9E !important*/ }

    .header{vertical-align:top !important; float:none !important; padding:0!important; margin:-2px 0 0  ; height:50px; display:inline-block!important;text-align:center!important}


}



@media screen and (max-width:685px)
{
    /* .header-panel{width:39%!important;}*/
}

@media screen and (max-width:625px)
{


    /* .header-panel{width:41%!important;}*/

}

@media screen and (max-width:580px){


    /*.header-container{border-top-width: 8px !important}*/

}

@media screen and (max-width:685px)
{


    /* .header{width:55%!important;}*/

}

@media screen and (max-width:586px){


    .header{margin:-2px 0 0; width:303px; ;}
    .header-container{background-color:/*#34bbf0*/ #FFFFD6;  height:60px; margin: 46px 0 0 }
    .header-panel{display:block;margin:-67px 0 0; width: 100%;background-color: transparent; border-bottom: 0;height:auto;/*border-top:13px solid #FFFFA2*/ }
}
@media screen and (max-width:360px){
     .header{width:256px;margin:-6px 0 0}
     .header-container{height:43px;}
}
@media screen and (max-width:290px){
     .header{width:242px;}
}
@media screen and (max-width:175px) {
    .header-container{height:56px;border-top: none;}
     .header-panel{margin:18px 0 0 0;}
     
}
/*******************************************************************************

                               FOOTER 

*******************************************************************************/
@media screen{
    /* Footer ================================================================================ */
.footer-before-container { margin:0 0 3px; text-align:center; }

/*.form-subscribe { float:left; width:183px; padding: 0 17px 0 0; }
.form-subscribe-header { color:#d12c01; font-size:11px; font-weight:bold; text-decoration:none; text-transform:uppercase; }
.form-subscribe label { display:block; margin:6px 0; }
.form-subscribe input.input-text { width:177px; display:block; }
.form-subscribe button.button { margin:6px 0 0; float:right; }
.form-subscribe .validation-advice { width:180px; }
.form-subscribe .v-fix { text-align:left; padding-right:5px; }
.form-subscribe a { color:#777; }
*/
.footer,.footer-container{width:100%;}
.footer-container {     /*border-top: 1px solid #D8D8D8;*/    margin: 0;    padding: 0;    text-align: left;}
.footer > div { text-align:left; float: left;float:none;display:inline-block;width:22%;min-width:167px; margin-bottom:20px;}
.footer {text-align:center;  margin: 0 auto;   padding: 32px 0 0 0;}
.footer a {text-decoration: none;    text-transform: uppercase; font-size: 11px; color:#636363;line-height: 22px;}
.footer a:hover { text-decoration:none; color:#50a4cf }
.footer ul,
.footer ul.links { display:block; float:left; width:150px; margin:0px; padding:0; }
.footer ul.links li,
.footer ul li { display:block; vertical-align:top; margin:0; padding:0; clear: left; }
.footer  h3 {color:#50A4CF; text-transform:uppercase;   font-weight: normal; font-size: 11px;line-height: 22px;}
.footer-container .newsletter{width:100%;display:block;text-align: center; border-color:#3FA9D3; border-width:1px 0; border-style: dashed;padding:16px 0;}
address.copyright {  border-top: 1px solid #D8D8D8; color:#50a4cf;    height: 54px;    line-height: 54px;    margin: 0px;    text-align: center; font-style:italic;  font:11px/54px Raleway, Arial, Helvetica, sans-serif;}




#newsletter-validate-detail{display:inline-block;text-align: left;}
#newsletter {color:#5b5959!important}


.footer .switcher-store { float:right; width:184px; background:url(../images/bkg_store-switch.gif) no-repeat 0 3px; padding-top:21px; }
.footer .switcher-store label { display:none; }
.footer .switcher-store select { padding:0; margin-bottom:1px; }
.footer .switcher-store ul { float:none; width:auto; padding-left:0; margin-left:0; }
.footer .switcher-store ul .current { display:none; }

.footer ul.social-media-links{}
.footer ul.social-media-links li { }
.footer ul.social-media-links li a{ background: url("../images/madison-sprite-a.png") no-repeat scroll -7px -50px;    float: left;    height: 22px;    margin: 0;    padding: 0 0 0 22px;    width: auto;}
.footer ul.social-media-links li a.fb{background-position:-7px -46px;}
.footer ul.social-media-links li a.tw{ background-position: -7px -68px;}
.footer ul.social-media-links li a.yt{ background-position: -7px -89px;}
.footer ul.social-media-links li a.pi{background-position:-7px -112px;}
.footer ul.social-media-links li a.rss{background-position:-7px -135px;}
.footer ul.social-media-links li a:hover{ text-decoration:none}
}

@media screen and (max-width: 720px){

    .footer > div{
        width: 34%!important
    }

}

/*******************************************************************************

                               Wrappers & Columns 

*******************************************************************************/
@media screen{
    /* Layout ================================================================================ */
    .wrapper { background:#fff; padding-bottom:20px; background:url('../images/bg_body.gif') repeat-x left top; }
    .page { max-width:940px;  margin:0 auto; text-align:center; }

    .page-print { background:#fff; padding:20px; text-align:left; }
    .page-popup { padding:20px; text-align:left; }
    .page-empty { background:#fff; padding:20px; text-align:left; }
    .main { margin:0; min-height:350px; background-color:#fff; text-align:left;   padding: 20px 0 0; }
   
    
    .sidebar { min-height:350px; }

    /* Base Columns */
    .col-left { float:left; width:140px; padding:0 0 0; margin:0 0 -1px; }
    .col-main { float:left; width:620px; padding:0; }
    .col-right { float:right; width:140px; padding:0 0 0; margin:0 0 -1px; }
    .sidebar.col-right { border-top: 1px solid #CFCFCF; padding: 15px 0 0;}

    /* 1 Column Layout */
    .col1-layout { background-position:-1000px 0; }
    .col1-layout .col-main { float:none; width:auto; padding:0; }
    .col1-layout .breadcrumbs { margin-bottom:0 !important; }

    /* 2 Columns Layout */
    .col2-left-layout { background-position:-573px 0; }
    .col2-left-layout .col-main { float:right;width: 780px; }
    .col2-right-layout { background-position:573px 0; }
    .col2-right-layout .col-main {width: 780px;}

    /* 3 Columns Layout */
    .col3-layout { background-position:0 0; }
    .col3-layout .col-main {  display:inline; }
    .col3-layout .col-wrapper { float:right; width:780px; }
    .col3-layout .col-wrapper .col-main { float:right; }

    /* Content Columns */
    .col2-set .col-1 { display:inline-block; width:49%; vertical-align: top }
    .col2-set .col-2 { display:inline-block; width:49%; vertical-align: top; }
    .col2-set .narrow { width:33%; }
    .col2-set .wide { width:65%; }

    .col3-set .col-1 { float:left; width:32%; }
    .col3-set .col-2 { float:left; width:32%; margin-left:2%; }
    .col3-set .col-3 { float:right; width:32%; }

    .col4-set .col-1 { float:left; width:23.5%; }
    .col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
    .col4-set .col-3 { float:left; width:23.5%; }
    .col4-set .col-4 { float:right; width:23.5%; }
    /* ======================================================================================= */


}
@media screen and (max-width:970px)
{
     .page, .main, .col-1-layout,.col3-layout,.product-view,#product_addtocart_form{width:100%;}

 .sidebar{font-size: 0;}

    .col-left{padding-left: 5px!important}
    .col3-layout .col-wrapper{float:none!important;}
    
    /*PRODUCT LISTING PAGE*/
    .catalog-category-view .col-wrapper, .catalog-category-view .col-main{width:82%!important;}

    
}

@media screen and (max-width: 931px)
{
    .wrapper{background: none!important;border:/*10px*/ 7px solid /*#F8FD9E*/#FFFF9E;  }

    .main{padding:0; margin: 12px 0 0;width:93%; display:inline-block;}
    .catalog-category-view .main, .catalog-product-view .main{width:100%;}
    .main.col3-layout{text-align: center!important}

    
    .catalog-category-view .col-wrapper,.col3-layout .col-wrapper .col-main{width:100%!important}
     .catalog-category-view .col-wrapper{background:#FFFFD6}
    .col3-layout .col-wrapper .col-main{float:none!important;}


    
}
@media screen and (max-width: 586px)
{
    .wrapper{border:5px solid #FFFF9E}
}

@media screen and (max-width: 515px)
{
    
}
@media screen and (max-width: 350px)
{
   .wrapper{border-width:4px;}
}

@media screen and (max-width:320px){
    .wrapper{border:none}
}

/*******************************************************************************

                               SIDEBARS

*******************************************************************************/
@media screen and (max-width:970px)
{

    
    .catalog-category-view .sidebar.col-left, .catalog-category-view .sidebar.col-right{width:17%;}
    .catalog-category-view .sidebar.col-right{padding:0!important}
    
}
@media screen and (max-width: 931px)
{
    .sidebar.col-left{display:none!important;}
    .catalog-category-view .sidebar.col-right{border-top:1px dotted #4AE6FF !important; margin-top:32px!important;float:none!important;width:100%;background-color:transparent; display:inline-block!important}

    .sidebar.col-right{border:0!important}
 
    /* .sidebar .block > .block-content > ol, .sidebar .block > .block-content > ul{display:inline-block!important}*/



    /*.sidebar.col-right > div{display: inline-block!important; text-align:center!important;}*/





}
