/*Global Styles*/
.hidden       { 
        display:block !important; 
        border:0 !important; 
        margin:0 !important; 
        padding:0 !important; 
        font-size:0 !important; 
        line-height:0 !important; 
        width:0 !important; 
        height:0 !important; 
        overflow:hidden !important; }

.no-display   { display:none; }

.no-bg        { background:none !important; }

.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }


.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }

.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }

.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }

.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }