@media screen and (max-width:970px){
    .page, .main, .col-1-layout,.col3-layout,.product-view,#product_addtocart_form{width:100%!important;}

    .product-shop,.product-img-box{display: inline-block!important; float:none!important;vertical-align: top!important}
}


/*******************************************************************************

                                Demo Notice

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .demo-notice{height:56px;}
    #magento-logo,.demo-notice .notice-inner p{float:none;}
    #magento-logo{display:table-row;margin: 0;}
    .demo-notice .notice-inner p{display:block; line-height:27px;margin-left: 0;}
    #global-site,#demo-notice{text-align:  center;}
    .demo-notice .notice-inner{width:100%;}

}
@media screen and (max-width:948px)
{
    .demo-notice ul.social-media-links{margin-right:5px !important;}
}
@media screen and (max-width:943px)
{
    .demo-notice ul.social-media-links{margin-right:10px !important;}
}
@media screen and (max-width:938px)
{
    .demo-notice ul.social-media-links{margin-right:15px !important;}
}


@media screen and (max-width: 905px)
{
    #demo-notice{display:none!important;}

}
/*******************************************************************************

                                Branding

*******************************************************************************/

@media screen and (max-width:965px)
{
    /*.branding{margin-left: 30px!important;}*/
    .welcome-msg{margin-left:8px!important}
}

@media screen and (max-width: 931px)
{

    .branding, .branding h1.logo,  .branding h1.logo a {display:inline-block!important; height:100%!important;}

    .header-panel .welcome-msg{/*padding-left: 28px;*/font-style:italic!important; ;float:left!important;margin:1px 5px 0 0 !important /*2px*/;font-size: 11px;line-height: normal;font-weight:500!important}

    .branding{float:none!important;display:inline-block;/*margin-left:12px*/}
    .branding h1.logo a{font-family: Raleway; font-size:45px; font-weight:200; color:#FFFFFF}
    .logo .madison {font-weight:600;display:block;}


    a.logo:hover{text-decoration: none!important;}
    .branding a.logo{padding:0;float:none;}
    /* a.logo img{vertical-align: text-top!important}*/


}

@media screen and (max-width: 905px)
{
    .branding h1.logo a{font-size:41px!important; text-align: center!important; padding: 23px 0 0 0!important}
    /* .branding{margin-top:54px !important;}*/
}

@media screen and (max-width: 840px){


    /* .branding{margin-left:-16px!important}*/
}

@media screen and (max-width: 730px){
    /*.branding h1.logo a{font-size:46px!important}*/
}

@media screen and (max-width:685px)
{/* .header-panel .welcome-msg{font-size:11px !important; margin: -43px 8px 0!important;}
  .branding h1.logo a{font-size:42px !important;}  
  .logo .madison{margin-bottom:0!important;}*/
}

@media screen and (max-width:580px){

    /*.header-panel .welcome-msg{font-size:10px!important; margin:-41px 14px 0 !important}*/

}



/*******************************************************************************

                                BreadCrumbs

*******************************************************************************/
@media screen and (max-width:970px)
{
    .breadcrumbs{padding-left: 5px!important}
}

@media screen and (max-width: 840px){
    .breadcrumbs{padding:0!important; display:inline-block!important;margin-left:5px/*-251px*/!important; margin-top:-19px!important; width:76%!important; position:absolute!important; border-bottom:1px dotted #49BFED!important}
}

@media screen and (max-width: 720px){
    .breadcrumbs{width:524px!important}
}

@media screen and (max-width:550px){
    .breadcrumbs{width:460px !important;margin-top:-17px !important;margin-left:-221px !important}
}

/*******************************************************************************

                                HEADER

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .header-panel{background-color:#1a9acc;/*height:161px!important;*/ height: 132px !important;  margin-top:-10px; /*padding: 5px 0 !important;*/ /*padding: 50px 0 !important;*/}
    .header{padding:15px 0 27px!important}


    .top-container{float:none!important;}
    .top-container .widget-banner li{width:100%!important;}



}

@media screen and (max-width: 905px)
{
    .header-panel{/*margin-top:-35px !important;*/ width:291px/*331px*/ !important;display:inline-block !important; text-align:center !important; border-bottom: 5px solid #43DADB!important;}

    .header-container{ text-align:center !important;border-top:10px solid /*#5FC77F*/#F8FD9E !important }

    .header{vertical-align:top !important; float:none !important; padding:0!important; margin:6px 0 0  !important;  display:block!important;text-align:center!important}


}

@media screen and (max-width:685px)
{
   /* .header-panel{width:39%!important;}*/
}

@media screen and (max-width:625px)
{


   /* .header-panel{width:41%!important;}*/

}

@media screen and (max-width:580px){


    .header-container{border-top-width: 8px !important}

}

@media screen and (max-width:685px)
{


   /* .header{width:55%!important;}*/

}
/*******************************************************************************

                               FOOTER 

*******************************************************************************/
@media screen and (max-width: 720px){

    .footer > div{
        width: 34%!important
    }

}

/*******************************************************************************

                               Wrappers & Columns 

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .wrapper{background: none!important;}
}

@media screen and (max-width:970px)
{

    .col-left{padding-left: 5px!important}

    .catalog-category-view .col-wrapper, .catalog-category-view .col-main{width:82%!important;}
    .catalog-category-view .sidebar.col-left, .catalog-category-view .sidebar.col-right{width:17%!important;}

    .product-view .product-shop{width:54%!important;}
    .product-view .product-img-box{width:44%!important;margin-right:1%!important;}
}

@media screen and (max-width: 840px){

    .catalog-category-view .col-wrapper,.col3-layout .col-wrapper .col-main{width:100%!important}
    .col3-layout .col-wrapper .col-main{float:none!important;}
    .sidebar.col-left{display:none!important;}
    .col3-layout .col-wrapper{float:none!important;}

    .catalog-category-view .sidebar.col-right{float:none!important;width:100%!important;background-color:white;}
}


/*******************************************************************************

                              Navigation

*******************************************************************************/
@media screen and (max-width: 931px)
{
    /*Navigation*/
    #nav{margin-bottom:10px!important; margin-top:-7px!important;}
    #nav, .nav-container, #nav li.level-top{transition-property: all !important;transition-duration: 350ms !important; }
    #nav li.level-top a.level-top span{padding:0!important; float:none!important;}
    #nav li.level-top{ /*min-width: 100px;*/ width:85px!important;text-align:center;margin-right:5px;float: none!important;display:inline!important;margin-right:32px;}
    #nav li.level-top.last{margin-left: 5px;margin-right:0}
    #nav li.level-top.first a.level-top span{/*padding-left: 15px!important;*/}
    #nav li.level-top a.level-top{float:none!important; padding-bottom:3px!important; display:inline-block!important}
    .nav-container{margin-top:-15px;/*border-bottom: 2px dotted #43DADB !important*/ border:0!important;margin-top:-15px!important;}
    #nav li.level-top a.level-top{color:#1a9acc!important; font-weight: 500}
    /*#nav li.level-top .shown-sub{position:relative!important; display:inline!important; top:0!important;left:0!important;width:100%!important;background:none!important;border:0!important;}*/
    #nav > li > ul{top:25px!important;}
    #nav li.level-top a.level-top span{font-size:13px!important;}

    #nav >li.level-top.nav-1, #nav >li.level-top.nav-2, #nav >li.level-top.nav-3{background-color:#43DADB!important; color:#F8FD9E !important;  }
    #nav >li.level-top.nav-4, #nav >li.level-top.nav-5, #nav >li.level-top.nav-6{color:#43DADB!important; background-color:#F8FD9E !important; }

    /*#nav >li.level-top.nav-1{margin-left:12px !important}*/
    #nav li.level-top a.level-top{color:inherit !important; font-weight: 600 !important; }

    #nav >li.level-top.nav-3{width:110px!important}
    #nav >li.level-top.nav-4{width:113px!important; margin-left:0!important}
    #nav >li.level-top.nav-6{width:50px!important; }
    /*#nav li.level-top:hover{padding:100px 0!important;*/
}

@media screen and (max-width: 905px)
{
    .nav-container{margin-top:0!important; background: none!important;}

    #nav li.level-top{  float:none!important; /*height:60px!important; height:auto!important;*/ height:auto!important; line-height:20px!important;   display:inline-block!important; margin:1px!important;}

    /* .top-cart .block-title strong{background:url("../images/madison-sprite-a.png") no-repeat scroll 5px -219px transparent!important; padding:0 0 0 10px !important}
     .top-myaccount h3{background:url("../images/madison-sprite-a.png") no-repeat scroll -7px -206px transparent!important;}
    */

    #nav li.level-top.nav-1:hover ~ li.nav-5, 
    #nav li.level-top.nav-1:hover ~ li.nav-6
    {margin-top:-100px!important;}

    #nav li.level-top.nav-2:hover ~ li.nav-4, 
    #nav li.level-top.nav-2:hover ~ li.nav-6
    {margin-top:-123px!important;}

    #nav li.level-top.nav-3:hover ~ li.nav-4, 
    #nav li.level-top.nav-3:hover ~ li.nav-5
    {margin-top:-100px!important;}

}

/*******************************************************************************

                              SEARCH FORM

*******************************************************************************/
@media screen and (max-width:965px)
{
    .form-search{margin-right: 8px;}
}

@media screen and (max-width: 931px)
{
    /*Header Search Form*/
    #search_mini_form .form-search{float:none;padding:0 !important}
    #search_mini_form {display:inline-block!important; margin-top:0px!important; }
    .header .form-search input.input-text{border-color: #49bfed!important; border-top:0!important;border-style: dashed!important; color:#50A4CF!important}


}

@media screen and (max-width: 905px)
{
    #search{/*background:transparent!important;*/ border:2px dotted #5CDFDA !important;  width:118px!important; height:23px!important;}

}

/*******************************************************************************

                              MINI DASHBOARD

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .mini-dashboard{float:none;display:block; text-align: left!important;}
    .mini-dashboard >li:nth-child(2){background-color:#80FAE6 !important;}
    .mini-dashboard >li:nth-child(3){background-color:#89EDFA !important;}
    .mini-dashboard >li{
        border-bottom:5px solid #F8FD9E!important;
        background-color: #73F4ED !important;
        display: inline-block !important;
        float: left !important;
        height: 100% !important;
        line-height: normal !important;
        margin: 0 1px 0 0;
        /* margin-bottom: 1px !important;
         margin-left: 0 !important;
         margin-right: 1px !important;
         margin-top: 2px;*/
        /*padding: 43.2px 0 !important;*/
        vertical-align: top !important;
        width: 32.9% !important;
        text-align:center!important;

    }

    .top-cart{padding:0 22px 0 15px!important;}



}

@media screen and (max-width: 905px)
{
    .mini-dashboard{height:122px !important;width:260px/*13.5%*/!important;  vertical-align:top!important; display:inline-block!important; /*border-bottom:2px dotted #5CDFDA!important*/}


    /*.mini-dashboard{vertical-align:top!important; margin: 0 0 0 3px!important}

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{float:none !important;display:block!important; height:35px!important;text-align:center!important;padding:0!important;}
    .mini-dashboard a, .mini-dashboard h3, .mini-dashboard strong{ color:white !important; font-weight:600!important}
    .mini-dashboard ul.links{padding-top:17px!important; height:13px!important;}*/
    .top-cart .block-title{line-height: normal!important}

    .mini-dashboard  a, .mini-dashboard h3 span,  .mini-dashboard h3  , .mini-dashboard strong{background:none!important; padding:0 !important; color:white!important;/*color:#1A9ACC !important;*/ font-weight:bold!important; font-size:13.5px!important}
    /*.mini-dashboard strong{color:#5FC77F !important}*/

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{padding:39px 0 0!important;display:inline-block!important; float:none!important}
    /*.mini-dashboard ul.links, .mini-dashboard .top-cart{margin-right:11px!important}*/
}

@media screen and (max-width: 845px){
    .top-cart {padding:0 22px 0 15px;}
}


/*******************************************************************************

                              HOME PAGE BANNER & THUMBNAILS

*******************************************************************************/
@media screen and (max-width: 931px)
{
    /*Home Page Banner*/
    .slides_control div{position:relative!important}
    .slides_control{width:100%!important;height:100%!important}
    .cms-home #homepage-main-slides .slides_container{height:100%!important}
    .cms-home #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{height:200px!important; top:75px!important}


    /*Home Thumbs*/
    .cms-home ul.home-thumbs{width:100%!important; text-align: center!important}
    .cms-home ul.home-thumbs li{width:31.5%!important;display:inline-block!important; vertical-align: text-top; float:none!important}
    .cms-home ul.home-thumbs li a{display:inline-block!important;width:100%!important;height:100%!important;padding:0!important}
    .cms-home ul.home-thumbs li a strong{display:inline!important}
    .cms-home ul.home-thumbs li a span{margin:auto 0!important; height:100%!important;display:inline-block!important;padding-top:6%;}
    .cms-home ul.home-thumbs li:nth-child(2){margin-left: 1%!important; margin-right:1%!important}

}

@media screen and (max-width:862px)
{
    .cms-home ul.home-thumbs li strong {letter-spacing:  normal!important;}
}

@media screen and (max-width:605px)
{
    .cms-home ul.home-thumbs li a{letter-spacing:3px!important;width:96.5%!important}
    .cms-home ul.home-thumbs li:nth-child(2) strong{font-size:20px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size:22px!important}
    .cms-home ul.home-thumbs li:nth-child(1) a span{padding-top:7%!important;}


}


@media screen and (max-width:520px){
    .cms-home ul.home-thumbs li a{letter-spacing:2px!important;}
    .cms-home ul.home-thumbs li:nth-child(2) strong{font-size:19px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a{font-size: 13px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size:21px!important;}


}

@media screen and (max-width:490px){
    .cms-home ul.home-thumbs li a{font-size:12px!important;}

    .cms-home ul.home-thumbs li:nth-child(3) a {font-size: 12px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size: 19px!important}
    .cms-home ul.home-thumbs li:nth-child(3) a span,.cms-home ul.home-thumbs li a span{padding-top:12%!important}

    .cms-home ul.home-thumbs li:nth-child(2) strong{font-size:18px!important;}

    .cms-home ul.home-thumbs li:first-child a{font-size:14px!important;}
    .cms-home ul.home-thumbs li:first-child a strong{font-size: 22px!important}
    .cms-home ul.home-thumbs li:first-child a span {padding-top:13%!important;}
}

@media screen and (max-width:450px){
    .cms-home ul.home-thumbs li:first-child a strong{font-size: 18px!important;}
}

@media screen and (max-width:450px){
    .cms-home ul.home-thumbs li:first-child a{font-size: 14px!important;}
    .cms-home ul.home-thumbs li:first-child a strong, .cms-home ul.home-thumbs li:nth-child(2) strong, .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size: 15px!important;}

    .cms-home ul.home-thumbs li a{font-size:11px!important;}
}

/*******************************************************************************

                                   TOOLBAR

*******************************************************************************/
@media screen and (max-width: 840px){

    /*ToolBar*/

    .pager .limiter,.sorter{float:none!important;}
    .toolbar .pager,.sorter{height:25px;text-transform: uppercase!important; margin:0!important; text-align:left;width:auto!important;display:inline-block!important;float:none!important;vertical-align:top!important;}

    .sorter .sort-by, .sorter .view-mode{margin: 0 43px 0 0!important}
    .sorter .sort-by,.sorter .view-mode{float:none!important;display:inline-block!important;}

    .toolbar{padding:0!important;margin:0 0 16px 0!important;text-align:center!important;float:none!important;text-transform: none!important;}

}

/*******************************************************************************

                                   TITLES & HEADINGS

*******************************************************************************/
@media screen and (max-width:970px)
{
    .page-title,.category-title{padding-left: 5px!important}
}

@media screen and (max-width: 840px){
    .product-view .product-name h1, .page-title h1{color:#B1E9FF!important; font-size: 69px!important; font-weight: normal!important;line-height:52px!important;}
    .page-title, .product-view .product-name{padding:37px 0 47px 0!important;text-align: center!important;}
}


@media screen and (max-width:550px){
    .page-title h1{font-size: 61px!important;}
    /*Bread Crumb*/

}

/*******************************************************************************

                                   SUBSCRIBE FORM

*******************************************************************************/
@media screen and (max-width:320px){
    .v-fix{float:none!important;}
    .form-subscribe .v-fix  input{border-right:1px solid #D8D8D8!important;}
}

/*******************************************************************************

                                Device Specific Media Quries

*******************************************************************************/


@media screen and (max-width:965px)
{
    #magento-logo{margin-left:8px;}




    .products-grid li.item{float:none!important; display: inline-block!important; vertical-align: top!important;}

    /*Product Lists*/
    .cms-home .home-new-products ul.products-grid li{margin:0 1% 0 0!important}
}









@media screen and (max-width: 840px){

    /* .main{background-color:#ecfaff!important;}*/



    .sidebar .block-viewed{width:244px!important;}
    .sidebar .block-viewed .block-content li.item{float:left}
    .block-poll .block-content{text-align:left!important;}

    .sidebar .block-tags{width:112px!important;
    }
    .category-image{display:none;}
    .sidebar .block{border:0!important; margin-right:20px;padding-right:15px;; vertical-align:top!important;display:inline-block!important;text-align:center!important;;}



    .top-container .widget-banner li{/*border-top:1px solid #ECECEC!important;*/ border-bottom:1px solid #ECECEC!important;letter-spacing:5px;  }



    /*Product Details*/
    .box-collateral{padding-left:15px!important}
    .product-img-box #main-image{display:inline!important}



}





@media screen and (max-width:680px)
{
    /*Product Descripion Page*/
    .product-view .product-img-box, .product-view .product-shop{width:100%!important}
    .product-img-box .more-views{display:inline-block!important;vertical-align:top!important; margin:0 !important;}
    .product-img-box .more-views img{width:82px!important; height:82px!important;}
    .product-view .product-img-box .more-views ul{text-align: left !important;}
    .product-img-box .more-views img{width:82px!important; height:82px!important;}
    .product-img-box .more-views{width:39%!important;}

    .product-view .product-shop .product-main-info, .product-view .short-description, .options-container-small{
        border-top:1px dashed #49BFED!important;
        border-bottom:1px dashed #49BFED !important;
        background-color:white !important; 
        display:block!important;
        width:100%!important;
        margin-top:10px!important;
        min-height:40px!important;
    }

    .options-container-small .product-options-bottom{float:none!important}
}









