/*============================================================================== 

                               CONFIGURATION

===============================================================================*/
$include-text-area-classes: tue;
$base-text-area-config: 
border (width 1px, style solid, color color(medium-gray)),
class 'inset-shadow-light',
font (size 12px, weight 400),
color color(dark-gray)
padding-left 5px,
padding-top 5px;


/*============================================================================== 

                                  CORE

==============================================================================*/
@if $include-text-area-classes{
    .text-area{
        @include style($base-text-area-config);
    }
}

//Mixins
@mixin text-area-size($size){
    $size: unquote('%'+ $size +'-text-area');
    @extend #{$size};
}
@mixin text-area-style($style){
    @include use-style($style);
}
@mixin text-area($text-area){
    @include use-style($text-area);
}

/*============================================================================== 

                          CUSTOM TEXTAREA STYLES

==============================================================================*/