.page-footer{

    /*#################################################################################################
    
    
    
                                             SHARED STYLES
    
    
    
    #################################################################################################*/
    
    //NO STYLES
    
    

    /*#################################################################################################
    
    
    
                                           PAGE FOOTER STYLES
    
    
    
    #################################################################################################*/

    /****** MOBILE VIEW ******/
    margin: 16px 0 10px 0;
    padding: 22px 0 0;
    background-color: color(light-gray); 
    border: 1px solid color(medium-gray); 

    /****** TABLET VIEW ******/
    //NO STYLES

    /****** DESKTOP VIEW ******/
    //NO STYLES


    .footer-link-list{
        /*#################################################################################################
        
        
        
                                     PAGE FOOTER -> FOOTER NAV SECTION
        
        
        
        #################################################################################################*/

        /****** MOBILE VIEW ******/
        margin-top: 20px;
        margin-bottom: 20px;
        .list-item{
            @include height(14px); 

            .link{
                color: color(dark-gray); 
                font-size: 11px; 
                font-weight: 400; 
                @include  use-style(dark-gray-underline);
            }
        }


        /****** TABLET VIEW ******/
        @include breakpoint(sm){
            margin-top: 0;
            &:first-of-type{
                margin-left: 26px;
                padding-left: 24px;
                border-left: 1px dashed color(medium-gray);
            }
        }

        /****** DESKTOP VIEW ******/
        //NO STYLES


    }

    .copyright-module{
        /*#################################################################################################

        
        
                                             PAGE FOOTER -> COPYRIGHT
        
        

        ################################################################################################*/
        margin-top: 19px;
        background-color: color(white);
        font-size: 11px;
        color: color(dark-gray);
        text-align: center;
    }

}


