.page-header{

    /*#################################################################################################
    
    
    
                                             SHARED STYLES
    
    
    
    #################################################################################################*/

    .quick-access-bar-section,
    .dashboard-section{
        padding: 0 11px;
    }

    /*#################################################################################################
    
    
    
                                          PAGE HEADER STYLES
    
    
    
    ################################################################################################*/

    /****** MOBILE VIEW ******/
    margin-bottom: 24px;
    overflow: visible;
    
    @include breakpoint(xs-only){
            padding-top: 6px;
    }

    /****** TABLET VIEW ******/
    

    /****** DESKTOP VIEW ******/
    //NO STYLES

    .quick-access-bar-section{


        /*#################################################################################################
        
        
        
                                      PAGE HEADER -> QUICK ACCESS BAR SECTION
        
        
        
        #################################################################################################*/

        /*------- MOBILE VIEW ------*/
       
        margin-bottom: 8px;
        overflow: visible;
        text-align: center;
        background-color: color(blue);
      

        /******* TABLET VIEW ******/
        @include breakpoint(sm){
            
            @include height(28px, $align-children: true);
            //padding: 0 11px;
            text-align: left;
        }

        /****** DESKTOP VIEW ******/
        //NO STYLES


        /*=================================================================
       
                     PAGE HEADER -> QUICK ACCESS BAR -> LINKS
       
       ==================================================================*/
        .quick-access-bar-link-list{

            /****** MOBILE VIEW ******/
            //@include inline-block(top);
            .log-in-link,.register-link{
                color: color(dark-gray); 
                text-decoration: underline; 
            }
           
            .register-link{margin-left: 3px}
            
            .list-item{font-size: 11px}

            /****** TABLET VIEW ******/
            //NO STYLES

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

        /*================================================================
        
                PAGE HEADER -> QUICK ACCESS BAR -> WELCOME MESSAGE
        
        ================================================================*/
        .welcome-msg{
            /****** MOBILE VIEW ******/
            color: color(dark-gray);
            //@include inline-block;
            font:{size: 11px; weight: bold;}
            color: color(white);
            text-transform: uppercase;
           

            /****** TABLET VIEW ******/
            //NO STYLES

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

    }


    .dashboard-section{

        /*#################################################################################################
        
        
        
                                       PAGE HEADER -> DASHBOARD SECTION
        
        
        
        ################################################################################################*/

        /****** MOBILE VIEW ******/
        text-align: center;

        /****** TABLET VIEW ******/
        //NO STYLES

        /****** DESKTOP VIEW ******/
        //NO STYLES

        /*================================================================

                        PAGE HEADER -> DASHBOARD -> LOGO

       =================================================================*/

        .logo-module{

            /****** MOBILE VIEW ******/
            text-align: center;

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                text-align:left;
                padding-left: 10px;
            }

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

        /*================================================================
        
                       PAGE HEADER -> DASHBOARD -> DASHBOARD LINKS
        
        ================================================================*/
        .dashboard-link-list{

            /****** MOBILE VIEW ******/
            margin: 15px 0;
            .link,.list-item{font:{size: 11px; weight: 400;}; text-transform: uppercase; margin: 0; text-decoration: none; }
            .list-item:not(:last-child):after {content:"\00a0|\00a0";}
            .my-cart-link, .checkout-link{font-weight: 700;}

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                .list-item{margin-right: 5px;}
               // margin: 0;
               // @include height(54px,$align-children: true);
                text-align: right;
            }

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

    }
}


