/*#################################################################################################



                                         SHARED STYLES



#################################################################################################*/
//NO PAGE LEVEL STYLING



/*#################################################################################################



                                    PAGE -> Page-Content SECTION



#################################################################################################*/

/*=================================================================

                 PAGE CONTENT GLOBAL STYLING

=================================================================*/



/*=================================================================

                        PAGE CONTENT

===================================================================*/
.page-content{
    /*------- MOBILE VIEW ------*/
    padding: 30px 15px 0;

    /*------- TABLET VIEW ------*/
    @include breakpoint(lg){
        margin-top: 0;
    }

    /*------- DESKTOP VIEW ------*/
}



/*=================================================================

          PAGE CONTENT STYLING FOR 3 COLUMN PAGE

===================================================================*/


.three-column-page .page-content{

    /*------- MOBILE VIEW ------*/
    //NO STYLES

    /*------- TABLET VIEW ------*/


    /*------- DESKTOP VIEW ------*/
    @include breakpoint(md){
        > .row{
            .sidebar{max-width: 182px; min-width: 182px;}
            .main-content{min-width: 572px}
        }
    }
}



/*=================================================================

        PAGE CONTENT STYLING FOR 2 COLUMN PAGE

=================================================================*/
.one-column-page .checkout-onepage > .checkout-onepage-content,
.customer-account-index .page-content,
.customer-address-index .page-content,
.customer-address-form .page-content,
.sales-order-history .page-content{

    /*------- MOBILE VIEW ------*/


    /*------- TABLET VIEW ------*/
    @include breakpoint(sm){
        .sidebar-left{width: 19.6667%}
        .main-content{width: 80.3333%}
    }

    /*------- DESKTOP VIEW ------*/
    //NO STYLES
}

