.page-footer{

    /*#################################################################################################
    
    
    
                                             SHARED STYLES
    
    
    
    #################################################################################################*/

    //NO STYLES



    /*#################################################################################################
    
    
    
                                           PAGE FOOTER STYLES
    
    
    
    #################################################################################################*/

    /****** MOBILE VIEW ******/
    width: auto;
    margin: 50px 15px 10px 15px;
   
    > .content{
        @include border(top bottom, 1px solid color(light-blue));
         padding: 22px 0 30px;
    }
    
    .copyright{font-size: 11px; text-align: center; color: color(blue); font-style: normal;margin: 15px 0;}


    


    /****** TABLET VIEW ******/
    //NO STYLES

    /****** DESKTOP VIEW ******/
    //NO STYLES


    .footer-nav{
        /*#################################################################################################
        
        
        
                                     PAGE FOOTER -> FOOTER NAV SECTION
        
        
        
        #################################################################################################*/

        /****** MOBILE VIEW ******/
        margin: 2% 0;

        text-transform: uppercase;
        

        &:nth-child(odd){text-align: right;}
        &:nth-child(even){text-align: left;padding-left: 7%;}

        .content{@include inline-block(); text-align: left; width: 140px;}
        .footer-link-list .list-item{
            @include height(23px); 

            .link{
                font-size: 11px; 
                font-weight: 400; 
                text-decoration: none;
                text-transform: uppercase;

            }
        }


        &.footer-social-links .link [class^="sprite-"]{margin-right: 8px;}

        .section-title{
            color: color(blue);
            font-size: 11px;
            @include height(18px, $line-height: 16px);

        }

        /****** TABLET VIEW ******/


        /****** DESKTOP VIEW ******/
        
        
        /****** LARGE DESKTOP VIEW ******/
        @include breakpoint(lg){
            margin-top: 0;
            &:nth-child(n){padding-left: 0}

        }


    }

    .copyright-module{
        /*#################################################################################################

        
        
                                             PAGE FOOTER -> COPYRIGHT
        
        

        ################################################################################################*/
        margin-top: 19px;
        background-color: color(white);
        font-size: 11px;
        color: color(dark-gray);
        text-align: center;
    }

}


