.page-header{

    /*#################################################################################################
    
    
    
                                             SHARED STYLES
    
    
    
    #################################################################################################*/

    .quick-access-bar-section,
    .dashboard-section{
          padding: 0 15px;
    }

    /*#################################################################################################
    
    
    
                                          PAGE HEADER STYLES
    
    
    
    ################################################################################################*/

    /****** MOBILE VIEW ******/
    overflow: visible;
    width: auto;
    //margin: 0 15px;

    
    /****** TABLET VIEW ******/


    /****** DESKTOP VIEW ******/
    //NO STYLES

    .quick-access-bar-section{


        /*#################################################################################################
        
        
        
                                      PAGE HEADER -> QUICK ACCESS BAR SECTION
        
        
        
        #################################################################################################*/

        /*------- MOBILE VIEW ------*/
        //padding: 0 11px;
        margin: 0 0 20px 0;
        overflow: visible;
        text-align: center;
        background-color: #3398CC;
        @include height(35px,$align-children: true);

        .col-left{text-align: left;}
        .col-right{text-align: right;}



        /******* TABLET VIEW ******/
        @include breakpoint(sm){

            //@include height(32px, $align-children: true);
            //padding: 0 11px;
            text-align: left;
        }

        /****** DESKTOP VIEW ******/
        //NO STYLES


        /*=================================================================
       
                     PAGE HEADER -> QUICK ACCESS BAR -> LINKS
       
       ==================================================================*/
        .quick-access-bar-link-list{

            /****** MOBILE VIEW ******/
            @include inline-block();

            [class^="sprite-"]{margin-right: 5px;}
            //@include inline-block(top);
            .section-title,.checkout-link{
                font: {size:11px; weight: 600};
                color: color(white);
                
            }
            .checkout-link:hover{

                color: color(white)!important;
                text-decoration: none!important;
            }



            .top-my-account{


                /*@include dropdown-menu(
                $menu-width:$default-dropdown-menu-width,
                    $menu-top: 25px,
                    $menu-left: -31px, 
                    $menu-radius:$default-dropdown-menu-radius-class,
                    $menu-config: $default-dropdown-menu-config,

                    $menu-button-config: $default-dropdown-menu-button-config,
                    $menu-active-button-config: $default-dropdown-menu-active-button-config,


                    $submenu-width:$default-dropdown-submenu-width,
                    $submenu-top:$default-dropdown-submenu-top, 
                    $submenu-left: $default-dropdown-submenu-left, 
                    $submenu-radius:$default-dropdown-submenu-radius-class,
                    $submenu-config: $default-dropdown-submenu-config,

                    $submenu-button-config: $default-dropdown-submenu-button-config,
                    $submenu-active-button-config: $default-dropdown-submenu-active-button-config

                    );*/

                [dropdown-menu] .dropdown-menu{
                    border-top: none;
                    top: 25px;
                    left: -31px;
                }


            }


            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                .top-my-account{
                    &[dropdown-menu] .dropdown-menu{top: 25px}
                }
                  .mini-cart{margin: 0 12px;}
                .section-title,.checkout-link{font-size: 12px;}

            }

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

        /*================================================================
        
                PAGE HEADER -> QUICK ACCESS BAR -> WELCOME MESSAGE
        
        ================================================================*/
        .welcome-msg{
            /****** MOBILE VIEW ******/
            display:none;


            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                @include inline-block();
                color: color(dark-gray);
                //@include inline-block;
                font:{size: 11px; weight: bold;}
                color: color(white);
                text-transform: uppercase;
            }


            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

    }


    .dashboard-section{

        /*#################################################################################################
        
        
        
                                       PAGE HEADER -> DASHBOARD SECTION
        
        
        
        ################################################################################################*/

        /****** MOBILE VIEW ******/
 

        /****** TABLET VIEW ******/
        @include breakpoint(sm){
            height: 30px;
            line-height: 30px;
        }

        /****** DESKTOP VIEW ******/
        //NO STYLES

        /*================================================================

                        PAGE HEADER -> DASHBOARD -> LOGO

       =================================================================*/

        .logo-module{

            /****** MOBILE VIEW ******/
            text-align: center;

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                text-align:left;
                padding-left: 10px;
            }

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

        /*================================================================
        
                       PAGE HEADER -> DASHBOARD -> DASHBOARD LINKS
        
        ================================================================*/
        .dashboard-link-list{

            /****** MOBILE VIEW ******/
            margin: 15px 0;
            .link,.list-item{font:{size: 11px; weight: 400;}; text-transform: uppercase; margin: 0; text-decoration: none; }
            .list-item:not(:last-child):after {content:"\00a0|\00a0";}
            .my-cart-link, .checkout-link{font-weight: 700;}

            /****** TABLET VIEW ******/
            @include breakpoint(sm){
                .list-item{margin-right: 5px;}
                // margin: 0;
                // @include height(54px,$align-children: true);
                text-align: right;
            }

            /****** DESKTOP VIEW ******/
            //NO STYLES
        }

    }
}


