.page{

    /************** MOBILE VIEW ****************/
   

    /************** TABLET VIEW ****************/
    @include breakpoint(sm){
        margin: 0 auto;
    }

    /************** DESKTOP VIEW ****************/


}

body{ 

    /*------- MOBILE VIEW ------*/
    background: url("../images/bg_body.gif") repeat-x scroll left 0 ;

    /*------- TABLET VIEW ------*/
    //NO STYLES

    /*------- DESKTOP VIEW ------*/
    //NO STYLES
}
