/* BreadCrumbs */
.breadcrumbs { font-size: 12px; color:#999;    font-weight: 500;    line-height: 12px;    margin: 0;    padding: 16px 0;    text-align: left;    text-transform: uppercase; }
.breadcrumbs li { display:inline; }
.breadcrumbs li span,
.breadcrumbs a {  }
.breadcrumbs a:hover { text-decoration:underline; }