.category-view { margin:0; }
.catalog-category-view div.categoryland-caption span.blue-big-text{padding: 0 !important}
.category-title { text-align:left; }
.category-title .rss-feed { float:right; margin:7px 0 0; padding-left:17px; line-height:12px; background:url(../images/icon_rss.gif) 0 0 no-repeat; white-space:nowrap; text-decoration:none; }
.category-title .rss-feed:hover { text-decoration:underline; }

.category-view .note-msg,
.category-description { padding:20px; }

.results-view { margin:0; }
.results-view .recommendations { padding:0 0 10px; }
.results-view  button.btn-cart{ margin: 0 0 -1px -1px;  }	
.results-view  button.btn-cart span span{ background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -454px #FFFFFF;    border: 1px solid #50A4CF;    color: #636363;    font-size: 10px;    height: 29px;    line-height: 29px;     padding: 0 10px 0 24px;}	
.results-view  button.btn-cart:hover span span{background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #50A4CF; color:#fff;}	

.results-view  ul.add-to-links{  float: right;    margin: 0 5px;}	
.results-view  ul.add-to-links > li{float: right;}	
.results-view  ul.add-to-links li a.link-compare{ background: url("../images/madison-sprite-a.png") no-repeat scroll -4px -532px #FFFFFF;    float: left;    height: 20px;    margin: 0 9px 0 0;    text-indent: -9999px;    width: 21px;}	
.results-view  ul.add-to-links li a.link-compare:hover{background-position: -4px -492px;}


.catalogsearch-result-index .page-title { margin:0;  padding: 0;}
.catalogsearch-result-index .note-msg { margin:20px 0; }
.catalogsearch-advanced-index .form-buttons{margin: 29px 0 40px 0;}

.sidebar .category-title { margin:0; }
.category-image { text-align:center; margin:0 0 10px; }
.category-image img { display: block; height: auto; margin: 0 auto; max-width: 620px; width: 100%;}

.category-products { padding:0; float: left;  width: 100%;}
.category-products .price-box { font-size:12px; }
.category-products .price-including-tax .price { font-size:16px !important;}

.category-view  button.btn-cart{ margin: 0 -1px -1px 0;  }	
.category-view  button.btn-cart span span{ background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #50A4CF;    border: 1px solid #50A4CF;    color: #fff;    font-size: 10px;    height: 29px;    line-height: 29px;     padding: 0 10px 0 24px;}	
.category-view  button.btn-cart:hover span span{background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #1189c5;    border: 1px solid #1189c5; color:#fff;}	

.category-view  ul.add-to-links{  float: left;    margin: 0 5px;}	
.category-view  ul.add-to-links > li{float: right;}	
.category-view  ul.add-to-links li a.link-compare{ background: url("../images/madison-sprite-a.png") no-repeat scroll -4px -532px transparent;    float: left;    height: 20px;    margin: 0 9px 0 0;    text-indent: -9999px;    width: 21px;}	
.category-view  ul.add-to-links li a.link-compare:hover{background-position: -4px -492px;}

.category-view  .clp-image-header{border: 1px solid #E2E2E2; padding: 8px;}
.category-view  .clp-image-header img{ height: auto; margin: 0 auto; max-width: 924px; width: 100%;}
/* View Type: Grid */
.products-grid { padding:0; margin:0 0 20px 0; }
.products-grid.last {margin:0; }
.products-grid li.item { float:left; width:248px; margin-right:17px; text-align: center; height: 330px; margin-bottom: 10px; overflow: hidden; }
.products-grid li.last { margin-right:0; }
.products-grid .actions { left: 0;    position: absolute;    bottom: 0; width:100%;   height: 30px;}
.products-grid .product-image { display:block; text-decoration:none !important; margin:0; position:relative; width:100%; }
.products-grid .product-name { margin:7px 0; word-wrap:break-word; float:left; width: 100%; }
.products-grid .ratings { text-align:left; line-height:13px; }
.products-grid .ratings .rating-box {  float: none;    margin: 0 auto;}
.products-grid .rating-links { display:block; padding:2px 0 0; clear:both; }
.products-grid .price-box { margin:5px 0 10px; clear:both; }

.price-box.map-info a.price-click{ display:block;}
.price-box.map-info a.whats-this{display:block;}

.products-grid li .product-image-block{border: 1px solid #EDEDED;height: auto; width:100%;    position: relative; float: left;}

.products-grid li .product-image-block div.actions {    display: none;    width: 100%; }
.products-grid li .product-image-block:hover div.actions {display:block;}

.products-grid .actions button.btn-cart{ float:right}



/* View Type: Grid - 2 Column Layout */
/*.col2-right-layout .products-grid li.item, .col2-left-layout .products-grid li.item{margin-right: 32px; width:auto;width: 238px;}*/
.col2-right-layout .products-grid li.item.last, .col2-left-layout .products-grid li.item.last{margin-right:0}
.col2-right-layout .products-grid li.item .product-image-block, .col2-left-layout .products-grid li.item .product-image-block{ padding: 20px;}
.col2-right-layout .products-grid li .product-image-block div.actions { width:237px; height:30px;}

.catalog-category-view .col2-right-layout .products-grid li.item .product-image-block, 
.catalog-category-view .col2-left-layout .products-grid li.item .product-image-block {padding:0px;}

/* View Type: Grid - 1 Column Layout */
.col1-layout .products-grid li.item{width:auto; margin-right: 2%;    width: 32%;}
.col1-layout .products-grid li.item.last{margin-right:0}
.col1-layout .products-grid li.item .product-image-block{}
.col1-layout .products-grid li .product-image-block div.actions { width:100%;}

.catalogsearch-result-index .products-grid .product-image-block ul.add-to-links{ float:left}
.catalogsearch-result-index .products-grid .product-image-block   button.btn-cart span span{ background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #50A4CF;    border: 1px solid #50A4CF;    color: #fff;    font-size: 10px;    height: 29px;    line-height: 29px;     padding: 0 10px 0 24px;}	
.catalogsearch-result-index .products-grid .product-image-block   button.btn-cart:hover span span{background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #1189c5;    border: 1px solid #1189c5; color:#fff;}	
.catalogsearch-advanced-index .form-list select{ width:420px;}



/* View Type: List */
.products-list li.item {   border-bottom: 1px solid #CCCCCC;    margin: 0 0 20px;    padding: 0 0 20px;}
.products-list li.last { background-image:none; border:none }
.products-list .product-image { float:left;/* margin-right:-186px; text-decoration:none !important; position:relative; */}
.products-list .product-shop { float: left;    margin: 0; width:74%; padding:20px 0 }
.products-list .product-shop .LHS{display: inline;    float: left;    width: 76%;}
.products-list .product-shop .RHS{display: inline;    float: right; width: 23%;    text-align: right;}
.products-list .product-name { margin-bottom:5px; }
.products-list .price-box { margin:5px 0 10px; }
.products-list .desc { margin:5px 0 10px; font: normal 14px/24px Georgia, "Times New Roman", Times, serif; }
.products-list .desc .link-learn { white-space:nowrap; }

.products-grid .special-price,
.products-list .special-price { }

.products-list li.item .product-image-block{ border: 1px solid #E1E1E1;	 margin-right: 2%;    float: left;    height: auto;    position: relative;    width: 23%; }
.products-list li.item .product-image-block ul.add-to-links{ display:none; bottom: 5px;    position: absolute;    right: 5px;}
.products-list li.item .product-image-block:hover ul.add-to-links{ display:block;}
.product-image-block .availability.in-stock { float: right;     margin: 0 10px 0 0;    padding: 5px;}

/* 2 column design*/
.col2-left-layout .products-list .product-shop,
.col2-right-layout .products-list .product-shop{width:540px;}
.col2-left-layout .products-list .product-shop .LHS,.col2-right-layout .products-list .product-shop .LHS{width: 375px;}

/* 3 column design*/
.col3-layout .products-list .product-shop{/*width:380px;*/}
.col3-layout .products-list .product-shop .LHS{/*width: 220px;*/}


/* View Type: Grid */

/* ======================================================================================= */


/* Product View ========================================================================== */
.catalog-product-view .col1-layout.main { padding:0px; }
.catalog-product-view .col1-layout .col-main { padding:0px; }
.catalog-product-view .col2-right-layout.main{padding: 0; border-top:4px solid #4F88C8;}

.col2-left-layout .product-view,
.col2-right-layout .product-view { background:none; width:780px; }
.col2-left-layout .product-view .product-shop,
.col2-right-layout .product-view .product-shop{ width:400px;}
.col2-right-layout .product-main-info .product-name{ width:100%; background-color:#EAFBD9;}






.col2-right-layout .product-shop .product-main-info .price-excluding-tax .price,
.col2-left-layout .product-shop .product-main-info .price-including-tax .price,
.col2-right-layout .product-view .product-shop .price-box .price-including-tax .price,
.col2-left-layout .product-view .product-shop .price-box .regular-price .price { font-weight:normal; font-size:24px; }


.col2-right-layout .product-view .box-up-sell .products-grid li,
.col2-left-layout .product-view .box-up-sell .products-grid li{ margin:0 7px}


.col2-right-layout #social_facebook_block,
.col2-left-layout #social_facebook_block { margin: 30px 0px 0px 0px; float:none;}

.col2-right-layout .product-view .box-related ul.box-content.even li.last,.col2-left-layout .product-view .box-related ul.box-content.even li.last {margin-right:0px;}

.col2-right-layout .product-view .box-related ul.box-content.last, .col2-left-layout .product-view .box-related ul.box-content.last { clear: left;}


.col2-right-layout .product-view .product-shop .price-box { top: 60px;}


.col2-left-layout .product-view .product-collateral,
.col2-right-layout .product-view .product-collateral { float:left; width:780px /*!important;*/ }
.col2-left-layout .product-view .product-img-box,
.col2-right-layout .product-view .product-img-box { float: left; padding:0px;  }
.col2-left-layout .product-view .product-img-box .product-image,
.col2-right-layout .product-view .product-img-box .product-image { margin:0px/* auto*/; }

.col2-right-layout .product-view .box-up-sell .products-grid.last{ background-color:#F45E8B; clear:left;}



.col3-layout .product-view { background:none; width:620px; }
.col3-layout .product-view .product-shop,
.col3-layout .product-view .product-collateral { float:left; width:620px /*!important;*/ }
.col3-layout .product-view .product-img-box {  width:auto; float: left; padding:20px 0 0 0;  }
.col3-layout .product-view .product-img-box .product-image { margin:0 auto; }

.product-view { margin: 0; float:left; width:940px; }

.product-view form#product_addtocart_form {   border-bottom: 1px solid #D8D8D8;    float: left;    margin: 0;    width: 940px; padding: 0 0 20px;}
/* 2 column design*/
.col2-left-layout .product-view form#product_addtocart_form,
.col2-right-layout .product-view form#product_addtocart_form{ width: 780px;}

/* 3 column design*/
.col3-layout .product-view form#product_addtocart_form {width: 620px;}







#messages_product_view { margin: 0;	position: relative;	z-index: 0; }
#messages_product_view .messages { margin:0 0 16px; }
#messages_product_view .messages li { margin:0; position:relative; z-index:1; }

.product-essential {float: left;    width: 100%;}

.product-collateral {  clear: both;    float: left;    width: 460px; padding: 20px  0; /* float:right; clear:right; width:416px; padding:30px;*/ }

.box-collateral {}
.box-collateral .box-title {  border-top: 1px solid #D8D8D8;    margin: 15px 0 0;    padding: 15px 0 0;}
.box-collateral .box-title h2 {  color: #50A4CF;    font-size: 12px;    line-height: 12px;    font-weight: 600;    padding: 5px 0;    text-transform: uppercase; }
.box-collateral .box-content { padding:20px 0 0; }
.box-collateral.box-tags .box-title { margin:0; padding: 15px 0 10px;}
.box-collateral.box-tags .box-content { padding:0; }
.box-collateral p.add-to-wishlist a.link-wishlist:hover {background-position: -1px -719px;}
.box-collateral p.add-to-wishlist a.link-wishlist {background-position: -1px -757px;}


.tab-list { position:relative; }
.tab-list .tab { float:left; cursor:pointer; }
.tab-list .last { }
.tab-list .active { cursor:default }
.tab-list .tab-container { position:absolute; left:0; width:100%; }
.tab-list .tab-content {  padding: 10px 0 0;}

.collateral-tabs { margin:0; padding: 0;}
.collateral-tabs .tab { position:relative; z-index:2; margin-right:3px; color:#636363; font-size:11px; text-transform:uppercase; font-weight: 600;}
.collateral-tabs .tab span { padding:0 17px 0 0; float:left; }
.collateral-tabs .last {}
.collateral-tabs .active { color:#50a4cf; z-index:3; border-bottom:0; }
.collateral-tabs .active span {  }
.collateral-tabs .tab-container { z-index:1; top:32px; background:#fff; }
.collateral-tabs .tab-content dl.box-content dt{   border-top: 1px solid #D8D8D8; padding:0; background:#fff; color:#636363; font: normal 13px/18px Georgia, "Times New Roman", Times, serif;float: left; margin: -1px 0 0; width: 100%;}
.collateral-tabs .tab-content div.std{ padding:0; background:#fff; color:#636363; font: normal 13px/18px Georgia, "Times New Roman", Times, serif;float: left;}
.collateral-tabs .tab-content .data-table{ border:none;}
.collateral-tabs .tab-content .data-table td.data{font: normal 13px/18px Georgia, "Times New Roman", Times, serif;}
.collateral-tabs .tab-content object,
.collateral-tabs .tab-content embed { width:100% !important; height:auto !important; }

/* Product Images */
.product-view .product-img-box { float:left; width:380px; padding:0; }
.product-view .product-img-box .product-image img { background:#fff; height: 370px;     width: 370px; } /*IE8 PNG Fix */
.product-view .product-img-box p.notice { text-align:center; padding:5px 0; font-size:11px; }
.product-view .product-img-box .product-image { position:relative; width:370px; height:370px; overflow:hidden; z-index:3; }
.product-view .product-img-box .product-image-zoom { position:relative; width:370px; height:370px; overflow:hidden; z-index:3; }
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .zoom-notice { text-align:center; }
.product-view .product-img-box .zoom { position:relative; z-index:9; height:18px; margin:0 auto 13px; padding:0 28px; background:url(../images/slider_bg.gif) 50% 50% no-repeat; cursor:pointer; }
.product-view .product-img-box .zoom #track { position:relative; height:18px; }
.product-view .product-img-box .zoom #handle { position:absolute; left:0; top:-1px; width:9px; height:22px; background:url(../images/magnifier_handle.gif) 0 0 no-repeat; }
.product-view .product-img-box .zoom .btn-zoom-out { position:absolute; left:2px; top:0; }
.product-view .product-img-box .zoom .btn-zoom-in { position:absolute; right:2px; top:0; }
.product-view .product-img-box .more-views { margin:10px 0 0; padding:0 0 0; }
.product-view .product-img-box .more-views h2 { display:none; }
.product-view .product-img-box .more-views ul {}
.product-view .product-img-box .more-views li { float:left; border:1px solid #ddd; margin:0 6px 6px 0; }

.product-image-popup { margin:0 auto; }
.product-image-popup .buttons-set { clear:none; line-height:28px; margin:0 0 10px; float:right; width:150px; text-align:right; }
.product-image-popup .buttons-set .button { vertical-align:middle; float:none; }
.product-image-popup .image { display:block; clear:both; margin:15px auto 15px; }
.product-image-popup .image-label { font-size:14px; text-align:left; clear:both; font-weight:normal; color:#000; line-height:19px; margin:0 0 10px; }

.product-image-popup .nav { text-align:center; margin:0 auto; width:120px; }
.product-image-popup .nav .prev,
.product-image-popup .nav .next { margin:0 15px; display:inline; background:url(../images/bkg_slide-button.gif) no-repeat 0 0; text-indent:-999em; cursor:pointer; width:28px; height:28px; z-index:2; overflow:hidden; float:left; }
.product-image-popup .nav .prev { left:-19px; float:left; }
.product-image-popup .nav .next { right:-19px; float:right; background-position:0 -40px; }


/* jQzoom */
div.jqZoomTitle { z-index:5000; text-align:center; position:absolute; top:0; left:0; width:100%; color:#fff; background:#999; }
.jqZoomPup { overflow:hidden; background-color:#fff; z-index:10; border-color:#fff; border-style:solid; cursor:crosshair !important; /* -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; -moz-opacity:0.6; opacity:0.6; */ }
a.product-image { cursor:pointer !important; }
p.product-image { cursor:default !important; }
.zoom-activated {}
.jqZoomPup img { border:0; }
.preload { text-decoration:none; border:1px solid #ccc; padding:8px; text-align:center; background:#fff url(../images/zoomloader.gif) no-repeat 43px 30px; width:90px; height:43px; z-index:10; position:absolute; top:3px; left:3px; -moz-opacity:0.8; opacity:0.8; filter:alpha(opacity=80); }
.jqZoomWindow { border:1px solid #ccc; background-color:#fff; }

/* Product Shop */
.product-view .product-shop { float:right; width:540px; padding:0;  position: relative; }
.product-view .product-shop .product-main-info {  }
.product-view .product-shop .product-main-info dl.item-options dt { font-size: 13px;    font-weight: 600;    padding: 0;    text-transform: uppercase;}
.product-view .product-shop .product-main-info dl.item-options dd a{   float: left;    margin: 2px 0;}

.product-options dl.item-options { font-size: 13px;    font-weight: 600;    padding: 0;    text-transform: uppercase;}
.product-view .product-shop p,
.product-view .product-shop .ratings { margin:10px 0; }
.product-view .product-shop .ratings p { margin:0; }
.product-view .product-shop .product-ids { margin:4px 0 10px; color:#999; display:none; }
.product-view .product-shop .availability { font-size:16px;  font-weight:700; text-transform:uppercase; }
.product-view .product-shop .availability.out-of-stock {margin: 0;    padding: 0;}
.product-view .product-shop .availability.out-of-stock span { font-size: 14px;}
.product-view .product-shop .price-box { float: right;    margin: 0;    position: absolute;    right: 0;    top: 0; width:155px;  text-align: right; }
.product-view .product-shop .map-info{ text-align: right;    width: 140px;}
.product-view .product-shop .map-info span.msrp-price-hide-message{float: right;    padding: 0 0 5px;}
.product-view .product-shop .map-info a.price-click{  display: block;    text-align: right; font:normal 15px/26px Georgia, "Times New Roman", Times, serif;}
.product-view .product-shop .map-info a.whats-this{  display: block;    text-align: right; font:normal 11px/12px Georgia, "Times New Roman", Times, serif}
 
.product-view .product-shop .price-box .price-label { font-size:11px; }
.product-view .product-shop .price-box .price-as-configured .price-label { font-size:12px; }
.product-view .product-shop .price-box .price-as-configured .price { color:#e55100; font-size:14px; }
.product-view .product-shop .price-box .price-including-tax .price,
.product-view .product-shop .price-box .regular-price .price {/*font-size: 25px; */}
.product-view .product-shop .price-box .special-price .price-label { font-size:14px;  }
.product-view .product-shop .price-box .special-price .price { font-size:24px;  }
.product-view .product-shop .price-box .price-as-configured .price-including-tax .price { color:#e55100; }
.product-view .product-shop .price-box .price-as-configured .price-excluding-tax .price { color:#222; font-size:11px; }
.product-view .product-shop .price-box p { margin:4px 0; }
.product-view .product-shop .price-box p.special-price { text-align:center;}
.product-view .product-shop .price-box p.old-price { text-align:center}
	
.product-view .product-shop .add-to-links { float:left;  margin: 0;}
.product-view .product-shop .add-to-links li.links { float:left; display:inline; margin: 0 10px 0 0; }

/*.product-view .product-shop .add-to-links a { font-size:0; line-height:0; text-indent:-999em; display: block; }background: url(../images/btn_add_to_compare.gif) 0 0 no-repeat;*/
.product-view .product-shop .add-to-links a.link-wishlist { font-size:0; line-height:0; text-indent:-999em; display: block; background: url(../images/madison-sprite-a.png) -4px -613px no-repeat; height: 19px; width: 22px; }
.product-view .product-shop .add-to-links a.link-wishlist:hover { background-position:-4px -573px; }
.product-view .product-shop .add-to-links a.link-compare { font-size:0; line-height:0; text-indent:-999em; display: block; background: url(../images/madison-sprite-a.png) -4px -532px no-repeat; height: 20px; width: 21px; }
.product-view .product-shop .add-to-links a.link-compare:hover { background-position:-4px -492px; }

.product-view .product-name h1 { color: #50A4CF;	font-size: 24px;	font-weight: 600;	line-height: 24px;	text-transform: uppercase; line-height: 24px;}
.product-view .product-ids { text-transform:uppercase; }
.product-view .short-description { padding:15px 0; color:#636363; clear:both; font: normal 14px/20px Georgia, "Times New Roman", Times, serif; }
.product-view .short-description h2 { margin:0 0 5px; font-size:13px; display:none; }
.product-view .product-shop .add-to-cart { float:left; padding:2px 15px 10px 0; }
.product-view .add-to-cart .add-to-cart-buttons { margin-top:20px; width:332px;}
.product-view .add-to-cart .add-to-cart-buttons .btn-cart{float:left; display:inline;}
.product-view .add-to-cart .add-to-cart-buttons div{float:right; display:inline;}
.product-view .add-to-cart .add-to-cart-buttons div a { float:right; display:inline; }
.product-view .add-to-cart .add-to-cart-buttons .paypal-logo .paypal-or { float:left; display:inline; margin:5px; }

.product-view .bundle-customise{ margin: 0 0 20px;}

.product-view .additional-actions { border-top: 1px solid #D8D8D8;	clear: both;	float: left;	padding: 20px 0 0;	width: 100%; }
.product-view .additional-actions .emailto-link { float:left; margin: 0 0 0 5px;  }
.product-view .additional-actions .emailto-link li a {  
	background: url("../images/btn_email_a_friend.png") no-repeat scroll 0 0 transparent;
	display: block;
	font-size: 0;
	height: 19px;
	line-height: 0;
	margin: 0px 0;
	text-indent: -999em;
	width: 28px;  }
.product-view .additional-actions .emailto-link li a:hover {  background-position: 0 -42px;	
}




/* Rating */
.rating-text{ display:none; text-align: center;}
.rating-box { width:65px; height:13px; font-size:0; line-height:0; background:url(../images/bkg_rating.gif) 0 100% repeat-x; overflow:hidden; }
.rating-box .rating { float:left; height:13px; background:url(../images/bkg_rating.gif) 0 0 repeat-x;   cursor: pointer; }
.ratings { margin:5px 0; }
.ratings .rating-box { float:left; margin-right:5px; }
.ratings .amount { font-size:12px; }
.ratings .rating-links { margin:0; font-size:11px; }
.ratings .rating-links a { text-decoration:underline; }
.ratings .rating-links a:hover { text-decoration:none; }
.ratings .rating-links .separator { margin:0 3px;  color: #E6E6E6;}
.ratings dt {}
.ratings dd {}

/* Availability */
.availability { font-weight:bold; }
.availability.in-stock { color:#00cc00;}
.availability.out-of-stock { color: #656565;float: right;padding: 0 15px 0 0; }

.availability-only { margin:10px 0 7px; line-height:16px; background:url(../images/i_availability_only.gif) 0 50% no-repeat; padding-left:15px; }
.availability-only span,
.availability-only a { border-bottom:1px dashed #751d02; color:#000; }
.availability-only a { background:url(../images/i_availability_only_arrow.gif) 100% 0 no-repeat ; cursor:pointer; padding-right:15px; text-decoration:none; }
.availability-only .expanded { background-position:100% -15px; }
.availability-only strong { color:#d12c01; }

.availability-only-details { margin:0 0 7px; border:1px solid #d9d9d9; }
.availability-only-details thead { background:url(../images/bkg_thead.gif) repeat-x scroll 0 0 #e8e8e8; }
.availability-only-details th,
.availability-only-details td { padding:2px 8px; }
.availability-only-details th { border-bottom:1px solid #d9d9d9; font-size:10px; text-transform:uppercase; }
.availability-only-details td { background:#fff; font-size:11px; }
.availability-only-details tr.odd td.last { color:#d95e00; font-weight:bold; }

/********** < Product Prices */
.price { white-space:nowrap !important; font:normal 16px/16px Georgia, "Times New Roman", Times, serif; color:#50A4CF }
.sidebar .price{ font-size:12px;}
.price-box {}
.price-box .price {  }

.price-box-bundle {}

/* Regular price */
.regular-price {}
.regular-price .price {  }

/* Old price */
.old-price { text-decoration:line-through; color:#636363; }
.old-price .price-label { white-space:nowrap; color:#636363; }
.old-price .price { font-weight:normal; /*text-decoration:line-through;*/ color:#636363; }
.sidebar .old-price .price-label { display:none !important; }

/* Special price */
.special-price {}
.special-price .price-label { white-space:nowrap; color:#cf5050; font: 600 12px/12px 'Raleway', Arial, Helvetica, sans-serif ; }
.special-price .price { }
.sidebar .special-price .price-label { display:none !important; }

/* Minimal price (as low as) */
.minimal-price {}
.minimal-price .price-label { white-space:nowrap; }

.minimal-price-link { display:block; margin:5px 0; text-decoration:none; }
a.minimal-price-link:hover { text-decoration:underline; }
.minimal-price-link .label { /*font-weight:bold;*/ }
.minimal-price-link .price { /*font-weight:bold;*/ }

/* Excluding tax */
.price-excluding-tax { display:block; }
.price-excluding-tax .label { white-space:nowrap; }
.price-excluding-tax .price { font-weight:normal; }

/* Including tax */
.price-including-tax { display:block; }
.price-including-tax .label { white-space:nowrap; }
.price-including-tax .price { /*font-size: 24px ;*/}

/* Configured price */
.configured-price {}
.configured-price .price-label { font-weight:bold; white-space:nowrap; }
.configured-price .price { font-weight:bold; }

/* FPT */
.weee { display:block; font-size:11px; }
.weee .price { font-size:11px; font-weight:bold; }

/* Excl tax (for order tables) */
.price-excl-tax { display:block; }
.price-excl-tax .label { display:block; white-space:nowrap; }
.price-excl-tax .price { display:block; }

/* Incl tax (for order tables) */
.price-incl-tax { display:block; }
.price-incl-tax .label { display:block; white-space:nowrap; }
.price-incl-tax .price { display:block; font-weight:bold; }

/* Price range */
.price-from {}
.price-from .price-label { white-space:nowrap; }
.price-from .price { white-space:nowrap; }
.price-to {}
.price-to .price { white-space:nowrap; }
.price-to .price-label { white-space:nowrap; }

/* Price as configured */
.price-as-configured {}
.price-as-configured .price-label {white-space:nowrap; }
.price-as-configured .price {  }

/* Price notice next to the options */
.price-notice { padding-left:10px; }
.price-notice .price { font-weight:bold; }
/********** Product Prices > */

/* Tier Prices */
.product-pricing { background:#fbf4de; border:1px solid #e2d4c7; padding:8px; margin:10px 0; clear:left; }
.product-pricing li { line-height:1.35; margin:2px 0; }
.product-pricing li .price {  font-size: 14px;    font-weight: normal;}
.product-pricing li .benefit {  font-size: 14px;    font-weight: normal; }

/* Add to Links */
.add-to-links { margin:5px 0 0; font-size:11px; }
.add-to-links li { margin:2px 0; }
.add-to-links a { color:#999; }
.add-to-links a:hover {}
.add-to-links .separator { display:none; }

a.link-wishlist { font-size:0; line-height:0; text-indent:-999em; display: block; background: url(../images/madison-sprite-a.png) -4px -612px no-repeat; height: 19px; width: 22px; }
a.link-wishlist:hover { background-position:-4px -572px; }

/* Add to Cart */
.add-to-cart {}
.add-to-cart label { font-size:12px; vertical-align:middle; font-weight:normal; margin-left:5px; text-transform:uppercase; }
.add-to-cart .qty { height: 20px;	line-height: 20px;	text-align: center;	vertical-align: middle;	width: 60px; }
.add-to-cart .paypal-logo { clear:left; text-align:right; }
.add-to-cart .paypal-logo .paypal-or { clear:both; display:block; margin:5px 60px 5px 0; }
.add-to-cart-alt { white-space:nowrap; padding:5px 0; }
.add-to-cart-alt .qty { margin-right:5px; }
.add-to-cart-alt .qty,
.add-to-cart-alt .button { vertical-align:middle; }

button.btn-cart span {}

/* On product view */
.product-view .product-essential button.btn-cart span, .add-to-cart button.btn-cart span {  }
.product-view .product-essential button.btn-cart span span, .add-to-cart button.btn-cart span span {font: 500 18px/30px Raleway,Arial,Helvetica,sans-serif;}
.product-view .product-essential button.btn-gr span span, .add-to-cart button.btn-gr span span { font-size:14px !important; padding:1px 18px 0 10px !important; }
.product-view .add-to-cart .paypal-logo { margin:0; }


/* Add to Links + Add to Cart */
.add-to-box { margin: 10px 0;}
.add-to-box .add-to-cart {}
.add-to-box .add-to-links { margin:0 !important; }
.add-to-box .add-to-links li { margin:0 0 2px; }

/* Product Options */
.product-options { margin:10px 0 0; }
.product-options dt label {   color: #50A4CF;    font-size: 14px;    font-weight: 600;    padding: 5px 0;    text-transform: uppercase;}
.product-options dt .required em { float:none}
.product-options dd .qty-holder { display:block; padding:10px 0; }
.product-options dd .qty-holder label { vertical-align:middle; }
.product-options dd .qty-disabled { background:none; border:0; padding:3px; color:#000; }
.product-options dd { margin:5px 0 15px; padding:0 0 12px; border-bottom:1px solid #e7e7e7; }
.product-options dl.last dd.last {}
.product-options dd .input-box { display:block; padding-right:20px; }
.product-options dd input.input-text { height: 24px;    line-height: 24px;    width: 200px;}
.product-options dd input.datetime-picker {  margin: 0 9px 0 0;}
.product-options dd .time-picker { display:-moz-inline-box; display:inline-block; padding:2px 0; vertical-align:middle; }
.product-options dd .time-picker select { vertical-align:middle; }
.product-options dd textarea { width:98%; height:8em; }
.product-options dd select {  padding:4px; }
.product-options dd select.multiselect { width: 280px;} 
.product-options dd select.multiselect option {   padding: 5px;}

/*.product-options dd span.jqTransformCheckboxWrapper { margin:0;}*/
.product-options .options-list {}
.product-options .options-list li { vertical-align:middle; margin:0; padding:2px 0; line-height:1.315; }
.product-options .options-list li .price-notice {padding: 0 0 0 2px;}
.product-options .options-list li .price-notice .price { font-size: 14px;    font-weight: normal;    padding: 0 0 0 2px;}
/*.product-options .jqTransformRadioWrapper{ float:left; margin:2px 0 0 0}
.product-options .jqTransformSelectWrapper,
.product-options .jqTransformSelectWrapper div,
.product-options .jqTransformSelectWrapper div span,
.product-options .jqTransformSelectWrapper ul{ width:170px !important}
.product-options .jqTransformSelectWrapper ul li{ margin:0;}*/
.product-options .options-list input.radio { float:left; margin:2px -18px 0 0; }
.product-options .options-list input.checkbox { float:left; margin:2px -20px 0 0; }
.product-options .options-list .label { display:block; margin-left:22px;  }
.product-options .validation-error .options-list,
.product-options ul.validation-failed {  background: none repeat scroll 0 0 #FFFFFF !important; /*padding:2px 1px !important; position:relative; z-index:2; top:-3px; left:-2px; margin-right:-2px; */}
.options-container-small .product-options .validation-error .options-list,
.options-container-small .product-options ul.validation-failed { /*padding:0 1px !important; position:relative; z-index:2; top:-1px; left:-2px; margin-right:-2px;*/ }
.product-options li { margin:3px 0; }




.product-options-bottom .product-pricing { clear:both; }
.product-view .product-options-bottom { padding:0; margin:0 0 5px; }
.product-view .product-options-bottom .add-to-cart { float:left; padding-right:15px; padding-bottom:20px; }
.product-view .product-options-bottom .price-box { margin:0 !important; float:right; }
.product-view .product-options-bottom p.required { padding:5px 0 0; clear:both; text-align:left; width:auto; }

/* Options in product info column */
.options-container-small { margin:0; }
.options-container-small .product-options-bottom { float:left; }
.options-container-small .product-pricing { display:none; }
.options-container-small .price-box { display:none; }
.options-container-small .add-to-cart { padding:13px 15px 0 0 !important; }
.options-container-small .product-options-bottom p.required { padding:0; width:auto; float:left; clear:left; text-align:left; }
.options-container-small dt { clear:left; float:none; line-height:1.2; width:auto; padding:3px 5px 0 0; margin:0 0 2px; }
.options-container-small dd { float:left; width:auto; border-bottom:0; padding:0; margin:0 0 20px; }
.options-container-small .product-options { margin:0 0 0; }
.options-container-small .price-notice {font-size: 14px;    padding-left: 0;}
.options-container-small .price-notice .price {font-size: 14px;    font-weight: normal;    padding-left: 4px;}


/* Options after product info column */
.options-container-big { clear:both; background:#fff; border-top:1px solid #cfcfcf; border-width:1px 0;      margin: 20px 0 0;    padding: 20px 0 0;}

/* Bundle product - alternative view */
#customizeTitle { margin:0;  padding: 0;width: 642px;}
.bundleProduct {}
.product-options .bundle-summary { font-size:11px; }
.bundleProduct .product-options { font-size:12px; margin-top:0; }
.bundleProduct .product-options-bottom { padding:0; font-size:12px; margin:0 0 5px; line-height:27px; }
.bundleProduct .product-options-bottom .add-to-cart { float:right; margin:0 0 0 20px; }
.bundleProduct .product-options-bottom .price-box { margin:0; float:right; }
.bundleProduct .product-options-bottom p.required { padding:5px 0 0; width:auto; clear:both; text-align:right; }
.with-bundle { position:relative; z-index:1; background:#fff url(../images/bkg_cols.gif) 460px 0 repeat-y; }

/**/
#bundle-product-wrapper { float:left;  overflow:hidden; position:relative; z-index:1; width:938px; margin:0px 0px 0px 0px; }
#bundleProduct {background:#fff ; z-index:1; position:relative; width:1877px; margin:0px 5px 0px 0px}
#productView {margin:0; position:static; border:0; }
#options-container {min-height:510px; width:940px; position:relative; z-index:2; float:right; left:2px;  }
#options-container h1 {text-align:left; color: #50A4CF;  width: 420px; height:auto; line-height:24px;}

#bundleProduct .add-to-links { float:left;  border: medium none;	}
#bundleProduct ul.emailto-link { float:left; }
#bundleProduct ul.emailto-link li a {  font-size:0; line-height:0; text-indent:-999em; display: block; background: url(../images/btn_email_a_friend.gif) 0 0 no-repeat; height: 14px; width: 21px; }
#bundleProduct .price-box-bundle .price-box{right:5px;}
/* Bundle Product 2 column design */
.col2-left-layout  #bundle-product-wrapper,
.col2-right-layout #bundle-product-wrapper { width:755px; }
.col2-left-layout  #bundleProduct,
.col2-right-layout #bundleProduct { background-position:574px 0; width:1511px; }
.col2-left-layout  #options-container,
.col2-right-layout #options-container { left:0px; width:755px; }

.col2-left-layout  #options-container .product-options,
.col2-right-layout #options-container .product-options { width:459px; }
.col2-left-layout  #options-container .product-options-bottom,
.col2-right-layout #options-container .product-options-bottom { width:460px; }

.col2-left-layout  .bundle-summary,
.col2-right-layout .bundle-summary { left:460px; }

.col2-left-layout #customizeTitle,.col2-right-layout #customizeTitle{ width: auto;}

/* Bundle Product 3 column design */
.col3-layout #bundle-product-wrapper,
.col3-layout #options-container { width:620px; }
.col3-layout #bundleProduct { background-position:390px 0; width:1240px; }
.col3-layout #options-container { background-position:94px 0; }
.col3-layout #productView { margin-right:-10px; }

.col3-layout #options-container .product-options { width:350px; }
.col3-layout #options-container .product-options-bottom { width:246px; }
.col3-layout #options-container .product-options-bottom .price-box { float:none; }

.col3-layout .bundle-summary {  }
.col3-layout #customizeTitle{ width: auto;}

#options-container .product-options { font-size:12px; margin-top:0; font-size:11px; z-index:1; margin:0; width:600px; padding:20px 20px 0; clear:both; position:relative; z-index:1; }
#options-container .product-options-bottom { padding:0 20px 20px; width:600px; margin:0 0 5px; }
#options-container .product-options-bottom .add-to-cart { float:right; margin:0 0 0 20px; }
#options-container .product-options-bottom .price-box { margin:0 0 15px; float:right; }
#options-container .product-options-bottom p.required { padding:5px 0 0; width:auto; clear:both; text-align:right; }
.moving-now {}

.bundle-summary {  background: none repeat scroll 0 0 #FFFFFF;    left: 643px;    margin-top: 0;    padding: 0;    position: absolute;    width: 240px;    z-index: 2; left: auto !important;    right: 0;}
.bundle-summary .product {    margin-bottom: 10px; }
.bundle-summary .product .block-title { background:none; border:solid #e6e6e6; border-width:0 0 1px; margin:0 0 10px; padding:5px 0; position:relative; }
.bundle-summary .product .block-title h2 { color: #50A4CF;    font-size: 14px;    font-weight: 600;    line-height: 14px;      text-transform: uppercase;}
.bundle-summary .product-image { border:1px solid #d6d6d6; float:left; margin:0 -60px 0 0; }
.bundle-summary .product-details {}
.bundle-summary .product-details p.availability { font-weight:bold; font-size:11px; margin:28px 0 0; position:relative; }
.bundle-summary .price-box { margin-bottom:20px; }
.bundle-summary .price-box .price-as-configured .price {    font-size: 14px;font-weight:normal; }
.bundle-summary .price-box .price-as-configured .price-label {   display: block;    font: italic 14px/14px Georgia,"Times New Roman",Times,serif;    margin: 0 0 5px;  }
.bundle-summary .product-name { font-size:16px; color:#111; }
.bundle-summary .product .add-to-links { border-top:1px solid #e6e6e6; margin-top:10px; padding:2px 0 2px 5px; }
.bundle-summary .product .add-to-links .clickable > strong,
.bundle-summary .product .add-to-links a { color:#ef5d24; font-weight:bold; }
.bundle-summary .product .add-to-links li { /*display:inline-block;*/ }
.bundle-summary .product .add-to-links li:first-child { margin-right:15px; }
.bundle-summary .summary {    border-top: 1px solid #D8D8D8;    padding: 0 !important;}
.bundle-summary .summary h4 {  color: #50A4CF;    font-size: 14px;    font-weight: 500;    padding: 7px 0;    text-align: center;    text-transform: uppercase;}
.bundle-summary .summary ul { margin:0; }
.bundle-summary .summary li {  margin:0; padding: 0 0 20px; color:#656565; font: italic 12px/14px Georgia,"Times New Roman",Times,serif;   }
.bundle-summary .summary li strong   {color: #50A4CF;    display: block;    margin: 0 0 5px; text-transform: uppercase;  font:700 12px Raleway, Arial, Helvetica, sans-serif;}
.bundle-summary .summary li.last { padding: 0 0 10px; }

.bundle-summary ul.emailto-link {margin: 14px 0 0 5px;}

.bundle-summary button.btn-cart span,
.bundle-summary button.btn-cart span span {}
.bundle-summary .add-to-cart .qty { /*margin-right:80px;*/ }
.bundle-summary .add-to-cart button { margin:20px 0 0; }
.bundle-summary .add-to-cart .paypal-logo { text-align:left; }
.bundle-summary .add-to-cart .paypal-or { margin:5px 0 5px 42px; }

#bundleProduct .page-title a {  white-space: nowrap; color:#fff; background:#959595; position:relative; text-decoration:none; top:4px;  padding: 3px 7px; text-transform: uppercase;}
#bundleProduct .page-title a:hover {  background:#1189c5;}
#bundleProduct .page-title a small { font-size:14px; font-weight:bold; }
#bundleProduct .product-options { padding:0; width:642px;padding: 26px 0 0; }
#bundleProduct .product-options label.required em{ float:none;}
#bundleProduct .product-options dt,
#bundleProduct .product-options dd { margin:0; padding:0; border:none; }
#bundleProduct .product-options dd span.qty-holder {  padding: 15px 0; }
#bundleProduct .product-options dd span.qty-holder  .input-text.qty{ text-align:center; border: 1px solid #D8D8D8;}
#bundleProduct .product-options dt { border-top: 1px solid #E6E6E6;	margin: 10px 0 0;	padding: 10px 0 0; }
#bundleProduct .product-options dl.last .last { border-bottom:none; }
#bundleProduct .product-options p.required { left: 0;	padding: 0;	position: absolute;	top: 10px;	width: auto; }

#bundleProduct .product-options-bottom { padding:0; width:612px; }
#bundleProduct .product-options-bottom a { color:#ef5d24; font-size:11px; font-weight:bold; text-decoration:none; display:none;}
#bundleProduct .product-options-bottom a:hover { text-decoration:underline; }
#bundleProduct .product-options-bottom a small { font-size:14px; }
#bundleProduct .product-options-bottom .price-as-configured { font-size:11px; }
#bundleProduct .product-options-bottom .price-as-configured .price { font-size:12px; vertical-align:baseline; }
#bundleProduct .product-options-bottom .price-as-configured .price-label {    display: block;    font: italic 14px/14px Georgia,"Times New Roman",Times,serif;    margin: 0 0 5px; }

/* Grouped Product */
.groped-product-type { position:relative; z-index:2; margin:20px -30px -20px; background:#fff; border-top:1px solid #cfcfcf; padding:20px 30px 0; }
.grouped-items td { vertical-align:middle; padding:5px 10px; }
.grouped-items-wrapper{ border: 1px solid #D9D9D9; overflow:auto; padding:5px; margin:0 0 10px;}
.grouped-items-wrapper.scroller{height: 288px;}
.grouped-items-table{ border: medium none; }
.grouped-items-wrapper.scroller .grouped-items-table{/*width:auto;*/}
.grouped-items-table tr td{  border-bottom: 1px solid #D9D9D9; vertical-align:top; padding:8px}
.grouped-items-table tr.first.last td{ border-bottom: none;}
.grouped-items-table tr td.grouped-image{ width:105px;}
.grouped-items-table tr td.grouped-details{width:298px;}
.grouped-items-table tr td.grouped-price{ width:59px;}
.grouped-items-table tr td.grouped-price div.price-box{ width: auto; position:static;}

.grouped-items-table tr.last td{  border: none; font-size:13px;}
.grouped-items-table tr td span.product-name{ display: block;    text-transform: uppercase;    width: auto; color:#50A4CF; font:500 13px Raleway, Arial, Helvetica, sans-serif; margin: 0 0 10px;}
.grouped-items-table tr td input.qty {margin: 0 5px 0 0;    text-align: center;}



/* Gift Card product */
.giftcard-form {}
.giftcard-form .required em { float:none;}
.giftcard-form label { font-weight: 400;}
.giftcard-amount-form { margin:0 0 10px; }
.giftcard-amount-form label { width:120px; text-align:left; padding-right:5px; }
.giftcard-amount-form .form-list .input-text {width: 200px; }
.giftcard-amount-form .form-list select {  padding: 4px 26px 4px 4px; width: 222px; }
.giftcard-amount-form .form-list .input-box { padding-right:20px; margin-right:9px; }
.giftcard-amount-form .form-list .input-box#giftcard_amount_box span input {}
.giftcard-amount-form .form-list .input-box .v-fix { white-space:nowrap; }
.giftcard-amount-form .form-list .input-box p.notice { float:left; padding:0; clear:left; width:55px; margin:5px 0 15px; white-space:nowrap; color: #686868; position:relative; z-index:1; font:500 11px Raleway, Arial, Helvetica, sans-serif; }
.giftcard-amount-form .form-list .input-box p.notice span { margin-right:5px; display:block; }
.giftcard-send-form { background:#fff; z-index:2; position:relative; padding:0; margin:0; }
.giftcard-send-form label { width:120px; text-align:left; padding-right:5px; padding-bottom:5px;  }
.giftcard-send-form .field label {    /* padding-bottom: 2px;*/ }
.giftcard-send-form .field .input-text { width:200px !important; }
.giftcard-send-form .giftcard-message-max-length{ height: 110px; width: 422px;}

.giftcard-send-form ul.form-list li.fields {}
.giftcard-send-form ul.form-list li.fields div.field {  clear: none;    float: left;  margin: 0 15px 0 0;}
.giftcard-send-form ul.form-list li.fields div.field label{}
.giftcard-send-form ul.form-list li.fields div.field div.input-box{}


/* Block: Related */
.product-view .box-related { font-size:11px; float:right; width: 406px;  margin: 20px 0 0; }
.product-view .box-related h3 { color: #50A4CF; font-weight: 500; text-transform: uppercase; font-size:14px; padding: 0; }
.product-view .box-related p { margin:0; }
.product-view .box-related .product-name { font-size:12px; }
.product-view .box-related .price-box { margin:5px 0; }
.product-view .box-related .note {margin:0; font-size:12px;}
.product-view .box-related .note,
.product-view .box-related .note a { color: #50A4CF;    font-size: 11px; }
.product-view .box-related .note a{ text-decoration: underline;}
.product-view .box-related .note a strong{ font-weight: 400;    text-transform: capitalize;}
.product-view .box-related li span.jqTransformCheckboxWrapper {   display: inline;    float: left;    margin: 6px 0 0 84px; }
.product-view .box-related ol { padding:20px 0 20px 20px !important; }
.product-view .box-related ul.box-content  { 	float: left;	margin: 10px 0;	width: 100%;}
.product-view .box-related ul.box-content.first { margin-top:20px; }
.product-view .box-related ul.box-content.last { margin-bottom:20px; }
.product-view .box-related li.item {  float: left;    margin-right: 14px;    text-align: center;    width: 196px; }
.product-view .box-related li.last { margin-right:0; }
.product-view .box-related li.item .item-info {/* margin-right:20px;*/  margin-top: 35px; }
.product-view .box-related li.item p a { color:#999; }
.product-view .box-related li.item .product-image { /*float:left; margin-right:-100px; width:100px; */}
.product-view .box-related li.item .product-details { /*margin-left:125px;*/  margin: 7px 0;}
.product-view .box-related .product-image-block{ position: relative;    width: 178px; margin: 0 auto;}
.product-view .box-related .product-image-block p.add-to-wishlist{ position:absolute; right:5px; bottom:5px; display:none;}
.product-view .box-related .product-image-block:hover p.add-to-wishlist{ display:block;}

.product-view .box-related p.add-to-wishlist a.link-wishlist:hover {background-position: -1px -719px;}
.product-view .box-related p.add-to-wishlist a.link-wishlist {background-position: -1px -757px;}

/* 2 Column Block: Related */
.col2-left-layout  .product-view .box-related, 
.col2-right-layout .product-view .box-related { background-color:#EFEFCF; border-top: 1px solid #D8D8D8;    float: left;    padding: 15px 0 0;    width: 100%; /*border-top: 1px solid #D8D8D8;	clear: left;	float: left;	padding: 0;	width: auto;*/}
.col2-left-layout .product-view .box-related ul.box-content, .col2-right-layout  .product-view .box-related ul.box-content { display: inline;    float: left;    width: auto;   margin: 0;}
.col2-left-layout .product-view .box-related ul.box-content li, .col2-right-layout  .product-view .box-related ul.box-content li{ margin-right: 22px; width: 178px;}
.col2-left-layout .product-view .box-related ul.box-content.last li.last, .col2-right-layout  .product-view .box-related ul.box-content.last li.last{margin-right: 0px;}
/* 3 Column Block: Related */
.col3-layout .product-view .box-related { border-top: 1px solid #D8D8D8;    float: left;    padding: 15px 0 0;    width: 100%;}
.col3-layout .product-view .box-related li.item .product-image { display:block; float:none; margin:0 auto; }
.col3-layout .product-view .box-related li.item .product-details { margin-left:0; }
.col3-layout .product-view .box-related input.checkbox { margin-left:135px; }
.col3-layout .product-view .box-related li.item { margin-right: 57px;    width: 178px;}
.col3-layout .product-view .box-related li.last {margin:0px;}

/* Block: Upsell */
.product-view .box-up-sell .products-grid { display: inline;	float: left;	margin: 0;	padding: 30px 0 10px; /* height: 250px;*/}
.product-view .box-up-sell .products-grid li {  width: 146px;  margin:0px 5px; display:inline;  text-align: center;}
.product-view .box-up-sell .products-grid li .product-image{width: auto;}

.product-view .box-up-sell .products-grid li .product-image-block { border: medium none;    height: auto;    padding: 0;}
.product-view .box-up-sell .products-grid li .product-image-block p.add-to-wishlist{ bottom: 5px; display:none;   position: absolute;    right: 5px;}
.product-view .box-up-sell .products-grid li .product-image-block:hover p.add-to-wishlist{ display:block}
.product-view .box-up-sell .split-button.light strong {   background-position: -1px -721px;}
.product-view .box-related .split-button.light strong {   background-position: -1px -721px;}




/* 2 Column Block: Upsell */
.col2-left-layout  .product-view .box-up-sell ul.products-grid,
.col2-right-layout .product-view .box-up-sell ul.products-grid { padding:30px 0 10px; margin-right:0; float:left;  display:inline }
.col2-left-layout  .product-view .box-up-sell ul.products-grid li,
.col2-right-layout .product-view .box-up-sell ul.products-grid li { display:inline; width:115px; }
.col2-left-layout .product-view .box-up-sell ul.products-grid li a.product-image, 
.col2-left-layout .product-view .box-up-sell ul.products-grid li a.product-image img,
.col2-right-layout .product-view .box-up-sell ul.products-grid li a.product-image, 
.col2-right-layout .product-view .box-up-sell ul.products-grid li a.product-image img{width:115px; height:115px}

/* 3 Column Block: Upsell */
.col3-layout .product-view .box-up-sell .products-grid { padding:30px 0 10px; margin:0; }
.col3-layout .product-view .box-up-sell .products-grid li { width:135px; margin-right:2px; display:inline;  padding: 0 10px;}

/* Block: Tags */
.product-view .box-tags { margin: 20px 0 ;}
.product-view .box-tags h3 { font-size:12px; font-weight:normal; }
.product-view .box-tags .form-add-tags { padding:5px 0 15px 0; }
.product-view .box-tags .form-add-tags label { font-size: 12px;    font-weight: 500;    line-height: 25px;    margin: 0;}
.product-view .box-tags .form-add-tags .input-box { margin:0; display:inline-block; }
.product-view .box-tags .form-add-tags div.validation-passed,
.product-view .box-tags .form-add-tags div.validation-error { padding-right:17px; }
.product-view .box-tags .form-add-tags input.input-text { height: 24px;    line-height: 24px;    padding: 2px 8px;    width: 238px; }
.product-view .box-tags .form-add-tags button.button { margin-left:5px; vertical-align:top; }
.product-view .box-tags .form-add-tags p { padding:5px 0; font-size:11px; }
.product-view .box-tags .tags-list { margin:15px 0; line-height:1.5em; }
.product-view .box-tags .tags-list li { display:inline; font-size:12px; margin:0 7px 0 0; }
.product-view .box-tags .tags-list li a {font-size: 12px;    padding: 0 2px 0 0;    text-decoration: none;}
.product-view .box-tags .tags-list li a:hover { text-decoration:underline; }
.product-view .box-tags .LHS{float: left;    margin: 0 20px 0 0;}
.product-view .box-tags .RHS{float: right;   width: 540px;  padding: 12px 0 20px 0;}
.product-view .box-tags p.tip{font: 11px/18px Georgia,"Times New Roman",Times,serif;}


.product-view .box-tags .form-add-tags .input-box , x:-moz-any-link { float:left; }/* FireFox 2 fix */
.product-view .box-tags .form-add-tags .button , x:-moz-any-link { margin-bottom:15px; }/* FireFox 2 fix */
.product-view .box-tags .form-add-tags .input-box , x:-moz-any-link, x:default { float:none; }/* FireFox 3 restore */
.product-view .box-tags .form-add-tags .button , x:-moz-any-link, x:default { margin-bottom:0; }/* FireFox 3 restore */

/* 2 Column Block: Tags */
.col2-left-layout .product-view .box-tags .RHS,
.col2-right-layout .product-view .box-tags .RHS{ width: 385px;}

/* 3 Column Block: Tags */
.col3-layout .product-view .box-tags .box-content{ /*padding: 20px 0;*/ }
.col3-layout .product-view .box-tags .form-add-tags input.input-text{width: 220px;}
.col3-layout .product-view .box-tags .RHS{ float: left;    padding-top: 0;}
.col3-layout .product-view .box-tags .RHS ul{ margin: 0;}
/* Block: Reviews */
.product-view .product-main-info .review-summary-table { margin:10px 0; }
.review-summary-table {}
.box-reviews  .write-review .review-summary-table {border-top:1px solid #d8d8d8; border-bottom :1px solid #d8d8d8; margin: 5px 0 10px;}
.box-reviews div.form-buttons{width: 455px;}
.box-reviews div.form-buttons button{ float:right}
.box-reviews div.form-buttons button span{ font-size:18px;font-weight: 500;}
.box-reviews p.required{width: 485px;}

.review-summary-table th,.review-summary-table td { padding:2px 5px; }
.write-review .review-summary-table th,.write-review .review-summary-table td { padding:10px; }
.review-summary-table tr.last td { border:0; }
.review-summary-table th.label,
.review-summary-table td.label { width:1px; white-space:nowrap; padding-left:0; background:none; font-weight:normal; font-size:12px; color:#636363; text-transform:uppercase; }

.product-view .box-reviews .pager { border-bottom: 1px solid #D8D8D8;    line-height: 20px;    margin: 5px 0 25px;    padding: 0;    width: 100%; }
.product-view .box-reviews .pager p.amount{padding-right: 10px;}
.product-view .box-reviews .pager div.limiter{}
.product-view .box-reviews .pager div.limiter select{margin: 0 1px;}
.product-view .box-reviews dt {  clear: left;font:600 12px Raleway, Arial, Helvetica, sans-serif; text-transform: uppercase; float: left;}
.product-view .box-reviews dt a { }
.product-view .box-reviews dd {   width: 100%; float: left;clear: left; margin:10px 0 20px; padding:0 0 10px; border-bottom:1px solid #D8D8D8;}
.product-view .box-reviews dd p { margin:0 0 15px; font:normal 13px/18px Georgia, "Times New Roman", Times, serif }
.product-view .box-reviews dd .review-footer,
.product-view .box-mini-reviews dd .review-footer {     clear: left;    color: #50A4CF;    float: left;    font: 600 10px/18px Raleway,Arial,Helvetica,sans-serif;    margin: 20px 0 15px;    text-transform: uppercase;}
.product-view .box-reviews dd.last { background:none; margin-bottom:0; }
.product-view ul.review-stars{}
.product-view ul.review-stars li{ float: left;    margin: 0 20px 0 0;}
.product-view ul.review-stars li label{float: left;  display: inline;    margin: 0 5px 0 0;    text-transform: uppercase}
.product-view ul.review-stars li div.rating-box{display: inline;    float: left;}



.product-view .box-mini-reviews{width:100%}
.product-view .box-mini-reviews .box-title { padding:0 0 5px 0; background:none; border:none;  margin: 0; }
.product-view .box-mini-reviews .box-title h2 { color:#50a4cf; font-size:12px; text-transform: uppercase; font-weight: normal; }
.product-view .box-mini-reviews .box-title h2 .separator { margin:0 3px;  color: #E6E6E6;}
/*.product-view .box-mini-reviews .box-title h2 span { color:#636363; padding-left:10px; }*/
.product-view .box-mini-reviews .box-title a {  white-space: nowrap; color:#fff; background:#d8d8d8; position:relative; text-decoration:none; top:4px;  padding: 3px 7px; text-transform: uppercase;}
.product-view .box-mini-reviews .box-title a:hover {  background:#1189c5;}
.product-view .box-mini-reviews .box-title .add-new { font-size: 10px;	position: absolute;	right: 0;	top: 12px; }
.product-view .box-mini-reviews .box-content { padding: 5px 0; }
.product-view .box-mini-reviews dt { margin:0; font-style:italic; }
.product-view .box-mini-reviews dt a {     display: block;    float: left;    font: 500 12px Raleway,Arial,Helvetica,sans-serif;    padding: 20px 0;    text-transform: uppercase;    width: 100%;}
.product-view .box-mini-reviews dd { margin:0; padding:0; border-bottom:1px solid #d8d8d8;float: left;width: 100%; }
.product-view .box-mini-reviews .review-summary-table tr:last-child td,
.product-view .box-mini-reviews .review-summary-table tr:last-child th { border:none;}
.product-view .box-mini-reviews p {       color: #636363;    font-size: 14px;    font-style: normal;    line-height: 18px;    margin: 0 0 20px;    padding: 0; }
.product-view .box-mini-reviews p.author-info { margin:0 0 10px; font-size:10px; color:#50a4cf; text-transform:uppercase; }
.product-view .box-mini-reviews dd .date { margin:0 0 10px; }
.product-view .box-mini-reviews dd.last { background:none; margin-bottom:0; }
.product-view .box-mini-reviews .buttons-set { text-align:right; margin: 15px 0 0;}
.product-view .box-mini-reviews .buttons-set button.button { float:none; } 

/* Add Review Form */
#review-form{ float: left;    margin: 0 0 20px;}
.product-view .box-reviews .product-name {  color: #636363;	font-weight: 500;	margin-bottom: 20px;	text-transform: uppercase;}
.product-view .box-reviews .product-name span {  color: #50A4CF; }
.product-view .box-reviews .form-list { margin:10px 0; }
.product-view .box-reviews .form-list li.inline-tf div.input-box{}
.product-view .box-reviews .form-list li label{   color: #636363;    font-weight: 500;}
.product-view .box-reviews .form-list li label em{   display: none;}
.product-view .box-reviews .form-list .input-box {clear: left;}

.product-view .box-reviews .form-list .review-summary-table thead { background:none; }
.product-view .box-reviews .form-list .review-summary-table thead th { background:none; border:0; padding: 15px 7px 10px 8px; }
.product-view .box-reviews .form-list .review-summary-table .value { text-align:center; } 
.product-view .box-reviews .form-list .review-summary-table tr.last td {padding-bottom: 20px;}

.product-view .box-reviews .write-review textarea{height: 80px; width: 450px;}
.product-view .box-reviews .write-review .inline-tf label{  width: 185px; line-height: 20px;}
.product-view .box-reviews .write-review .inline-tf div.input-box{  clear: none;}
.product-view .box-reviews .write-review .inline-tf div.input-box .input-text{ width: 250px;}


.col3-layout .product-view .box-reviews .write-review {width: 506px;}
.col3-layout .product-view .box-reviews .write-review .inline-tf div.input-box .input-text{width: 290px;}
/* ======================================================================================= */


/* Product Review ======================================================================== */
.review-product-list .col-main { padding-top:0; }

.product-review {}
.product-review .product-img-box { float:left; width:285px; }
.product-review .product-img-box .product-image { display:block; margin:0 0 15px; }
.product-review .details { float:right; width:300px; }

.product-review .details .product-name { font-size:15px; font-weight:600; color:#50A4CF; line-height:19px; margin:0 0 10px; text-transform:uppercase; }
.product-review .details p.date { font-size:12px; font-style:italic; }
.product-review .details p { margin:10px 0; }
.product-review .details .review-summary-table { margin:10px 0; }
.product-review .buttons-set { clear:both; padding:25px 0 0; }

.review-product-view .col-main { background:#fff url(../images/bkg_cols.gif) repeat-y -430px 0; padding:0; }
.review-product-view .col-main .page-title { margin-left:0; margin-right:0; }
.review-product-view .product-review .product-img-box { padding:0 0 20px 20px; }
.review-product-view .product-review .details { width:570px; padding:0 20px 20px 0; }
.review-product-view .product-review .buttons-set { border-top:1px solid #d1d1d1; background:#fff; margin:0; padding:15px 20px; }
/* ======================================================================================= */

body.catalog-category-view  .event-ticker {}
body.catalog-category-view  .event-ticker span.bottom-line{font-size:11px; display:block; clear:left; line-height:normal; height:auto;}
body.catalog-category-view  .event-ticker .container{float: left;}
body.catalog-category-view  .event-ticker .days,
body.catalog-category-view  .event-ticker .hour,
body.catalog-category-view  .event-ticker .minute,
body.catalog-category-view  .event-ticker .second{line-height:normal !important; float:left; height:auto;}
body.catalog-category-view  .event-ticker .delimiter{ float:left; height: auto !important;	padding: 0 5px !important; line-height:61px;}
body.catalog-category-view  .event-container.container-open .status{ float: left; margin: 0 10px 0 300px; padding: 0; }
body.cms-page-view .std table[border="0"] th, body.cms-page-view .std table[border="0"] td { border-width:1px; }

.category-simple .products-grid.last {clear: left;}