/* Form Elements */
input,select,textarea,button { font:12px Raleway, Arial, Helvetica, sans-serif; vertical-align:middle; color:#636363; }
input.input-text,select,textarea { background:#fff; border:1px solid #d8d8d8; }
input.input-text,textarea { padding:2px 2px; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;  background: -webkit-linear-gradient(top, #fff, #fff);  }
select { padding:1px; }
select option { font-size: 12px; padding-right:10px; }
select.multiselect option { padding:2px 2px; border-bottom:1px solid #bbb; }
select.multiselect option:last-child { border-top:0; }
textarea { overflow:auto; resize:vertical; }
textarea.default-value { color:#ddd; }
input.radio,
input.checkbox { margin-right:3px; font-size:11px !important; margin-top:2px; vertical-align:top; }
input.radio { font-size:10px !important; }
input.qty { width:2.5em !important; }
input.disabled { background:#f6f6f6 !important; color:#bbb !important; }


button.with-right-arrow span span,
a.button.with-right-arrow span { background: url("../images/madison-sprite-a.png") no-repeat scroll right 9px transparent;    padding: 0 20px 0 15px !important;}

/* Primary Btn*/
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { border:0; padding:0; margin:0; background:transparent; /* line-height:21px; */ overflow:visible; cursor:pointer; vertical-align:middle; color:#f5f5f5; }
button.button span, button.button span span, a.button, a.button span { background-color:#50A4CF;}
button.button:hover span,button.button:hover span span, a.button:hover,a.button:hover span { background-color:#1189c5;}

button.button span, a.button{  border: 0 none;    color: #FFFFFF;    cursor: pointer;    display: inline-block;    margin: 0;    padding: 0;    text-decoration: none; }
button.button span span, a.button span {    color: #FFFFFF;    display: inline-block;    height: 30px;    padding: 0 15px;    text-transform: uppercase;    white-space: nowrap;	font:normal 13px/30px Raleway, Arial, Helvetica, sans-serif;}

/* Secondary Btn*/
a.secondary,
button.secondary span,
a.secondary span,
button.secondary-button span span { background-color:#333 !important;}


a.secondary:hover,
button.secondary:hover span,
a.secondary:hover span,
button.secondary:hover span span { background-color:#1189c5 !important;}
/**/

button.small-gray-btn span, button.small-gray-btn span span {
	background: none repeat scroll 0 0 #d8d8d8;	color: #FFFFFF;	font-size: 10px;	height: auto;	line-height: 20px;	padding: 0 7px;	position: relative;	text-decoration: none;	text-transform: uppercase;	white-space: nowrap;
}

button.small-gray-btn:active span span {line-height: 20px !important;	}

/* Link Style Btn*/
button.button2::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button2 { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button2 { border:0; padding: 0 5px;  margin:0; background:transparent; /* line-height:21px; */ overflow:visible; cursor:pointer; vertical-align:middle; color:#f5f5f5; }
button.button2 span, button.button2 span span, a.button2, a.button2 span { line-height:30px; height:30px;  font-weight: 600; border: 0 none;    color: #FFFFFF;    cursor: pointer;    display: inline-block;    margin: 0;    padding: 0;    text-decoration: none;}
button.button2 span span, a.button2 span {    color: #50A4CF;    display: inline-block;       text-transform: uppercase;    white-space: nowrap;text-decoration: underline; }
button.button2:hover span,button.button2:hover span span, a.button2:hover,a.button2:hover span { color: #1189C5; }

/*Placeorder Btn*/

button.place-order-btn span span {
    background: url("../images/madison-sprite-a.png") no-repeat scroll 7px -669px transparent;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px 0 36px;
}


a.button { line-height:21px; }
a.button { line-height:20px; }
.button:active { bottom:0px; right:0px; position:relative; z-index:2; }
button.button:active span span { margin:0; line-height:32px; }
button.btn-small span { font-size:11px; line-height:14px; padding:1px 9px 0; }
button.disabled { cursor:default !important; bottom:0 !important; right:0 !important; }
button.disabled span { cursor:default !important; color:#bbb !important; }

/* Form Highlight */
/*input.input-text:focus,select:focus,textarea:focus {}*/
/*.highlight { background:#eee; }*/

/* Form Validation */
.validation-advice { clear:both; font-size:11px !important; padding:3px 0 0 !important; color:#d91a00 !important; }
.product-options .validation-error .options-list,
.validation-failed { /*border:1px solid #f47d4e !important; */background:#fff7f5 !important; }
input.input-text.validation-failed,
textarea.validation-failed { /*background:#fff7f5!important;*/ background: #f4fafd !important; }
span.validation-passed,
div.validation-passed { background:url(../images/icon_ok.gif) 100% 2px no-repeat; padding-right:20px; }
span.validation-error,
div.validation-error { background:url(../images/icon_error.gif) 100% 2px no-repeat; padding-right:20px; }
.required em { color:#da1818; margin:0 4px; float:left; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; }
p.required { margin:0; padding:5px 0 7px; width:620px; color: #E05A5A !important; font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;text-align: left; }
.form-list .validation-advice { width:250px; margin-right:-250px; }
/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }

/* Fieldset */
.fieldset { font-size:12px; margin:0 0 16px; }
.fieldset p { margin:0 0 1.5em; color:#333333; /*font-family:Georgia, "Times New Roman", Times, serif;*/font-size:14px }
.fieldset h2.legend { margin:0 0 1.5em; /*color:#000;*/  color:#50A4CF;font-family: raleway;font-size: 20px;font-weight: 600; }

/* Form lists */
.form-list {}

.form-list li { margin:0 0 9px; vertical-align:top; }
.form-list label { text-align: left; float:left;  padding: 5px 15px 6px 0; font-size:12px; font-weight:600; color:#484848; line-height:12px;}
.checkout-onepage-index .form-list label,.multiple-checkout .form-list label{color:#656565;}
.form-list .value { float:left; padding:2px 0 0; }
.form-list .note { clear:both; font-size:11px; width:380px; margin:0; padding:3px 0 0 0px; }
.form-list span.label { font-weight:normal; }
.form-list .input-box { float:left; clear:left; /* width:256px; */ line-height:24px; }
.form-list .input-box a { font-size:11px; margin-top:4px; }
.form-list input.input-text{line-height: 24px;  height: 24px; }
.form-list input.input-text, .form-list textarea { float:left; width: 415px; vertical-align:top; }
.form-list textarea { width:415px; height:13em; }
.form-list select { float:left; width:380px; vertical-align:top; }
.form-list p { margin:0; }
ul.add-row,
.form-list li.add-row { background:url(../images/bkg_dots.gif) repeat-x 0 0; margin-top:15px; }
ul.add-row .btn-remove,
.form-list li.add-row .btn-remove { font-size:0; line-height:0; padding:5px 5px 0 0; margin:0; text-align:right; }
.form-list .range input.input-text { float:none; width:64px; vertical-align:middle; }

.form-list .add-field .input-box { /*margin-left:240px*/ margin-left:0px;  }
.form-list .control { position:relative; vertical-align:top; z-index:1; } /* row with checkbox or radio button */
.form-list .control label {   color: #333333;font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;font-weight: normal;line-height: 12px;margin-left: 25px;padding-top: 2px; }
.form-list .control .input-box { position:absolute; left:0; /*margin-left:240px;*/ margin-left:0; line-height:16px;}
.form-list .control input.radio { margin-top:3px; }

.form-alt label { float:none; display:inline; width:auto; color: #656565;font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;font-style: italic;font-weight:normal}
.form-alt li { margin:0 0 5px; line-height:16px; }
.form-alt select { width:496px; }
.form-alt .input-box { width:496px; margin-top:5px; padding-bottom:11px; }
.form-alt .input-text { width:480px; }

.form-list-narrow label { width:110px; }
.form-list-narrow select { width:290px; }
.form-list-narrow input.input-text,
.form-list-narrow textarea { width:285px; }
.form-list-narrow .wide { width:auto; }
.form-list-narrow .add-field .input-box { margin-left:0; }
.form-list-narrow .control .input-box { margin-left:0; }

.inner-form { margin:10px 0 5px; padding:10px 0 0; border:1px dashed #d1d1d1; border-width:1px; background:#f7f7f7; }
.inner-form .form-alt label { padding-left:5px; }

/* Date Of Birth */
.form-list .customer-dob label { float:none; width:auto; padding:0; font-size:11px; font-weight:normal; color:#777; }
.form-list .customer-dob .input-box { float:left; width:auto; margin-right:8px; }
.form-list .customer-dob .input-box .validation-advice { display:none !important; }
.form-list .customer-dob input.input-text { float:none; display:block; margin-bottom:2px; }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-year { float:left; margin-right:8px; padding-right:0 !important; background:none !important; }
.form-list .customer-dob .dob-day .validation-advice,
.form-list .customer-dob .dob-month .validation-advice,
.form-list .customer-dob .dob-year .validation-advice { display:none; }
.form-list .customer-dob .dob-day input.input-text { width:104px; }
.form-list .customer-dob .dob-month input.input-text { width:104px; }
.form-list .customer-dob .dob-year { margin-right:0; }
.form-list .customer-dob .dob-year input.input-text { width:138px; }

/* Combination of fields */
.form-list li.fields { margin:0; }
.form-list li.fields .field { clear:left; padding:0 0 9px; }

/* Overrides for 3columns */
.col3-layout .form-list .note { padding-left:165px; width:280px; }
.col3-layout .form-buttons p.back-link{ width:150px; }
.col3-layout .form-list input.input-text,
.col3-layout .form-list textarea { width:274px; }
.col3-layout .form-list select { width:280px; }
.col3-layout .form-list .control .input-box { margin-left:165px; }
.col3-layout .form-list .customer-dob .dob-day input.input-text { width:74px; }
.col3-layout .form-list .customer-dob .dob-month input.input-text { width:74px; }
.col3-layout .form-list .customer-dob .dob-year { margin-right:0; }
.col3-layout .form-list .customer-dob .dob-year input.input-text { width:98px; }
.col3-layout p.required,
.col3-layout .form-buttons { width:445px; }