.branding { float:left; }
a.logo { float:left;  padding: 12px 0; }
.free-shipping { float:left; margin:15px 0 0 10px; display:inline; }

.header-container { margin: 0 0 0px; position:relative; z-index:99999; }
.header {     float: left;    margin: 0;    padding: 15px 0 0;    position: relative;    width: 100%; z-index:999}
.header h1.logo {    text-decoration: none !important; }
.header h1.logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header .quick-access {  }
.header .quick-access .links { }
.header .quick-access .links li {}
.header .quick-access .links li a { }
.header .quick-access .links li a:hover { }
.header .quick-access .checkout-link li {  }
.header .quick-access .cart-link li { }


#invitation-send-link { background:url(../images/bkg_sep.gif) no-repeat 100% 50%; padding:0 6px 0 0; margin:0 4px 0 0; font-weight:bold; }
#invitation-send-link a { background:url(../images/bkg_invitation-link.gif) no-repeat 3px 6px; padding-left:23px; display:inline-block; }

#invitation-send-link a, x:-moz-any-link { background-position:3px -2px; }/* FireFox 2 fix */
#invitation-send-link a, x:-moz-any-link, x:default { background-position:3px 6px; }/* FireFox 3 restore */

.header-panel { z-index:9999; position:relative; color: #FFFFFF; text-transform: uppercase;/* border-bottom:1px solid #c8c8c8; */ /*  */height:35px; line-height:35px; padding:0 0 0 0px; font-weight: 600; }
.header-panel .welcome-msg { display: inline; float: left; font-weight: bold;  }
.header-panel .links { float:right; white-space:nowrap; }
.header-panel .links li a { color:#FFFFFF; }
.header-panel .links li a:hover { color:#FFFFFF; text-decoration:none; }

.switches { float: left;    padding: 0; }

.switch { padding-left: 20px;}
.switch label { font-weight:normal; margin-right:0; float:left; }
.switch .switch-wrapper {float: left;    margin: 12px 0 0 6px;    padding: 0;    position: relative;    z-index: 1; }
.switch .switch-wrapper strong{ background:url(../images/flags.png) no-repeat 0 0;    float: left;    height: 11px;    text-indent: -9999px;    width: 16px;}
.switch .switch-wrapper strong.flag-english{background-position:-128px -154px;}
.switch .switch-wrapper strong.flag-german{background-position:-80px -33px;}
.switch .switch-wrapper strong.flag-french{background-position:-144px -44px;}



.switch .separator { margin:0 2px; font-size:10px; color:#8f8f8f; }
.switch .switcher { color:#1e75b4; cursor:pointer; }
.switch ul { position:absolute; min-width:100%; text-align:left; top:-5px; left:-7px; float:left; line-height:16px; padding:0 0 0 0; border-top:0; }
.switch ul li { vertical-align:top; display:block; white-space:nowrap; border:1px solid #ececec; border-top:0; }
.switch ul li a { white-space:nowrap; display:block; background:#FBFBFB; padding:4px 6px; color:#1e75b4; text-decoration:none; font-weight:500; }
.switch ul li a:hover { color:#d33911; background:#fff; }
.switch ul .current { line-height:28px; border:0; cursor:default; padding:0 7px; visibility:hidden; /* background:url(../images/bkg_header-panel.gif) repeat-x 0 0; */ }
.switch ul .current span {/* padding-right:20px; background:url(../images/bkg_close.gif) no-repeat 100% 1px;*/ }
.switch .faded { color:#8f8f8f; }
.switch .faded li { border-color:#e6e6e6; background-color:#f6f6f6; }
.switch .faded a { color:#9ac1dd; }

.switch ul, x:-moz-any-link { width:100%; }/* FireFox 2 fix */
.switch ul, x:-moz-any-link, x:default { width:auto; }/* FireFox 3 restore */

.list-opened { /*background-position:100% -129px !important; color:#d33911 !important;*/ }

.header .form-search { float:right; clear:right; padding:5px 0 0; white-space:nowrap; }
.header .form-search label { display:none; }
.header .form-search input.input-text {    height: 30px;    line-height: 30px;    padding: 0 35px 0 5px;    width: 160px; }
.header .form-search a { display:none; }
.header .form-search button.button { margin: 0 0 0 -33px;}
.header .form-search button.button span {background: none repeat scroll 0 0 transparent; }
.header .form-search button.button span span { background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -16px transparent;    padding: 0;    width: 30px;}
.header .form-search .search-autocomplete { z-index:999; position:relative!important; top:0 !important; left:0 !important; height:0 !important; overflow:visible !important; }
.header .form-search .search-autocomplete ul { border:1px solid #c7c7c7; border-top:0; padding-left:0; width:200px; background-color:#fcf8f4; position:absolute; top:0px; left:0; }
.header .form-search .search-autocomplete li { color:#50A4CF; padding:4px 6px; border-bottom:1px solid #fff; font-size:12px; cursor:pointer; text-align:left; }
.header .form-search .search-autocomplete li:hover {color:#1189C5;}

.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.selected {}
.header .form-search .search-autocomplete li.last { border-bottom:0; }

.guest-select {width:305px !important;}
/**/

/**/
div.header-promo{color: #50A4CF;	font-size: 13px;	letter-spacing: 8px;	float: left; width: 940px; padding: 12px 0;	text-align: center;	text-transform: uppercase; background: url("../images/bg_promoBanner.gif") repeat-x scroll 0 center  transparent;}
div.header-promo span{   background: none repeat scroll 0 0 #fff;    padding: 10px 30px;}
div.header-promo a{   background: none repeat scroll 0 0 #fff;    padding: 10px 30px;}
span.pictos{ font-family:pictos}