/* Invitation page ======================================================================= */
#invitationForm p.required { padding-bottom:20px; }


/* Compare popup ========================================================================= */
.catalog-product-compare-index tr.last a,
.catalog-product-compare-index tr.first a { color:#999; }
.catalog-product-compare-index tr.last p,
.catalog-product-compare-index tr.first p { margin:10px 0; }
.catalog-product-compare-index tr.first .product-name a { color:#333; }