.wrapper { background:#fff; padding-bottom:20px; background:url('../images/bg_body.gif') repeat-x left top; }
.page { width:940px; margin:0 auto; text-align:center; }
.page-print { background:#fff; padding:20px; text-align:left; }
.page-popup { padding:20px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.main { margin:0; /*min-height:350px; */ background-color:#fff; text-align:left;   padding: 20px 0 0; }
.cms-index-index .main { margin: 0; padding:0}
.sidebar { /*min-height:350px;*/ }

/* Base Columns */
.col-left { float:left; width:140px; padding:0 0 0; margin:0 0 -1px; margin: 0 20px 0 0;}
.col-main { float:left; width:620px; padding:0; }
.col-right { float:right; width:140px; padding:0 0 0; margin:0 0 -1px; }
.sidebar.col-right { border-top: 1px solid #CFCFCF; padding: 15px 0 0;}

/* 1 Column Layout */
.col1-layout { background-position:-1000px 0; }
.col1-layout .col-main { float:none; width:auto; padding:0; }
.col1-layout .breadcrumbs { margin-bottom:0 !important; }

/* 2 Columns Layout */
.col2-left-layout { background-position:-573px 0; }
.col2-left-layout .col-main { float:right;width: 780px; }
.col2-right-layout { background-position:573px 0; }
.col2-right-layout .col-main {width: 750px;}



/* 3 Columns Layout */
.col3-layout { background-position:0 0; }
.col3-layout .col-main {  display:inline; }
.col3-layout .col-wrapper { float:left; /*width:780px;*/ }
.col3-layout .col-wrapper .col-main { width: 620px; float:right; }

/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .narrow { width:33%; }
.col2-set .wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }

/* Clears ================================================================================ */
.account-login .form-list:after,
.wishlist-management .table-caption:after,
.product-options dt:after,
#bundleProduct:after,
.events-slider:after,
.product-image-popup .nav:after,
.gift-item:after,
.block-content:after,
.block-list li.item:after,
.block-poll li:after,
.currently li:after,
.order-info:after,
.top-cart .actions:after,
.header .quick-access:after,
.product-view .box-related li.item:after,
.bundle-summary .product:after,
.collateral-tabs:after,
.block-cart .block-content .item:after,
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header-panel:after,
#nav:after,
.main:after,
.footer-before-container:after,
.footer-container:after,
.footer:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block li.item:after,
.block .actions:after,
.mini-products-list li:after,
.cms-index-index .block-featured li.item:after,
.title-buttons:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.products-grid:after,
.products-list li.item:after,
.product-view:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add-tags:after,
.product-options .options-list li:after,
.options-container-small .product-options:after,
.product-options-bottom:after,
.product-review:after,
.box-collateral:after,
.box-collateral .box-content:after,
.collateral-tabs .tab-content:after,
.account-login:after,
.cart .cart-collaterals:after,
.cart:after,
.opc .step-title:after,
.checkout-progress:after,
.form-list li:after,
.form-list li.fields .field:after,
.clearfix:after,
.buttons-set:after,
.buttons-set2:after,
.page-print .print-head:after,
.new-product-spotlight .more-new .item:after,
.addresses-list .col-2 li:after,
.product-view .product-shop:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
