/* Account Login/Create Pages ============================================================ */
.my-account {}
.my-account .page-title{ text-align:center; }
.my-account .fieldset h2.legend { border-bottom:1px solid #d8d8d8; font:700 14px/1.25em 'Raleway', Arial, Helvetica, sans-serif; padding:3px 0 4px; margin:0 0 10px; color:#656565; text-transform:uppercase; }
.my-account .buttons-set a.button,
.my-account .buttons-set button.button { float:right; margin-left:15px; }
.my-account p.back-link { border-right:none; }

.my-account .pager { width:100% }
.my-account .pager .limiter { margin-left:20px; line-height:20px; }
.my-account .pager .limiter .jqTransformSelectWrapper { margin:0 5px;}

.account-login { position:relative; font-size:12px; background:url(../images/bkg_cols.gif) repeat-y 266px 0; min-height:350px; margin-bottom:-20px; }
.customer-account-login .page-title {padding-bottom: 5px;}
.login-only { background:none; }
.login-only .registered-users { float:none; margin:0 auto; }

.account-login .new-users{ border-right: 1px solid #DAD9D9;	height: 275px;	margin: 0 75px 0 0;	padding: 26px 32px 0;	width: 400px;}
.account-login .registered-users { float: left;	margin-bottom: 105px;	padding: 20px 32px 0 0;	width: 362px;}
.account-login .registered-users p { margin-bottom:1.5em; }
.account-login .spacer { position:absolute; top:100%; left:447px; margin-top:-1px; width:16px; height:3px; font-size:0; line-height:0; background:#fff; overflow:hidden; }
.account-login .fieldset { margin:0; }
.account-login .fieldset h2 { margin-bottom:12px; }
.account-login .form-list label,
.account-login .form-list span.label { /*width:98px;*/ width:auto }
.account-login p.required,
.account-login .btn-only { padding-left:113px; width:230px; text-align:right; }
.account-login .btn-only a { float:left; white-space:nowrap; }
.account-login .form-list input.input-text { width: 198px; }
.account-login .form-list p { padding:0 0 0 110px; }
.account-login .form-list li.note { float:left; margin:0 0 9px; width:auto; clear:left; padding:0 148px 0 0 ;text-transform: uppercase; }
.account-login .form-list li.note a { font-size:10px; }
.account-login .form-list li.control {clear:left; }
li#remember-me-box.control { white-space:nowrap; }
li#remember-me-box.control label { margin-right:20px; white-space:normal; margin-left:20px; padding-top:2px }
.account-login .form-list li.control .input-box { margin-left:0; }
li#remember-me-box.control .link-tip { display:inline-block; font-size:11px; line-height:16px; padding-top:2px; white-space:normal; }
.account-login .form-list li.buttons-set { clear:none; padding-right:38px; padding-top:2px; float: left;margin: 0; }

.account-create {}

.new-users ul{list-style: disc outside none; padding-left: 12px;}
.new-users ul li{color:#333333;font-family:Georgia, "Times New Roman", Times, serif;font-size:14px}
.new-users .buttons-set{float:left;margin-top: 24px;}
.newuserAccount{margin-bottom:0 !important}
.account-login .form-list{float:left}
.account-login .form-list .control label {margin-bottom:9px; color:#333333;font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;font-weight:normal}
.account-login .new-users .fieldset h2 {margin-bottom: 15px;}
.registerduser-P{margin-bottom:0px !important;}
.account-login .form-list li {margin-bottom:15px;}	
.account-login .buttons-set button.button {margin-left: 0px;}
.account-login p.required{  float: left;margin-bottom: 3px;padding-left: 0;text-align: left;font-size:11px;}
.customer-account-create p.required{font-size:11px; margin-bottom: 12px;}
/*.customer-account-create .form-list .control label {line-height: 16px;margin-left: 25px;padding-top: 2px; font-family:Georgia, "Times New Roman", Times, serif;font-size:12px;font-weight:normal;color:#333333} 
.customer-account-create .form-list .control .input-box {margin-left:0px;}*/

.customer-account-create .fieldset,.customer-account-forgotpassword .fieldset,.contacts-index-index .fieldset{ margin: 0 0 0 80px;}
.customer-account-create  p,.customer-account-forgotpassword p,.contacts-index-index p{margin-bottom:0}
.customer-account-forgotpassword .form-buttons, .customer-account-create .form-buttons,.contacts-index-index .form-buttons{margin: 29px 0 40px 80px;width: 422px;}

/* Popup Dialog Block */
.window-overlay { background:#000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.window-overlay { position:absolute; top:0; left:0; min-height:100%; background:#000; opacity:0.5; width:100%; z-index:999998; display:none; }
.window-overlay.active { display:block; }
.popup-block { border:1px solid #cfcfcf; left:50%; top:40%; position:absolute; margin:-85px 0 0 -250px; width:500px; text-align:left; -moz-box-shadow:0 0 6px #000; -webkit-box-shadow:0 0 6px #000; box-shadow:0 0 6px #000; z-index:999999; position:fixed; display:none; }
.popup-block.active { display:block; }
.popup-block .block-title {border-bottom:1px solid #CFCFCF; padding:17px 17px 10px;  background: none repeat scroll 0 0 #999999;}
.popup-block div.btn-close { background: url("../images/madison-sprite-a.png") no-repeat scroll -7px -639px;; display:block; position:absolute; top:7px; right:7px; height:15px; width:15px; text-indent:-9999em; cursor:pointer; }
.popup-block .block-title strong {  color: #FFFFFF; font-size:16px; font-weight:normal; }
.popup-block .block-content { padding:17px 17px 25px; background:url(../images/bkg_block.gif) repeat-x 0 100% #fff; font-size:12px;  }
.popup-block .block-content .form-list label { margin: 0; width:180px; font:400 12px/12px 'Raleway', Arial, Helvetica, sans-serif; }
.popup-block .block-content .form-list .input-text { width:230px; }
.popup-block .block-content .form-list li .input-box { clear: none;}
.popup-block .block-content .form-list .control .input-box { margin-left:195px; }
.popup-block .block-content .form-buttons { width:auto; padding-left:188px; padding-top:10px; }
.popup-block .block-content .form-buttons .button { float:left;margin: 0 0 0 8px; }
.popup-block.loading .block-content * { text-align:left; text-indent:-99999em; overflow:hidden; position:relative; margin-left:-9999em; }
.popup-block.loading .block-content:before { content:''; display:block; background:url(../images/opc-ajax-loader.gif) no-repeat 0 50%; position:absolute; z-index:99; top:50%; left:50%; line-height:16px; padding:16px; text-indent:0!important; }

/* My Account ============================================================================= */

.customer-my-account { }
.customer-my-account .col2-left-layout .col-main { width:718px; }
.customer-my-account .col-left { width:200px; }

.customer-my-account .data-table th {  font:600 12px 'Raleway', Arial, Helvetica, sans-serif; color:#656565; padding:10px 12px;  }
.customer-my-account .data-table tr.last td {  padding:5px 12px 10px; }
/* Captcha */
.captcha-note  { clear:left; padding-top:5px;}
.captcha-image { float:left; margin:0 0 0 240px; position:relative; width:228px; }
.captcha-image .captcha-img { border:1px solid #c7c7c7; vertical-align:bottom; width:100%; }
.registered-users .captcha-image    { margin:-12px 0 0 113px; }
#checkout-step-login .captcha-image { margin:-24px 0 0 105px; width:214px; }
.captcha-reload { cursor:pointer; position:absolute; top:2px; right:2px;}
.captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }
#checkout-step-login #advice-required-entry-captcha_user_login { min-height: 30px; }
.registered-users #advice-required-entry-captcha_user_login { margin-bottom: 5px; }

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}

/********** < Dashboard */
.dashboard {}
.dashboard .recent-orders { padding:0 0 45px; }

.dashboard .col2-set { border-bottom:1px solid #d8d8d8; padding:10px 0; margin-bottom:45px; }
.dashboard .info-box { background:none; border:none; }
.dashboard .info-box .box-title { margin-left:0; }
.dashboard .info-box .box-content { padding:10px 17px 0 0; font:italic 12px/20px Georgia, "Times New Roman", Times, serif; }

/* Block: Tags */
.dashboard .tags { padding:0 0 20px; }
.dashboard .tags p { display:inline; }
.dashboard .tags .product-name { margin:0 0 3px; font-size:11px; line-height:17px; }
.dashboard .tags li { margin:0 0 8px; }
.dashboard .tags .number { float:left; border:1px solid #ddd; text-align:center; line-height:17px; width:15px; margin-right:-20px; }
.dashboard .tags .details { margin-left:25px; }

/* Block: Reviews */
.dashboard .reviews { padding:0 0 20px; }
.dashboard .reviews .product-name { margin:0 0 3px; font-size:11px; line-height:17px; }
.dashboard .reviews p { float:left; margin-right:5px; }
.dashboard .reviews li { margin:0 0 5px; }
.dashboard .reviews .number { float:left; border:1px solid #ddd; text-align:center; line-height:17px; width:15px; margin-right:-20px; }
.dashboard .reviews .details { margin-left:25px; }

/********** Dashboard > */

/* Adress Book */
.addresses-list .box-content { font-size:12px; }
.addresses-list .col-2 li { padding:0 0 10px; }
.addresses-list .col-2 li .actions { border:1px solid #e4e4e4; padding:3px 9px 4px; float:left; }
.addresses-list .col-2 li .actions a { text-transform:uppercase; font:700 10px/16px 'Raleway', Arial, Helvetica, sans-serif; }
.addresses-list .col-2 li address { padding:10px; clear:both; }

/* Order View */
.order-page {}
.order-page .order-date span{ padding:0 0 0 5px; font-size:12px; font-weight:600; }
.order-page .order-date .order-info-buttons { float:right; color:#3399cc;}
.order-page .order-date .order-info-buttons a { float:none; font-size:11px; font-weight:600; color:#3399cc; }
.order-page .order-date .order-info-buttons .separator { display:inline; padding:0 5px; }
.order-page .col2-set { padding-bottom:20px; }

.order-details .link-print { background:none; padding:0; }
.order-details .order-additional,
.order-details .data-table { margin-bottom:20px; }
.order-details .order-additional dt { font-weight:bold; background:url(../images/bkg_dots.gif) repeat-x 0 100%; padding:0 0 5px; margin:0 0 5px; }
.order-details .order-additional dd { padding:10px; margin:0 0 10px; }

.order-details dl.gift-message { margin:0 20px; }
.order-details .gift-message dt { margin:1px 0; padding:2px 10px; background:#e6e6e6; }
.order-details .gift-message dd { border:1px solid #c7c7c7; background:#fff; padding:10px; margin:0 0 10px; white-space:pre-wrap; word-wrap:break-word }

.order-links { margin:0 0 10px; text-align:right; padding-bottom:5px; background:url(../images/bkg_dots.gif) repeat-x 0 100%; text-align:right; }
.order-info { margin-bottom:5px; }
.order-info dt { padding:0; color:#6c6c6c; float:right; }
.order-info dd { float:left; }
.order-info ul { float:left; }
.order-info #order-info-tabs li { float:left; position:relative; z-index:2; margin-right:3px; padding:0 0 0 17px; font-size:12px; text-transform:uppercase; }
.order-info #order-info-tabs li strong,
.order-info #order-info-tabs li a { text-decoration:none; background:url(../images/bkg_collateral-tabs.gif) no-repeat 100% -39px; padding:0 17px 0 0; line-height:24px; float:left; color:#656565; font-weight:700; }
.order-info #order-info-tabs li.current { margin-bottom:-1px; font-weight:bold; z-index:3; border-bottom:0; background:#fff url(../images/bkg_collateral-tabs.gif) 0 0 no-repeat; }
.order-info #order-info-tabs li.current strong { background-position:100% 0; padding-bottom:1px; font-weight:700; color:#3399cc;  }
.order-info .order-info-actions li { float:left; display:inline; }
.order-info .order-info-actions li a {  background:url(../images/order_info_action_seperator.gif) no-repeat 100% center; padding:0 10px 0 10px; text-transform:uppercase; }
.order-info .order-info-actions li.last a { background:none; }

.order-info .order-info-buttons { text-transform:uppercase; font-weight:600; color:#3399cc; }
.order-info .order-info-buttons .separator { padding:0 10px; }
.order-info .order-info-buttons a { }
.order-info dt { font-weight:bold; }

.order-info a.action-links { color:#3399cc; font-size:11px; font-weight:600; cursor:pointer; }

.order-info-box .info-box{ background:none; border:none; }
.order-info-box .info-box .box-title { border-bottom:1px solid #d8d8d8; }
.order-info-box .info-box .box-title h2 { color:#656565; font-size:14px; font-weight:700; }

.order-info-box .info-table th { font-weight:600; text-transform:uppercase; width:135px; }

/* Manage Newsletter Subscription */
.newsletter-manage-index .form-buttons .button { float:left; margin:0; }

/* Split Button */
.split-button { display:inline-block; z-index:1; position:relative; max-width:300px; white-space:nowrap;}
.split-button.clickable:active { left:1px; top:1px; }
.split-button { background:url(../images/bkg_btn.gif) no-repeat 0 0; height:21px; padding:0 0 0 10px; margin:0; }
.split-button.active { z-index:100; }
.split-button strong { cursor:default; font-weight:bold; text-transform:uppercase; font-size:11px; background:url(../images/bkg_btn.gif) no-repeat 100% 0; height:19px; padding:3px 30px 0 5px; margin:0; display:block; overflow-x:hidden; white-space:nowrap; text-overflow:ellipsis; }
.split-button.clickable > strong,
.split-button strong[onclick] { text-transform:uppercase; font-size:11px; color:#C73615; text-transform:uppercase; cursor:pointer; }
.split-button .change { display:inline-block; border:1px solid; border-color:transparent transparent transparent #999; background:url(../images/bkg_btn-split-change.png) 5px 50% no-repeat; text-indent:-999em; overflow:hidden; width:15px; cursor:pointer; height:11px; margin-left:8px; vertical-align:middle; }
.split-button .change { position:absolute; right:5px; top:0px; height:19px; border-left-color:#ccc; }

.split-button.light { background:none; height:auto; padding:0; }
.split-button.light.clickable:active { top:auto; left:auto; }
.split-button.light strong { display:inline-block; font-size:11px; text-transform:none; background:none; font-weight:normal; padding:0; height:auto; overflow:visible; white-space:normal; text-overflow:visible; }
.split-button.light strong { font-size:0; line-height:0; text-indent:-999em; background: url("../images/madison-sprite-a.png") no-repeat scroll  -4px -613px; height: 19px; width: 22px; vertical-align:top; }
.split-button.light:hover strong { background-position:-4px -573px}

.split-button.light.clickable > strong,
.split-button.light strong[onclick] { text-transform:none; text-decoration:underline; color:#999; }
.split-button.light.clickable > strong:hover,
.split-button.light strong[onclick]:hover { text-decoration:none; }
.split-button.light .change { position:static; right:auto; top:auto; height:11px; border-left-color:#999; }

.split-button.active .change,
.split-button .change:hover { background-position:-995px 50%; }
.split-button .list-container { position:absolute; display:none; right:0; top:100%; padding:0; min-width:100%; max-width:300px; float:left; }
.split-button.active .list-container { display:block; }
.split-button .list-container ul { background:#fff; border:1px solid rgba(0,0,0,0.1); position:relative; width:150px; }
.split-button .list-container ul > li { white-space:nowrap; background:url(../images/bkg_btn-split-item.png) no-repeat -10000px -10000px; border:1px solid #c1c1c1; border-top-width:0; margin:0; display:block!important; margin:0!important; }
.split-button .list-container ul > li:first-child { border-top-width:1px; }
.split-button .list-container li a,
.split-button .list-container li span { display:block; line-height:1.2!important; cursor:pointer; padding:5px 18px 5px 18px; color:#999; font-size:11px; text-transform:none; text-decoration:none; text-align:left; text-overflow:ellipsis; overflow:hidden; }
.split-button .list-container li:hover a,
.split-button .list-container li:hover span,
.split-button .list-container li:hover { color:#fff; text-decoration:none; }
.split-button .list-container li:hover { background-color:#999; background-position:5px -984px; }
.split-button .list-container li.new { color:#d33911; background-color:#eee; background-position:5px 7px; }
.split-button .list-container li.new:hover { background-color:#999; background-position:5px -485px; }

/* Wishlist */
.my-wishlist textarea { width:99%; height:3.9em; resize:vertical; line-height:1.3em; overflow:auto; }
#wishlist-table .price-box { margin-bottom:10px;  }
#wishlist-table th { text-align:center; }
#wishlist-table td .product-name { font-size:16px; }
#wishlist-table td .product-name a { color:#50a4cf; }
#wishlist-table td .description { margin:10px 0; max-height:3.9em; line-height:1.3em; overflow:hidden; word-wrap:break-word; max-width:345px; }
#wishlist-table td .description .inner { overflow:hidden; }
#wishlist-table td { padding:15px 10px; }
#wishlist-table th:first-child,
#wishlist-table td:first-child { padding-left:10px; padding-right:0; }
#wishlist-table td p { margin:5px 0 15px; }
#wishlist-table td.last { padding:15px 2px; width:1px; }
#wishlist-table td .add-to-cart-alt { padding:0; text-align:right; }
#wishlist-table td .price-box { font-size:12px; }
#wishlist-table td .price-box p { margin:0 0 5px; }
#wishlist-table td .truncated { float:left; width:auto; margin-right:10px; line-height:18px; }
#wishlist-table td .truncated .show .item-options { top:-40px; right:100%; left:auto; margin-right:15px; line-height:1.2; }
#wishlist-table td .truncated .truncated_full_value .item-options dl { background-position:100% 0; }
#wishlist-table td .cart-cell input.qty { text-align:center; }
#wishlist-table td .cart-cell .link-edit-container { text-align:right; }
#wishlist-table td .cart-cell .link-edit-container .link-edit { background:#D8D8D8; color: #FFFFFF; padding:0; text-align: center; text-transform: uppercase; width: 115px; padding:6px 0; }
#wishlist-table td .cart-cell .link-edit-container .link-edit:hover { text-decoration:none; }
#wishlist-table .item-manage { margin:0 0 0 0; float:left; }
#wishlist-table .item-manage .split-button { margin:10px 6px 0 0; }
#wishlist-table .item-manage .split-button .change { margin-left:2px; }
#wishlist-table .item-manage .split-button:last-child { margin-right:0; }
#wishlist-table .btn-remove { text-transform:uppercase; color:#3399cc; font-weight:600; }
.wishlist-empty { font-size:12px; padding:15px 10px; text-align:center; }
p.wishlist-empty {border:1px solid #d0d0d0;}


/* Multiple Wishlist */
#wishlist-table  .split-button.light strong { background:none; font-size: 11px; height: auto; line-height: 16px; text-indent: inherit; width: auto; }
.my-wishlist .buttons-set button.button.left,
.my-wishlist .buttons-set button.btn-update { margin:0; }
.link-edit { padding-left:18px; line-height:18px; background:url(../images/bkg_link-edit.png) no-repeat 0 0; display:inline-block; }
.wishlist-management .link-edit { width:16px; padding:0; margin:0 5px; height:16px; text-indent:-999em; overflow:hidden; vertical-align:middle; }
.wishlist-management .btn-create { float:right; margin-bottom:10px; }
.wishlist-management .sub-title { float:left;  max-width:100%; border:none; }
.wishlist-management .sub-title h2 { word-wrap:break-word; }
.wishlist-management .note-msg { clear:both; margin:0 0 10px; padding:10px; border-style:solid !important; border-width:1px !important; font-size:12px !important; border-color:#fcd344; background-color:#fafaec; color:#3d6611; }
.wishlist-management .msg-private { background:url(../images/bkg_lock.png) no-repeat 10px 10px #fafaec; padding-left:30px; }
.wishlist-management .table-caption .label { font-size:12px; float:left; line-height:23px; }
#wishlists-move { float:right; margin-left:10px; }
#wishlists-copy { float:right; }

/*#wishlists-select { background:none; padding-left:0; white-space:nowrap; float:left; max-width:220px; }
#wishlists-select strong { background:none; padding-right:0; padding-left:7px; font-weight:normal; font-size:12px; text-transform:none; }
#wishlists-select strong span { font-weight:bold; }
#wishlists-select .change { text-indent:0; width:auto; background:none; margin-left:4px; border:0; right:auto; left:100%; text-decoration:none; line-height:19px; margin-top:1px; }
#wishlists-select .change span { color:#1e75b4; text-transform:none; background:url(../images/bkg_header-panel.gif) no-repeat scroll 100% -74px transparent; padding-right:10px; }
#wishlists-select.active .change span { color:#d33911; background-position:100% -130px; }*/
#wishlists-select .list-container { right:auto; left:0; margin-top:4px; }
#wishlists-select .list-container ul { background:#e7e7e7; border:0; }
#wishlists-select .list-container li:first-child { border-top:0; }
#wishlists-select .list-container li { border-color:#d9d9d9; }
#wishlists-select .list-container a,
#wishlists-select .list-container span { color:#1e75b4; padding:5px 6px; /* background-position:-999em -999em; */ }
#wishlists-select .list-container li:hover a,
#wishlists-select .list-container li:hover span,
#wishlists-select .list-container li:hover { color:#d33911; }
#wishlists-select .list-container li:hover { background-position:-999em -999em;  background-color:#f8f8f8;  }
#wishlists-select .list-container li.new { color:#d33911; background-color:#d9d9d9; background-position:5px 7px; padding-left:12px; }
#wishlists-select .list-container li.new:hover { background-color:#999; background-position:5px -485px; color:#fff; }
#wishlists-select .list-container li.new:hover a,
#wishlists-select .list-container li.new:hover span { color:#fff; }


/* Wishlist search view */
#wishlist-search-results {}
.col3-layout #wishlist-search-results .item-name { max-width:340px; word-wrap:break-word; display:block; }
.col2-right-layout #wishlist-search-results .item-name,
.col2-left-layout #wishlist-search-results .item-name { max-width:500px; }
.col1-layout #wishlist-search-results .item-name { max-width:600px; }


.wishlist-search-view {}
.list-info { border:1px solid #dadada; padding:10px 0; margin:0 0 15px; background:url(../images/bkg_block.gif) repeat-x 100% 100% #fff; max-width:100%; word-wrap:break-word; }
.list-info .item { padding:5px 0; font-size:12px; border-top:1px dotted #d9d9d9; margin:0 15px; }
.list-info .item:first-child { border-top:0; }
.list-info .item .label { font-weight:normal; font-style:italic; font-size:0.9em; margin-right:5px; }
.list-info .item .label:after { content:':'; }
.list-info .item .value { font-weight:bold; }
.wishlist-search-view #wishlist-table td.last { padding:15px 10px; }
.wishlist-search-view #wishlist-table .description { max-height:6.5em; max-width:280px; }
.wishlist-search-view .list-info { display:inline-block; }
.wishlist-search-view .sub-title { clear:both; }
.wishlist-search-view p.qty { text-align:center; }


/* Store credit */
.storecredit .account-balance { margin:0 0 20px; padding:0 0 10px; font-size:12px; background:url(../images/bkg_dots.gif) repeat-x 0 100%; }
.storecredit .account-balance .price { font-weight:bold; }
.giftcard-redeem { padding-bottom:20px; }
.giftcard-redeem .input-box { margin-right:5px; }

/* Gift card */
.giftcardaccount { position:relative; z-index:1; padding-top:1px; }
.giftcard-status .messages,
.giftcardaccount .messages { margin-bottom:10px; }
.giftcardaccount p { margin:15px 0; font-size:12px; }
.giftcardaccount .fieldset { margin:0; }
.giftcardaccount .btn-only { margin:0 0 15px; width:420px; }

/* Gift Card Status Check */
.giftcard-status .gift-card-info,
.giftcard-status p.error-msg,
.giftcardaccount #giftcard_balance_lookup .gift-card-info,
.giftcardaccount #giftcard_balance_lookup p.error-msg { margin:10px 0 20px; }
.cart #giftcard_balance_lookup { float: right; width: 310px; }
.gift-card-info {background: none repeat scroll 0 0 #E6E6E6;    font-family:Georgia, "Times New Roman", Times, serif;    margin: 10px 0;    padding: 20px; }
.gift-card-info span.price{ color:#636363;font-size: 14px;    font-weight: bold;}
.gift-card-info p { font-size:14px; margin:0 0 5px; }
.gift-card-info .giftcard-number { font-weight:bold; }
.gift-card-info .form-list label {}
.gift-card-info .btn-only { padding-left:0; }

#gc-please-wait { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; -moz-opacity:0.8; opacity:0.8; }

/* Print Pages */
.page-print .print-head {}
.page-print .print-head img { float:left; }
.page-print .print-head address { float:left; margin-left:15px; }
.page-print h2.h2 { margin:15px 0 10px; }
.page-print .col2-set { margin:10px 0 20px; }

/* Price Rewrites */
.page-print .gift-message-link { display:none; }
.page-print .price-excl-tax,
.page-print .price-incl-tax { display:block; white-space:nowrap; }
.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price { display:inline; }

/* Tagged products */
.my-tag-edit { float:left; }
.my-tag-edit .btn-remove { float:right; margin:-3px 0 0 5px; position:relative; }
#my-tags-table .price-box { margin:5px 0; }
#my-tags-table .last { text-align:center; }
#my-tags-table .last p { margin:10px 0; }

/* Reward Points */
.my-rewards .box { margin:0 0 25px; background:none; border:none; padding:0; }
.my-rewards .info-box { margin:25px 0 85px; }
.my-rewards .info-box .box-title { margin:10px 10px; }
.my-rewards .info-box .box-content { padding:10px; color:#656565; font:italic 12px/18px Georgia, "Times New Roman", Times, serif; }
.my-rewards .info-box .shop-now { text-align:right; padding:20px 0; border-bottom:1px solid #D8D8D8; }
.my-rewards .rewards-info li { display:inline-block; width: 25%; text-align:center; color:#656565; }
.my-rewards .rewards-info li.exchange-rate { width:49%; }
.my-rewards .rewards-info .title { font:italic 14px Georgia, "Times New Roman", Times, serif; margin-bottom:10px; }
.my-rewards .rewards-info .content { font:600 36px/40px 'Raleway', Arial, Helvetica, sans-serif;}
.my-rewards .rewards-info .content span { font-size:14px; }
.my-rewards p.error { display:inline; color:#d91a00; }
.my-rewards dl { font-size:12px; }
.my-rewards dl dt { font-weight:bold; font-size:13px; margin-top:10px; }
.my-rewards dl dt span { color:#d12c01; }
.my-rewards dl dd.last { margin:7px 0 0; }
.my-rewards .form-list label { width:auto; margin-left:5px; }
.my-rewards .form-list .control .input-box { position:static; margin:0 5px 0 0; }
.my-rewards .data-table small { display:block; font-size:1em; color:#808080; }
.my-rewards .learn-more-link { padding:0 10px; color:#656565; font:italic 12px/18px Georgia, "Times New Roman", Times, serif; }

/* Billing Agreements */
.billing-agreements .info-box { margin:15px 0; }
.billing-agreements .info-box p { margin:0 0 9px; }
.billing-agreements .form-list li button.button { float:left; margin-left:10px; }

/* Gift Registry Functionality */
.btn-gift-registry { background:url(../images/i_gift-registry3.gif) 0 0 no-repeat; padding:3px 0px; text-align:left; }
.btn-gift-registry .input-box { margin:0 0 7px; }
.btn-gift-registry select { width:100%; }
.gift-registry-name { background:url(../images/i_gift-registry2.gif) 0 0 no-repeat; margin:3px 0 0; padding:0 0 0 20px; line-height:18px; }

.enterprise-giftregistry-view-index .info-box {background: none;border: none;padding-bottom: 31px;}
.enterprise-giftregistry-view-index .info-table th{font-weight:700 !important;}
.enterprise-giftregistry-view-index .info-table th,.enterprise-giftregistry-view-index .info-table td{font-size:12px;color:#656565;font-weight:600;text-transform:uppercase}
.enterprise-giftregistry-view-index .cart-table thead th {border-top: 1px solid #D8D8D8; border-bottom:none; padding: 17px 12px 4px; font-size:12px;font-weight:600;color:#636363}
.enterprise-giftregistry-view-index .cart-table .product-name a {color:#50a4cf;font-weight:600;font-size:16px;font-family:Raleway,Arial,Helvetica,sans-serif}
.enterprise-giftregistry-view-index .cart-table td {font-family:Georgia, "Times New Roman", Times, serif;font-size:16px;color:#656565;border-bottom:none;padding: 12px 12px 26px;}
.enterprise-giftregistry-view-index .cart-table .price {color: #656565; font-size:14px}
.enterprise-giftregistry-view-index .cart-table tbody tr.last td {padding-bottom: 50px;border-bottom: 1px solid #D8D8D8;}
.enterprise-giftregistry-view-index .cart-table input.qty {font-size:14px;font-weight:500}
.enterprise-giftregistry-view-index .cart-table .btn-update span {  border: 0 none; color: #FFFFFF; cursor: pointer; display: inline-block; margin: 0; padding: 0; text-decoration: none; background-color: #50A4CF;}
.enterprise-giftregistry-view-index .cart-table button.button span span { color: #FFFFFF; display: inline-block; font: 500 18px/30px Raleway,Arial,Helvetica,sans-serif; height: 30px; padding-left: 32px; padding-right: 27px;
    text-transform: uppercase; white-space: nowrap; }
.enterprise-giftregistry-view-index .cart-table tfoot td {padding: 58px 0 26px 12px;}

/* Block: Gift Registry Search */
.sidebar .block-gr-search .form-alt .input-box { width:148px; margin:3px 0 0; padding:0; }
.sidebar .block-gr-search .form-alt input.input-text { width:142px; }
.sidebar .block-gr-search .form-alt select { width:148px; }
.block-gr-search p.note { margin:0 0 3px; text-align:right; color:#f15c22; }

.enterprise-giftregistry-search .fieldset { border-top: 1px solid #D8D8D8; padding:15px 10px 0; }
.enterprise-giftregistry-search .fieldset h2.legend { text-transform:uppercase; font-size:14px; }
.enterprise-giftregistry-search .form-list .note { width:200px; color: #656565; font-family: georgia; font-size: 12px; font-style: italic; padding:10px 0;  }
.enterprise-giftregistry-search .form-list input.input-text,
.enterprise-giftregistry-search .form-list textarea { width:250px; }
.enterprise-giftregistry-search .form-list .v-middle{ margin-left:10px;}
.enterprise-giftregistry-search .form-list select { width:200px; }
.enterprise-giftregistry-search .form-buttons { width:auto; padding:10px; }
.enterprise-giftregistry-search p.required { width:auto; padding:10px; display:none;  }
/* Order By SKU */

.wrapper .block-addbysku .input-box.validation-error,
.wrapper .block-addbysku .input-box.validation-passed { padding-right:0; background:none; }
.wrapper .block-addbysku .validation-advice { margin-right:-19px; }

.main .block.block-addbysku .block-content { padding:10px 4px 10px; }
.block-addbysku .data-table th,
.block-addbysku .data-table td { padding:6px 4px; }
.block-addbysku .data-table th:first-child,
.block-addbysku .data-table td:first-child { padding-left:13px; }
.sidebar .block-addbysku .actions { padding:0 13px 7px; }
p.link-widget-sku { padding:15px 13px; text-align:left; float:left; }
.sidebar p.link-widget-sku { padding:5px 13px 0; text-align:right; border-top:1px dotted #dadada; float:none; }
p.link-widget-sku a { color:#999; }

.block-addbysku .actions { text-align:right; margin:15px 0 10px; float:right; }
.sidebar .block-addbysku .actions { float:none; }
.block-addbysku .file-upload { float:left; text-align:left; border:1px solid #dadada; padding:10px 17px; background:#F5F5F5 url(../images/bkg_block.gif) repeat-x 0 100%; margin-top:10px; }
.block-addbysku .file-upload label { display:block; float:none; width:auto; min-width:60px; text-align:left; }
.block-addbysku .file-upload p { padding:3px 0; }
.block-addbysku .file-upload .btn-reset { display:inline-block; margin-left:15px; }
.block-addbysku .file-upload .btn-reset span { margin-left:0; padding:3px 0; background:url(../images/bkg_icon-reset.png) no-repeat scroll 0 50%; padding-left:15px; display:inline-block; cursor:pointer; color:#999; }
.block-addbysku .file-upload .input-box { display:block; float:none; }
.block-addbysku .file-upload .note { width:auto; clear:both; padding:2px 0; }

.block-addbysku .data-table {}
.block-addbysku .data-table td .btn-remove { margin:4px 0 0; float:right; margin-right:-16px; }
.block-addbysku .data-table td .input-box { float:left; }
.block-addbysku .data-table td .qty { width:8em!important }
.sidebar .block-addbysku .data-table td .qty { width:5em!important }
.block-addbysku .data-table td.last { padding-right:18px; }
.block-addbysku .data-table tfoot td.last { text-align:right; }
.block-addbysku .data-table .add-row { cursor:pointer; background:url(../images/bkg_btn-split-item.png) no-repeat 0px 2px; padding-left:11px; font-weight:bold; color:#999; }
.block-addbysku .data-table .input-box { width:99%; }

.wrapper .block.block-addbysku .data-table .validation-advice { }
.wrapper .block.block-addbysku .data-table .col-sku { width:auto; }

.wrapper .block.block-addbysku .data-table .col-qty,
.wrapper .block.block-addbysku .data-table .col-remove { width:13px; }
.wrapper .block.block-addbysku .data-table .input-text { width:99%; }

/* ======================================================================================= */

.disabled { position:relative; z-index:1; }
.disabled:after { content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; z-index:99; background:#fff; opacity:0.2; }

/* MAP Popup============================================================================== */
.cart-msrp-totals { color:red; font-size:12px !important; font-weight:bold; padding:10px 20px 20px; text-align:right; text-transform:uppercase;}
.map-cart-sidebar-total { color:red; display:block; font-size:10px; line-height:14px; font-weight:bold; padding:5px 2px; text-shadow:0 1px 0 #fff; }

.map-popup { background:#fff; border:7px solid #ddd; margin:12px 0 0; position:absolute; /*-moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc;*/ text-align:left; width:370px; z-index:100; display: block;}
.map-popup-heading {  padding:5px 30px 5px 10px; width:260px; }
.map-popup-heading h2 { color:#636363; font-size:12px; font-weight:500; margin:0; overflow:hidden; white-space:nowrap; word-wrap:break-word; text-align:left; text-overflow:ellipsis; text-transform:uppercase }
.map-popup-arrow { background:url(../images/map_popup_arrow.gif) no-repeat; position:absolute; left:50%; top:-10px; height:10px; width:19px; }
.map-popup-close { background: url("../images/madison-sprite-a.png") no-repeat scroll -7px -639px; display:block; position:absolute; top:6px; right:8px; height:15px; width:15px; text-align:left; text-indent:-9999em; }
.map-popup-content { padding:0 10px 10px; overflow:hidden; }
.map-popup-checkout {display: block;    float: left;    margin: 14px 0 0;  width: 350px;}
.map-popup-checkout .additional-addtocart-box{}
.map-popup-checkout button.btn-cart span span{font: 500 18px/30px Raleway,Arial,Helvetica,sans-serif;}

.map-popup-checkout span {display: block;    float: left;    padding:8px 10px 0; }
.map-popup-checkout .paypal-logo { margin:0 0 5px;  }
.map-popup-checkout .paypal-logo a { float:left}
.map-popup-price .price-box,
.map-popup-price .price-box .special-price { margin:0; padding:0; }
.map-popup-price { margin:5px 0 0; }
.map-popup-price strong {font-size: 13px;    font-weight: 600;    text-transform: uppercase;}
.map-popup-text { background:#fefefe; clear:right; line-height:1.5; margin:0 10px; padding:0 0 10px; text-align:left; word-wrap:break-word; }
.map-popup-only-text { padding-top: 10px; border-top:1px solid #ddd; font: normal 11px/14px Georgia, "Times New Roman", Times, serif }
/* ======================================================================================= */

.customer-account-login .form-list .validation-advice {  line-height:18px; }
.customer-account-login .account-login .registered-users { *margin-bottom:0; *padding-bottom:105px; }
.customer-my-account .col-main { padding-bottom:20px; width: 780px; }

.customer-account-index .label-show-hide-block , 
.customer-account-index .show-hide-block{display: none;}