.push-button  { display: inline-block; margin: 9px 0; }
.push-button a { width: 29px; height: 23px; background: url("../images/madison-sprite-b.png") 0 -67px no-repeat; float: left; }
#jPanelMenu-menu { background-color: #1382bb; box-shadow: none !important; margin-top: 0px !important; }