.checkout-cart-index .col-main { padding:0; }
.checkout-cart-index .col-main .page-title {border-bottom: 1px solid #E6E6E6;    margin: 10px 0;    padding: 0;}
.checkout-cart-index .col-main .page-title .checkout-types { margin:0}
.cart-empty { padding:20px; background:#fff; }
.cart { background:url(../images/bkg_cart.gif) repeat-y 100% 0; }
.cart .title-buttons { padding-right:15px; }
.cart .messages,
.cart .messages li { margin:0; }
.cart .checkout-types { float:right; text-align:center;  margin: 20px 0 0;}
.cart .checkout-types .paypal-or { margin:0 8px; line-height:2.3; }
.cart .checkout-types fieldset { display:inline; }
.cart .checkout-types .btn-proceed-checkout span {}
.cart .checkout-types .btn-proceed-checkout span span { font-weight: 600;  padding: 0 24px;}
.cart .title-buttons .checkout-types li { float:left; margin:0 0 5px 5px; }

/* Shopping Cart Table */
.cart-table { border-width:1px 0 0 0; background-color: #ffffff; margin:2px 0 0 0}
.cart-table .item-msg { font-size:10px; }
.cart-table thead th { vertical-align:bottom;  border-bottom: 1px solid #D8D8D8;  color: #656565;    font-size: 12px;    font-weight: 500;    text-transform: uppercase;    white-space: nowrap;}

.cart-table tbody td { padding:12px;  border-bottom: 1px solid #D8D8D8;}
.cart-table tbody tr.last td { /*border-bottom:none;*/}
.cart-table tbody td dl.item-options dt {clear: left; float: left; font-size: 12px;    font-weight: 500;    line-height: 14px;    text-transform: uppercase; padding: 3px 3px 0;}
	
.cart-table tbody td dl.item-options dd { font: italic 12px/20px Georgia,"Times New Roman",Times,serif;}

.cart-table tbody td a.product-image img { border: 1px solid #D8D8D8;}

.cart-table .btn-continue {   }
.cart-table .btn-continue span {/* background: none repeat scroll 0 0 transparent;    color: #50A4CF;    font-weight: 600;    padding: 0;    text-decoration: underline;*/ }
.cart-table .btn-continue:hover span{/*background: none repeat scroll 0 0 transparent; color:#1189C5;*/}
.cart-table .btn-update { margin-left:5px; }
.cart-table .btn-empty { float:left}
.cart-table .btn-empty span {/*  background: none repeat scroll 0 0 transparent;    color: #50A4CF;    font-weight: 600;    padding: 0;    text-decoration: underline;*/}
.cart-table .btn-empty:hover span { /*background: none repeat scroll 0 0 transparent; color:#1189C5; */}

.cart-table .btn-update{}
.cart-table .btn-update span{background: none repeat scroll 0 0 transparent;    color: #50A4CF;    font-weight: 600;    padding: 0;    text-decoration: underline;}
.cart-table .btn-update:hover span{background: none repeat scroll 0 0 transparent; color:#1189C5;}

.cart-table tfoot.button-bar{ background-color:transparent}
.cart-table tfoot.button-bar td{   padding: 5px 0;}

.cart-table input.qty{  height: 20px !important;    line-height: 20px;    margin: 0 0 7px;    text-align: center;    width: 20px !important;}
.cart-table td a.edit-this-item{ text-transform:uppercase;  font-size: 9px; display: block; white-space: nowrap;}
.cart-table td a.btn-remove{text-transform:uppercase;  font-size: 9px; }

.cart-table td div.split-button strong{color: #50A4CF !important;  background: none repeat scroll 0 0 transparent;    font-size: 11px;    height: auto;    line-height: normal;    text-indent: 0;    white-space: nowrap;    width: auto;text-decoration: none !important;}
.cart-table td div.split-button strong span{text-transform:uppercase;  font-size: 9px; }
.cart-table td div.split-button strong span:hover  {color: #1189C5; text-decoration: underline !important;}
.cart-table td div.split-button a.change { border-left-color: #DDDDDD;}


.cart-table .price {color:#636363;}
.cart-table h2.product-name a{    font-size: 14px;    font-weight: 700;}

/* Shopping Cart Collateral boxes */
.cart .cart-collaterals { width:630px; padding:20px 0 10px; width: 400px;}
.cart .cross-inside { background:url(../images/bkg_crosssell.gif) repeat-y 0 0; }
.cart .cart-collaterals h2 { color:#000; font-weight:normal; margin:0 0 5px; }
.cart .deals { float:left; display:inline; font-size:12px; }
.cart .deals p,
.cart .deals label { margin:0 0 7px; display:block; }
.cart .deals .input-text { width:140px; margin:0 5px 3px 0; float:left; }
.cart .deals .widget-sku { display:block; margin:0 0 20px; width:264px; }
.cart .deals .widget-sku .block-title { background:inherit; border:inherit; color:#000; font-size:16px; margin:0 0 5px; padding:0; }
.cart .deals .widget-sku .block-title strong { font-weight:normal; }
.cart .deals .widget-sku .block-content { padding:0; }
.cart .deals .widget-sku .sku-table td input { width:98%; }
.cart .giftcard { position:relative; z-index:1; margin-bottom:20px !important;}
.cart .giftcard button.check-gc-status { clear:both; margin: 5px 0 0; }
.cart .giftcard button.check-gc-status span { padding:0 !important; background:none !important; line-height:1.3 !important; color:#50A4CF !important; height:auto !important; font-weight:normal !important; text-transform:none !important; }
.cart .giftcard button.check-gc-status span span { text-decoration:underline; font-size:12px !important; }
.cart .giftcard button.check-gc-status:hover span span {color:#1189C5 !important;}

.cart .discount, .cart .giftcard {  float: left;  margin: 5px 0;  width: 100%;}

.cart .discount .button2, .cart .giftcard .button2{margin-left: 5px;}
.cart .discount input.input-text,
.cart .giftcard input.input-text{    height: 30px;    line-height: 30px;    padding: 0 10px;    width: 200px;}

.cart .discount h2,
.cart .giftcard h2{ color: #636363;    display: inline;    float: left;    font-size: 12px;    font-weight: 500;    height: 30px;    line-height: 30px;    padding: 0 10px 0 0;    text-align: right;    text-transform: uppercase;    width: 160px;}

.cart .cancel-btn {  clear: left;    float: left;    padding: 0;margin: 5px 0 0 !important}
.cart .cancel-btn span {   height: auto;  font-weight: normal;    line-height: normal;    margin: 0;    padding: 0;    text-transform: none;}
.cart .shipping {  border-top: 1px solid #E6E6E6;    display: inline;    float: left;     margin: 0 ;    padding: 0;    width: 100%; }
.cart .shipping h2{ color: #636363;	font-size: 12px;	font-weight: 600;	margin: 8px 0;	text-transform: uppercase;}
.cart .shipping select { width:256px; }
.cart .shipping .input-text { width:250px; }
.cart .shipping p { margin:0 0 15px; }
.cart .shipping .buttons-set {  float:right;   margin: 0;    padding: 0; } 
.cart .shipping ul.form-list{}
.cart .shipping ul.form-list li {float: left;    margin:0 16px 10px 0;}

.cart .shipping ul.form-list li label { float: none;    font-size: 11px;    font-weight: 400;   line-height: 20px;  padding: 2px 0;    text-align: left;    text-transform: uppercase;    width: auto; }
.cart .shipping ul.form-list li label.required em {float: none;}
.cart .shipping ul.form-list li .input-text{display: block;	float: none;	height: 23px;	line-height: 23px;	width: 151px;}
.cart .shipping ul.form-list li.shipping-postcode label{ position:relative;}
.cart .shipping ul.form-list li.shipping-postcode label em{position:absolute; right:-12px; top:0;}
.cart .shipping ul.form-list li.shipping-postcode .input-text{width: 92px;}
.cart .shipping ul.form-list li.shipping-city{ /*clear:left*/}
.cart .shipping .button2 span span { font-size:14px;}
/*.cart .shipping ul.form-list li.post-code{margin: 0;}
.cart .shipping ul.form-list li.post-code .input-text{width: 132px;}*/
.cart .shipping ul.form-list li select { display: block;	float: none;	height: 30px;	line-height: 23px;	padding: 5px 26px 5px 0;	width: 185px;}
.cart .shipping #co-shipping-method-form{ background: none repeat scroll 0 0 #E6E6E6; margin:0 0 20px 0;    float: right;    padding: 20px;    text-align: right;    width: 440px;}
.cart .shipping #co-shipping-method-form ul.shipping-method-listing{float: right;    margin: 0px;}
.cart .shipping #co-shipping-method-form ul.shipping-method-listing li{ clear: left;    display: block;    float: left;    height: auto; width:auto;}
.cart .shipping #co-shipping-method-form ul.shipping-method-listing li label{ width:auto;}
.cart .shipping #co-shipping-method-form ul.shipping-method-listing li span.jqTransformRadioWrapper{float:left}
.cart .shipping .sp-methods{  float: left;    margin: 0 0 0 15px; }

.cart .crosssell { float:left;}
.cart .crosssell h2 { color: #50A4CF;	font-size: 12px;	font-weight: 500;	padding: 40px 0 20px;	text-align: center;	text-transform: uppercase;  }
.cart .crosssell .item {    display: inline;    float: left;     height: 280px;  margin: 0 20px 20px 0;    width: 180px; }
.cart .crosssell .product-image { float:left; margin:0; }
.cart .crosssell .product-shop {   float: left;    margin: 0;    padding: 10px 5px 0;    text-align: center;}
.cart .crosssell .product-name,
.cart .crosssell .price-box,
.cart .crosssell p,
.cart .crosssell .add-to-links { margin:0 0 5px; }
.cart .crosssell .add-to-links li { margin:0; }


.cart .crosssell ul li .product-image-block { float: left; position: relative;}
.cart .crosssell ul li .product-image-block div.actions{ bottom: 0;    left: 0;    position: absolute;   display: none;    width: 100%;}
.cart .crosssell ul li .product-image-block:hover div.actions {display: block;}
.cart .crosssell ul li .product-image-block {}

.cart .crosssell ul li button.btn-cart{ margin: 0 0 -1px -1px;  }	
.cart .crosssell ul li button.btn-cart span span{ background: url("../images/madison-sprite-a.png") no-repeat scroll -4px -454px #FFFFFF;    border: 1px solid #50A4CF;    color: #636363;    font-size: 10px;    height: 29px;    line-height: 29px;     padding: 0 6px 0 20px;}	
.cart .crosssell ul li button.btn-cart:hover span span{background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -222px #50A4CF; color:#fff;}	

.cart .crosssell ul li ul.add-to-links{  float: right;    margin: 0 1px 0 0;}	
.cart .crosssell ul li ul.add-to-links > li{float: right;}	
.cart .crosssell ul li ul.add-to-links li a.link-compare{ background: url("../images/madison-sprite-a.png") no-repeat scroll -4px -532px #FFFFFF;    float: left;    height: 20px;    margin: 0 9px 0 0;    text-indent: -9999px;    width: 21px;}	
.cart .crosssell ul li ul.add-to-links li a.link-compare:hover{background-position: -4px -492px;}


/* Shopping Cart Totals */
.cart .totals { float: right;    padding: 20px 0;    width: 480px; }
.cart .totals table { width:100%; }
.cart .totals table th,
.cart .totals table td {     font-weight: 600;    padding: 0 5px 5px;    text-transform: uppercase; vertical-align: middle; }
.cart .totals table td .price { color:#636363;  font-size: 14px; font-style: italic;}
.cart .totals table tbody td{ padding: 10px 5px;}

.cart .totals table tfoot td{ border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;    padding: 15px 5px;}
.cart .totals table tfoot strong {     display: block;    font-size: 24px;    font-weight: 500;    margin: 0px; line-height: 24px;}
.cart .totals table tfoot .summary-total td { padding:0 0 20px; }
.cart .totals table tfoot th strong { margin:0; }
.cart .totals table tfoot td .price {  font-size: 24px;    font-weight: normal; font-style:normal; line-height: 24px;}
.cart .totals .btn-remove { vertical-align:middle;  text-decoration: underline;}
.cart .totals .btn-remove img { vertical-align:baseline; }
.cart .totals .checkout-types li { margin:0 0 15px; }
.cart .totals .checkout-types .paypal-or { clear:both; display:block; padding-top:8px; line-height:1.0; font-size:11px; }


.failed-products { border:1px solid #E9581F;   }
.failed-products .sub-title { background:#FFF5F3 url(../images/icon_error.gif) no-repeat 10px 50%; color:#D91A00; margin:0; padding:10px 10px 10px 30px; border-bottom:1px solid #E9581F; }
.failed-products .item-msg.error { background:url(../images/icon_error.gif) no-repeat left; font-size:11px; color:#D91A00; padding:5px 0 5px 20px; }
/* Empty Cart Add by SKU */

.cart-empty .failed-products { clear:both; z-index:1; position:relative; margin:40px -20px -21px; }

/* Options Tool Tip */
.item-options p { font-size:11px; font-weight:bold; text-transform:uppercase; padding:10px 12px 0 12px; }
.item-options dt { font-weight:bold; padding:0px ; }
.item-options dd { padding-bottom:5px; }
.truncated { cursor:help; margin:5px 0 0; position:relative; z-index:9; width:110px; }
.truncated:hover { z-index:999; }
.truncated a.dots { cursor:help; }
.truncated a.details {  cursor: help;    font-weight: 500;    text-decoration: none;    text-transform: none; }
.truncated .truncated_full_value {text-transform: none;}
.truncated .truncated_full_value.show { z-index:9999}
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; padding:8px; width:130px; border:1px solid #CFCFCF; background-color:#fff; }
.truncated .truncated_full_value .item-options dl { margin-right:-9px; position:relative; z-index:9999; padding:0px 21px 10px 12px;}
.truncated .show .item-options { top:-20px; left:50%; }

.col-left .truncated .show .item-options { left:30px; top:7px; }
.col-right .truncated .show .item-options { left:-240px; top:7px; }
.top-cart .truncated .show .item-options { top:-60px; left:-206px; }
.block-cart .truncated .show .item-options { left: -155px;    top: -65px; }

/* Item options in the cart */
.data-table .item-options dt { padding:3px 0 0 10px; /*background:url(../images/bkg_bulletsm.gif) 0 .8em no-repeat;*/ }
.data-table .item-options dd { padding:0 0 3px 3px; }
.data-table .item-options dd .price {  font-size: 12px;    margin-left: 5px; }