.sidebar .callout { display:block; margin:10px 0; }

/* Generic Block */
.sidebar .block { border-bottom: 1px solid #CFCFCF;    margin-bottom: 20px;    padding-bottom: 15px;}
.sidebar .block .block-title { padding:0; }
.sidebar .block .block-title strong { display:block; font: 600 13px/12px 'Raleway', Arial, Helvetica, sans-serif ; padding:0; color:#50A4CF; text-transform:uppercase; }
.sidebar .block .block-title strong span {}
.sidebar .block .block-title strong small { font-size:12px; color:#777; }
.sidebar .block .block-subtitle,
.sidebar .block h3 { /*font-size:1em; font-weight:bold; color:#555;*/ }
.sidebar .block .block-content {   color: #636363;    padding: 10px 0 0;}
.sidebar .block .btn-remove { color:#222; margin-right:3px; }
.sidebar .block .btn-remove a { color:#222 !important; text-decoration:none !important; }
.sidebar .block .actions { margin:5px 0; }
.sidebar .block .actions a { clear: left;	float: left;	text-transform: uppercase;  font-size: 10px;    margin: 5px 0;    text-decoration: underline; }
.sidebar .block .actions button.button { clear: left;    float: left;margin: 5px 0 0;}

.sidebar .block li a.btn-previous,
.sidebar .block li a.btn-remove { float:right; width:13px; height:0; padding-top:12px; margin-top:3px; overflow:hidden; background:url(../images/btn_remove.gif) no-repeat 0 0; }
.sidebar .block li a.btn-previous { background:url(../images/bkg_icon-back.png) no-repeat 0 0; }
.sidebar .block li .divider { display:none}
.sidebar .block li 
.col-main .block { background:#fff; }
.col-main .block .block-title { background:#e7e7e7 url(../images/bkg_block-title.gif) repeat-x 0 0; border:1px solid #e1e1e1; padding:5px 20px 5px; margin:0 -1px; }
.col-main .block .block-title h2,
.col-main .block .block-title h3 { font-size:14px; line-height:1.2; color:#000333; font-weight:bold; }
.col-main .block .block-content { padding:20px; }

/* Generic box */
.info-box { border:1px solid #cfcfcf; margin-top:-1px; background:#f5f5f5 url(../images/bkg_block.gif) repeat-x 0 0; position:relative; z-index:1; margin-bottom:10px}
.info-box .box-title { margin:17px 17px 0 17px; font:600 12px/1.25 'Raleway', Arial, Helvetica, sans-serif; padding:0; color:#656565; text-transform:uppercase; }
.info-box .box-title .separator { display:none; }
.info-box .box-title a { font:700 10px/16px 'Raleway', Arial, Helvetica, sans-serif; float:right; }
.info-box .box-content { padding:10px 17px 17px; color:#555; }

.info-table th { font-weight:bold; padding:2px 15px 2px 0; }
.info-table td { padding:2px 0; }

/* Block: Account */
.sidebar .block-account { position: relative; padding-top: 25px; }
.sidebar .block-account .block-title-hello { width: 100%; position: absolute; top: 0; }
.sidebar .block-account .block-title { padding:5px 0px 12px; }
.sidebar .block-account .block-title strong { font:600 17px/15px 'Raleway', Arial, Helvetica, sans-serif;  color:#656565; }
.sidebar .block-account .block-title .welcome-msg { margin:7px 0; }
.sidebar .block-account .block-title-hello .welcome-msg .sub-title { margin:0 0 10px; padding:0; border:none; font:500 13px/1.25em 'Raleway', Arial, Helvetica, sans-serif;  }
.sidebar .block-account .block-content { padding:0 !important; }
.sidebar .block-account li { font-size:14px; padding-bottom:1px; }
.sidebar .block-account li a { color:#656565; font:400 11px/14px 'Raleway', Arial, Helvetica, sans-serif; text-decoration:none; text-transform:uppercase; display:block; padding:5px 0px 4px 10px; background: url(../images/madison-sprite-a.png) -17px -871px no-repeat; }
.sidebar .block-account li a:hover,
.sidebar .block-account li.current span{ color:#50a4cf; font:400 11px/14px 'Raleway', Arial, Helvetica, sans-serif; text-decoration:none; text-transform:uppercase; display:block; padding:5px 0px 4px 10px; background: url(../images/madison-sprite-a.png) -17px -871px no-repeat; }
.sidebar .block-account li.last { border-bottom:0; }

/* Block: Layered Navigation */
.sidebar .block-layered-nav { background:none; }
.sidebar .block-layered-nav .block-title { padding:0; /* border-bottom:1px solid #d1d1d1; */ }
.sidebar .block-layered-nav .block-title h2 { font-size:18px; color:#111; }
.sidebar .block-layered-nav .block-subtitle { display:none; }
.sidebar .block-layered-nav .block-content { padding:0; }
.sidebar .block-layered-nav dl { padding:10px 0 0; }
.sidebar .block-layered-nav dt {  color: #636363;	font-size: 11px;	font-weight: 500;	margin: 8px 0 0;	text-transform: uppercase;}
.sidebar .block-layered-nav dd { margin:0 0 13px; color:#666; }
.sidebar .block-layered-nav dd.last { margin:0; }
.sidebar .block-layered-nav dd li { margin:5px 0; color:#50A4CF; }
.sidebar .block-layered-nav dd a { text-decoration:none; }
.sidebar .block-layered-nav dd a:hover { text-decoration:underline; }
.sidebar .block-layered-nav .currently { padding: 10px 0; }
.sidebar .block-layered-nav .currently .block-subtitle { display:block; margin-bottom:5px; }
.sidebar .block-layered-nav .currently li { padding:5px 26px 5px 0; color:#444; position:relative; z-index:1; }
.sidebar .block-layered-nav .currently li .btn-remove { position:absolute; right:-7px; top:4px; }
.sidebar .block-layered-nav .currently li .btn-previous { position:absolute; right:12px; top:4px; }
.sidebar .block-layered-nav .currently .label { display: block;    text-transform: uppercase; }
.sidebar .block-layered-nav .currently .value { display:inline-block; }
.sidebar .block-layered-nav .actions { font-weight: 600;    margin: 0;    padding: 10px 0;    text-align: right;}
.sidebar .block-layered-nav .actions a { float:none; }
/*Styles - Prasanth */
.sidebar .block-layered-nav dd a  { background: url(../images/layered_nav_tick.gif) 0 -2px no-repeat; padding-left: 16px; }
.sidebar .block-layered-nav dd a.active  { background-position: 0 -19px; }

/* Block: Cart */
.sidebar .block-cart{padding-bottom: 42px;}
.sidebar .block-cart .block-title { }
.sidebar .block-cart .block-title strong { }
.sidebar .block-cart a.product-image{ display:none;}
.sidebar .block-cart .summary { margin:0 -17px; padding:0 12px 5px; background:#363636; color:#fff; text-align:center; position:relative; z-index:1; }
.sidebar .block-cart .summary a { font-weight:bold; color:#fff; }
.sidebar .block-cart .summary .subtotal { margin:3px 0 0; }
.sidebar .block-cart .summary .subtotal .price { font-weight:bold; }
.sidebar .block-cart .actions { margin:5px 0 0; text-align:left; }
.sidebar .block-cart .actions button.button { float:none; }
.sidebar .block-cart .block-content { }
.sidebar .block-cart .block-content table { margin:5px 0 0 0; }
.sidebar .block-cart .block-content table th { padding:1px 5px 1px 0; color:#8f8f8f; text-align:right;  display: none;}
.sidebar .block-cart .block-content table td { text-align:left; padding:1px 0; }
.sidebar .block-cart .block-content table tr.qty td,
.sidebar .block-cart .block-content table tr.qty th{display:none;}
.sidebar .block-cart .block-content .truncated a.details {display:none;}
.sidebar .block-cart .block-content .cart-edit-item{display:none;}
.sidebar .block-cart .block-content .mini-products-list li.last {border-bottom: 1px solid #DDDDDD; }

.sidebar .block  li a.btn-remove { 	 background: url("../images/madison-sprite-a.png") no-repeat scroll -2px -292px transparent;    float: right;    height: 20px;    margin: 0;   right: 0;    top: 2px; overflow: visible;    padding: 0;    text-indent: -9999px;    width: 20px;  position: absolute; }
.sidebar #cart-sidebar.mini-products-list .product-details { margin-left:0px; }

.mini-products-list li.item { padding:5px 0; border-bottom:1px solid #DDDDDD; position:relative }
.mini-products-list li.last { border:none; }
.mini-products-list .product-image { float:left; width:50px;}
.mini-products-list .product-details { margin-left:65px;text-align: left; color:#8F8F8F }
.mini-products-list .product-details .product-name { font-size:11px; margin-right: 10px; }
.mini-products-list .product-details .price-box { margin:5px 0; }
.mini-products-list .product-details h4 {}
.mini-products-list .product-details .btn-remove { font-size: 11px;    font-weight: 400;    text-transform: capitalize; }
.mini-products-list .btn-remove{    }

.sidebar .mini-products-images-list li.item { float:left; padding:5px; text-align:center; }

.block-products .mini-products-list .product-details { margin-left:65px; }

/* Top My Account Block */
.top-myaccount { float:right; position:relative; padding-left:7px; }
.top-myaccount .block-content { background: none repeat scroll 0 0 #FFFFFF;    display: block;    position: absolute;    right: 0;    top: 35px;    width: 170px;}
.top-myaccount .inner-wrapper { background: none repeat scroll 0 0 #FFFFFF;    border: 1px solid #E6E6E6;    float: left;    width: 100%;}
.top-myaccount .block-content .close-btn {  background: url("../images/madison-sprite-a.png") no-repeat scroll -8px -641px transparent;	cursor: pointer;	height: 13px;	position: absolute;	right: 3px;	text-indent: -9999px;	top: 3px;	width: 12px;	z-index: 1; }
.top-myaccount .block-content ul.links{ display: inherit;    line-height: normal;    padding: 5px 0;    width: 173px; float:left }
.top-myaccount .block-content ul.links li {display: inherit;    line-height: normal;    padding: 5px 0;    width: 173px; float:left}
.top-myaccount .block-content ul.links li a {  color: #636363;  text-transform: uppercase;  white-space: normal;}
.top-myaccount .block-content ul.links li a:hover { color:#3399cc; }
.top-myaccount h3{ background: url("../images/madison-sprite-a.png") no-repeat scroll -7px -195px transparent; cursor: pointer; font-size: 11px; padding: 0 0 0 20px;   font-weight: 600;}
.top-myaccount h3 span{   background: url("../images/madison-sprite-a.png") no-repeat scroll right -156px transparent;    padding: 0 26px 0 0;}
.top-myaccount h3.expanded span{ background-position:right -182px}

/* Top Shopping Cart */
.top-cart {float: right;     position: relative;padding: 0 30px;line-height:normal;}
.top-cart .block-title { cursor: pointer;    padding: 0;    white-space: nowrap;  line-height: 35px;}
.top-cart .block-title strong { background: url("../images/madison-sprite-a.png") no-repeat scroll -7px -219px transparent; display: block; padding: 0 0 0 20px; text-decoration: none; font-weight: 600; }
.top-cart .block-title strong span { padding: 0 2px;}
.top-cart .block-title.expanded {}
.top-cart .block-title.expanded strong {   }
/* .top-cart .no-items { cursor:default; }
.top-cart .no-items h3 { background:none; } */
.top-cart .block-content { position:absolute; right:0; top:35px; width:267px; background:#fff; display:block;  z-index: 999; }
.top-cart .inner-wrapper { border:3px solid #DDDDDD; }


.top-cart .block-content .block-subtitle { font-size:10px; color:#50A4CF; font-weight:bold; text-transform:uppercase; line-height:12px; padding:5px; }
.top-cart .block-content .block-subtitle .close-btn { background: url("../images/madison-sprite-a.png") no-repeat scroll -8px -641px transparent;
	cursor: pointer;
	float: right;
	height: 12px;
	line-height: 12px;
	overflow: hidden;
	padding-top: 0;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 12px;
	z-index: 1; }
.top-cart .cart-empty .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty { padding:10px 10px 10px 20px; color: #636363; }
.top-cart .block-content ol { padding-bottom:7px; }
.top-cart .block-content .item { padding:8px 5px 8px 11px; }
.top-cart .block-content .item .product-name {  font-size: 11px;    line-height: 14px;    text-align: left;}
.top-cart .block-content .item .product-name a {     color: #50A4CF;    font-size: 11px;    font-weight: 700;    text-decoration: none; }
.top-cart .block-content table { margin:5px 0 0 0; }
.top-cart .block-content table th {   color: #8F8F8F;    font-size: 10px;    padding: 0 10px 0 0;  font-weight: 600; vertical-align: middle;}
.top-cart .block-content table td { text-align:left; padding:1px 0; color:#50A4CF; }
.top-cart .block-content table td span.price { font-size:14px;}
.top-cart .block-content .subtotal { background: none repeat scroll 0 0 #DDDDDD;    padding: 5px;    text-align: center; }

.top-cart .actions { padding:3px; text-align:right; }
.top-cart .actions a {float: left;    line-height: 30px;    text-align: center;    width: 144px; }
.top-cart .actions a span {white-space:nowrap}

.top-cart .actions button {  clear: right;    float: right; }
.top-cart .actions button.button span,
.top-cart .actions button.button span span { background-image:url(../images/bkg_btn-onbg.gif); background-repeat:no-repeat; }
.top-cart .paypal-logo a { float:right; }
.top-cart .paypal-logo .paypal-or { clear:both; display:block; margin: 5px 33px 5px 0px; display: none;}

.top-cart a.btn-edit{font-size: 11px;    font-weight: 400;    text-transform: capitalize;}
/* Block: Wishlist */
.block-wishlist {}

/* Block: Compare Products */
.block-compare li { margin: 5px 0;}

/* Block: List */
.block-list .block-content ol { margin:0; }
.block-list li.item { /*border-bottom: 1px dotted #CFCFCF;*/  padding: 1px 0; position: relative;}
.block-list li.last { border:none; }
.block-list .actions { /*padding:5px 0 0;*/ }
.sidebar .block-list .product-name { font-size: 11px;    font-weight: 500;  padding: 0 10px 0 0;}
.sidebar .block-list .product-name a {color: #50A4CF;}
.sidebar .block-list .product-name a:hover {color: #1189C5;}

/*Recently Viewed*/
.sidebar .block-viewed{ /*border:none;*/}
.sidebar .block-viewed .block-content li.item{ border-bottom: medium none;    margin-bottom: 10px;    text-align: center;}
.sidebar .block-viewed .block-content li.item p.product-name{padding:5px 0}

/* Block: Poll */
.block-poll li { margin:5px 0; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; vertical-align:top; }
.block-poll .label { display:block; margin-left:18px; }
.block-poll .answer {}
.block-poll .votes { float:right; font-weight:bold; margin-left:10px; }

/* Block: Tags */
.block-tags ul,
.block-tags li { display:inline; }

/* Block: Subscribe */
.form-subscribe {float: right; width: 300px;}
.form-subscribe .form-subscribe-header {    color: #50A4CF;    font-size: 11px;    font-weight: normal;    line-height: 22px;    text-transform: uppercase;}
.form-subscribe .v-fix {float: left;}
.form-subscribe .v-fix  input{height: 28px;    line-height: 28px;    padding: 0 7px;    width: 195px; border-right: medium none; font-size: 11px;}
.form-subscribe .v-fix  .validation-advice{width: 210px;}
.form-subscribe .note { margin: 10px 20px 0 0;float: left; width:100%;}

/* Block: Reorder */
.block-reorder li { padding:5px 0; }
.block-reorder input.checkbox { float:left; margin:3px -20px 0 0; }
.block-reorder .product-name { margin-left:20px; font-size:11px; font-weight:normal; }

/* Block: Banner */
.block-banner { border:0; margin:10px 0; }
.block-banner .block-content { border-top:0; padding:0; background:#cbcbcb; text-align:center; }
.top-container .block-banner { background:#d0d0d0; margin:0; }


/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.paypal-review-order .legend { font-size:14px; font-weight:normal; margin:0 0 6px; }
.paypal-review-order .col2-set .legend { font-weight:bold; }
.paypal-review-order .paypal-shipping-method { padding-left:120px; }
.paypal-review-order .paypal-shipping-method .box-title { margin:0 0 6px; }