/*##############################################################################


                                   STRUCTURE


##############################################################################*/

/*-----------------------------------------------------

                        CLASSES

-----------------------------------------------------*/
//Float
.float-left{float: left !important}
.float-right{float: right !important}
.no-float{float: none !important}

//Text Alignment
.text-left{text-align: left !important}
.text-right{text-align: right !important}
.text-center{text-align: center !important}
.text-justify{text-align: justify !important}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

//Content Toggling
.hidden{
    display: none !important;
    visibility: hidden !important;
}

//Used in Magento phtml files
.no-display{display: none !important;}


/*-----------------------------------------------------

                       MIXINS

-----------------------------------------------------*/
@mixin use-style($class-name){
    @if $class-name != null{
        $class-name: unquote('%'+$class-name);
        @extend #{$class-name} !optional;
    }

}

@mixin class($class-name,$optional: false){
    $class-name: unquote('.'+$class-name);

    @extend #{$class-name} !optional;


}

@mixin property($name,$sides,$style){
    @each $side in $sides{
        #{$name}-#{$side}: #{$style};
    }
}

@mixin exclude($exclude){
    $selector: "&:not(:" + $exclude + ")";
    #{$selector}{@content}
}

@mixin include($include){
    $selector: "&:" + $include;
    #{$selector}{@content}
}

@mixin theme($name, $class){
    @if $class{
        $name: '.' + $name;
        #{$name}{@content}
    }
    @else{
        #{'[theme="' + $name + '"]'}{@content}
    }
}
@mixin define($name, $active-list: null, $status:on){

    @if $status != off{
        $class: null;
        @if type-of($name) == list{

            $iterator: 1;

            @each $class-name in $name{
                //@debug HERE $class $name;
                @if ($active-list != null and index($active-list, $class-name)) or ($active-list == null){

                    @if $class == null{$class: '';}

                    $class: $class + '.' + $class-name;
                    @if $iterator < length($name){$class: $class + ',';}
                    $iterator: $iterator + 1;
                }

            }
        }
        @else{
            @if ($active-list != null and index($active-list, $name)) or ($active-list == null){
                $class: '.' + $name
            }

        }


        @if $class != null{
            #{$class}{@content}
        }

    }


}

@mixin reset($name){
    @include define($name){@content};
}

/*##############################################################################


                                   FX


##############################################################################*/

/*-----------------------------------------------------

                        CLASSES

-----------------------------------------------------*/

.no-border{border:none !important}

.no-gradient{background-image: none !important}

.no-underline{text-decoration: none!important}

/*-----------------------------------------------------

                       MIXINS

-----------------------------------------------------*/
@mixin underline($color: $underline-color, $width: $underline-width, $style: $underline-style, $padding: $underline-padding, $config: $underline-config){
    text-decoration: none;
    border-bottom: $width $style $color;
    padding-bottom: $padding;

    @include style($config);
}

@mixin border($sides,$style){
    @each $side in $sides{
        $side: border- + $side;
        #{$side}:#{$style};
    }
}