/*==============================================================================
                                Form Elements
==============================================================================*/
input,select,textarea,button { font:12px Raleway, Arial, Helvetica, sans-serif; vertical-align:middle; color:#636363; }
input.input-text,select,textarea { background:#fff; border:1px solid #d8d8d8; }
input.input-text,textarea { padding:2px 2px; }

select { padding:1px; }
select option { padding-right:10px; }


textarea { overflow:auto; resize:vertical; }




