@import "compass/typography/lists/bullets";

/*------------------------------------------------------------------------------ 

                             CONFIGURATION

------------------------------------------------------------------------------*/

$include-list-classes: true;

//Stacked Lists
$default-stacked-list-config: 
null;

$default-stacked-list-item-config: 
margin '5px 0 0 0';


//Inline Lists
$default-inline-list-config: null;

$default-inline-list-item-config:
margin '0 5px 0 0';



/*------------------------------------------------------------------------------ 

                                    CORE

------------------------------------------------------------------------------*/

%list-base{
    list-style-position: inside;
    @include no-bullets();

    &.square,
    &.circle,
    &.disc {
        .list-container { list-style: inherit; }
    }

    &.square { list-style-type: square; }
    &.circle { list-style-type: circle; }
    &.disc { list-style-type: disc; }
}

@mixin list($list-config, $type){

    @extend %list-base;
    @include style($list-config);
}

@mixin list-item($li-config, $type){


    @include style($li-config);
}


@if $include-list-classes == true{


    .stacked-list,
    .stacked-link-list,
    .stacked-button-list{

        @extend %list-base;
        @include style($default-stacked-list-config);
        //@include list($type: stacked, $list-config: $default-stacked-list-config);

        > .list-item{@include style($default-stacked-list-item-config);}
    }

    .inline-list,.inline-link-list,.inline-button-list{
         @extend %list-base;
        @include style($default-stacked-list-config);
        > .list-item{@include style($default-inline-list-item-config);}
    }

}