@import "colors/basic.less";


 /*Global Configuation Settings*/


    /*Font Settings*/
    @fontLibraryPath:"/lib"; 
    @defaultFont:Arial; 
    @baseLineHeight:20px;
    @defaultUnit:em;
    @baseFontSize: 1;

    /*Color Settings*/
    @background: white;
    @bodyBackgroundColor:@white;

        
    @headingColor:@gray;
    @textColor:   @blue;   
    
    @errorTextColor:@red;
    @infoTextColor:@blue;
    @warningTextColor:@yellow;
    @successTextColor:@green;
    

 
    
#craft
{
 
.normalize() { @import-once "base/normalize.less";}  
.reset() { @import-once "base/reset.less";}  
  

.defineBreak(@color:@textColor,@border:5px solid @pink)
{
    hr{
        background-color:@color;
        border:@border;
    }
}



#font{



        .setFont(@font:undefined,@size:undefined,@unit:@defaultUnit,@color:undefined,@variant:undefined,@weight:undefined,@fontStyle:undefined){



              .loadFont(@font);
              .setSize(@size,@unit);
              .setColor(@color);
              .displayMode(@variant);
              .makeBold(@weight);
              .setFontStyle(@fontStyle);


           }
    
    .loadFont(@font:@defaultFont) when not (@font = undefined)
    {
        @font-face
              {
                  font-family:"@(deafultFont) Family";
                  src:url("@(fontLibraryPath))@(defaultFont).ttf");

              }
              font-family:"Arial Family";

              @font-face
              {
                  font-family:"@(font)Family";
                  src:url("@(fontLibraryPath)@(font).ttf");

              }

             font-family:@font;

    }

    .setSize(@size) when (isem(@size)),(ispixel(@size)), (ispercentage(@size)){font-size:@size;} 
    .setSize(@size,@unit:@defaultUnit){font-size:~"@{size}@{unit}"} 
    .setSize(@size) when (isnumber(@size)){font-size:~"@{size}@{defaultUnit}";} 

    .setColor(@color:@textColor) when(iscolor(@color)) {color:@color;}
    
   
    .displayMode(@variant) when(iskeyword(@variant)) {font-variant:@variant;}
    .makeBold(@weight) when (isnumber(@weight)), (iskeyword(@weight)) {font-weight:@weight;}
  
    .setFontStyle(@style:normal) when (iskeyword(@fontStyle)) {font-style:@style;}
    .makeItalic(){font-style:italic;}
    .makeOblique(){font-style:oblique;}
    .resetStyle(){font-style:normal;}
  

    
}
   
#text
{
 

    .setLetterSpacing(@letterSpacing:normal){letter-spacing:@letterSpacing;}
    .setWordSpacing(@wordSpacing:normal){word-spacing:@wordSpacing;}

    .decorate(@decoration:normal) {text-decoration:@decoration;}
    .drawLineAbove(){text-decoration:overline}
    .strikeout(){text-decoration:line-through}
    .underline(){text-decoration:underline}
    .blink(){text-decoration:blink;}
    .undecorate(){text-decoration:none;}

    .setLineHeight(@lineHeight)  when (isem(@size)),(ispixel(@size)), (ispercentage(@size)) {line-height:@lineHeight;}
    
    .changeDirection(@direction:ltr){direction:@direction}
    .makeLtr(){direction:ltr}
    .makeRtl(){direction:rtl}

    .transform(@transformation:none){text-transform:@transformation}
    .toUpperCase(){text-transform:uppercase;}
    .toLowerCase(){text-transform:lowercase}
    .capitalizeWord(){text-transform:capitalize}

    .indent(@indetaion:0){@text-indent:@indentation}

    .textAlign(@alignment:left){text-align:@alignment;}
    .alignLeft(){text-align:left;}
    .alignRight(){text-align:right}
    .alignCenter(){text-align:center}
    .alignTop(){vertical-align:top}
    .alignBottom(){vertical-align:bottom}

    .alignWithTypo(@alignment:baseline) when (iskeyword(@alignment)) and (@alignment = baseline),(@alignment = middle), (@alignment = text-top), (@alignment = text-bottom){vertical-align:@alignment}

    .makeSubScript(){vertical-align:sub}
    .makeSuperScript(){vertical-align:sup}

    .nowrap(){white-space:nowrap}
    .wrap(@wrapStyle:normal){white-space:@wrapStyle}
}

#img{
    
    .makeFluid(@minWidth,@maxWidth)
    {
        #craft > #box > .setWidth(100%);
        #craft > #box > .setHeight(auto);
        max-width:@maxWidth;
        min-width:@minWidth;
    }

}

#box{

    @padding:          11px 19px; // 44px
    @border:5px solid black;
    @margin:0;
    
    .setPadding(@left,@right,@top,@bottom){
        #craft>#box>.setPadding(left,@left);
        #craft>#box>.setPadding(right,@right);
        #craft>#box>.setPadding(top,@top);
        #craft>#box>.setPadding(bottom,@bottom);
    }
    .setPadding(@value)
    {
         #craft>#box>.setPadding(left,@value);
        #craft>#box>.setPadding(right,@value);
        #craft>#box>.setPadding(top,@value);
        #craft>#box>.setPadding(bottom,@value);
    }

    .setPadding(@side,@value) when(@side=left){padding-left:~"@{value}@{defaultUnit}";}
    .setPadding(@side,@value) when(@side=right){padding-right:~"@{value}@{defaultUnit}";}
    .setPadding(@side,@value) when(@side=top){padding-top:~"@{value}@{defaultUnit}";}
    .setPadding(@side,@value) when(@side=bottom){padding-bottom:~"@{value}@{defaultUnit}";}
    .resetPadding(){padding:0;}

    
    .setMargin(@side,@value) when(@side=left){margin-left:~"@{value}@{defaultUnit}";}
    .setMargin(@side,@value) when(@side=right){margin-right:~"@{value}@{defaultUnit}";}
    .setMargin(@side,@value) when(@side=top){margin-top:~"@{value}@{defaultUnit}";}
    .setMargin(@side,@value) when(@side=bottom){margin-bottom:~"@{value}@{defaultUnit}";}
    .resetMargin(){margin:0;}
    //.setMargin(...){margin:@arguments;}

    .border(@type,...) when(@type=left){border-left:@rest};
    .border(@type,...) when(@type=right){border-right:@rest};
    .border(@type,...) when(@type=top){border-top:@rest};
    .border(@type,...) when(@type=bottom){border-bottom:@rest};

    .setWidth(@width) when (isem(@width)),(ispixel(@width)), (ispercentage(@width)), (iskeyword(@width)){width:@width} 
    .setWidth(@width,@unit:@defaultUnit) when (isnumber(@width)) {width: ~"@{width}@{unit}"} 

    .setHeight(@height) when (isem(@height)),(ispixel(@height)), (ispercentage(@height)), (iskeyword(@height)){height:@height} 
    .setHeight(@height) when (isnumber(@height)){height:~"@{height}@{defaultUnit}"} 
    .setHeight(@height,@unit:@defaultUnit) when (isnumber(@height)){height:~"@{height}@{unit}"}

    

    .setPosition(@position:static){position:@position}

    //.setLeftOffset(@offset) when (isem(@offset)),(ispixel(@offset)),(ispercentage(@offset)){left:@offset};

    .setOffset(@side,@value) when(@side = left){left:~"@{value}@{defaultUnit}"};
    .setOffset(@side,@value) when(@side = right){right:~"@{value}@{defaultUnit}"};
    .setOffset(@side,@value) when(@side = top){top:~"@{value}@{defaultUnit}"};
    .setOffset(@side,@value) when(@side = bottom){bottom:~"@{value}@{defaultUnit}"};

    .displayAs(@display) when (iskeyword(@display)){display:@display};
     
    .float(@direction){float:@direction;}
    .float(@direction,@wrap) when (@wrap=both) {float:@direction;clear:none}
    .float(@direction,@wrap) when (@wrap=left) {float:@direction;clear:right}
    .float(@direction,@wrap) when (@wrap=right) {float:@direction;clear:left}
    .float(@direction,@wrap) when (@wrap=none) {float:@direction;clear:both}

    #flexBox{
        .orientation(@orientation){box-orient:@orientation}
        .setRatio(@ratio) when (isnumber(@ratio)){box-flex:@ratio}
        .packAs(@pack){box-pack:@pack}
    }
}


#utility{
    
    .makeSmall(@factor){};
    .makeLarge(@factor){};

 
    
    .markTextAs(@markAs) when(@markAs = deleted){#craft > #text > .strikeout();}
    .markTextAs(@markAs) when(@markAs = inserted){#craft > #text > .underline();}

    .markTextAs(@markAs) when(@markAs = warning){}
    .markTextAs(@markAs) when(@markAs = error){
       &.text-error:hover{
            color:yellow;
       }

     }
    .markTextAs(@markAs) when(@markAs = info){}
    .markTextAs(@markAs) when(@markAs = success){}

    .markTextAs(@markAs,@codeType:code) when (@markAs = code) and (@codeType=code){};
    .markTextAs(@markAs,@codeType:code) when (@markAs = code) and (@codeType=kbd){};
    .markTextAs(@markAs,@codeType:code) when (@markAs = code) and (@codeType=samp){};
    .markTextAs(@markAs,@codeType:code) when (@markAs = code) and (@codeType=var){};

    .markTextAs(@markAs,@contactType:email) when (@markAs = contact) and (@contactType=email){};

    .markTextAs(@markAs,@contactType:email) when (@markAs = contact) and (@contactType=address){
        
        #craft>#font>.setColor(#FFFFFF);
        #craft>#font>.setSize(0.79);
        #craft>#font>.makeBold(bold);
        #craft>#font>.resetStyle();

        #craft>#text>.toUpperCase();

       span{#craft>#font>.setColor(#BF2E1A)};
     };
    .markTextAs(@markAs,@contactType:email) when (@markAs = contact) and (@contactType=phone){};
    
    .markTextAs(@markAs,@quoteType:block) when (@markAs=quote) and (@quoteType = block){};
    .markTextAs(@markAs,@quoteType:block) when (@markAs=quote) and (@quoteType = short){};
    .markTextAs(@markAs,@quoteType:block) when (@markAs=quote) and (@quoteType = cite){};

    .markTextAs(@markAs) when (@markAs = defTerm){};
    
    .markTextAs(@markAs) when (@markAs = pre){};
    
    .markTextAs(@markAs) when (@markAs = abbreviation){};

    .accentuate(@accent) when (@accent = emphasize){#craft > #text > .makeItalic();}
    .accentuate(@accent) when (@accent = strong){#craft > #font > .makeBold(bold);}
    .accentuate(){}

    .makeSubScript(){#craft > #text > .makeSubScript()}
    .makeSuperScript(){#craft > #text > .makeSuperScript()}
   
    
    

    .hide(){display:none;}
    .show(@displayAs:block){display:@displayAs;}
    .makeInvisible(){ visibility: hidden;}
    

    .fillParent(@dimension) when (@dimension = width){#craft>#box>.setWidth(100%)}
    .fillParent(@dimension) when (@dimension = height){#craft>#box>.setHeight(100%)}

    .flexResize(@status) when(@status = enable){-moz-box-flex:1}
    .flexResize(@status) when(@status = disable){-moz-box-flex:0}

  

    .offset(@left,@right,@top,@bottom)
    {
        #craft>#box>.setPosition(absolute);
        #craft>#box>.setOffset(left,@left);
        #craft>#box>.setOffset(right,@right);
        #craft>#box>.setOffset(top,@top);
        #craft>#box>.setOffset(bottom,@bottom);

    }

    .offset(@side,@offset) 
    {
        #craft>#box>.setPosition(absolute);
        #craft>#box>.setOffset(@side,@offset);
    }

    .setDimensions(@width,@height,@unit:@defaultUnit)
    {
        #craft>#box>.setWidth(@width,@unit);
        #craft>#box>.setHeight(@height,@unit);
    }
}

#bg{

    @bgColor:transparent;

    @imgUrl:none;
    @imgAttachment:scroll;
    @imgRepeat:no-repeat;
    @imgPosition:"0% 0%";
    @imgOrigin:padding-box; /*This property applicable only if @imgPosition = scroll*/
    @imgSize:auto;

    .color(@color){background-color:@color;}
    .image(@url,@attachment:@imgAttachment,@repeat:@imgRepeat,@position:@imgPosition,@origin:@imgOrigin,@size:@imgSize)
    {
        background-image:url(@url);
        background-attachment:@attachment;
        background-repeat:@repeat;
        background-position:@position;
        background-origin:@origin;
        background-size:@size
    }

    .clipTo(@clipTarget){background-clip:@clipTarget;}


}

#border{

    @borderWidth:2px;
    @borderStyle:solid;
    @borderColor:@pink;

    .all(@width:@borderWidth,@style:@borderStyle,@color:@borderColor){  border:@width @style @color;}
    .left(@width:@borderWidth,@style:@borderStyle,@color:@borderColor){  border-left:@width @style @color;}
    .right(@width:@borderWidth,@style:@borderStyle,@color:@borderColor){  border-right:@width @style @color;}
    .top(@width:@borderWidth,@style:@borderStyle,@color:@borderColor){  border-top:@width @style @color;}
    .bottom(@width:@borderWidth,@style:@borderStyle,@color:@borderColor){  border-bottom:@width @style @color;}
}




#headings{
  .setColor(@h1:@headingColor,@h2:@headingColor,@h3:@headingColor,@h4:@headingColor,@h5:@headingColor,@h6:@headingColor){
        
       h1{#craft > #font >  .setColor(@h1)};
       h2{#craft > #font >  .setColor(@h2)};
       h3{#craft > #font >  .setColor(@h3)};
       h4{#craft > #font >  .setColor(@h4)};
       h5{#craft > #font > .setColor(@h5)};
       h6{#craft > #font >  .setColor(@h6)};
 
    }

    .setSize(@baseSize,@unit:@defaultUnit,@factor){
        
      
         h1{#craft > #font > .setSize(@size:@baseSize,@unit:@unit)};
        h2{#craft > #font >  .setSize((@baseSize - @factor),@unit)};
         h3{#craft > #font >  .setSize((@baseSize - (@factor * 2)),@unit)};
         h4{#craft > #font > .setSize((@baseSize - (@factor * 3)),@unit)};
         h5{#craft > #font >  .setSize((@baseSize - (@factor * 4)),@unit)};
         h6{#craft > #font >  .setSize((@baseSize - (@factor * 5)),@unit)};
   
    }


}

































#canvas{

    /*Restructuring of functions required*/
    .create(@unit,@width,@height){

     
            
            @defaultUnit:@unit;
            margin-left:auto;
            margin-right:auto;
           
            #craft > #box > .setWidth(@width,@unit);
         
           // #craft>#grid>.createColumns(@totalColumns,~"@{columnWidth}@{unit}s")
        
        
        
    }
#grid{



 .fluid (@totalColumns:3,@columnWidth) {

            
          #craft > #canvas > #grid > .createColumnSizes(@totalColumns,@columnWidth);

           .column-group,.row-group,.row,.column{display:block;}
           .column-group{overflow:hidden;}
            .column{ clear:none;float:left; margin-bottom: -99999px; padding-bottom: 99999px;}
           .row-group .row{clear:both;width:100%;}
           

          

       
    }

    .flexi(@maxRatios)
    {
         #craft > #canvas > #grid > .createColumnSizes(@maxRatios);
         
         body{
              #craft>#box>.displayAs(box);
              #craft>#box>#flexBox>.packAs(center);
              #craft>#box>#flexBox>.orientation(horizontal);
              #craft>#utility>.fillParent(width);
            }
      
            .column-group,.row-group
            {
                #craft>#box>.displayAs(box);
                #craft>#utility>.flexResize(enable);
            }


            /*
            .column represents single column
            .row represents a single row*/

            .column,.row{#craft>#utility>.flexResize(enable)}
          

            /*Group of columns*/
            .column-group{#craft>#box>#flexBox>.orientation(horizontal);}

            /*Group of rows*/
            .row-group{#craft>#box>#flexBox>.orientation(vertical);}


        
    }
    

    .gutter(@left,@right,@top,@bottom){
        .gutter-right{#craft>#box>.setMargin(right,@right)};
        .gutter-left{#craft>#box>.setMargin(left,@left)};
        .gutter-top{#craft>#box>.setMargin(top,@top)};
        .gutter-bottom{#craft>#box>.setMargin(bottom,@bottom)};
    }

    .createColumnSizes(@totalColumns,@columnWidth,@unit:@defaultUnit) when (@totalColumns > 0) 
    {
          (~".span-@{totalColumns}") { #craft > #box > .setWidth(@columnWidth*@totalColumns,@unit);}

            // next iteration
          #craft>#canvas>#grid>.createColumnSizes(@totalColumns - 1,@columnWidth,@unit);

    }

    .createColumnSizes(@maxRatios) when (@maxRatios > 0)
    {
         (~".ratio-@{maxRatios}") {#craft > #box > #flexBox > .setRatio(@maxRatios);}

         // next iteration
         #craft>#canvas>#grid>.createColumnSizes(@maxRatios - 1);

    }
}

 



}


    
}



