/*******************************************************************************

                                HEADER

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .header-panel{background-color:#1a9acc;/*height:161px!important;*/ height: 132px !important;  margin-top:-10px; /*padding: 5px 0 !important;*/ /*padding: 50px 0 !important;*/}
    .header{padding:15px 0 27px!important}


    .top-container{float:none!important; margin: 0!important;}
    .top-container .widget-banner li{width:100%!important;}

    .header-panel{/*margin-top:-35px !important;*/ width:291px/*331px*/ !important;display:inline-block !important; text-align:center !important; border-bottom: 5px solid #43DADB!important;}

    .header-container{border-bottom:3px dotted #F8FD9E !important; padding: 0 0 10px 0!important; background-color:#FFFFD6!important; text-align:center !important;/*border-top:10px solid /*#5FC77F#F8FD9E !important*/ }

    .header{vertical-align:top !important; float:none !important; padding:0!important; margin:6px 0 0  !important;  display:block!important;text-align:center!important}


}



@media screen and (max-width:685px)
{
    /* .header-panel{width:39%!important;}*/
}

@media screen and (max-width:625px)
{


    /* .header-panel{width:41%!important;}*/

}

@media screen and (max-width:580px){


    .header-container{border-top-width: 8px !important}

}

@media screen and (max-width:685px)
{


    /* .header{width:55%!important;}*/

}

/*******************************************************************************

                               FOOTER 

*******************************************************************************/
@media screen and (max-width: 720px){

    .footer > div{
        width: 34%!important
    }

}

/*******************************************************************************

                               Wrappers & Columns 

*******************************************************************************/
@media screen and (max-width:970px)
{
     .page, .main, .col-1-layout,.col3-layout,.product-view,#product_addtocart_form{width:100%!important;}

 

    .col-left{padding-left: 5px!important}
    .col3-layout .col-wrapper{float:none!important;}
    
    /*PRODUCT LISTING PAGE*/
    .catalog-category-view .col-wrapper, .catalog-category-view .col-main{width:82%!important;}

    
}

@media screen and (max-width: 931px)
{
    .wrapper{background: none!important;border:/*10px*/ 7px solid /*#F8FD9E*/#FFFF9E!important }

    .main{padding:0!important;}
    .main.col3-layout{text-align: center!important}

    
    .catalog-category-view .col-wrapper,.col3-layout .col-wrapper .col-main{width:100%!important}
    .col3-layout .col-wrapper .col-main{float:none!important;}



}

@media screen and (max-width: 600px)
{
    .wrapper{border:0!important;}
}

/*******************************************************************************

                               SIDEBARS

*******************************************************************************/
@media screen and (max-width:970px)
{

    
    .catalog-category-view .sidebar.col-left, .catalog-category-view .sidebar.col-right{width:17%!important;}
    .catalog-category-view .sidebar.col-right{padding:0!important}
    
}
@media screen and (max-width: 931px)
{
    .sidebar.col-left{display:none!important;}
    .catalog-category-view .sidebar.col-right{border-top:1px dotted #4AE6FF !important; margin-top:32px!important;float:none!important;width:642px!important;background-color:transparent; display:inline-block!important}

    .sidebar.col-right{border:0!important}
 
    /* .sidebar .block > .block-content > ol, .sidebar .block > .block-content > ul{display:inline-block!important}*/



    /*.sidebar.col-right > div{display: inline-block!important; text-align:center!important;}*/





}
