
.is-disabled { background:#f6f6f6 !important; color:#bbb !important; }

/*********************
Button States
*********************/
.is-button{line-height:20px!important;cursor:default !important;background-image:url(../images/bkg_btn.gif)!important; background-repeat:no-repeat!important;}

.is-button-enabled{}
.is-button-disabled {  bottom:0 !important; right:0 !important;color:#bbb !important; }

.is-button-hover{}
.is-button-pressed{bottom:-1px!important; right:-1px!important; position:relative!important; z-index:2!important;}


.is-button-small { font-size:11px; line-height:14px; padding:1px 9px 0; }
