@import "layout.css";

@import "modules/branding.css";
@import "modules/banners.css";
@import "modules/buttons.css";
@import "modules/navigation.css";
@import "modules/dashboard.css";

@import "modules/product.css";

@import "modules/demo-notice.css";
@import "modules/toolbar.css";
@import "modules/forms.css";

@import "modules/widgets/block.css";
@import "modules/widgets/closable-item.css";

@import "modules/widgets/compare-products.css";
@import "modules/widgets/polling.css";
@import "modules/widgets/recently-viewed-products.css";
@import "modules/widgets/layered-navigation.css";
@import "modules/widgets/popular-tags.css";
@import "modules/widgets/recently-compared-items.css";

@import "modules/icons.css";










/*******************************************************************************

                                PRODUCT DESCRIPTION PAGE

*******************************************************************************/

@media screen and (max-width:931px)
{
    .product-view{text-align: center!important;}
    
   

    /*Product Descripion Page*/
   
    



  


  

}   


/*******************************************************************************

                                Device Specific Media Quries

*******************************************************************************/


@media screen and (max-width:965px)
{
    #magento-logo{margin-left:8px;}




    /*Product Lists*/
    .cms-home .home-new-products ul.products-grid li{margin:0 1% 0 0!important}
}









@media screen and (max-width: 931px){

    /* .main{background-color:#ecfaff!important;}*/



    /* .sidebar .block-viewed{width:244px!important;}*/

    .block-poll .block-content{text-align:left!important;}

    /*.sidebar .block-tags{width:112px!important;
    }*/
    .category-image{display:none;}





    /*Product Details*/
    .box-collateral{padding-left:15px!important}
    .product-img-box #main-image{display:inline!important}



}














