/*#############################################################################



                                    LINKS



#############################################################################*/

/*=================================================================

                    CONFIGURATION -> LINK CARET

=================================================================*/
$default-link-caret-size: $default-caret-size;
$default-link-caret-color: $default-caret-color;

/*=================================================================

                  CONFIGURATION -> REGULAR LINKS

=================================================================*/

/****** LINKS ******/
$include-link-classes: true;


$default-link-config:
text-transform none,
line-height inherit,
display inline-block,
text-decoration none,
color color(dark-beige);

$default-link-hover-state-config:
color color(blue), text-decoration none;

/*=================================================================

                CONFIGURATION -> RESPONSIVE IMAGE LINKS

=================================================================*/
//LINKS CONTAINING RESPONSIVE IMAGES
$include-responsive-image-link-classes: true;

/*=================================================================

                CONFIGURATION -> FORM LINKS

=================================================================*/
$include-form-link-classes: true;

$default-form-link-config: font-size 11px, color color(dark-gray), text-decoration underline;

/*=================================================================

                    CONFIGURATION -> EMAIL LINKS

=================================================================*/

/****** EMAIL LINKS ******/
$include-email-link-classes: true;

$default-email-link-config: null;
$default-email-link-hover-state-config: null;


/*=================================================================

                    CONFIGURATION -> HELP LINKS

=================================================================*/
$include-help-link-classes: true;

$default-help-link-cursor: help;
$default-help-link-config: color color(dark-gray), font-size 12px;

/*=================================================================

                        CORE -> NORMALIZE

=================================================================*/

/****** NORMALIZE ******/

%link-normalize{
    //
    // Address `outline` inconsistency between Chrome and other browsers.
    //

    a:focus {
        /*outline: thin dotted;*/
        //Modified by Faraaz
        outline: 0;
    }

    //
    // Improve readability when focused and also mouse hovered in all browsers.
    //

    a:active, a:hover {
        outline: 0;
    }

    img, .img { border:none; }

    background-color: transparent;
}





/*=================================================================

                      CORE -> CSS CLASSES

=================================================================*/
/****** LINK CLASSES ******/
@if $include-link-classes == true or $include-email-link-classes or $include-help-link-classes or $include-form-link-classes{
    a, .link, .email-link, .help-link, .form-link{

        @extend %link-normalize;
        @include style($default-link-config);
        .caret-down{
            @include style-caret($size: $default-link-caret-size, $color: $default-link-caret-color, $direction: down);
        }
        &:hover{
            @include style($default-link-hover-state-config, $is-state: true);
            .caret-down{color: inherit !important}
        }

    }


}



/*=================================================================

                         CUSTOM LINK STYLES

=================================================================*/
//Styles
%gray-link-with-underline{
    color: color(dark-gray);
    //@include use-style(dark-gray-underline);
    text-decoration: underline;
    //line-height: 11px;
    font-size: 11px;
}