/*#################################################################################################



                                    TEXT BOXES



#################################################################################################*/





/*============================================================================== 

                               CONFIGURATION

===============================================================================*/

/*-----------------------------
        HTML LAYOUT
-----------------------------*/

/*
<TEXTBOX GROUP>

    <TEXTBOX FIELD>
        <FORM CONTROL LABEL>
        <TEXTBOX CONTROL>
             <INPUT TYPE="text" class="textbox">
             <VALIDATION TEXT>
             <VALIDATION ICON>
        </TEXTBOX CONTROL>
    </TEXTBOX FIELD>

</TEXTBOX GROUP>
*/


$include-textbox-classes: tue;

/******* TEXTBOX GROUP CONFIG *******/
$default-textbox-group-pack-spacing: $default-field-group-spacing + 7;
$default-textbox-group-stack-spacing: $default-field-group-spacing + 7;


/******* TEXTBOX FIELD CONFIG *******/

$default-textbox-field-pack-spacing: $default-pack-spacing + 5;
$default-textbox-field-stack-spacing: $default-stack-spacing + 5;

$default-textbox-field-controls-pack-spacing: $default-pack-spacing;
$default-textbox-field-controls-stack-spacing: $default-stack-spacing;

/******* TEXTBOX CONTROL CONFIG *******/



$default-textbox-control-config: 
border (width 1px, style solid, color color(medium-beige)),
class 'inset-shadow-light'
;

$default-textbox-control-typography:
font (size 12px, weight 400),
color color(dark-beige)
;

$default-textbox-control-placeholder-config:
color color(dark-beige);

//INPUT INDENT
$default-textbox-control-input-indent: 5px;

/******* FORM CONTROL  LABEL CONFIG *******/
$default-textbox-label-config: null;
$default-textbox-label-typography: null;



/******* TEXTBOX INPUT CONFIG *******/
//NO STYLES

/*============================================================================== 

                                  CORE

==============================================================================*/



@if $include-textbox-classes{

  
    .fieldset{
        /******** TEXTBOX GROUP SPACING ***********/
        //@include make-pack($child-name: 'textbox-group', $spacing: $default-textbox-field-pack-spacing, $wildcard: '*', $reference-parent: true);
        //@include make-stack($child-name: 'textbox-group', $spacing: $default-textbox-field-stack-spacing, $wildcard: '*', $reference-parent: true);
    }
    .textbox-group{
        /******** TEXTBOX FIELD SPACING ***********/
        //@include make-stack($child-name: 'textbox-field', $spacing: $default-textbox-field-stack-spacing, $wildcard: '*', $reference-parent: true);
        //@include make-pack($child-name: 'textbox-field', $spacing: $default-textbox-field-pack-spacing, $wildcard: '*', $reference-parent: true);

    }

    .textbox-field{

       



        /******** TEXTBOX FIELD CONTROL SPACING ***********/
     
        @include make-pack($spacing: $default-textbox-field-controls-pack-spacing, $wildcard: '*', $reference-parent: true, $create-spacing-only: true);
   @include make-stack($spacing: $default-textbox-field-controls-stack-spacing, $wildcard: '*', $reference-parent: true, $create-spacing-only: true);



        .form-control-label{
            @include style($default-textbox-label-config);
            @include style($default-textbox-label-typography);
        }





    }
    .textbox, input[type="text"]{
        @include box-sizing(border-box);
        @include style($default-textbox-control-config);
        @include style($default-textbox-control-typography);
        padding-left: $default-textbox-control-input-indent;
        width: 100%;
            @include placeholder();
      
    }


}

//Mixins
@mixin text-box-size($size){
    $size: unquote('%'+ $size +'-text-box');
    @extend #{$size};
}
@mixin text-box-style($style){
    @include use-style($style);
}
@mixin text-box($text-box){
    @include use-style($text-box);
}

/*============================================================================== 

                          CUSTOM TEXTBOX STYLES

==============================================================================*/

//Textbox Sizes
%tiny-text-box{

}

//Used for: newletter-subscribe, min-search
%small-text-box{
    @include height(12px);
    width: 210px;
    padding: 3px 7px;
}

%medium-text-box{
    width: 304px;
    @include height(21px);
}

%large-text-box{
    //No Styles
}

%jumbo-text-box{
    //No Styles
}


