

/*@mixin height( $height, $line-height: $height, $v-align:middle, $child-height: 100%, $child-content-v-align: middle){

    height: $height;
    line-height: $line-height;
    vertical-align: $v-align;

    //& > * { height: $child-height; vertical-align: $child-content-v-align}
    //& > * > *{vertical-align: $child-content-v-align }
    

}*/
//unquote((strip-unit($height) - 1 ) + 'px')
@mixin height( $height, $min-height: 0, $line-height: $height, $v-align:middle, $align-children: false,$children-v-align: middle){
    height: $height;
    min-height: $min-height;
    @if $line-height != auto{
        line-height: $line-height;
    }

    vertical-align: $v-align;

    @if $align-children{
        > *{
            height: $height;
            min-height: $min-height;
            @if $line-height != auto{
                line-height: $line-height;
            }

            vertical-align: $children-v-align;
        }
    }
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
    &:before,
        &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}


// Box sizing
@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

@mixin fluid-width($width,$min: false, $max: false){
    width: $width;

    @if $max == false { max-width: none; } @else { max-width: $max; }

    @if $min == false { min-width: 1px; } @else { min-width: $min; }
}



