/*******************************************************************************

                              HOME PAGE BANNER & THUMBNAILS

*******************************************************************************/
@media screen and (max-width: 931px)
{
    /*Home Page Banner*/
    .slides_control div{position:relative!important}
    .slides_control{width:100%!important;height:100%!important}
    .cms-home #homepage-main-slides .slides_container{height:100%!important}
    .cms-home #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{height:200px!important; top:75px!important}
    .cms-home #homepage-main-slides .slides_container{border:0!important;}
    .widget-banner a span{padding: 0 0 5px!important}

    /*Home Thumbs*/
    .cms-home ul.home-thumbs{width:100%!important; text-align: center!important}
    .cms-home ul.home-thumbs li{width:31.5%!important;display:inline-block!important; vertical-align: text-top; float:none!important}
    .cms-home ul.home-thumbs li a{display:inline-block!important;width:100%!important;height:100%!important;padding:0!important}
    .cms-home ul.home-thumbs li a strong{display:inline!important}
    .cms-home ul.home-thumbs li a span{margin:auto 0!important; height:100%!important;display:inline-block!important;padding-top:6%;}
    .cms-home ul.home-thumbs li:nth-child(2){margin-left: 1%!important; margin-right:1%!important}

}

@media screen and (max-width:862px)
{
    .cms-home ul.home-thumbs li strong {letter-spacing:  normal!important;}
}

@media screen and (max-width:605px)
{
    .cms-home ul.home-thumbs li a{letter-spacing:3px!important;width:96.5%!important}
    .cms-home ul.home-thumbs li:nth-child(2) strong{font-size:20px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size:22px!important}
    .cms-home ul.home-thumbs li:nth-child(1) a span{padding-top:7%!important;}


}


@media screen and (max-width:520px){
    .cms-home ul.home-thumbs li a{letter-spacing:2px!important;}
    .cms-home ul.home-thumbs li:nth-child(2) strong{font-size:19px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a{font-size: 13px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size:21px!important;}


}

@media screen and (max-width:490px){
    .cms-home ul.home-thumbs li a{font-size:12px!important;}

    .cms-home ul.home-thumbs li:nth-child(3) a {font-size: 12px!important;}
    .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size: 19px!important}
    .cms-home ul.home-thumbs li:nth-child(3) a span,.cms-home ul.home-thumbs li a span{padding-top:12%!important}

    .cms-home ul.home-thumbs li:nth-child(2) strong{font-size:18px!important;}

    .cms-home ul.home-thumbs li:first-child a{font-size:14px!important;}
    .cms-home ul.home-thumbs li:first-child a strong{font-size: 22px!important}
    .cms-home ul.home-thumbs li:first-child a span {padding-top:13%!important;}
}

@media screen and (max-width:450px){
    .cms-home ul.home-thumbs li:first-child a strong{font-size: 18px!important;}
}

@media screen and (max-width:450px){
    .cms-home ul.home-thumbs li:first-child a{font-size: 14px!important;}
    .cms-home ul.home-thumbs li:first-child a strong, .cms-home ul.home-thumbs li:nth-child(2) strong, .cms-home ul.home-thumbs li:nth-child(3) a strong{font-size: 15px!important;}

    .cms-home ul.home-thumbs li a{font-size:11px!important;}
}


/*******************************************************************************

                                   PROMO BANNER

*******************************************************************************/
@media screen and (max-width:931px){

    .cms-home .widget-banner{
        margin-top:40px!important;
    }
    .top-container .widget-banner li{ border-bottom: 2px dotted #80FAE6 ;letter-spacing:5px;}


}

@media screen and (max-width:720px){
    .top-container .widget-banner li{letter-spacing:5px!important}
}

@media screen and (max-width:675px){
    .top-container .widget-banner li{letter-spacing:3px!important}
}