/*******************************************************************************

                                Branding  F8FDB2

*******************************************************************************/

@media screen and (max-width:965px)
{
    /*.branding{margin-left: 30px!important;}*/
    .welcome-msg{margin-left:8px!important}
}

@media screen and (max-width: 931px)
{

    .branding, .branding h1.logo,  .branding h1.logo a {display:inline-block!important; height:100%!important;}

    .header-panel .welcome-msg{/*padding-left: 28px;*/font-style:italic!important; ;float:left!important;margin:1px 5px 0 0 !important /*2px*/;font-size: 11px;line-height: normal;font-weight:500!important}

    .branding{float:none!important;display:inline-block;/*margin-left:12px*/}
    .branding h1.logo a{font-family: Raleway; font-size:45px; font-weight:200; color:#FFFFFF}
    .logo .madison {font-weight:600;display:block;}


    a.logo:hover{text-decoration: none!important;}
    .branding a.logo{padding:0;float:none;}
    /* a.logo img{vertical-align: text-top!important}*/
    .branding h1.logo a{font-size:41px!important; text-align: center!important; padding: 23px 0 0 0!important}

}



@media screen and (max-width: 840px){


    /* .branding{margin-left:-16px!important}*/
}

@media screen and (max-width: 730px){
    /*.branding h1.logo a{font-size:46px!important}*/
}

@media screen and (max-width:685px)
{/* .header-panel .welcome-msg{font-size:11px !important; margin: -43px 8px 0!important;}
  .branding h1.logo a{font-size:42px !important;}  
  .logo .madison{margin-bottom:0!important;}*/
}

@media screen and (max-width:580px){

    /*.header-panel .welcome-msg{font-size:10px!important; margin:-41px 14px 0 !important}*/

}