/*******************************************************************************

                              MINI DASHBOARD

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .mini-dashboard{float:none;display:block; text-align: left!important;}
    .mini-dashboard >li:nth-child(2){background-color:#80FAE6 !important;}
    .mini-dashboard >li:nth-child(3){background-color:#89EDFA !important;}
    .mini-dashboard >li{
        border-bottom:5px solid /*#F8FD9E*/  /*#FFFF99*/#FFFFA2 !important;
        background-color: #73F4ED !important;
        display: inline-block !important;
        float: left !important;
        height: 100% !important;
        line-height: normal !important;
        margin: 0 1px 0 0;
        /* margin-bottom: 1px !important;
         margin-left: 0 !important;
         margin-right: 1px !important;
         margin-top: 2px;*/
        /*padding: 43.2px 0 !important;*/
        vertical-align: top !important;
        width: 32.9% !important;
        text-align:center!important;

    }

    .top-cart{padding:0 22px 0 15px!important;}

    .mini-dashboard{height:122px !important;width:260px/*13.5%*/!important;  vertical-align:top!important; display:inline-block!important; /*border-bottom:2px dotted #5CDFDA!important*/}


    /*.mini-dashboard{vertical-align:top!important; margin: 0 0 0 3px!important}

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{float:none !important;display:block!important; height:35px!important;text-align:center!important;padding:0!important;}
    .mini-dashboard a, .mini-dashboard h3, .mini-dashboard strong{ color:white !important; font-weight:600!important}
    .mini-dashboard ul.links{padding-top:17px!important; height:13px!important;}*/
    .top-cart .block-title{line-height: normal!important}

    .mini-dashboard  a, .mini-dashboard h3 span,  .mini-dashboard h3  , .mini-dashboard strong{background:none!important; padding:0 !important; color:white!important;/*color:#1A9ACC !important;*/ font-weight:bold!important; font-size:13.5px!important}
    /*.mini-dashboard strong{color:#5FC77F !important}*/

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{padding:39px 0 0!important;display:inline-block!important; float:none!important}
    /*.mini-dashboard ul.links, .mini-dashboard .top-cart{margin-right:11px!important}*/


}



@media screen and (max-width: 845px){
    .top-cart {padding:0 22px 0 15px;}
}
