/*******************************************************************************

                                Demo Notice

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .demo-notice{height:56px;}
    #magento-logo,.demo-notice .notice-inner p{float:none;}
    #magento-logo{display:table-row;margin: 0;}
    .demo-notice .notice-inner p{display:block; line-height:27px;margin-left: 0;}
    #global-site,#demo-notice{text-align:  center;}
    .demo-notice .notice-inner{width:100%;}

}
@media screen and (max-width:948px)
{
    .demo-notice ul.social-media-links{margin-right:5px !important;}
}
@media screen and (max-width:943px)
{
    .demo-notice ul.social-media-links{margin-right:10px !important;}
}
@media screen and (max-width:938px)
{
    .demo-notice ul.social-media-links{margin-right:15px !important;}
}


@media screen and (max-width: 905px)
{
    #demo-notice{display:none!important;}

}
