/*******************************************************************************

                              SEARCH FORM

*******************************************************************************/
@media screen and (max-width:965px)
{
    .form-search{margin-right: 8px;}
}

@media screen and (max-width: 931px)
{
    /*Header Search Form*/
    #search_mini_form .form-search{float:none;padding:0 !important}
    #search_mini_form {display:inline-block!important; margin-top:0px!important; }
    .header .form-search input.input-text{border-color: #49bfed!important; border-top:0!important;border-style: dashed!important; color:#50A4CF!important}

    #search{/*background:transparent!important;*/ border:1px dotted #5CDFDA !important;  width:118px!important; height:23px!important;}

}

/*******************************************************************************

                                   SUBSCRIBE FORM

*******************************************************************************/
@media screen and (max-width:320px){
    .v-fix{float:none!important;}
    .form-subscribe .v-fix  input{border-right:1px solid #D8D8D8!important;}
}