/*******************************************************************************

                              Navigation

*******************************************************************************/
@media screen and (max-width: 931px)
{
    /*Navigation*/
    #nav{margin-bottom:10px!important; margin-top:-7px!important;}
    #nav, .nav-container, #nav li.level-top{transition-property: all !important;transition-duration: 350ms !important; }
    #nav li.level-top a.level-top span{padding:0!important; float:none!important;}
    #nav li.level-top{ /*min-width: 100px;*/ width:85px!important;text-align:center;margin-right:5px;float: none!important;display:inline!important;margin-right:32px;}
    #nav li.level-top.last{margin-left: 5px;margin-right:0}
    #nav li.level-top.first a.level-top span{/*padding-left: 15px!important;*/}
    #nav li.level-top a.level-top{float:none!important; padding-bottom:3px!important; display:inline-block!important}
    .nav-container{margin-top:-15px;/*border-bottom: 2px dotted #43DADB !important*/ border:0!important;margin-top:-15px!important;}
    #nav li.level-top a.level-top{color:#1a9acc!important; font-weight: 500}
    /*#nav li.level-top .shown-sub{position:relative!important; display:inline!important; top:0!important;left:0!important;width:100%!important;background:none!important;border:0!important;}*/
    #nav > li > ul{top:25px!important;}
    #nav li.level-top a.level-top span{font-size:13px!important;}

    #nav >li.level-top.nav-1, #nav >li.level-top.nav-2, #nav >li.level-top.nav-3{background-color:#43DADB!important; color:#F8FD9E !important;  }
    #nav >li.level-top.nav-4, #nav >li.level-top.nav-5, #nav >li.level-top.nav-6{color:#43DADB!important; background-color:/*#F8FD9E*//*#FFFF99*/ #FFFFA2 !important; }

    /*#nav >li.level-top.nav-1{margin-left:12px !important}*/
    #nav li.level-top a.level-top{color:inherit !important; font-weight: 600 !important; }

    #nav >li.level-top.nav-3{width:110px!important}
    #nav >li.level-top.nav-4{width:113px!important; margin-left:0!important}
    #nav >li.level-top.nav-6{width:50px!important; }
    /*#nav li.level-top:hover{padding:100px 0!important;*/

    .nav-container{margin-top:0!important; background: none!important;}

    #nav li.level-top{  float:none!important; /*height:60px!important; height:auto!important;*/ height:auto!important; line-height:20px!important;   display:inline-block!important; margin:1px!important;}

    /* .top-cart .block-title strong{background:url("../images/madison-sprite-a.png") no-repeat scroll 5px -219px transparent!important; padding:0 0 0 10px !important}
     .top-myaccount h3{background:url("../images/madison-sprite-a.png") no-repeat scroll -7px -206px transparent!important;}
    */

    #nav li.level-top.nav-1:hover ~ li.nav-5, 
    #nav li.level-top.nav-1:hover ~ li.nav-6
    {margin-top:-100px!important;}

    #nav li.level-top.nav-2:hover ~ li.nav-4, 
    #nav li.level-top.nav-2:hover ~ li.nav-6
    {margin-top:-123px!important;}

    #nav li.level-top.nav-3:hover ~ li.nav-4, 
    #nav li.level-top.nav-3:hover ~ li.nav-5
    {margin-top:-100px!important;}
}



/*******************************************************************************

                                BreadCrumbs

*******************************************************************************/
@media screen and (min-width: 932px){
    .breadcrumbs{display:block!important;}
}
@media screen and (max-width: 931px){
    .breadcrumbs{padding:0!important; display:inline-block!important;/*margin-left:5px*//*-251px*//*!important*/; width:108%!important;  border-bottom:2px dotted #80FAE6 !important; line-height: 13px!important;}

}
@media screen and (max-width: 630px){
    .breadcrumbs{width:105%!important}
}

@media screen and (max-width: 600px){
     .breadcrumbs{width:103%!important}
}
@media screen and (max-width: 580px){
     .breadcrumbs{width:100%!important}
}



/*@media screen and (max-width: 820px){
    .breadcrumbs{width:60%!important}
}

@media screen and (max-width:550px){
    .breadcrumbs{width:460px !important;margin-top:-17px !important;margin-left:-221px !important}
}*/

