/*******************************************************************************

                                PRODUCT GRID DISPLAY

*******************************************************************************/
@media screen and (max-width:965px)
{
    .category-products, .cms-home .category-view{width:100%!important;text-align:center!important;}
    /*.products-grid{width:100%!important}*/
    .products-grid{width:642px!important; text-align: left!important; display: inline-block!important;}
    .products-grid li.item{float:none!important; display: inline-block!important; vertical-align: top!important;}

    /*Product Lists*/
    .cms-home .home-new-products ul.products-grid li{margin:0 1% 0 0!important}


}

@media screen and (max-width:931px)
{
    .products-grid li .product-image-block div.actions{display:inline-block!important;}
    .products-grid .product-name{padding: 3px 0!important; margin:0px 0px 3px 0!important; font-size: 14px !important; font-weight: 500!important;background-color:#63E6FF!important}
    .products-grid .product-name a{color:white!important}
    .products-grid li .product-image-block{border: none!important;border-bottom: 1px dashed #4AE6FF!important }
    .products-grid li.item{height: 363px!important; border:1px dashed #4AE6FF!important}

    .products-grid .actions{position: static!important;margin:11px 0 0 0!important}
    /*  a.link-wishlist { background-position:-4px -572px !important;  }
      .category-view  ul.add-to-links li a.link-compare{background-position: -4px -492px!important;}*/
    .category-view button.btn-cart{margin: 5px -3px -1px 0!important}
    .category-view ul.add-to-links{margin: 5px 0 0 2px!important}

    .category-view button.btn-cart span span{height:26px!important;background-color:#63E6FF!important; border:none!important;border-top-left-radius:6px!important}
    .ratings{margin:-6px 0 8px!important}



    .products-grid .price-box{display:inline-block!important;margin:9px 0 4px!important;}
    .products-grid .price{font-size: 20px!important; color:#21DFC7 !important}

    .ratings + .actions{margin:-4px 0 0 0!important}
}
@media screen and (max-width:675px)
{
    .products-grid li.item{margin-right:3px!important;  }
    .products-grid{width:414px!important}
}

/*******************************************************************************

                               PRODUCT SHOP

*******************************************************************************/

@media screen and (max-width:970px)
{
    .product-view .product-shop{width:54%!important;
                                display: inline-block!important; float:none!important;vertical-align: top!important
    }



}

@media screen and (max-width:931px)
{
    .product-view .product-shop{width:52%!important}
    #product_addtocart_form{text-align: left!important; margin-top:30px!important;border:0!important; }
    .product-view .product-shop .product-main-info, .product-view .short-description, .product-view .short-description + .std, .options-container-small{
        /* border-top:1px dashed #49BFED!important;
         border-bottom:1px dashed #49BFED !important;*/
        background-color:transparent !important; 
        display:block!important;
        width:100%!important;
        margin-top:10px!important;
        min-height:40px!important;


    }
 .product-view .short-description {min-height:auto!important}
#customer-reviews
{background: transparent!important;}
.product-view .box-mini-reviews .box-title{padding:0!important; }


    /*Product Main Info Block*/
    .product-view .product-main-info p:not(.product-ids), 
    .product-view .product-main-info .ratings,
    .product-main-info .ratings .rating-box,
    .product-view .product-main-info .price-box
    {float:none!important; margin:0!important; display:block!important;position: static!important; vertical-align: top!important; }

    .product-view .product-main-info .price-box{width:auto!important; text-align:left!important;margin-top:5px!important;}
    .product-view .short-description, .product-view .short-description + .std{padding:0!important; font-family: Raleway,Arial,Helvetica,sans-serif!important;margin:0!important; font-size:12px!important;}
    .product-view .short-description + .std{margin-top:5px!important}
    .product-shop .box-collateral{width:95%!important; display:block!important; padding:0!important;margin:20px 0 0 0 !important}

}

/*******************************************************************************

                               PRODUCT IMAGE BOX

*******************************************************************************/

@media screen and (max-width:970px)
{

    .product-view .product-img-box{
        width:44%!important;margin-right:1%!important;
        display: inline-block!important; float:none!important;vertical-align: top!important

    }
}

@media screen and (max-width:931px)
{
    .product-view .product-img-box{text-align: center!important;width:46%!important}
    .more-views{display:inline-block!important;vertical-align:top!important; margin:0 !important;margin-top:22px!important}
    .more-views img{width:82px!important; height:82px!important;}
    .more-views ul{text-align: left !important; display:inline-block!important}
    .more-views img{width:82px!important; height:82px!important;}
    .more-views{width:100%!important;}
    .more-views h2{display:none!important}
    .more-views li{border:1px solid #DDDDDD!important; display:inline-block!important; margin:0 6px 6px 0!important}

    .product-img-box p.notice {padding: 0 0 2px 0!important}



}

@media screen and (max-width:635px)
{
    .more-views{width:30%!important}
}
/*******************************************************************************

                         PRODUCT CUSTOMIZATION

*******************************************************************************/

@media screen and (max-width:931px)
{
    .options-container-small .product-options-bottom{float:none!important}
    .product-options  select{

        padding:4px!important;
        width:100%!important;
    }

    .product-options  label, .add-to-cart label{
        color: #50A4CF!important;
        font-size: 14px!important;
        font-weight: 600!important;
        padding: 5px 0!important;
        text-transform: uppercase!important;
        margin:0!important;

    }

    .product-options  .required em {
        float: none;
    }
    .required em {
        color: #DA1818;
        float: left;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-size: 14px;
        font-weight: bold;
        margin: 0 4px;
    }
    
    .product-options li
    {display:inline-block!important;width:49%!important; vertical-align: top!important;  }
    
    .add-to-cart .qty{display:block!important;}
}

/*******************************************************************************

                         COMPARE, WISHLIST , FACEBOOK BUTTONS

*******************************************************************************/
@media screen and (max-width:931px)
{
    .additional-actions ul, .additional-actions ul li{display:inline-block!important;float:none!important;vertical-align: middle!important;}
    .additional-actions{padding:0!important; border: 0!important;}
    #social_facebook_block{margin:0!important; }
    #social_facebook_block *{text-align: center!important; float:none!important;}
    #social_facebook_block .facebookBtn{display:inline-block!important; float:none!important;}


}
/*******************************************************************************

                        PRODUCT SPECIFICATION TABLE

*******************************************************************************/



@media screen and (max-width: 931px){
    .product-view > .product-name  .data-table{border:0!important; }
    .product-view > .product-name .data-table tr{display:inline!important}
    .product-view > .product-name .data-table .label,.product-view > .product-name .data-table .data{color: #37CEFF !important;font-size:15px!important; font-weight:600!important; font-style:italic!important;  padding:0!important;background:none!important;vertical-align: middle!important; }
    .product-view > .product-name .data-table tbody{text-align: center!important;}
    .product-view > .product-name .data-table .label{color:#21DFC7!important; padding:0 4px 0 9px !important;  text-transform: none!important; font-size:15px!important; font-weight:500!important;  }

}

/*******************************************************************************

                        TAG THIS PRODUCT

*******************************************************************************/

@media screen and (max-width: 931px){
    .product-view .box-tags .LHS{
       float:none!important;
    } 
    
    .box-tags.box-collateral{padding:0!important;margin:0!important;}
    #addTagForm label{display:none!important;}
    .box-tags .box-title{display:none!important}
    
}

/*******************************************************************************

                      RELATED PRODUCTS

*******************************************************************************/
@media screen and (max-width: 931px){
    .box-related, .box-related ul.box-content{display:inline-block!important; float:none!important; width:100%!important;text-align: center!important; }
    .product-view .box-related li.item{vertical-align:top!important; min-width:30%!important;float:none!important; display:inline-block!important}
    .box-related ul.box-content{width:86%!important;text-align: left!important;}

}

/*******************************************************************************

                        PRODUCT TABS

*******************************************************************************/
@media screen and (max-width: 931px){
    .tab-content{padding:13px 10px !important;}
    .tab-content{background-color:/*#EDEDED*/white!important; border: 2px dotted #FFFF5C!important}
    .tab-container{top:23px!important; }
    .tab{
        background-color: white/*#ededed/*#E8E8E8  /*#DEDEDE*/!important; 
        min-width:73px !important; 
        min-height:20px!important; 
        text-align: center!important;
        /*border-top-left-radius:5px!important;
        border-top-right-radius:5px!important;*/
        border: 1px dotted #FFFF5C !important; 
        border-top:2px solid #FFFF5C!important;
        border-bottom: 0!important; 


    }
    .tab span{padding:0 14px!important; float:none!important; vertical-align: middle!important; display: inline-block!important; margin-top:2px!important}
}

/*******************************************************************************

                                   TITLES & HEADINGS

*******************************************************************************/
@media screen and (max-width:970px)
{
    .page-title,.category-title{padding-left: 5px!important}
}

@media screen and (max-width: 931px){
    .product-view .product-name h1, .page-title h1{color:#73F4ED !important; font-size: 50px!important; font-weight: normal!important;line-height:50px!important;}
    .page-title, .product-view .product-name{padding:49px 0 10px !important;text-align: left!important;display:inline-block!important}


}


@media screen and (max-width:550px){
    .page-title h1{font-size: 61px!important;}
    /*Bread Crumb*/

}