/*******************************************************************************

                                   TOOLBAR

*******************************************************************************/
@media screen and (max-width: 931px){

    /*ToolBar*/

    .pager .limiter,.sorter{float:none!important;}
    .toolbar .pager,.sorter{height:25px;text-transform: uppercase!important; margin:0!important; text-align:left;width:auto!important;display:inline-block!important;float:none!important;vertical-align:top!important;}
  
    .sorter .sort-by, .sorter .view-mode, .pager , #narrow-by-list{border:2px dotted #80FAE6!important; border-top: 0!important;  padding: 0 7px!important; margin: 0 10px 0 0 !important;float:none!important;display:inline-block!important;border-bottom-left-radius:6px!important; border-bottom-right-radius:6px!important}
   

    .toolbar{padding:0!important;margin:-10px 0 16px 0!important;text-align:center!important;float:none!important;text-transform: none!important;width:100%!important}

}