/*============================================================== 

                            CORE

==============================================================*/


.accordion{


    .nav-section{
        display: block;  
        text-align: left;
        height: auto;

        [dropdown-toggle]{
            width: 100%;
        }
        
        
        /*&.is-active .dropdown-button{.expand-icon{display: none} .collapse-icon{@include inline-block()}}
        &.is-inactive .dropdown-button{.expand-icon{@include inline-block()} .collapse-icon{display: none}}*/


        .dropdown-menu[status="open"],
        .dropdown-submenu[status="open"]{
            position: relative;
            border: none;
            width: 100%;
            left: 0;
            top: 0;
            right: 0;
        }

         .dropdown-menu[status="closed"],
         .dropdown-submenu[status="closed"]{
             position: absolute;
         }
    }

    .expand-icon,.collapse-icon{float: right;display: none;}
    [status="inactive"] > [dropdown-toggle]{
        .expand-icon{@include inline-block()}
    }

    [status="active"] > [dropdown-toggle]{
        .collapse-icon{@include inline-block()} 
    }
    
}


/*============================================================== 

                        CUSTOMIZATION

==============================================================*/
.accordion{
    padding: 34px 0 0 0;
    margin: 0;
    background-color: color(white);
    border-right: 1px solid color(medium-gray);
   
    .nav-section{

        width: 94%; 
        padding-left: 6%; 
        border-bottom: 1px solid color(medium-gray);  
        @include include(first-child){border-top: 1px solid color(medium-gray);}

        [dropdown-toggle]{
            @include height(30px);
            .expand-icon,.collapse-icon{margin: 10px;}
        }

        &[has-dropdown][status="active"] .dropdown-menu{
            [dropdown-toggle]{border: none; text-align: left;padding-left: 16px;@include height(35px);font-size: 12.5px;}
            margin-bottom: 10px;
        }

    }
}


