/*------------------------------------------------------------------------------ 

                               CONFIGURATION

------------------------------------------------------------------------------*/
/****** Main Dropdown ******/
$default-dropdown-menu-config: background-color color(white), border (width 1px, style solid, color color(medium-gray)), text-align center;

$default-dropdown-menu-width: 160px;
$default-dropdown-menu-top:100%;
$default-dropdown-menu-left:0;
$default-dropdown-menu-radius-class: null;

/****** Main Dropdown BUTTON ******/
$default-dropdown-menu-button-height: 36px;

$default-dropdown-menu-button-config:  font-size 13px;

$default-dropdown-menu-button-border: 1px solid color(beige);

$default-dropdown-menu-active-button-config: null;

/****** Sub Dropdown ******/
$default-dropdown-submenu-config: $default-dropdown-menu-config;

$default-dropdown-submenu-width: 200px;
$default-dropdown-submenu-top:5px;
$default-dropdown-submenu-left:$default-dropdown-menu-width;
$default-dropdown-submenu-radius-class: $default-dropdown-menu-radius-class;

/****** Sub Dropdown Button ******/
$default-dropdown-submenu-button-height: 36px;
$default-dropdown-submenu-button-config: null;

$default-dropdown-submenu-active-button-config: null;

$default-dropdown-submenu-button-border: $default-dropdown-menu-button-border;

/****** Close Icon ******/
$default-close-icon-config: margin ' 10px 10px 0 0';


/*------------------------------------------------------------------------------ 

                                   CORE

------------------------------------------------------------------------------*/



@mixin dropdown-menu(
$menu-width:$default-dropdown-menu-width,
$menu-top:$default-dropdown-menu-top,
$menu-left: $default-dropdown-menu-left, 
$menu-radius:$default-dropdown-menu-radius-class,
$menu-config: $default-dropdown-menu-config,

$menu-button-height: $default-dropdown-menu-button-height,
$menu-button-config: $default-dropdown-menu-button-config,
$menu-active-button-config: $default-dropdown-menu-active-button-config,


$submenu-width:$default-dropdown-submenu-width,
$submenu-top:$default-dropdown-submenu-top, 
$submenu-left: $default-dropdown-submenu-left, 
$submenu-radius:$default-dropdown-submenu-radius-class,
$submenu-config: $default-dropdown-submenu-config,

$submenu-button-height: $default-dropdown-submenu-button-height,
$submenu-button-config: $default-dropdown-submenu-button-config,
$submenu-active-button-config: $default-dropdown-submenu-active-button-config

){

    %dropdown-menu-base-styles{
        position: absolute;
        //z-index: 1;		
        //opacity: 0;
        visibility: hidden;
    }

    %dropdown-menu-make-visible{
        opacity: 1;
        visibility: visible;
    }


    /*[dropdown-menu].is-active,[dropdown-submenu].is-active{
        height: auto;
        .dropdown-menu,.dropdown-submenu{position:relative}
    }*/
     [dropdown-menu~="push-content"].is-active .dropdown-menu{position: relative}
    [dropdown-menu]{

        overflow: visible;
        position: relative;
       

        
        [toggle]{cursor: pointer}

        /****** SHARED STYLES FOR DROPDOWN MENU & DROPDOWN SUBMENU ******/
        &.is-active > .dropdown-menu,
        &.is-active .dropdown-menu > li.is-active > .dropdown-submenu,
        &.is-active  [dropdown-submenu~="show-on-hover"].is-active > .dropdown-submenu{
            visibility: visible!important;
            //&:not(.is-active){visibility: hidden !important}
        }

        .close-icon-list-item {
            text-align: right;
            .sprite-close{ cursor: pointer; @include style($default-close-icon-config);}

        }
        
        .collapse-icon, .expand-icon{display: none;}

        .dropdown-menu{



            /****** SHARED STYLES FOR MENU & SUBMENU NAV-CRUMBS ******/
            li{
                display: block; 
                position: relative;
                @include box-sizing(border-box);
                height: auto;
                /* &:hover{
                     .dropdown-menu {
                         @extend %dropdown-menu-make-visible;				
                     }
                 }*/
            }

            /****** STYLES FOR MENU NAV-CRUMB ******/
            //NO STYLES


            /****** STYLES FOR SUBMENU NAV-CRUMB ******/
            //NO STYLES


            /****** SHARED STYLES FOR MENU & SUBMENU BUTTONS ******/
           
            [toggle]{
                @include box-sizing(border-box);
                width: 90%;
            }
           

            /****** STYLES FOR MENU BUTTON ******/
        
            li [toggle]{
                height: 100%;
                @include style($menu-button-config);
                @include height($menu-button-height);
                border-bottom: $default-dropdown-menu-button-border;
                //&:hover{ + .dropdown-submenu{@extend %dropdown-menu-make-visible;}}
            }

           
                .dropdown-menu-list-item:last-child > [toggle]{
                border-bottom: none;
            }

            /****** STYLES FOR SUBMENU BUTTON ******/
       
            li [toggle]{@include height($submenu-button-height);  @include style($submenu-button-config);  border-bottom: $default-dropdown-submenu-button-border;}

            li:last-child > [toggle]{
                border-bottom: none;
            }


            
            /******* SHARED STYLES FOR DROPDOWN MENU & DROPDOWN SUBMENU ************/
             &,.dropdown-submenu{z-index: 100;  @extend %dropdown-menu-base-styles;};

            /****** STYLES FOR DROPDOWN MENU ******/

            margin: 0;
            padding: 0;

           
            @include use-style($menu-radius);
            @include style($menu-config);

            top: $menu-top; 
            left: $menu-left;
            width: $menu-width;




            /****** STYLES FOR DROPDOWN SUBMENU ******/
            .dropdown-submenu{
               
                @include use-style($submenu-radius);
                top: $submenu-top; 
                left: $submenu-left;
                width: $submenu-width;
                //&:hover{@extend %dropdown-menu-make-visible;}

                @include style($submenu-config);

            }

        }
    }
}

@include dropdown-menu();