

/*=============================================================================


                                CORE STYLES



===============================================================================*/

.skinny-select{

  
   // cursor: pointer;
    text-align: left;
    
    select{display: none}
   
    @include inline-block();
    .current-selection{line-height: inherit; height: 100%;}
    
    
    .dropdown-menu{width: 100%}
   
}

/*=============================================================================


                                CUSTOM STYLES



===============================================================================*/

.skinny-select{
    border: 1px solid color(medium-gray);
    .current-selection{}
     .dropdown-menu{
        text-align: left;
        li{@include height(20px)}
    }
    .caret{@include style-caret($direction: down, $size: 5px, $color: color(medium-gray));}
    .current-selection,
    .dropdown-menu li{padding-left: 10px;}
}
