/*==============================================================================
                                Form Elements
==============================================================================*/
input,select,textarea,button { font:12px Arial, Helvetica, sans-serif; vertical-align:middle; color:#444; }

input[type="text"],select,textarea { background:#fff; border:1px solid #c7c7c7; background:#fff url(../../images/bkg_input.gif) 0 0 repeat-x; }

input[type="text"],textarea { padding:2px 2px; background:#fff url(../../images/bkg_input.gif) 0 0 repeat-x; }

a.button,
button span,
a.button span,
button span span { background-color:transparent; background-image:url(../images/bkg_btn.gif); background-repeat:no-repeat; }

a.button,
button span { border:0; padding:0 0 0 10px; margin:0; cursor:pointer; background-position:0 0; display:-moz-inline-stack; display:inline-block; color:#c73615; height:21px; text-decoration:none; }

a.button span,
button span span { padding:0 15px 1px 5px; color:#c73615; background-position:100% 0; display:-moz-inline-block; display:inline-block; white-space:nowrap; text-transform:uppercase; font:bold 11px/20px Arial, Helvetica, sans-serif; height:20px; }

/*********************
<select></select>
*********************/
select { padding:1px; }
select option { padding-right:10px; }

/*States*/
.is-selection-multiple > option { padding:2px 2px!important; border-bottom:1px solid #bbb!important; }
.is-selection-multiple > option:last-child { border-top:0!important; }

/*********************
<textrea></textarea>
*********************/
textarea { overflow:auto; resize:vertical; }

/*********************
<button></button>
*********************/
button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button { border:0; padding:0; margin:0; background:transparent; /* line-height:21px; */ overflow:visible; cursor:pointer; vertical-align:middle; }

/*States*/


/*********************
<a> </a>
*********************/
a {  }

/*State*/
