/* Reset ================================================================================= */
* { margin:0; padding:0; }

body          { background:#fff; font:11px/1.35 Raleway, Arial, Helvetica, sans-serif; color:#636363; text-align:center; }

img           { border:0; vertical-align:top; }

a             { color:#50A4CF; text-decoration:none; }
a:hover       { text-decoration:underline; color:#1189C5; }
:focus        { outline:0; }

/* Headings */
h1            { font-size:18px; font-weight:normal; }
h2            { font-size:16px; font-weight:normal; color:#000; }
h3            { font-size:14px; font-weight:bold; }
h4            { font-size:13px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
address       { font-style:normal; font-size:12px;font-family:Georgia, "Times New Roman", Times, serif;font-style:italic;color:#656565; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:10px; }
big           { font-size:1.2em; }
/*sup           { font-size:1em; vertical-align:top; }/*/

/* Lists */
ul,ol         { list-style:none; }