/*==============================================================================

                GLOBAL STYLES (APPLICABLE TO ALL MY ACCOUNT SECTIONS)

==============================================================================*/
.my-account-section:not(.my-account-dashboard-section):not(.my-account-order-view-section) .page-content-header,
.my-account-dashboard-section .header .main-content,
.my-account-order-view-section .header .main-content{
    @include use-style(page-heading);margin-bottom: 20px;
}
.my-account-section{
    padding-bottom:50px;
    
    .widget-section, 
    .header .side-content,
    .my-account-info-edit-subsection,
    .my-account-address-add-content,
    .my-account-orders-content
    {padding: 0 20px 20px 20px;}
    
    
    .page-subtitle{@include use-style(page-subheading); margin-bottom: 10px;}
    .paragraph,.widget-content{font-size: 11px; color: color(dark-gray)}
    .form-control-label{text-align: right; padding-right: 15px;}

    .button{@include button(cart-button)}

    .link{@include use-style(gray-link-with-underline)}

    .widget-section-header{
        margin-bottom: 10px;
        .widget-section-title{display:inline; @include use-style(page-subheading);}

    }

    .widget{
        @include use-style(widget-gradient);;
        border: 1px solid color(medium-gray);
        padding: 17px; 
        .widget-content{margin-top:10px;}
        .widget-title{font-size: 14px;display: inline;}

    }  

    .text-input-row,.check-box-input-row,.mixed-input-row{margin: 0 0 10px 0;}
    .text-box{@include text-box(billing-form-text-box);}


    .button-input-row{
        .col-left,.col-right{text-align: right}
        .col-right{max-width: 383px; }
        .col-left{padding-right: 15px;}
    }


}

/*==============================================================================

                              MY ACCOUNT -> DASHBOARD

==============================================================================*/
.my-account-dashboard-section{
    //.page-content-header .main-content{@include use-style(page-heading); margin-bottom: 20px;}
}

/*==============================================================================

                            MY ACCOUNT -> ACCOUNT INFO

==============================================================================*/
.my-account-info-edit-section{


    .link{@include use-style(gray-link-with-underline)}


}

/*==============================================================================

                            MY ACCOUNT -> ADDRESS BOOK

==============================================================================*/
.my-account-address-book-section{
    .page-content-header{
        //@include use-style(page-heading);
        text-align: right;
        .add-address-button{@include inline-block();}
    }
    .widget:not(:last-of-type){
        border-bottom: none;
    }
    .address-widget{
        @include no-gradient();
        border: none;
        padding-top: 6px;
    }
    .widget-actions{
        border: 1px solid color(medium-gray);
        padding: 0 9px 4px;
        margin-top: 8px;
        @include inline-block();
    }
    .button-input-row{
        padding-left: 20px;
    }
}

/*==============================================================================

                        MY ACCOUNT -> ORDERS LIST

==============================================================================*/
.my-account-orders-section{
    .my-account-orders-table{
        margin: 15px 0;
        border: 1px solid color(medium-gray);
        .order-status-data{font-style:italic}
    }
}

/*==============================================================================

                        MY ACCOUNT -> VIEW ORDER

==============================================================================*/
.my-account-order-view-section{
    .header{text-align: right;}
    .order-actions{@include inline-block();}
    
    .order-navigation,
    .order-navigation-link-list{
         @include height(24px,$align-children: true,$v-align: top,$children-v-align: top);
    }
    
    .order-navigation{
        text-align: left;
       
        border-bottom: 1px solid color(medium-gray);
        .active-nav-crumb{
            @include use-style(round-4px-top);
            @include border(top left right, 1px solid color(medium-gray));
        }
    }
}