.catalog-category-view{

    /*------- MOBILE VIEW ------*/

    .category-product-list.grid-view{text-align: center}
    .col-center .category-view{
        @include border(left right,1px solid color(medium-gray));

    }
    .category-view-header{@include use-style(page-heading);}
    .category-view{padding-bottom: 20px;}
    .category-description{padding: 40px 20px 20px; font-size: 11px; color: color(dark-gray); }
    .category-image-section{text-align: center}



    /*------- TABLET VIEW ------*/
    @include breakpoint(sm){
        .category-product-list{padding-left: 20px; text-align: left;}
    }

    
    /*------- DESKTOP VIEW ------*/
    //NO STYLES




}
