/*##############################################################################


        
                            HEADER SEARCH FORM



##############################################################################*/

.mini-search-form{

    margin: 0 0 10px 0;
    .textbox-control{ @include text-box(newsletter-subscribe-textbox); } 
    .search-button{@include button(cart-button);/*float:left;*/ margin-left:5px;}

    @include breakpoint(sm){
        text-align: right;
    }
}


/*##############################################################################


        
                            SEARCH RESULTS PAGE



##############################################################################*/

.catalogsearch-result-index{
    
    .search-results-page-header{
        @include use-style(page-heading);
    }
    
    .search-results-view{
        @include property(border,left right, 1px solid color(medium-gray));
    }
    
    
}