<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top" style="text-align:center;border-bottom:1px solid #d8d8d8; height:90px; vertical-align:middle"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="color: #656565;font-family: times new roman;font-size: 14px;font-weight: bold;line-height: 22px;margin: 0 0 11px;">Hello, {{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 18px;margin: 0;">
                        Thank you for your order from {{var store.getFrontendName()}}.
                        Once your package ships we will send an email with a link to track your order.
                        You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#656565;font-weight:bold;font-style:italic">logging into your account</a>.
                        If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#656565;font-weight:bold;font-style:italic">{{config path='trans_email/ident_support/email'}}</a> or call us at <span class="nobr">{{config path='general/store_information/phone'}}</span> Monday - Friday, 8am - 5pm PST.
                    </p>
                    <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 16px;margin-top:10px;">Your order confirmation is below. Thank you again for your business.</p>
            </tr>
            <tr>
                <td>
                    <h2 style="color: #656565;font-family: arial;font-size: 15px;font-weight: bold;margin: 0;text-transform: uppercase;border-bottom:1px solid #d8d8d8;padding-bottom:10px;padding-top:20px;">Your Order #{{var order.increment_id}} <small>(placed on {{var order.getCreatedAtFormated('long')}})</small></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" style="color: #656565;font-family: arial;font-size: 14px;font-weight: bold;line-height: 1em;padding: 5px 9px 12px;text-transform: uppercase;border-bottom:1px solid #d8d8d8">Billing Information:</th>
                            <th width="10"></th>
                            <th align="left" width="325" style="color: #656565;font-family: arial;font-size: 14px;font-weight: bold;line-height: 1em;padding: 5px 9px 12px;text-transform: uppercase;border-bottom:1px solid #d8d8d8">Payment Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="color: #656565;font-family: georgia;font-size: 12px;font-style: italic;padding: 7px 9px 9px;line-height:19px;">
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="color: #656565;font-family: georgia;font-size: 12px;font-style: italic;padding: 7px 9px 9px;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" style="color: #656565;font-family: arial;font-size: 14px;font-weight: bold;line-height: 1em;padding: 5px 9px 12px;text-transform: uppercase;border-bottom:1px solid #d8d8d8">Shipping Information:</th>
                            <th width="10"></th>
                            <th align="left" width="325" style="color: #656565;font-family: arial;font-size: 14px;font-weight: bold;line-height: 1em;padding: 5px 9px 12px;text-transform: uppercase;border-bottom:1px solid #d8d8d8">Shipping Method:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="color: #656565;font-family: georgia;font-size: 12px;font-style: italic;padding: 7px 9px 9px;line-height:19px;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="color: #656565;font-family: georgia;font-size: 12px;font-style: italic;padding: 7px 9px 9px;line-height:19px;">
                                {{var order.getShippingDescription()}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                     <h1 style="margin-bottom:0px;font:bold 14px/32px Arial, Helvetica, sans-serif; color:#656565; text-transform:uppercase">Items Ordered </h1>
                    {{layout handle="sales_email_order_items" order=$order}}
                    <p style="font-size:12px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
                </td>
            </tr>
            <tr>
                 <td  align="center" style=""><center><p style="font-size: 18px; font-weight:normal;font-family:Arial, Helvetica, sans-serif;margin: 0;border-top: 1px solid #d8d8d8;padding-top: 17px !important;padding-bottom: 15px; text-align:left;color:#656565;padding-top:5px;">Thank you, <strong><br/>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>