
/*==============================================================================

               GLOBAL STYLES APPLICABLE TO MULTIPLE MODULES

=============================================================================*/


.category-product-list.grid-view .product-module{text-align: center}

/*==============================================================================

                        MODULE SPECIFIC STYLES

=============================================================================*/

/*------------------------------------------------------------------------------ 

                       PRODUCT CONTAINER STYLES

------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------ 

                              PRODUCT NAME

------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------ 

                              PRODUCT IMAGE

------------------------------------------------------------------------------*/





/*------------------------------------------------------------------------------ 

                             PRODUCT PRICE

------------------------------------------------------------------------------*/

//Global Styles
.price-tag{
    display: block;
    font-weight: 400;
    *{vertical-align: middle}
    /*&.minimal-price, &.minimal-price .price-label,
    &.regular-price, &.regular-price .price-label,
    &.price-from, &.price-from .price-label,
    &.price-to, &.price-to .price-label
    {font-size: 11px;  color: color(dark-beige); font-weight: 400}*/


    //Price Label
    .price-label{
        font-size: 12px;  
        color: color(dark-beige); 
        margin-right: 5px;
    }
    
    //Price Amount
    .price-amount,.price{font-family: $typeface-serif; font-size: 16px; color: color(blue)}

    //Link
    .link{
        font-size: 13px;  
        color: color(blue); 
        font-weight: 600; 
        text-decoration: none; 
        display: block;
        &:hover{text-decoration: underline!important;}
    }
    
    
    //Special Price
    &.special-price {
        .price-amount{color: color(blue);}
        .special-price-label{color: color(maroon); font-weight: 600;}
    }
    
    //Old Price
    &.old-price, &.old-price .label, &.old-price .price-amount{ text-decoration: line-through; color: color(dark-beige); }
    
    
    //Price-Section -> Including/Excluding Tax
    .price-excluding-tax,
    .price-including-tax
    {display: block;}

    

    

   


}



/*------------------------------------------------------------------------------ 

                             PRODUCT QUANTITY

------------------------------------------------------------------------------*/

//.product-qty {@include text-box(qty-text-box);}




/*------------------------------------------------------------------------------ 

                             PRODUCT AVAILABILITY

------------------------------------------------------------------------------*/

//Global Settings
.product-availability-status .out-of-stock-label,
.product-availability-status .in-stock-label{
    font: {size: 11px; weight: 700};
}
.product-availability-status .out-of-stock-label{
    color: color(orange);
}

.product-availability-status .in-stock-label{
    color: #1B6800;
}


//Page Specific Settings






/*------------------------------------------------------------------------------ 
 
                             PRODUCT ACTIONS
 
------------------------------------------------------------------------------*/

//ADD TO CART
//.cart-button{ @include button(cart-button);}


/*------------------------------------------------------------------------------ 
  
                            RATINGS & REVIEWS
  
------------------------------------------------------------------------------*/
.ratings-reviews{
    text-align: left;
    .rating-review-links{display: none;}
    .rating-box{                                

        width: 65px;
        background:url("../images/bkg_rating.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
        .rating{
            float: left;
            height: 13px;
            background: url("../images/bkg_rating.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);

        }
    }
}



