/*#################################################################################################



                                    CARETS



#################################################################################################*/

/*=================================================================

                            CONFIGURATION

=================================================================*/
$include-css-caret-classes:true;

$default-caret-color: color(white);
$default-caret-style: solid;
$default-caret-size: 4px;
$default-caret-spacing: margin '0 0 0 5px';

/*=================================================================

                                CORE

=================================================================*/

%caret-base-styles{
    width: 0;
    height: 0;
    @include inline-block(middle);
}

@mixin style-caret($direction,$size:$default-caret-size, $style: $default-caret-style, $color: $default-caret-color){
    @extend %caret-base-styles;

    @if ($direction == up) {
        border-left: $size $style transparent;
        border-right: $size $style transparent;
        border-bottom: $size $style $color;
    }
    @else if($direction == down){
        border-left: $size $style transparent;
        border-right: $size $style transparent;
        border-top: $size $style $color;
      
    }
    @else if ($direction == right){
        border-top: $size $style transparent;
        border-bottom: $size $style transparent;
        border-left: $size $style $color;
    }
    @else if ($direction == left){
        border-top: $size $style transparent;
        border-bottom: $size $style transparent; 
        border-right: $size $style $color; 
    }
    
    @include style($default-caret-spacing);


}



/*=================================================================

                         CARET STYLES

=================================================================*/

%white-4px-down-caret{
    @include style-caret($direction: down);
}
[caret="left white 20px"]{
    @include style-caret(left,20px);
}
[caret="right white 7px"]{
    @include style-caret(right,7px);
}
[caret="down white 5px"]{
    @include style-caret(down,5px);
}
[caret="down blue 5px"]{
    @include style-caret($direction: down,$size: 5px, $color: color(blue));
}



