/*###############################################################################


                                ICONS


##############################################################################*/

.sprite-demo-store-notice-logo{
    width: 209px;
    height: 25px;
    margin-top: -6px;
    
}

.global-notice-block .social-icons{
    /****** MOBILE VIEW ******/
    //padding: 10px 0 0 0;
    display: none;
    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        @include inline-block();
        float: right;
    }
    
    /****** DESKTOP VIEW ******/
}



.flag{
        background: url("../images/flags.png") no-repeat;
        width: 16px;
        height: 10px;
}
.sprite-icon.flag-english {
    background-position: -128px -154px;
}
.sprite-icon.flag-german {
    background-position: -80px -33px;
}
.sprite-icon.flag-french {
    background-position: -144px -44px;
}

.sprite-mage-logo{
    width: 209px;
    height: 25px;
}

.sprite-person{width: 15px; height: 13px;}

.sprite-cart{width: 14px; height: 13px;}

.sprite-search{width: 18px; height: 17px;}

.sprite-close{width: 10px; height: 10px;}

.sprite-facebook{width: 15px; height: 11px;}
.sprite-twitter{width: 15px; height: 10px;}
.sprite-youtube{width: 15px; height: 9px;}
.sprite-pinterest{width: 15px; height: 12px;}
.sprite-rss{width: 15px; height: 10px;}


.sprite-pushover-button{width: 29px; height: 23px;}

.sprite-plus{width: 10px; height: 10px;}
.sprite-minus{width: 10px; height: 4px;}

.sprite-view-mode-grid-disabled,
.sprite-view-mode-grid-enabled,
.sprite-view-mode-list-disabled,
.sprite-view-mode-list-enabled{
    width: 23px; height: 17px;
}
