$include-grid-debug-classes: false;

@if $include-grid-debug-classes{
    @include breakpoint(xs){
        .page{background-color: red !important}
    }
    @include breakpoint(sm){
        .page{background-color: green !important}
    }
    @include breakpoint(md){
        .page{background-color: blue !important}
    }
    @include breakpoint(lg){
        .page{background-color: yellow !important}
    }
}