/*#############################################################################

                            LANGUAGE SWITCHER

#############################################################################*/
.language-switcher{ 
    /****** MOBILE VIEW ******/
    text-align: center;
    text-transform: uppercase;
    margin-left: 0;
    .list-item{ @include height(28px);}
    .link, .language-label{font-size: 11px; }
    .language-label{color: color(white); display: none; }

    .caret-down{@include use-style(white-4px-down-caret);}

    [dropdown-menu] {

        .button{
            @include height(30px);
            text-align: center;

        }

        .dropdown-menu{
            border-top: none;
            width: 60px;
            top: 32px;
            left: -13px;
        }
    }



    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        margin-left: 20px;
        text-align: right;
        .current-language{font-size: 11px; text-transform: uppercase;@include inline-block();}
        .language-switch[dropdown-menu] .dropdown-menu{left: -22px; top: 31px;}

    }

    /****** DESKTOP VIEW ******/
    @include breakpoint(md){
        .language-label{@include inline-block();}
    }
}