/*==============================================================================

                  GLOBAL STYLES (APPLICABLE TO ALL FORMS)

==============================================================================*/  
.customer-form{
    .button{@include button(cart-button); }
    .link {@include use-style(gray-link-with-underline);}
    .button-input-row{text-align: right}
    .link + .button{ margin-left: 30px;}
    .page-content-header{@include use-style(page-heading); margin: 0}
    .section-title{@include use-style(page-subheading)}
    .form-control-label{text-align: right; padding-right: 15px;}
     
     &.customer-forgot-password-form .text-box,
     &.customer-register-form .text-box{
         @include text-box(billing-form-text-box)
     }
     
     .fieldset > .form-row{
         margin:0 0 17px 0;
       &:last-child{margin:0;}
     }
}


/*==============================================================================

                            LOGIN/REGISTER FORM

==============================================================================*/                            
.customer-login-register-form{

    /*---------------------------------------------------------------------
        
                                GLOBAL STYLES
        
    ----------------------------------------------------------------------*/
    

    .registered-customer-section,
    .new-customer-section{
         padding: 40px;
        .header{padding-top: 32px;}
       
        
        
        .section-subtitle{font-size: 11px; color: color(dark-gray); margin: 10px 0;}
    }


    

    /*---------------------------------------------------------------------
   
                         REGISTERED USERS SECTION
   
   ----------------------------------------------------------------------*/
    .registered-customer-section {
        padding-bottom: 45px;
        border-right: 1px solid color(medium-gray);
        .text-box{@include text-box(w230-h20);}
        .button-input-row{margin-top: 10px; /*padding-right: 107px*/}
        


    }

}



/*==============================================================================

                            FORTGOT PASSWORD FORM

==============================================================================*/  
.customer-forgot-password-form{
    .customer-form-header{ margin:0;}
    .content{padding: 0 40px;}
    .page-subtitle{color: color(dark-gray); font-size: 12px; text-align: center; margin: 15px 0;}
    .form-control-label{text-align: right; padding-right: 12px; }
    .button-input-row .single-column{margin-top:10px; padding-right:19px}
}

/*==============================================================================

                            REGISTER CUSTOMER FORM

==============================================================================*/
.customer-register-form{
    .customer-register-form-section{
        padding: 26px 0;
        border-bottom: 1px solid color(medium-gray);
        &:last-of-type{border-bottom: none;}
        .section-title{padding-left: 55px; margin-bottom: 15px;}
       
    }
    
  .button-input-row{padding-bottom: 30px;}
   
}