.global-notice-block{

    /****** MOBILE VIEW ******/
    .sprite-mage-logo{display: block; margin: 0 auto;}
    .notice{color: color(white);  font-size: 11px; display: none;}
    height: auto;
    background-color: color(black);
    padding: 10px 0;
   


    /****** TABLET VIEW ******/
    @include breakpoint(sm){      
         .sprite-mage-logo{@include inline-block(); margin: -6px 12px 0 0;}
         .notice{@include inline-block(); float: left;}
    }


    /****** DESKTOP VIEW ******/
    @include breakpoint(md){ 
        //.notice{margin-right: 12%;}
    }
}


.messages{
    .icon-column{text-align: right; padding-right: 10px; max-width: 25px;}

    // padding:10px 0;


    .success-msg, .reward-msg{
        padding: 10px;
        font-size: 12px;
    }

    .success-msg{
        background-color: color(success);
        border: 1px solid #446423;
        color: #3D6611;
    }
    .reward-msg{
        background-color: #D55721;
        > * , a{background-color: #D55721; color: color(white);}
        a{text-decoration: underline}
    }

    .regular-msg{

    }
}


.required-field-notice{font-size: 11px; color: color(orange)}

.category-view {

    .messages{
        text-align: center;


        li{
            width: 532px;
            display: inline-block;
            text-align: left;
            margin: 0;
        }
    }
}