/*##############################################################################


        
                            HEADER SEARCH FORM



##############################################################################*/

.mini-search-form{

    /****** MOBILE VIEW ******/
    margin: 15px 0 0 0;
    .fieldset{text-align: center;}
    .textbox-field, .form-actions{@include inline-block();}
    .form-actions{position:absolute; margin: 6px 0 0 -22px }

    .textbox{ 
        height: 30px; 
        max-width: 200px; 
        width: 200px;
        @include inline-block();
    } 




    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        .fieldset{text-align: right;}
        margin-top: 0;
        .textbox-control{text-align: right;}
    }

    /****** DESKTOP VIEW ******/
}