/*------------------------------------------------------------------------------ 

                                CONFIGURATION

------------------------------------------------------------------------------*/
/************************
    Default Config
************************/
$include-title-classes: true;

$default-title-base-config: null;


$default-page-title-config: font-size 22px, color color(orange);
$default-page-subtitle-config: font-size 37px;


$default-section-title-config: font-size 27px;
$default-section-subtitle-config: font-size 23px;


/*------------------------------------------------------------------------------ 

                                 CORE

------------------------------------------------------------------------------*/
@if $include-title-classes == true{

    .page-title, .page-subtitle, .section-title, .section-subtitle {
        //All titles
        @include style($default-title-base-config);

    }

    .page-title  { @include style($default-page-title-config)};
    .page-subtitle { @include style($default-page-subtitle-config) }
    
    .section-title { @include style($default-section-title-config) }
    .section-subtitle{ @include style($default-section-subtitle-config) }

}

%page-heading{
 
    padding: 0 15px 0 20px;
    @include height(64px);
    @include use-style(white-gray-gradient);
    @include border(bottom, 1px solid color(medium-gray));
    //text-align: right;
    
    .page-title{
        font-size: 22px;
        color: color(orange);
        float: left;
        border-bottom: none;
        @include height(64px,$line-height:68px);
    }

    /*Hack*/
    //.page-title{border-bottom: 1px solid color(medium-gray)}
}

%page-subheading{
    font-size: 16px;
    color: color(black);
}
