//
// Form Variables
//

/********************************General Settings******************************/
// Use this to set the base for lots of form spacing and positioning styles
$form-spacing: emCalc(16);

/********************************<label>******************************/
// $form-label-pointer: pointer;
// $form-label-font-size: emCalc(14);
// $form-label-font-weight: 500;
// $form-label-font-color: lighten(#000, 30%);
// $form-label-bottom-margin: emCalc(3);

/*Prefix Labe - Labels that appear before form elements*/
// $input-prefix-bg: darken(#fff, 5%);
// $input-prefix-border-color: darken(#fff, 20%);
// $input-prefix-border-size: 1px;
// $input-prefix-border-type: solid;
// $input-prefix-overflow: hidden;
// $input-prefix-font-color: #333;
// $input-prefix-font-color-alt: #fff;


/********************************<input>******************************/
// $input-font-family: inherit;
// $input-font-color: rgba(0,0,0,0.75);
// $input-font-size: emCalc(14);
// $input-bg-color: #fff;
// $input-focus-bg-color: darken(#fff, 2%);
// $input-border-color: darken(#fff, 20%);
// $input-focus-border-color: darken(#fff, 40%);
// $input-border-style: solid;
// $input-border-width: 1px;
// $input-disabled-bg: #ddd;
// $input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
// $input-include-glowing-effect: true;

// Use this to style the glowing effect of inputs when focused

// $glowing-effect-fade-time: 0.45s;
// $glowing-effect-color: $input-focus-border-color;

/********************************<fieldset>, <legend>**************************/
// <fieldset>

// $fieldset-border-style: solid;
// $fieldset-border-width: 1px;
// $fieldset-border-color: #ddd;
// $fieldset-padding: emCalc(20);
// $fieldset-margin: emCalc(18, 0);

// <legend>

// $legend-bg: #fff;
// $legend-font-weight: bold;
// $legend-padding: emCalc(0, 3);

/********************************Error Messages******************************/
// Use these to style the error states for inputs and labels

// $input-error-message-padding: emCalc(6, 4);
// $input-error-message-top: 0;
// $input-error-message-font-size: emCalc(12);
// $input-error-message-font-weight: bold;
// $input-error-message-font-color: #fff;
// $input-error-message-font-color-alt: #333;