

/*******************************************************************************

                           GLOBAL FORM STYLES

*******************************************************************************/
@media screen{


    /* Form Elements */
    form{width:auto; display:inline-block;}
   
    
    input,select,textarea{ 
        font:12px Raleway, Arial, Helvetica, sans-serif; 
        vertical-align:middle;
        color:#636363;
        background:#fff; 
        border:1px solid #d8d8d8; 
        display:inline-block;
    }
   
 
    select { padding:1px; }
    select option { padding-right:10px; }
    select.multiselect option { padding:2px 2px; border-bottom:1px solid #bbb; }
    select.multiselect option:last-child { border-top:0; }
    
    textarea { overflow:auto; resize:vertical; }
    textarea.default-value { color:#ddd; }
    
    input.radio,
    input.checkbox { margin-right:3px; font-size:11px !important; margin-top:2px; vertical-align:top; }
    
    input.radio { font-size:10px !important; }

    input.disabled { background:#f6f6f6 !important; color:#bbb !important; }
    input.qty{
                height:20px;
        line-height:20px;
        text-align: center;
        vertical-align:middle;

        padding:2px;
        border:1px solid #D8D8D8;
    }
    
    /* Fieldset */
    .fieldset { font-size:12px; width:auto; display:block;vertical-align: top;text-align: left}
    .fieldset p { margin:0 0 1.5em; color:#333333; /*font-family:Georgia, "Times New Roman", Times, serif;*/font-size:14px }
    .fieldset h2.legend { margin:0 0 1.5em; /*color:#000;*/  color:#50A4CF;font-family: raleway;font-size: 20px;font-weight: 600; }

}

/*******************************************************************************

                           FORM VALIDATION

*******************************************************************************/
/* Form Validation */
.validation-advice { clear:both; font-size:11px !important; padding:3px 0 0 !important; color:#d91a00 !important; }

.validation-error { background:url(../../../images/icon_error.gif) 100% 2px no-repeat; padding-right:20px; }
.validation-failed { /*border:1px solid #f47d4e !important; */background:#fff7f5; }

.input-box.validation-passed { background:url(../../../images/icon_ok.gif) 100% 2px no-repeat; padding-right:20px; }



.required em { color:#da1818; margin:0 4px; float:left; font-weight:bold; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; }
p.required { margin:0; padding:5px 0 7px;  color: #E05A5A !important; font-family: Georgia,"Times New Roman",Times,serif;font-size: 12px;text-align: left; }

.form-list .validation-advice { width:250px; margin-right:-250px; }


/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }


/*******************************************************************************

                           FORM LISTS

*******************************************************************************/
/* Form lists */

.form-list li { margin:0 0 9px; vertical-align:top; }
.form-list label {  font-weight:600;display: inline-block;}




.form-list .input-box{display:table-cell}
.form-list input.input-text{line-height: 24px;  height: 26px; }
.form-list input.input-text, .form-list textarea { width: 415px; vertical-align:top; }

.form-list textarea { width:415px; height:13em; }

.form-list select { float:left; width:380px; vertical-align:top; }






/* Date Of Birth */



.form-list .customer-dob input.input-text { float:none; display:block; margin-bottom:2px; }
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-year { float:left; margin-right:8px; padding-right:0 !important; background:none !important; }


.form-list .customer-dob .dob-day input.input-text { width:104px; }
.form-list .customer-dob .dob-month input.input-text { width:104px; }
.form-list .customer-dob .dob-year input.input-text { width:138px; }

/* Combination of fields */




