/*******************************************************************************

                                 REGISTER / LOGIN FORM

*******************************************************************************/
@media screen{

    /* Account Login/Create Pages ============================================================ */
#login-form .col2-set{text-align: center}
    .account-login { position:relative; font-size:12px; background:url(../images/bkg_cols.gif) repeat-y 266px 0; min-height:350px; margin-bottom:-20px; }
    .account-login .new-users{ padding:0 22px 0 0;text-align: left;border-right: 1px solid #DAD9D9;	height: 275px;width: auto;}
    .account-login .registered-users { text-align:left;	margin-bottom: 105px;	width: auto;padding:0 0 0 28px;}
    .account-login .registered-users p { margin-bottom:1.5em; }
    .account-login .form-list input.input-text { width: 198px; }
  
}