/*#################################################################################################



                            SHARED WIDGET STYLES



#################################################################################################*/

//NO STYLES



/*#################################################################################################



                            SIDEBAR WIDGETS



#################################################################################################*/

.sidebar-widget{

    /*------------------------------------------------------------------------------ 
          
                          GENERAL SIDEBAR BLOCK STYLING
          
    ------------------------------------------------------------------------------*/
    @include use-style(widget-gradient);;
    border-bottom: 1px solid color(medium-gray);
    padding: 17px 0;
    display: block;
    //padding: 17px;

    .header{
        margin: 0 0 7px 0;
        padding: 0 17px 0 17px;
    }
    .widget-title{
        font-size: 14px;
        font-weight: 400;
        color: color(dark-gray);

    }
    .widget-subtitle,.widget-notice{font-size: 11px; color: color(dark-gray); margin: 5px 0}
    .widget-subtitle{font-weight: bold;}

    .product-name-link{font-size: 11px; color: color(dark-gray); max-width: 127px;text-decoration: underline;}

    .widget-header + .widget-content{ margin-top: 5px;}
    .widget-content{

        padding: 0 17px 0 17px;
    }

    .sprite-close{
        float: right;
        width: 13px;
        height: 13px;
        margin-top: 3px;
    }

    .widget-actions{
        text-align: right;
        margin-top: 10px;
        .link{
            font-size: 11px;  color: #999999; text-decoration: underline
        }
    }

    .button{

        @include button(cart-button)
    }


    /*------------------------------------------------------------------------------ 
         
                         COMMUNITY POLL BLOCK STYLING
         
   ------------------------------------------------------------------------------*/
    &.poll{

        .poll-question{margin-top: 10px;}
        .poll-questions .widget-content{padding-left: 0; margin-left:13px;}
        .form-control-label{color: color(dark-gray); text-transform: none; font-size: 11px;}
        .radio-button{margin-top: 0;}
        .button{width: 59px; height: 21px}


    }

    /*------------------------------------------------------------------------------ 
          
                         COMPARE PRODUCTS BLOCK STYLING
          
    ------------------------------------------------------------------------------*/
    &.product-compare{
        .remove-products-link{
            margin-right: 20px;
        }
    }

}


/*#################################################################################################



                            PRODUCT VIEW WIDGETS



#################################################################################################*/


/*===================================================

             SHARED WIDGET STYLES

===================================================*/
.product-view-widget{

    /******* MOBILE VIEW *******/
    .widget-content{@include property(padding, top bottom, 20px);}

    .section-title{
        color: color(navy-blue); 
        font:{size: 14px; weight: bold};
        @include use-style(product-tag-header-gradient);
        //@include background-image(linear-gradient($light-gray 50%, lighten($medium-gray, 10%) 50%)); 
        @include height(27px);
        padding-left: 20px;
        border-top: 1px solid color(medium-gray);
        border-bottom: 1px solid color(medium-gray);

    }
    .section-subtitle{
        background-color: color(rose-pink); 
        color: color(orange); 
        font-size: 12px; 
        padding: 5px 20px;
        .link{font-weight: bold; color: inherit; text-decoration: underline;}
    }
    .link{@include use-style(gray-link-with-underline);}
    
    /******* TABLET VIEW *******/
    @include breakpoint(sm){
        .widget-content{@include property(padding, left right, 20px)}
    }
}


/*===================================================

             PRODUCT TAG WIDGET

===================================================*/
.widget-product-tags{


    /****** MOBILE VIEW ******/
    .widget-content{text-align: center;}
    .applied-product-tags-section{margin-bottom: 16px;}
    .add-tag-form{
        .add-tag-button{@include button(cart-button); margin-left: 2px;  }
        .textbox{@include text-box-size(medium);}
    }

    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        .widget-content{text-align: left}
        .add-tag-form{
            text-align: left;
        }

    }

    /****** DESKTOP VIEW ******/
    //NO STYLES
}