/*============================================================================== 

                    GLOBAL STYLES (APPLICABLE TO ALL TOOLBARS)

===============================================================================*/
.toolbar{

    /******* MOBILE VIEW *******/
    > .row{
        @include height(27px,$align-children: true);
        @include use-style(white-gray-gradient);
    }
    .col-right{text-align:right}
    @include border(top bottom, 1px solid color(medium-gray));


    /******* TABLET VIEW *******/
    @include breakpoint(sm){
        > .row{padding: 0 20px;}
    }

    /******* DESKTOP VIEW *******/
    //NO STYLES




}
/*============================================================================== 

                             CLP -> TOOLBAR

===============================================================================*/
.category-view .toolbar,
.catalogsearch-result-index .toolbar{

    /****** MOBILE VIEW *******/
    .col-right {> :last-child {margin-right: 20px;} text-align: right;}
    .col-left > :first-child{margin-left: 20px;}

    &.toolbar-top{margin-bottom: 25px;}

    .view-mode-widget{
        display: inline-block;
        .view-mode-label, .view-mode-link{
            width: 23px;
            height: 17px;
        }
    }

    .sorter-widget{
        display: inline-block;
    }

    .widget-label{font-size: 11px; font-weight: 400; padding: 3px 10px 4px 0;}

    .select-box{
        font-size: 12px;
        height: 20px;
        text-transform: none;
        width: 82px;
    }

    .limiter .select-box{width: 41px;}

    /******* TABLET VIEW *******/
    //NO STYLES

    /******* DESKTOP VIEW *******/
    //NO STYLES
}

/*============================================================================== 

                     MY ACCOUNT -> MY ORDERS -> TOOLBAR

===============================================================================*/
.my-account-orders-section .pager-toolbar{
    @include border(left right, 1px solid color(medium-gray));
}