@import "compass/css3";

/*#################################################################################################



                                   BREADCRUMBS



#################################################################################################*/

/*============================================================== 

                        CONFIGURATION

==============================================================*/

$include-breadcrumb-classes: true;


/******* Shared Config (Applicable to all breadcrumb elements) *******/
$breadcrumb-base-config:
font-size 11px
;

/******* Breadcrumb Wrapper *******/
$breadcrumb-container-config:
background-color color(light-gray),
padding '0 0 0 10px',
border (width 1px, style solid, color color(medium-gray)),
height 25px,
background-color #EDEDED;



/******* Breadcrumb Separator *******/
$crumb-separator: "/";

$crumb-separator-config: 
color #888888
;

$crumb-separator-side-gutter: 3px;


/******* Breadcrumb Link *******/
$crumb-link-config: 
font (family Arial, size 11px),
color #888888;


/******* Breadcrumb ACTIVE Link *******/
$active-crumb-link-config: 
font (family Arial, size 11px, weight bold),
color color(dark-gray);


/*============================================================================== 

                                   CORE

==============================================================================*/

@if $include-breadcrumb-classes{
    .widget-breadcrumbs{

        &, .crumb, .crumb-link{@include style($breadcrumb-base-config);}

        @include make-row();
        @include style($breadcrumb-container-config);

        .crumb{
            &.is-inactive{
                .crumb-link{
                    @include style($crumb-link-config);
                }
            }

            &.is-active .crumb-link{@include style($active-crumb-link-config);}

            &:before {
                content: "#{$crumb-separator}";
                margin: 0 $crumb-separator-side-gutter;
                position: relative;
                @include style($crumb-separator-config);
            }

            &:first-child:before {
                content: " ";
                margin: 0;
            }
        }
    }
}



/*#################################################################################################



                                        NAVBAR



#################################################################################################*/

/*=================================================================

                          CONFIGURATION

==================================================================*/

$include-navbar-classes: true;

/******* SHARED CONFIG (Applicatble to multiple NAVBAR ELEMENTS) *******/

$navbar-base-height: 28px;
$navbar-base-line-height: 27px;
$navbar-base-vertical-align: top;

$navbar-base-config: null;

/******* NAVBAR CONTAINER *******/
$navbar-container-config:  
margin-top 9px,
class 'global-nav-gradient',
class 'round-4px',
border (width 1px, style solid, color color(medium-gray)),
overflow visible
;

/******* NAVBAR BUTTON *******/
$navbar-crumb-button-config:  
class 'global-nav-button';

/******* NAVBAR ACTIVE BUTTON *******/
$navbar-active-crumb-button-config: 
class 'global-nav-button';



 /**************** CONFIGURATION -> DROPDOWN MENU ***************/

/****** Main Dropdown ******/
$navbar-menu-config: background-color color(light-gray);

$navbar-menu-width: $default-dropdown-menu-width;
$navbar-menu-top: $default-dropdown-menu-top;
$navbar-menu-left: $default-dropdown-menu-left;
$navbar-menu-radius: $default-dropdown-menu-radius-class;

/****** Main Dropdown Button ******/
$navbar-menu-button-config: class 'global-nav-dropdown-button';

$navbar-menu-active-button-config: bull;

/****** Sub Dropdown ******/
$navbar-submenu-config: background-color color(light-gray);

$navbar-submenu-width: 160px;
$navbar-submenu-top:5px;
$navbar-submenu-left:158px;
$navbar-submenu-radius-class: $default-dropdown-menu-radius-class;

/****** Sub Dropdown Button ******/
$navbar-submenu-button-config: class 'global-nav-dropdown-button';
$navbar-submenu-active-button-config: null;


/*=================================================================

                          CORE

==================================================================*/

@if $include-navbar-classes{
    .navbar-widget{

        &, .crumb, .crumb-button{
            @include height($height: $navbar-base-height, $line-height: $navbar-base-line-height, $v-align: $navbar-base-vertical-align);
            @include style($navbar-base-config);
        }

        @include style($navbar-container-config);

        .dropdown-menu {
            .button {
                //display: block;
                // @include style($nav-dropdown-menu-button);

            }
        }

        &.row .crumb{

            float: left;
        }

        .crumb{
            &.is-inactive .crumb-button{@include style($navbar-crumb-button-config);}
            &.is-active .crumb-button{@include style($navbar-active-crumb-button-config);}

            @include dropdown-menu(

            $menu-width:$navbar-menu-width,
                $menu-top:$navbar-menu-top,
                $menu-left: $navbar-menu-left, 
                $menu-radius:$navbar-menu-radius,
                $menu-config: $navbar-menu-config,

                $menu-button-config: $navbar-menu-button-config,
                $menu-active-button-config: $navbar-menu-active-button-config,


                $submenu-width:$navbar-submenu-width,
                $submenu-top:$navbar-submenu-top, 
                $submenu-left: $navbar-submenu-left, 
                $submenu-radius:$navbar-submenu-radius-class,
                $submenu-config: $navbar-submenu-config,

                $submenu-button-config: $navbar-submenu-button-config,
                $submenu-active-button-config: $navbar-submenu-active-button-config

                );
        }






    }
}


/*#################################################################################################



                                   SIDEBAR NAVIGATION



#################################################################################################*/

/*============================================================== 

                    CONFIGURATION

==============================================================*/

$include-sidenav-classes: true;

/****** SIDENAV *******/
$default-sidenav-config:
padding '10px 14px 17px 17px';


/****** SIDENAV HEADING *******/
$default-sidenav-heading-config: 
font-size 12px,
font-weight 700
;
$default-sidenav-heading-top-spacing: 0;
$default-sidenav-heading-bottom-spacing: 5px;

/****** SIDENAV LINK *******/
$default-sidenav-link-spacing: 5px;
$default-sidenav-link-config: 
font-size 11px,
color color(dark-gray)
;

/****** SIDENAV SECTION *******/
$default-sidenav-section-spacing: 10px;
$default-sidenav-section-config: null;

/*============================================================== 

                        CORE

==============================================================*/
@if $include-sidenav-classes{
    .sidenav{
        @include style($default-sidenav-config);

        .sidenav-heading{

            margin-top: $default-sidenav-heading-top-spacing;
            &:first-child{margin-top: 0}

            margin-bottom: $default-sidenav-heading-bottom-spacing;
            @include style($default-sidenav-heading-config);
        }
        .sidenav-section{

            margin-bottom: $default-sidenav-section-spacing;
            &:last-child{margin-bottom: 0}

            .sidenav-links{
                @include style($default-sidenav-section-config);
                .sidenav-link{
                    @include style($default-sidenav-link-config);
                    margin-bottom: $default-sidenav-link-spacing;
                    &:last-child{margin-bottom: 0;}
                }

            }
        }

    }
}

