/*==============================================================================

                            CONFIGURATION

==============================================================================*/

/************************** Tab Wrapper Configuration *************************/

$default-tab-wrapper-config: 
margin '0 auto';


/************************** Tab  Configuration *************************/

$default-tab-margin: 0;

$default-tab-config:
class 'round-6px-top',
border (width 1px, style solid, color color(medium-gray)),
font-size 12px,
color color(black),
background-color color(medium-gray),
padding '0 17px 0 17px',
height 25px,
text-decoration none;


$default-active-tab-margin: $default-tab-margin;

$default-active-tab-config: 
background-color color(white),
font-size 12px,
font-weight 700,
text-decoration none;



/************************** Tab Content Configuration *************************/
$default-tab-content-config: 
background-color color(white),
border (width 1px, style solid, color color(medium-gray)),
color color(black),
font-size 12px,
padding '30px 25px';



/*==============================================================================

                                  CORE

==============================================================================*/
.tabs {

    @include style($default-tab-wrapper-config);

    .tab-link{
        margin: $default-tab-margin;
        @include style($default-tab-config);

        /*Hack*/
        border-bottom-width: 0;


    }

    .active-tab .tab-link{
        margin: $default-active-tab-margin;
        @include style($default-active-tab-config);
    }


    .tab-link{
        display: inline-block;
    }

    .tab-content {
        @include style($default-tab-content-config);
    }




}

%product-info-tabs{
    
    /****** MOBILE VIEW ******/
    width: 95%;
    
    /****** TABLET VIEW ******/
    @include breakpoint(sm){
        width: 90%;
    }
    
    
    /****** DESKTOP VIEW ******/
}




