/*******************************************************************************

                               BLOCK

*******************************************************************************/
@media screen and (max-width: 931px)
{
   
    .sidebar .block{ 
        padding:10px; 
        vertical-align:top!important;
        display:inline-block; 
        text-align: center!important;
        margin: 0 20px 12px 0; 
        width:210px;
        border:0;
            /* border-right:2px dotted #80FAE6!important; 
             border-top: none!important*/}
    
    .sidebar .block  .block-content {padding:0!important;text-align: center!important}
    .sidebar .block  .block-content *{background-color: transparent!important; float:none!important; padding:0!important; margin:0!important;}
    .sidebar .block > .block-content > .actions > *{float:none!important; display:block!important;width:100%!important}
    /* .sidebar .block > .block-content > ol, .sidebar .block > .block-content > ul{display:inline-block!important}*/



    /*.sidebar.col-right > div{display: inline-block!important; text-align:center!important;}*/





}
