 ol li > span {line-height: normal!important; display:inline-block!important; vertical-align: middle!important}
  a.btn-remove{
    vertical-align: middle!important;
    display: inline-block!important;
    font-size: 0px !important;
    height: 11px!important;
    line-height: 0!important;
    text-indent: -999em!important;
    width: 22px!important;
    margin-top:-3px!important; 
    background: url("../../../images/madison-sprite-a.png") no-repeat scroll -4px -641px transparent!important}
ol {display: inline-block!important}
 ol li{display:inline-block!important; vertical-align: top!important; background-color: #FFFFBD!important; margin:2px 0!important;padding: 0 7px!important}
ol li .label:before, .block-layered-nav ol li .label:after{content:'        '}

