@charset "utf-8";
/* CSS Document */

/********** < Navigation */
.nav-container { position:relative; /*z-index:4;*/ /* float: left;*/ border-bottom: 1px solid #ECECEC;}

#nav {  }

/* All Levels */
#nav li.over {  }
#nav li.parent { position:relative; }
#nav li a span { cursor:pointer; }

/* 1st Level (Top Level) */
#nav li.level-top { float: left;    height: 38px;    line-height: 38px;    position: relative;    z-index: 1; }
#nav li.level-top a.level-top { float:left;  padding:0;  text-decoration:none !important; color:#666; }
#nav li.level-top a.level-top span {     float: left;    font-size: 12px;    padding: 0 62px;    text-transform: uppercase;    white-space: nowrap;  }
#nav li.level-top.first a.level-top span { padding-left:6px }
#nav li.level-top.last a.level-top span { padding-right: 6px}

#nav li.over a.level-top,
#nav li.active a.level-top { color:#50a4cf;}
#nav li.over a.level-top { }

#nav li.over a.level-top span,
#nav li.active a.level-top span { }

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:13.5em; top:38px; left:-10000px; background:#fbfbfb; padding:5px 11px 10px; border:1px solid #ECECEC;}
#nav div ul { position:static; width:auto; background:none; padding:0; border:0 !important; }

#nav ul li { float:none; height:auto; display:block; border-bottom:1px solid #e2e2e2; line-height:12px;}
#nav ul li.last { border-bottom:0; }
#nav ul li.parent { /*background:url(../images/bkg_parent.gif) 100% 50% no-repeat;*/ }
#nav ul li a {   text-align: left; display:block; font-size:12px;  padding:5px 4px; text-decoration:none !important; color:#444; }
#nav ul li.last > a { padding-bottom:0; }
#nav ul li a:hover { color:#d02600; }
#nav ul li a span {}
#nav ul li.over a.over { color:#50a4cf; }
#nav ul li.active > a { color:#50a4cf; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:7px; border-top:1px solid #aeaeae; }

/* Show Menu */
#nav li .shown-sub { left:-1px; z-index:9999; }
#nav li .shown-sub .shown-sub { left:100px; }
#nav li.level-top  .shown-sub { left:47px;}
#nav li.level-top.first  .shown-sub { left:0px;}
#nav li.level-top.last  .shown-sub { /*left:-86px;*/}
/********** Navigation > */
