.mds-main-menu nav, .mds-main-menu ul, .mds-main-menu li, .mds-main-menu a {
	margin: 0;
	padding: 0;
}
.mds-main-menu a {
	text-decoration: none;
}
.mds-main-menu {
	width: 100%;
	max-width: 940px;
	margin: 10px auto;
	float: left;
	border-bottom: 1px solid #EBEBEB;
}
.mds-main-menu .toggleMenu {
	display: none;
	background: #666;
	padding: 10px 15px;
	color: #fff;
}
.mds-main-menu .nav {
	list-style: none;
 *zoom: 1;
}
.mds-main-menu .nav:before, .mds-main-menu .nav:after {
	content: " ";
	display: table;
}
.mds-main-menu .nav:after {
	clear: both;
}
.mds-main-menu .nav ul {
	list-style: none;/*width: 9em;*/
}
.mds-main-menu .nav li a {
	padding: 0px 63px;
	color: #fff;
	line-height: 30px;
}
.mds-main-menu .nav li a:hover span {
	color: #50A4CF;
}
.mds-main-menu .nav.hMenu li.level0.level-top.first > a {
	padding: 0px 63px 0 0;
}
.mds-main-menu .nav.hMenu li.level0.level-top.last {
	float: right;
}
.mds-main-menu .nav.hMenu li.level0.level-top.last > a {
	padding: 0px 0 0 63px;
}
.mds-main-menu .nav.hMenu > li.level0.level-top.first.hover ul.level0 {
	left: 0px;
}
.mds-main-menu .nav a span {
	white-space: nowrap;
	color: #666;
	text-transform: uppercase;
	font-size: 12px;
}
.mds-main-menu .nav li {
	position: relative;
}
.mds-main-menu .nav.hMenu li li.parent {
	background: url("../images/madison-sprite-b.png") no-repeat right 4px #FBFBFB;
}
.mds-main-menu .nav.hMenu li li.parent:hover {
	background-position: right -25px;
}
.mds-main-menu .nav > li {
	float: left;/*border-top: 1px solid #104336;*/
}
/*
.mds-main-menu .nav.vMenu > li > .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}*/
.mds-main-menu .nav > li > a {
	display: block;
}
.mds-main-menu .nav li ul {
	position: absolute;
	left: -9999px;
}
.mds-main-menu .nav > li.hover > ul {
	left: 0;
}
.mds-main-menu .nav.hMenu > li.hover ul {
	border: 1px solid #ECECEC;
}
.mds-main-menu .nav.hMenu > li.hover ul.level0 {
	left: 47px;
}
.mds-main-menu .nav li li.hover ul {
	left: 100%;
	top: 0;
}
.mds-main-menu .nav li li {
	background: #FBFBFB;
}
.mds-main-menu .nav li li a {
	display: block;
	position: relative;
	z-index: 100;
	border-top: 1px solid #ECECEC;
	padding: 0 7px;
}
.mds-main-menu .nav.hMenu li li a {
	padding: 0 15px 0 10px;
}
.mds-main-menu .nav li li a span {
	text-transform: none;
}
.mds-main-menu .nav li li li a {
	/*background:#249578;*/
	z-index: 200;/*border-top: 1px solid #1d7a62;*/
}
 /*@media screen and (max-width: 767px) {*/
 @media screen and (max-width: 959px) {
.mds-main-menu a.toggleMenu {
	background: url("../images/madison-sprite-b.png") no-repeat right -61px #333;
	color: #666666;
	font-size: 14px;
	font-weight: 700;
	height: 15px;
	line-height: 15px;
	text-transform: uppercase;
}
.mds-main-menu .active {
	display: block;
}
.mds-main-menu .nav li a {
	height: 31px;
}
.mds-main-menu .nav > li {
	float: none;
}
.mds-main-menu .nav > li > a {
	background-color: #3398cc;
	border-top: 1px solid #5cadd6;
}
/* Style - Prasanth */
.mds-main-menu .nav > li > a {
	padding: 0 10px;
	text-align: left;
	background-color: #3398cc;
}
.mds-main-menu .nav > li > a:hover {
	background-color: #1382bb;
}
.mds-main-menu .nav > li > a.parent {
	/*background: url("../images/madison-sprite-b.png") no-repeat  right -100px #3398cc;*/
	background: url(../images/madison-sprite-b.png) 100% -100px no-repeat #3398cc;
}
.mds-main-menu .nav > li > a.expanded {
	background: url(../images/madison-sprite-b.png) 100% -130px no-repeat #3398cc;
}
.mds-main-menu .nav > li.hover > a.parent {
/*background: url("../images/madison-sprite-b.png") no-repeat  right -130px #3398cc;*/
}
.mds-main-menu .nav > li > a.parent:hover {
	background-color: #1382bb;
}
.mds-main-menu .nav li li .parent {
/* background-image: url("../images/madison-sprite-b.png");
        background-repeat: no-repeat;
        background-position: right -100px;
		background-size:100% 100%;*/
}
.mds-main-menu .nav li li.hover .parent {
/* background-position: right -130px;*/
}
.mds-main-menu .nav li.parent span.plusMinBtn {
	background: url("../images/madison-sprite-b.png") no-repeat scroll 0 -100px #006CA5;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 2px;
	top: 1px;
	width: 38px;
	z-index: 9999;
}
.mds-main-menu .nav li.parent span.plusMinBtn:hover {
	background-color: #005F98;
}
.mds-main-menu .nav li.parent.hover > span.plusMinBtn {
	background-position: 0 -130px;
}
.mds-main-menu .nav li li a {
	background-color: #5cadd6;
	border-top: 1px solid #85c1e0;
	padding: 0 10px 0 20px;
	text-align: left;
}
.mds-main-menu .nav li li a:hover {
	background-color: #3398cc;
}
.mds-main-menu .nav li li li a {
	background-color: #85c1e0;
	border-top: 1px solid #a3d1e8;
}
.mds-main-menu .nav ul {
	display: block;
	width: 100%;
}
.mds-main-menu .nav > li.hover > ul, .nav li li.hover ul {
	position: static;
}
.mds-main-menu .nav li a span {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 600;
}
.mds-main-menu .nav li a:hover span {
	color: #FFFFFF;
}
.breadcrumbs li, .breadcrumbs li a {
	font-size: 11px;
}
 }
.mds-main-menu .nav.hMenu li li {
}
.mds-main-menu .nav.hMenu li li a {
	line-height: 20px;
	margin: 0 6px;
	text-align: left;
}
.mds-main-menu .nav.hMenu li li.first > a {
	border-top: none;
}
