.mds-main-menu nav,
.mds-main-menu ul,
.mds-main-menu li,
.mds-main-menu a  {margin: 0; padding: 0;}
.mds-main-menu a {text-decoration: none;}
.mds-main-menu {	
    width: 100%;
    max-width: 940px;
    margin: 10px auto;
	float:left;
}
.mds-main-menu .toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.mds-main-menu .nav {
    list-style: none;
     *zoom: 1;
}
.mds-main-menu .nav:before,
.mds-main-menu .nav:after {
    content: " "; 
    display: table; 
}
.mds-main-menu .nav:after {
    clear: both;
}
.mds-main-menu .nav ul {
    list-style: none;
    /*width: 9em;*/
}
.mds-main-menu .nav a {
    padding: 0;
    color:#fff;
}
.mds-main-menu .nav li.level-top  a  span {
	white-space: nowrap;
	text-transform: uppercase;
	line-height:30px;
	padding: 0 10px;

}
.mds-main-menu .nav li.level-top > a  span {
	color:#666;	
	float: left;
	font-size: 12px;
	padding: 0 63px;
}
.mds-main-menu .nav li.level-top.first a.level-top span {  padding-left: 0px;}
.mds-main-menu .nav li.level-top.last a.level-top span {  padding-right: 0px;}
.mds-main-menu .nav li {
    position: relative;
}
.mds-main-menu .nav > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
.mds-main-menu .nav.stacked-menu > li > .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.mds-main-menu .nav > li > a {
    display: block;
}
.mds-main-menu .nav li  ul {
    position: absolute;
    left: -9999px;
}
.mds-main-menu .nav > li.hover > ul {
    left: 0;
	top: 26px;
}
.mds-main-menu .nav li li.hover ul {
    left: 100%;
    top: 0;
}
.mds-main-menu .nav li.level-top.first li  {
	left:0px;
}
.mds-main-menu .nav li li  {
	left:47px;
    border-top: 1px solid #175e4c;
    background: #1d7a62;
}
.mds-main-menu .nav li li a {
    display: block;
    position: relative;
    z-index:100;
	text-align: left;
}
.mds-main-menu .nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 767px) {
    .mds-main-menu .active {
        display: block;
    }
    .mds-main-menu .nav > li {
        float: none;
    }
    .mds-main-menu .nav > li > .parent {
        background-position: 95% 50%;
    }
    .mds-main-menu .nav li li .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .mds-main-menu .nav ul {
        display: block;
        width: 100%;
    }
   .mds-main-menu .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}