
/*******************************************************************************

                              Layered Navigation

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .block-layered-nav{line-height: normal!important;}
    #narrow-by-list, .block-layered-nav .currently, .block-layered-nav  .actions{display:inline-block;vertical-align: middle!important}
    .block-layered-nav .currently{display:block!important}

    .block-layered-nav .block-title, .block-layered-nav .block-content  .block-subtitle{display:none!important;}

    .block-layered-nav .block-content{padding:0!important; /*background-color: #F0F0F0!important*/}
    .block-layered-nav .block-content p{display:inline-block!important; vertical-align: top!important}

    .inactive-filters, .current-filters{vertical-align: top!important; width:60%!important;height:100%!important; display: inline-block!important; border:0!important;}
    .current-filters{width:38%!important; padding:0 5px!important}

    .current-filters h2,.inactive-filters h2{text-align: center!important; color:#FFB200!important;}
    .inactive-filters{display: inline-block!important; background-color: #E5E5E5!important }
    .inactive-filters li.ui-menu-item{display:inline-block!important}
    .inactive-filters h2{color:#9E9E9E!important}

    .current-filters .actions{display:inline!important;background-color: #FFFFBD !important}

    .current-filters h2 + span{line-height: 15px!important; margin:8px 0 0 0!important; vertical-align: sub!important; font-style: italic!important; display: block!important}

    #narrow-by-list .price{font:inherit!important; color:inherit!important; }
    .current-filters .notice-no-filter-applied{line-height:normal!important; }
    /* .inactive-filters > li > ul{position: static!important; }
    
 .inactive-filters > li > a:hover + ul.ui-menu li,.inactive-filters > li > a + ul.ui-menu li{display: none!important}
 .inactive-filters > li > a:active + ul.ui-menu li{display:inline-block!important}*/

    #narrow-by-list > .ui-menu-item .ui-menu {position: static!important;left:5px!important;}

    #narrow-by-list > .ui-menu-item > .ui-menu .ui-menu-item{
        display:block;
        float:none!important;
    }
    #narrow-by-list > .ui-menu-item > .ui-menu{z-index: 200}
    /* #narrow-by-list > .ui-menu-item:last-child{float:right;}*/

    #narrow-by-list > .ui-menu-item:first-child > .ui-menu{/*min-height:185px!important; left:26px !important; top:393.483px!important; */ width:100%!important}


    #narrow-by-list .inactive-filters > ul > li  ul.ui-menu > li{width:auto!important; display:block!important;}
    #narrow-by-list .inactive-filters > ul > li  ul.ui-menu {padding:0!important}
    #narrow-by-list li a.ui-state-hover{background-color: white!important; }
    #narrow-by-list > li > a{border:0!important;}

}

@media screen and (max-width: 575px)
{
    /*#narrow-by-list > .ui-menu-item:first-child > .ui-menu{width:75%!important;}*/
    .current-filters{/*width:54%!important;*/padding:0!important;}
    /* .inactive-filters{width:44%!important;}*/

}

@media screen and (max-width: 400px)
{


}