@media screen{
    
      .sort-by {     margin: 0 20px 0 0;}
    .sort-by label  {float: left;   height: 25px;    line-height: 25px;margin: 0 5px 0 0;}



    .sort-by .jqTransformSelectWrapper div span{ width:75px !important;}
    .sort-by a.asc{background: url("../../../images/madison-sprite-a.png") no-repeat scroll -10px -337px transparent;    float: left;    height: 20px;    margin: 2px 0 0 12px;    text-indent: -9999px;    width: 10px;  }
    .sort-by a.desc{background: url("../../../images/madison-sprite-a.png") no-repeat scroll -10px -354px transparent;    float: left;    height: 20px;    margin: 2px 0 0 12px;    text-indent: -9999px;    width: 10px; }


    .sort-by .jqTransformSelectOpen{right:3px!important;}
    .sort-by a.desc, .sort-by a.asc{
        margin:2px 0 0 5px!important;
    }
  .sort-by .jqTransformSelectWrapper{ width:73px !important}
}