@media screen{

    .view-mode {white-space:nowrap;  margin: 0; display:inline-block;}
    .view-mode label { float:left; margin:0 5px 0 0; }

    .view-mode .grid, .view-mode .list { 

        background:url("../../../images/madison-sprite-a.png") no-repeat;

        width:16px; height:16px;
        text-align:left; text-indent:-999em; overflow:hidden;
        display:inline-block;
    }

    .view-mode .grid{ background-position:-8px -379px;}
    .view-mode strong.grid{background-position:-8px -399px}

    .view-mode .list{background-position:-8px -415px}
    .view-mode strong.list{background-position:-8px -434px}
}