<!--@subject You've been sent a gift from {{var sender_name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Recipient Name",
"var sender_name_with_email|escape":"Sender Name with Email",
"var store.getFrontendName()|escape":"Store Name",
"var giftcards":"Gift Card Codes",
"var balance":"Gift Card Balance",
"var gift_message|escape|nl2br":"Sender Gift Message"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top" style="text-align:center;border-bottom:1px solid #d8d8d8; height:90px; vertical-align:middle">
                        <a href="{{store url=""}}" ><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="color: #656565;font-family: times new roman;font-size: 14px;font-weight: bold;line-height: 22px;margin: 0 0 11px;">{{var name|escape}}</h1>
                        <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 18px;margin: 0 0 16px 0;">{{var sender_name_with_email|escape}} has sent you a gift card for use at {{var store.getFrontendName()|escape}} and it is now ready to be used for purchases.</p>

                        <div style="font-size:12px; line-height:16px; margin:0 0 16px 0;font-family:Georgia, 'Times New Roman', Times, serif;color:#656565">
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;"><strong style="font-style:italic;">The Gift Card code(s):</strong></p>
                            {{var giftcards}}
                        </div>

                        <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 18px;margin: 0;">{{if is_multiple_codes}}Each{{else}}The{{/if}} card has a balance of {{var balance}} that can be used at <a href="{{store url=""}}" style="color:#656565;font-weight:bold;font-style:italic">{{store url=""}}</a>.</p>
                        {{if is_redeemable}}
                        <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 18px;margin: 0;">Click at the code(s) above to redeem them into Store Credit.</p>
                        {{/if}}

                        <div style="font-size:12px; line-height:16px; margin:0 0 16px 0;font-family: georgia;color:#656565">
                        {{var gift_message|escape|nl2br}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td  align="center" ><center><p style="font-size: 18px; font-weight:normal;font-family:Arial, Helvetica, sans-serif;margin: 0;border-top: 1px solid #d8d8d8;padding-top: 17px !important;padding-bottom: 15px; text-align:left;color:#656565;padding-top:5px;">Thank you again, <strong><br/>{{var store.getFrontendName()}}</strong></p></center></td>
                </td>
            </table>

        </td>
    </tr>
</table>
</div>
</body>
