<!--@subject {{if inviter_name}}{{var inviter_name}} invites you{{else}}Invite{{/if}} to join Private Sales Site @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()|escape":"Store Name",
"var message|escape|nl2br":"Invitation Message",
"var url|escape":"Invitation Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;" style="table-layout:fixed;">
                <tr>
                    <td valign="top" style="text-align:center;border-bottom:1px solid #d8d8d8; height:90px; vertical-align:middle">
                        <a href="{{store url=""}}" ><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="color: #656565;font-family: times new roman;font-size: 14px;font-weight: bold;line-height: 22px;margin: 0 0 11px;">Please accept this invitation to join {{var store.getFrontendName()|escape}}</h1>
                        <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 18px;margin: 0 0 16px 0;">{{var store.getFrontendName()|escape}} offers limited time sales of products only to members.</p>
                        {{if allow_message}}
                        <p style="color: #656565;font-family: georgia;font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var message|escape|nl2br}}</p>
                        {{/if}}
                        <p style="color: #656565;font-family: georgia;font-size:12px; line-height:16px; margin:0;">
                            Please use the following link to create an account and view the deals<br /><a href="{{var url|escape}}" style="color:#656565;font-weight:bold;font-style:italic">{{var url|escape}}</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td  align="center" ><center><p style="font-size: 18px; font-weight:normal;font-family:Arial, Helvetica, sans-serif;margin: 0;border-top: 1px solid #d8d8d8;padding-top: 17px !important;padding-bottom: 15px; text-align:left;color:#656565;padding-top:5px;">Thank you again, <strong><br/>{{var store.getFrontendName()}}</strong></p></center></td>
                </td>
            </table>

        </td>
    </tr>
</table>
</div>
</body>
