<!--@subject Reward Points Balance Updated at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"config path='trans_email/ident_sales/email'":"Sales Contact Email",
"config path='general/store_information/phone'":"Sales Contact Phone",
"var unsubscription_url":"Unsubscription URL",
"var points_balance":"Current Points Amount",
"var customer.getName()|escape":"Customer Name",
"var reward_pts_was":"Previous Points Amount",
"var reward_pts_change":"Points Change",
"var reward_amount_was":"Previous Reward Amount",
"var reward_amount_now":"Current Reward Amount",
"var update_message":"Update Message",
"var update_comment":"Update Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top" style="text-align:center;border-bottom:1px solid #d8d8d8; height:90px; vertical-align:middle">
                        <a href="{{store url=""}}" ><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <h1 style="color: #656565;font-family: times new roman;font-size: 14px;font-weight: bold;line-height: 22px;margin: 0 0 11px;">Hello, {{var customer.getName()|escape}}</h1>
                        <p style="color: #656565;font-family: georgia;font-size: 12px;line-height: 18px;margin: 0 0 16px 0;">You have {{var points_balance}} pts that can be used in our store <a href="{{store url=""}}" style="color:#656565;font-weight:bold;font-style:italic">{{var store.getFrontendName()|escape}}</a>.</p>
                        <p style="color: #656565;font-family: georgia;font-size: 12px;font-size:12px; line-height:16px; margin:0 0 16px 0;">If you have any questions about your account or any other matter, please feel free to contact us
                        at <a href="mailto:{{config path='trans_email/ident_sales/email'}}" style="color:#656565;font-weight:bold;font-style:italic">{{config path='trans_email/ident_sales/email'}}</a>
                        or by phone at {{config path='general/store_information/phone'}}.</p>
                        <p style="color: #656565;font-family: georgia;font-size: 12px;font-size:12px; line-height:16px; margin:0;">You can <a href="{{var unsubscription_url}}" style="color:#656565;font-weight:bold;font-style:italic">unsubscribe</a> from such notifications.</p>
                    </td>
                </tr>
                <tr>
                    <td  align="center" ><center><p style="font-size: 18px; font-weight:normal;font-family:Arial, Helvetica, sans-serif;margin: 0;border-top: 1px solid #d8d8d8;padding-top: 17px !important;padding-bottom: 15px; text-align:left;color:#656565;padding-top:5px;">Thank you again, <strong><br/>{{var store.getFrontendName()}}</strong></p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
