<!--@subject {{var store.getFrontendName()}}: New Return # {{var rma.getIncrementId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$rma.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var rma.getIncrementId()":"Return Id",
"var rma.getStatusLabel().format('html')":"Return Status",
"var rma.getCreatedAtFormated('long')":"Return Created At (datetime)",
"var return_address":"Return Address",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var item_collection":"Items Collection",
"layout handle=\"enterprise_rma_email_rma_items\" collection=$item_collection":"Return Items Collection"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top" style="text-align:center;border-bottom:1px solid #d8d8d8; height:90px; vertical-align:middle"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="color: #656565;font-family: times new roman;font-size: 14px;font-weight: bold;line-height: 22px;margin: 0 0 11px;">Hello, {{htmlescape var=$order.getCustomerName()}}</h1>
                    <p style="color: #656565;font-family: georgia;font-size:12px; line-height:16px; margin:0;">
                        Your Return request has been received. You will be notified when your request is reviewed.
                        If you have any questions about your Return, please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#656565;font-weight:bold;font-style:italic">{{config path='trans_email/ident_support/email'}}</a>
                    </p>
                    <p style="color: #656565;font-family: georgia;font-size:12px; line-height:16px; margin:0;">Thank you for your business.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="color: #656565;font-family: arial;font-size: 15px;font-weight: bold;margin: 0;text-transform: uppercase;border-bottom:1px solid #d8d8d8;padding-bottom:10px;">Your Return #{{var rma.getIncrementId()}} - {{var rma.getStatusLabel().format('html')}} <small>(placed on {{var rma.getCreatedAtFormated('long')}})</small></h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" style="color: #656565;font-family: arial;font-size: 14px;font-weight: bold;line-height: 1em;padding: 5px 9px 12px;text-transform: uppercase;border-bottom:1px solid #d8d8d8">Shipping Address:</th>
                            <th width="10"></th>
                            <th align="left" width="325" style="color: #656565;font-family: arial;font-size: 14px;font-weight: bold;line-height: 1em;padding: 5px 9px 12px;text-transform: uppercase;border-bottom:1px solid #d8d8d8">Return Address:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="color: #656565;font-family: georgia;font-size: 12px;font-style: italic;padding: 7px 9px 9px;line-height:19px;">
                                {{var order.getShippingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="color: #656565;font-family: georgia;font-size: 12px;font-style: italic;padding: 7px 9px 9px;line-height:19px;">
                                {{var return_address}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{layout handle="enterprise_rma_email_rma_items" collection=$item_collection}}
                </td>
            </tr>
            <tr>
                <td  align="center" ><center><p style="font-size: 18px; font-weight:normal;font-family:Arial, Helvetica, sans-serif;margin: 0;border-top: 1px solid #d8d8d8;padding-top: 17px !important;padding-bottom: 15px; text-align:left;color:#656565;padding-top:5px;">Thank you, <strong><br/>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>
