@media screen{
    .pager { float: right;}
.pager p { margin:0 !important; }
.pager select { padding:0; margin-bottom:1px;width: 40px; }
.pager .amount { float:left; line-height:20px; }
.pager .amount strong { font-weight:normal; }
.pager .limiter { float:right; margin: 0;}
.pager .limiter label {   float: left;}
.pager .limiter .jqTransformSelectWrapper{ margin: -6px 5px;    width: 35px !important;/**/}
.pager .limiter .jqTransformSelectWrapper ul{ width: 35px !important;}
.pager .limiter .jqTransformSelectWrapper div span { line-height:20px; }
.pager .pages { margin: 0 135px; text-align: center; }
.pager .pages a {}
.pager .pages a:hover { color:#8c8c8c; text-decoration:none; }
.pager .pages ol,
.pager .pages li { display:inline; padding:0 2px; font-weight: 600; font-size: 12px; color:#50A4CF; }
.pager .pages .current {color:#333}
.pager .pages .i-previous,
.pager .pages .i-next { text-decoration:none !important; vertical-align:middle; }
.pager-only { clear:both; }
.pager-only .pages { margin:0; }
}