@import 'layered-navigation.css';
@import 'limiter.css';
@import 'pager.css';
@import 'sortby.css';
@import 'view.mode.css';

/*******************************************************************************

                                   TOOLBAR

*******************************************************************************/
@media screen{
    .toolbar > *{vertical-align: top;display:inline-block;}
    .toolbar {      height: auto;    line-height:13px;      padding: 0 0 5px;    text-transform: uppercase;    width: 100%;}

    .toolbar-bottom { border-top: 1px solid #EDEDED;   border-bottom: 1px solid #EDEDED;    float: left;    margin: 20px 0 0;    padding-top: 5px;    width: 100%;}
    .toolbar-bottom .toolbar { margin:0px;}



}

@media screen and (max-width: 931px){

    /*ToolBar*/


    .toolbar-item
    {
        height:17px;
        text-transform: uppercase!important; 
        text-align:left;
        width:auto!important;
        display:inline-block;
        float:none!important;
        vertical-align:top!important;
        border:2px dotted #80FAE6; 
        border-top: 0!important;  
        padding: 0 7px; 
        margin: 0 10px 0 0 ;
        border-radius: 0 0 6px 6px;
        background-color:white

    }

.ui-dialog .toolbar-item{
    display:block;
    width: 100%;
    /*height:35px;*/
    padding:7px 0 7px 18px; 
    margin:2px 0 0 0 ; 
    background-color: #e9e9e9;
    border: none;
    border-radius: 0;
}


    .toolbar{padding:0!important;margin:0px 0 /*16px*/28px 0;text-align:center;float:none!important;text-transform: none!important;width:100%!important}

    .toolbar-label{display:none;}
}
@media screen and (max-width: 670px){
       .toolbar-label{display:inline-block;}
}


@media screen and (max-width: 292px){

    .toolbar > *{display:block;margin:0;padding:0;}

}

