

.cms-home{

    /*----------------------------------------------------------------
    
    
                    IMAGE CAROUSEL
    
    
    ----------------------------------------------------------------*/

    .homepage-image-carousel{
        border: 1px solid color(beige);    
        padding: 7px; 
        position:relative; 
        margin: 0 0 25px 0;
        z-index: 0;
        &:hover{
            a.next,
            a.prev{
                display: block;
            }
        }

        .rslides img {  display: block;  height: auto;  float: left;  width: 100%;  border: 0;  }


        ul.rslides_tabs li{   display: inline;    float: left; list-style: none outside none;}
        ul.rslides_tabs li a{  border:1px solid #50A4CF;	background:transparent;    float: left;    height: 4px; margin:0 10%;    width: 80%; text-indent:-9999px;}
        ul.rslides_tabs li.rslides_here a,
        ul.rslides_tabs li.rslides_here a:hover{  background: none repeat scroll 0 0 #50A4CF; cursor:default}
        ul.rslides_tabs li a:hover{  background:#fff;}
        .rslides {  
            position: relative;  
            list-style: none;  
            overflow: hidden;  
            width: 100%;  
            padding: 0;  
            margin: 0;

        }

        ul.rslides_tabs{
            bottom: 18px;    
            margin: 0;    
            padding: 0;    
            position: absolute;    
            z-index: 9999;

        }

        a.next, a.prev{	
            display:none;	
            @include opacity(0.25); 
            background: url("../images/slide-arrows.png") no-repeat scroll center center #000;   
            top: 0px; 
            z-index:10; 
            text-indent:-9999px;    
            position: absolute; 
            width:30px;  
            height:100%;
        }
        a.prev{background-position: 0 center; left: 0;}
        a.next{background-position: -28px center; right: 0px;}

    }

    /*----------------------------------------------------------------


                HOME THUMBS


    ----------------------------------------------------------------*/

    .home-thumbs{
        /*********** MOBILE VIEW ************/
        .thumb{text-align: center;}

        /********** TABLET VIEW ************/
        @include breakpoint(sm){
            .thumb{@include exclude(first-child){margin-left: 1.5%;}; width: 32.13%}
        }

        /********* DESKTOP VIEW ***********/
    }

    /*----------------------------------------------------------------
 
 
                NEW PRODUCTS
 
 
    ----------------------------------------------------------------*/

    .new-products-section{
        /*********** MOBILE VIEW ************/

        .section-title{
            font:{size: 22px; weight: 600;};
            line-height: 38px;
            color: color(blue);
            @include border(top bottom, 1px solid color(light-gray));
            margin: 29px 0;
            text-align: center;
        }

        /********** TABLET VIEW ************/
        @include breakpoint(sm){
            .thumb{@include exclude(first-child){margin-left: 14px;}}
        }

        /********* DESKTOP VIEW ***********/
    }


}