.catalog-product-view{


    /*##############################################################################
    
    
                                PRODUCT DESCRIPTION PAGE
    
    
    ##############################################################################*/


    .main-content{


        /*========================================

                     MAIN CONTENT

        ========================================*/

        /****** MOBILE VIEW ******/

        border-left: 1px solid color(medium-gray); 
        padding-bottom :30px;

        .product-view-header{
            @include use-style(white-gray-gradient);
            border-bottom: 1px solid color(medium-gray); 
            padding: 20px 10px 5px 10px;
        }

        .required-field-notice{ text-align: center; margin: 20px 0 40px 0;}

        .product-info-tabs{
            margin-top: 30px;
            @include use-style(product-info-tabs);
        }

        /****** TABLET VIEW ******/
        @include breakpoint(sm){
            max-width: 468px; 
            .product-view-header{
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        /****** DESKTOP VIEW ******/
        //NO STYLES

    }





 


}


