.checkout-cart{

    /*------------------------------------------------------------------------------ 
           
                                       UI
           
   ------------------------------------------------------------------------------*/
    .checkout-button{
        @include button(pdp-cart-button);
    }

    .update-cart-button, .empty-cart-button{
        @include button(cart-button);
    }

    .remove-button{width: 13px; height: 13px;}
    .reward-icon{width:21px; height: 21px;}
    /*------------------------------------------------------------------------------ 
            
                                    STRUCTURE
            
    ------------------------------------------------------------------------------*/

    border: 1px solid color(medium-gray);

    .checkout-cart-header{
        @include use-style(page-heading);
        //.checkout-type-list{float:right;}
        text-align: right;
    }

    .checkout-type-list{margin-right: -10px;}



    .checkout-cart-title,.checkout-type-list,.cart-totals-table{@include inline-block();}
    .cart-totals-section{padding: 23px 0;}

    .continue-shopping-link{margin-left: 12px;}



    .widget-cross-sell-products,.checkout-cart-footer{background-color: color(rose-pink-light);}
    .checkout-cart-footer > div:first-child{background-color: color(white)}

    .widget-cross-sell-products, .widget-cross-sell-products.col-left+.col-right{ padding: 15px 20px 15px 30px;}

    .widget-cross-sell-products{

        .section-title{font:{size:11px; weight: 700}; color: color(orange);}


    }





    .checkout-cart-widget{
        margin-bottom: 15px;

        .text-box{@include text-box(coupon-code-text-box);}

        .button{@include button(cart-button);}
        .link{text-decoration: underline; font-size: 12px; color: color(dark-gray)}

        .section-title{@include use-style(page-subheading); margin-bottom: 5px;}
        .section-subtitle{font-size: 12px; color: color(dark-gray)}

        &.widget-shipping-tax{
            .shipping-tax-form{
                .form-control-label{display: block;}
                .form-control,select{@include text-box(shipping-city-text-box);display:block;}
                .calculate-shipping-button{margin-left: 155px;}

            }
            .shipping-tax-form > .form-row:last-child,
                .shipping-options-form > .form-row:last-child{
                margin: 15px 0 10px 0; text-align: right
            }
            .shipping-options-form{

                .shipping-options-list .list-item{margin: 0}
                .shipping-option-name,.price{font-weight: 700; color: color(dark-gray)}

                .shipping-option-name:not(:first-child){margin-top: 5px;}
            }

        }

    }

    .cart-totals-section{text-align: right}
    .multi-shipping-link{font-size: 14px; color: color(dark-gray); text-decoration: underline}

    .cart-totals-section{
        padding-right: 15px;
    }




}

.empty-checkout-cart{
    min-height: 350px;
    .page-title{@include use-style(page-heading);}
    .cart-empty-notice{
        padding: 10px 0 0 18px;
        font-size: 11px;
        color: color(dark-gray);
        a,.link{font-size: inherit; color: inherit; text-decoration: underline}
    }
}


.mini-cart{

    /****** MOBILE VIEW ******/
    
    .cart-empty-notice{font-size: 11px; text-align: center; text-transform: none;}
    
    //CONFIGURATION -> DROPDOWN MENU
    @include dropdown-menu(
        $menu-width:150px,
        $menu-top:$default-dropdown-menu-top,
        $menu-left: -40px, 
        $menu-radius: $default-dropdown-menu-radius-class,
        $menu-config: $default-dropdown-menu-config,

        $menu-button-config: (class 'global-nav-dropdown-button', text-align center),
        $menu-active-button-config: $default-dropdown-menu-active-button-config,


        $submenu-width:$default-dropdown-submenu-width,
        $submenu-top:$default-dropdown-submenu-top, 
        $submenu-left: $default-dropdown-submenu-left, 
        $submenu-radius:$default-dropdown-submenu-radius-class,
        $submenu-config: $default-dropdown-submenu-config,

        $submenu-button-config: $default-dropdown-submenu-button-config,
        $submenu-active-button-config: $default-dropdown-submenu-active-button-config

        );



}