@media screen{
    #foo2_prev,#foo2_next{display:none!important;color:white; font-size:/*13px*/20px; font-weight:600; }
    .caroufredsel_wrapper{display:inline-block}
    .disabled:after{background:transparent!important;}
}

@media screen  and (max-width:335px) and (min-width:175px)
{
    .caroufredsel_wrapper{height:150px!important;min-width:80%!important; width:87%!important; max-width:87%!important}
    #foo2_prev,#foo2_next,.caroufredsel_wrapper{display:inline-block!important;vertical-align: top!important;}
    #foo2_prev,#foo2_next{width:3%!important; margin-top:-4px;}
     #foo2_prev{margin-right:2px}
    
    #foo2_prev:hover,#foo2_next:hover{text-decoration: none}
}

