

/*******************************************************************************

                               COMMUNITY POLL BLOCK

*******************************************************************************/
@media screen and (max-width: 931px)
{
     .block-poll{ border:1px dotted #4AE6FF!important;background-color:#FFFFD6 !important;}
    .sidebar .block-poll .block-content #poll-answers li {text-align: left!important;margin:1px 0 5px 37px }
    .block-poll .label{display:inline!important;}
    .sidebar .block-poll .block-content .actions button *{display:inline!important;vertical-align: top!important; line-height:normal!important; }
    .sidebar .block-poll .block-content .actions button{margin-top: -52px !important; margin-left:75px !important;display:inline-block!important;height:22px!important; width:42px!important; background-color:#50A4CF!important;}
}

@media screen and (max-width: 530px)
{
    
    .sidebar .block-poll .block-content #poll-answers li{margin:1px 0 5px 3px }
}