

/*******************************************************************************

                               RCENTLY VIEWED ITEMS BLOCK

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .sidebar .block-viewed {display:block!important; width:100%!important; margin:32px 0 0 0!important; padding:5px 0 21px 0 !important; border-bottom:1px dotted #4AE6FF !important;}
    
    .sidebar .block-viewed .block-title{margin-top:-55px!important;display:block!important}
    .sidebar .block-viewed .block-title strong{line-height:37px!important; font-style:italic!important; text-transform: none!important; color:#73F4ED !important; font-size: 22px!important; font-weight:500!important;}
    .sidebar .block-viewed .block-title strong span{background:white!important;}
    
    .sidebar .block-viewed .block-content li.item{float:none!important; display:inline-block!important}
    .sidebar .block-viewed .block-content{margin-top:4px!important}
}
