/*##############################################################################


                            TABLES


##############################################################################*/


/*============================================================ 

                        CONFIGURATION

============================================================*/

$include-data-table-classes: true;

$default-table-width: 100%;

$default-table-heading-config: 
height 25px,
font (size 11px, weight 400),
text-transform uppercase,
color color(dark-gray),
padding '0 12px',
class 'white-gray-gradient'
;

$default-table-data-config: 
font (size 11px, weight 400),
height 40px,
padding '0 12px'
;

$default-odd-table-row-config: background-color color(light-gray);
$default-even-table-row-config: background-color color(white);





/*============================================================ 

                            CORE

============================================================*/

/******* TABLE RESET *******/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}


.data-table{

    width: $default-table-width;

    .table-heading,
    .table-data{
        @include box-sizing(border-box);
    }   


    .table-heading{
        @include style($default-table-heading-config);
    }


    .table-data{
        @include style($default-table-data-config);
    }


    .table-row{
        &:nth-child(odd){
            @include style($default-odd-table-row-config);
        }
        &:nth-child(even){
            @include style($default-even-table-row-config);
        }
    }

}