/*******************************************************************************

                               BLOCK

*******************************************************************************/
@media screen and (max-width: 931px)
{
   
    .sidebar .block{ 
        padding:10px; 
        vertical-align:top!important;
        display:inline-block; 
        text-align: center!important;
        margin: 0 20px 12px 0; 
        width:210px;
        border:0;
        font-size: 11px;
            /* border-right:2px dotted #80FAE6!important; 
             border-top: none!important*/}
    
   
    
    .sidebar .block  .block-content {padding:0!important;text-align: center!important}
    .sidebar .block  .block-content *{background-color: transparent!important; float:none!important; padding:0!important; margin:0;}
    .sidebar .block > .block-content > .actions > *{float:none!important; display:block!important;width:100%!important}
    /* .sidebar .block > .block-content > ol, .sidebar .block > .block-content > ul{display:inline-block!important}*/

 .sidebar .block .block-subtitle{margin:3px 0 2px 0;}

    /*.sidebar.col-right > div{display: inline-block!important; text-align:center!important;}*/





}

@media screen and (max-width: 560px)
{
      .sidebar .block{ margin: 0 6px 12px 0; width:170px}
}

@media screen and (max-width: 530px)
{
    .sidebar .block{width:135px; margin: 10px 6px 12px 0}
}