
/*******************************************************************************

                               PRODUCTS COMPARE BLOCK

*******************************************************************************/
@media screen and (max-width: 931px)
{ .block-compare{display:block!important; margin:18px 0 26px 0!important}
    .block-compare .block-title, .block-compare .block-content, #compare-items,  .block-compare .block-content li p{line-height:normal!important; padding:0!important; display: inline-block!important; vertical-align: top!important}   
    .block-compare .block-title{display:none!important;}
    .block-compare .block-content li p{float:left!important}
    .sidebar .block-compare .block-content #compare-items li {/*margin:6px 0 0 0 !important*/}
    .sidebar .block li a.btn-remove{left:160px!important;}
    
    .block-compare .block-content .actions{display:block!important; }
  
   .block-compare button.button,  .block-compare button.button span span, .block-compare button.button span{height:auto!important; display:inline!important;  vertical-align: middle!important; color:#636363!important; background-color: transparent!important; line-height:normal!important; padding: 0!important;width:auto!important; text-transform:  none!important; font-size: 13px!important;color:#50A4CF!important; }
     .block-compare .actions a{vertical-align: middle!important; border-right:1px solid gray!important;padding-right: 5px!important;color:#50A4CF!important; }
    .block-compare .block-content .product-name{font-weight: normal!important}
    .block-compare .block-content .product-name a{color:black!important}
}
