/*******************************************************************************

                              HOME PAGE THUMBS

*******************************************************************************/
@media screen{
    .home-thumbs{float: left; list-style: none outside none; margin: 8px 0; padding: 0; width: 960px;padding:0!important;}
    .home-thumbs li{display: block; float: left; height: 100px; margin: 10px 0; width: 302px; text-align: center; background: none repeat scroll 0 0 #5FC77F; border:1px dotted white}
    .home-thumbs li a{    display: block;    font-size: 14px;    letter-spacing: 6px;    margin: 2px;    text-transform: uppercase;    width: 296px; color:#fff; text-decoration:none; font-weight: 700; height: 46px; padding:24px 0; }
    .home-thumbs li a span{line-height:normal}

    .home-thumbs li:first-child{background-color: #5FC77F}
    .home-thumbs li:nth-child(2){background-color: #5fc7c5; margin:10px 17px;}
    .home-thumbs li:nth-child(2) strong{font-weight: 500; letter-spacing: 1px; font-size: 22px; display: block;}
    .home-thumbs li:nth-child(3){background-color: #F6D374;}
    .home-thumbs li:nth-child(3) strong,
    .home-thumbs li:first-child strong{letter-spacing:8px;}


    .home-thumbs li a strong{display: inline; font-size: 24px; font-weight: 500; letter-spacing: 11px;  }


}


@media screen and (max-width: 931px)
{
    /*Home Page Banner*/

    .widget-banner a span{padding: 0 0 5px!important}


    /*Home Thumbs*/
    .home-thumbs{width:100%!important; text-align: center!important}
    .home-thumbs li{width:31.5%!important;display:inline-block!important; vertical-align: text-top; float:none!important}
    .home-thumbs li a{display:inline-block!important;width:100%!important;height:100%!important;padding:0!important}
    .home-thumbs li a strong{display:inline!important}
    .home-thumbs li a span{margin:auto 0!important; height:100%!important;display:inline-block!important;padding-top:6%;}
    .home-thumbs li:nth-child(2){margin-left: 1%!important; margin-right:1%!important}

}

@media screen and (max-width:862px)
{
    .home-thumbs li strong {letter-spacing:  normal!important;}
}


@media screen and (max-width:605px)
{
    .home-thumbs li a{letter-spacing:3px!important;width:96.5%!important}
    .home-thumbs li:nth-child(2) strong{font-size:20px!important;}
    .home-thumbs li:nth-child(3) a strong{font-size:22px!important}
    .home-thumbs li:nth-child(1) a span{padding-top:7%!important;}



}


@media screen and (max-width:520px){
    .home-thumbs li a{letter-spacing:2px!important;}
    .home-thumbs li:nth-child(2) strong{font-size:19px!important;}
    .home-thumbs li:nth-child(3) a{font-size: 13px!important;}
    .home-thumbs li:nth-child(3) a strong{font-size:21px!important;}


}

@media screen and (max-width:490px){
    .home-thumbs li a{font-size:12px!important;}

    .home-thumbs li:nth-child(3) a {font-size: 12px!important;}
    .home-thumbs li:nth-child(3) a strong{font-size: 19px!important}
    .home-thumbs li:nth-child(3) a span,
    .home-thumbs li a span{padding-top:12%!important}

    .home-thumbs li:nth-child(2) strong{font-size:18px!important;}

    .home-thumbs li:first-child a{font-size:14px!important;}
    .home-thumbs li:first-child a strong{font-size: 22px!important}
    .home-thumbs li:first-child a span {padding-top:13%!important;}


}

@media screen and (max-width:450px){
    .home-thumbs li:first-child a strong{font-size: 18px!important;}
}

@media screen and (max-width:450px){
    .home-thumbs li:first-child a{font-size: 14px!important;}
    .home-thumbs li:first-child a strong,
    .home-thumbs li:nth-child(2) strong, 
    .home-thumbs li:nth-child(3) a strong{font-size: 15px!important;}

    .home-thumbs li a{font-size:11px!important;}
}

@media screen and (max-width:400px){
    .home-thumbs{margin:-11px  0 6px 0!important; }
    .home-thumbs li{width:30%!important;min-height:66px!important;height:auto!important; margin:5px 0 0 0!important}
    .home-thumbs li a{ letter-spacing: normal!important}

    .home-thumbs li:first-child a span,
    .home-thumbs li a span,
    .home-thumbs li:nth-child(3) a span
    {padding:0!important;width:100%!important; }

    .home-thumbs li:first-child a{
        font-size: 11px!important;
    }
    .home-thumbs li:first-child a strong, 
    .home-thumbs li:nth-child(2) strong, 
    .home-thumbs li:nth-child(3) a strong
    {font-size: 11px!important;height:53px!important}





}

@media screen and (max-width:320px){

    .home-thumbs li a{word-wrap:  break-word!important;}
}


@media screen and (max-width:220px){
    .home-thumbs{margin:0!important;}
}

/*******************************************************************************

                              HOME PAGE SLIDES

*******************************************************************************/
@media screen{

    #homepage-main-slides{position:relative; clear:both; top: -1px;}
    #homepage-main-slides .slides_container{  border: 1px solid #E2E2E2;    padding: 7px; height: 464px; width:924px;}


    #homepage-main-slides ul.pagination{ bottom: 18px;    margin: 0;    padding: 0;    position: absolute;    z-index: 999;}
    #homepage-main-slides ul.pagination li{   display: inline;    float: left; padding:5px;    list-style: none outside none;}
    #homepage-main-slides ul.pagination li a{  border:1px solid #50A4CF;	background:transparent;    float: left;    height: 3px;    width: 48px; text-indent:-9999px;}
    #homepage-main-slides ul.pagination li.current a,
    #homepage-main-slides ul.pagination li.current a:hover{  background: none repeat scroll 0 0 #50A4CF; cursor:default}
    #homepage-main-slides ul.pagination li a:hover{  background:#fff;}


    #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{	display:none;	  /* IE 8 */  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";  /* IE 5-7 */  filter: alpha(opacity=25);  /* Netscape */  -moz-opacity: 0.25;  /* Safari 1.x */  -khtml-opacity: 0.25;  /* Good browsers */ opacity: 0.25; background: url("../../images/slide-arrows.png") no-repeat scroll 0 center #000;    top: 8px; z-index:10; text-indent:-9999px;    position: absolute; width:30px;  height:465px;}
    #homepage-main-slides a.next{  right: 8px; background-position:right   }
    #homepage-main-slides a.prev{  left: 8px; background-position:left }
    #homepage-main-slides:hover a.next, .cms-home #homepage-main-slides:hover a.prev{	display:block}
}

@media screen and (max-width:931px)
{
    .slides_control div{position:relative!important}
    .slides_control{width:100%!important;height:100%!important}
    #homepage-main-slides .slides_container{height:100%!important}
    #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{height:200px!important; top:75px!important}
    #homepage-main-slides .slides_container{border:0!important;}
    #homepage-main-slides{display:inline-block; width:90%!important;;}
}

@media screen and (max-width:655px)
{
    #homepage-main-slides{ width:100%!important;;}
}

@media screen and (max-width:605px)
{
    #homepage-main-slides a.next, #homepage-main-slides a.prev{top:45px!important;}
}

@media screen and (max-width:520px){
    .cms-home #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{top:36px!important;height:148px!important;}
}
@media screen and (max-width:400px){
    #homepage-main-slides a.next, #homepage-main-slides a.prev{height:45px!important;top:76px!important;}
}
@media screen and (max-width:320px){
    .cms-home #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{top:59px!important;}
}
@media screen and (max-width:280px){
    .cms-home #homepage-main-slides a.next, .cms-home #homepage-main-slides a.prev{top:44px!important;}
}

@media screen and (max-width:220px){
    #homepage-main-slides{display:none!important}
}
/*******************************************************************************

                                   PROMO BANNER

*******************************************************************************/
@media screen and (max-width:931px){

    .cms-home .widget-banner{
        margin-top:12px;
    }
    .top-container .widget-banner li{ border-bottom: 2px dotted #80FAE6 ;letter-spacing:5px;}



}

@media screen and (max-width:720px){
    .top-container .widget-banner li{letter-spacing:5px!important}
}

@media screen and (max-width:675px){
    .top-container .widget-banner li{letter-spacing:3px!important}
}

@media screen and (max-width:570px){
    .top-container .widget-banner li{letter-spacing:normal!important; font-size: 11.5px!important;}

}