
@media screen{



    /* Primary Btn*/
    a:hover{text-decoration: none!important}
    .button{

        background-color: #63E6FF;border:0;
        font:600 10px/normal Raleway, Arial, Helvetica, sans-serif;
        height:28px;
        text-transform: uppercase;
        display:inline-block;
        border:0; padding:0; margin:0;
        overflow:visible; cursor:pointer; vertical-align:middle;
         color:white;
    }
   
    .button:hover{ background-color:#1189c5;}
    
    .button *{line-height: normal; text-align: center; background-color: transparent!important;display:inline-block; width:100%; height:100%;padding:0;margin:0; border:0;}



    .button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
    .button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
    


    /* Secondary Btn*/



    a.secondary:hover,
    button.secondary:hover span,
    a.secondary:hover span,
    button.secondary:hover span span { background-color:#1189c5 !important;}
    /**/

    button.small-gray-btn span, button.small-gray-btn span span {
        background: none repeat scroll 0 0 #d8d8d8;	color: #FFFFFF;	font-size: 10px;	height: auto;	line-height: 20px;	padding: 0 7px;	position: relative;	text-decoration: none;	text-transform: uppercase;	white-space: nowrap;
    }

    button.small-gray-btn:active span span {line-height: 20px !important;	}

    /* Link Style Btn*/
    button.button2::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
    button.button2 { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
    button.button2 { border:0; padding: 0 5px;  margin:0; background:transparent; /* line-height:21px; */ overflow:visible; cursor:pointer; vertical-align:middle; color:#f5f5f5; }
    button.button2 span, button.button2 span span, a.button2, a.button2 span { line-height:30px; height:30px;  font-weight: 600; border: 0 none;    color: #FFFFFF;    cursor: pointer;    display: inline-block;    margin: 0;    padding: 0;    text-decoration: none;}
    button.button2 span span, a.button2 span {    color: #50A4CF;    display: inline-block;       text-transform: uppercase;    white-space: nowrap;text-decoration: underline; }
    button.button2:hover span,button.button2:hover span span, a.button2:hover,a.button2:hover span { color: #1189C5; }

    /*Placeorder Btn*/

    button.place-order-btn span span {
        background: url("../../images/madison-sprite-a.png") no-repeat scroll 7px -669px transparent;
        /* font-size: 18px;
         font-weight: 500;*/

    }


    a.button { line-height:21px; }
    a.button { line-height:20px; }
    .button:active { bottom:0px; right:0px; position:relative; z-index:2; }
    button.button:active span span { margin:0; line-height:32px; }
    button.btn-small span { font-size:11px; line-height:14px; padding:1px 9px 0; }
    button.disabled { cursor:default !important; bottom:0 !important; right:0 !important; }
    button.disabled span { cursor:default !important; color:#bbb !important; }



}


/****************************************************
                
                ADD TO CART BUTTON

****************************************************/
@media screen{
    .btn-cart *{text-align: right}
    .btn-cart{ padding-right:20px!important;border-top-left-radius:6px;height:22px;   }	
    .btn-cart span span{ padding-left:14px; background: url("../../images/madison-sprite-a.png") no-repeat scroll -2px -231px #50A4CF;     }	
    
}

@media screen and (max-width:215px){
    
    .btn-cart{margin:0;}
}

/****************************************************
                
               FORM SUBSCRIBE BUTTON

****************************************************/
@media screen{
    .form-subscribe .button{
        
        height:30px;
        width: 63px;
        font-size:11px;
        
    }
}

/****************************************************
                
               SEARCH BUTTON (HEADER)

****************************************************/

@media screen{
    #search_mini_form button{
        background-color:white;
        height:23px;
        margin: 0 1px 0 -36px;
    }
    #search_mini_form button span span{
            background: url("../../images/madison-sprite-a.png") no-repeat scroll -2px -23px transparent;
    height: 18px;
    padding: 0;
    width: 30px;
    }
}


/****************************************************
                
               FILTER BUTTON

****************************************************/
@media screen{
    .filter-button{padding:0 8px;font-size:11px; height:14px;background: none; color:#00ccf3}
}