/*******************************************************************************

                              MINI DASHBOARD

*******************************************************************************/
@media screen and (max-width: 931px)
{
    .mini-dashboard{float:none;display:block; text-align: left;}
    .mini-dashboard >li:nth-child(2){background-color:#80FAE6 ;}
    .mini-dashboard >li:nth-child(3){background-color:#89EDFA ;}
    .mini-dashboard >li{
        border-bottom:5px solid /*#F8FD9E*/  /*#FFFF99*//*#FFFFA2*/#ffffbc ;
        background-color: #73F4ED ;
        display: inline-block ;
        float: left ;
        height: 100% ;
        line-height: normal !important;
        margin: 0 1px 0 0;
        /* margin-bottom: 1px !important;
         margin-left: 0 !important;
         margin-right: 1px !important;
         margin-top: 2px;*/
        /*padding: 43.2px 0 !important;*/
        vertical-align: top !important;
        width: 32.9% ;
        text-align:center!important;

    }

    /*.top-cart{padding:0 22px 0 15px;}*/

    .mini-dashboard{height:104px ;width:260px/*13.5%*/;  vertical-align:top!important; display:inline-block!important; /*border-bottom:2px dotted #5CDFDA!important*/}


    /*.mini-dashboard{vertical-align:top!important; margin: 0 0 0 3px!important}

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{float:none !important;display:block!important; height:35px!important;text-align:center!important;padding:0!important;}
    .mini-dashboard a, .mini-dashboard h3, .mini-dashboard strong{ color:white !important; font-weight:600!important}
    .mini-dashboard ul.links{padding-top:17px!important; height:13px!important;}*/
    .top-cart .block-title{line-height: normal!important}

    .mini-dashboard  a, .mini-dashboard h3 span,  .mini-dashboard h3  , .mini-dashboard strong{background:none!important; padding:0 !important; color:white;/*color:#1A9ACC !important;*/ font-weight:bold; font-size:13.5px}
    /*.mini-dashboard strong{color:#5FC77F !important}*/

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{padding:39px 0 0;display:inline-block!important; float:none!important}
    /*.mini-dashboard ul.links, .mini-dashboard .top-cart{margin-right:11px!important}*/

}



@media screen and (max-width: 845px){
    .top-cart {padding:0 22px 0 15px;}
}

@media screen and (max-width:567px){
    .mini-dashboard > li
    {height:auto;border-bottom: 0; background-color:transparent!important; }

    .mini-dashboard ul.links, .mini-dashboard .top-cart, .mini-dashboard .top-myaccount{
        padding:0;
        white-space: nowrap;
        overflow:visible;
    }

    .mini-dashboard a, .mini-dashboard h3 span, .mini-dashboard h3, .mini-dashboard strong{
       /* color: #1A9ACC*/
        font-weight:400;
        font-size:13px;
    }
    
    .mini-dashboard{height:auto;margin:-7px 0 0 80px; border-top:2px dotted #FFFFFF; padding:5px 0 0 0 }
}

@media screen and (max-width:400px){
     .mini-dashboard{margin:-7px 0 0 0}
}
@media screen and (max-width:335px)
{
    .nav-container.scrollable ~ .mini-dashboard{margin:-124px 0 0}
}
@media screen and (max-width:390px)
{
    .mini-dashboard a, .mini-dashboard h3 span, .mini-dashboard h3, .mini-dashboard strong{font-size:11px;}
    .mini-dashboard > li{width:29%;float:none;}
    .mini-dashboard{text-align: center; width:63%;margin:-7px 0 0 51px; border-top:1px dotted #FFFFFF}
}

@media screen and (max-width:175px)
{
    .mini-dashboard{z-index:9999;margin: 0;padding:0; width:100%;border-top:none;background-color:#FFFFA2;position:fixed;}
    .mini-dashboard > li{display:inline-block;}
    .mini-dashboard a, .mini-dashboard h3 span, .mini-dashboard h3, .mini-dashboard strong{font-size:10px;}

      .mini-dashboard .checkout-link{display:none;}
      .mini-dashboard a, .mini-dashboard h3 span, .mini-dashboard h3, .mini-dashboard strong{
          color:black;
      }
}