/*******************************************************************************

                                   TITLES

*******************************************************************************/
@media screen{
    .page-title {/*border-bottom:1px solid #cfcfcf;*/background:none;padding:12px 0 20px;margin-bottom: 0; }/*Siva*/

    .page-title h1,
    .page-title h2 { 
        color:#636363;
        text-transform:uppercase;
        font-family: raleway;
        font-size: 24px; 
        line-height:26px; 
        font-weight: 600; 
    }
    .cart .page-title h1{font-size:34px}
.cart .page-title{padding:0; display: block;}

}

@media screen and (max-width:970px)
{
    .page-title,.category-title{padding-left: 5px!important}
}

@media screen and (max-width: 931px){
    .product-view .product-name h1, .page-title h1{color:#73F4ED !important; font-size: 50px; font-weight: normal!important;line-height:50px!important; text-align: center}


    .page-title{word-wrap:  break-word;  padding:49px 0 10px;text-align: left;display:inline-block}


}


@media screen and (max-width:567px){
    .product-view .product-name h1, .page-title h1{font-size: 41px;}
    .page-title{padding:20px 0 10px}
    /*Bread Crumb*/

}

/*******************************************************************************

                                   SUBTITLES

*******************************************************************************/
@media screen{
    .sub-title {  
        font:600 28px/1.25em 'Raleway', Arial, Helvetica, sans-serif; 
        color:#63E6FF; margin:3px 0 10px; 
        padding-bottom:4px; 
        text-transform:uppercase; 
        border-bottom:1px solid #d8d8d8; 

    }
    .sub-title .separator { font-weight:normal; display:none; }
    .sub-title a { font:700 10px/22px 'Raleway', Arial, Helvetica, sans-serif; float:right; }
    .section-title { font-size:14px; font-weight:normal; color:#151515; margin:0 0 5px; }

    .home-new-products .sub-title
    {
        color:#63E6FF
    }

}