/******************************************************************************

                                COMPARE ICON


*******************************************************************************/
a.link-compare{
    background: url("../../images/madison-sprite-a.png") no-repeat scroll -4px -532px transparent!important;
    display:block!important;
    font-size: 0!important;
    line-height: 0!important;
    height:20px!important;
    width:21px!important;
    text-indent: -999em!important;
    
    
}