/*******************************************************************************

                              Navigation

*******************************************************************************/
@media screen{
    
    /* 2nd Level */
#nav ul,
#nav div { position:absolute; width:13.5em; top:38px; left:-10000px; background:#fbfbfb; padding:5px 11px 10px; border:1px solid #ECECEC;}
#nav div ul { position:static; width:auto; background:none; padding:0; border:0 !important; }

#nav ul li { float:none; height:auto; display:block; border-bottom:1px solid #e2e2e2; line-height:12px;}
#nav ul li.last { border-bottom:0; }
#nav ul li.parent { /*background:url(../images/bkg_parent.gif) 100% 50% no-repeat;*/ }
#nav ul li a {   text-align: left; display:block; font-size:12px;  padding:5px 4px; text-decoration:none !important; color:#444; }
#nav ul li.last > a { padding-bottom:0; }
#nav ul li a:hover { color:#d02600; }
#nav ul li a span {}
#nav ul li.over a.over { color:#50a4cf; }
#nav ul li.active > a { color:#50a4cf; }

   .shown-sub { left:0; z-index:9999 !important; top:31px; background: white;position:absolute }
 .shown-sub .shown-sub { left:0!important;; }
 
 
 .nav-close-button{display: none;}
}
@media screen and (max-width: 931px)
{
    /*Navigation*/
    #nav{margin-bottom:10px!important; margin-top:-7px;}
    #nav li.level-top a.level-top span{padding:0!important; float:none!important;}
    #nav li.level-top{ /*min-width: 100px;*/ width:85px;text-align:center;margin-right:5px;float: none!important;margin-right:32px;}
    #nav li.level-top.last{/*margin-left: 5px;*/margin-right:0}
    #nav li.level-top.first a.level-top span{/*padding-left: 15px!important;*/}
    #nav li.level-top a.level-top{float:none!important; padding-bottom:3px!important; display:inline-block!important}
    .nav-container{/*border-bottom: 2px dotted #43DADB !important*/ border:0;}
    #nav li.level-top a.level-top{color:#1a9acc!important; font-weight: 500}
    /*#nav li.level-top .shown-sub{position:relative!important; display:inline!important; top:0!important;left:0!important;width:100%!important;background:none!important;border:0!important;}*/
    #nav > li > ul{top:25px!important;}
    #nav li.level-top a.level-top span{font-size:13px;}

    #nav >li.level-top.nav-1, #nav >li.level-top.nav-2, #nav >li.level-top.nav-3{background-color:/*#43DADB*/#89EDFA; color:/*#F8FD9E*/white ;  }
    #nav >li.level-top.nav-4, #nav >li.level-top.nav-5, #nav >li.level-top.nav-6{color:/*#43DADB*/#00ebed; background-color:/*#F8FD9E*//*#FFFF99*/ /*#FFFFA2*/#ffffbc ; }

    /*#nav >li.level-top.nav-1{margin-left:12px !important}*/
    #nav li.level-top a.level-top{color:inherit !important; font-weight: 600 ; }

    #nav >li.level-top.nav-3{width:109px}
    #nav >li.level-top.nav-4{width:113px; margin-left:0!important}
    #nav >li.level-top.nav-6{width:50px; }
    /*#nav li.level-top:hover{padding:100px 0!important;*/

    .nav-container{margin-top:0; background: none!important;z-index:9998}

    #nav li.level-top{  float:none!important; /*height:60px!important; height:auto!important;*/ height:auto!important; line-height:20px;   display:inline-block; margin:1px;}
.nav-close-button{float:right;}
  
    /* .top-cart .block-title strong{background:url("../images/madison-sprite-a.png") no-repeat scroll 5px -219px transparent!important; padding:0 0 0 10px !important}
     .top-myaccount h3{background:url("../images/madison-sprite-a.png") no-repeat scroll -7px -206px transparent!important;}
    */

   /* #nav li.level-top.nav-1:hover ~ li.nav-5, 
    #nav li.level-top.nav-1:hover ~ li.nav-6
    {margin-top:-100px!important;}

    #nav li.level-top.nav-2:hover ~ li.nav-4, 
    #nav li.level-top.nav-2:hover ~ li.nav-6
    {margin-top:-123px!important;}

    #nav li.level-top.nav-3:hover ~ li.nav-4, 
    #nav li.level-top.nav-3:hover ~ li.nav-5
    {margin-top:-100px!important;}*/
}

@media screen and (max-width:567px){
  
    #nav > li.level-top
    {
        background-color:transparent!important;
        color:white!important;
       width:13%;
      
       
    } 
    #nav{margin:0; /*background-color:#1A9ACC;*/}
    #nav li.level-top a.level-top{ font-weight:normal!important;}
    .nav-container{border-top:6px solid #73F4ED;padding-top:4px; }
    
    #nav li.level-top a.level-top span{font-size:12px;;}
}

@media screen and (max-width:500px)
{

  #nav > li.level-top{width:42px;text-align: right;}
  #nav > li.level-top.nav-3{width:94px;;}
  #nav > li.level-top.nav-4{width:107px;}
  #nav > li.level-top.nav-6{width:28px}

}

@media screen and (max-width:390px)
{
    #nav li.level-top a.level-top span{font-size:10px;}
  #nav > li.level-top{width:35px/*42px*/;text-align: center;}
  #nav > li.level-top.nav-3{width:/*94px;*/78px;}
  #nav > li.level-top.nav-4{width:/*107px*//*86px*/109px;}
  #nav > li.level-top.nav-6{width:28px}
}

@media screen and (max-width:335px)
{
    #nav li.level-top.nav-1{width:55px;}
    #nav li.level-top.last{margin-right:13px;}
#nav li.level-top a.level-top span{font-size:12px;}
/* #nav > li.level-top:nth-child(odd){background-color: #73F4ED!important; }
  #nav > li.level-top:nth-child(even){background-color: #FFFFA2!important; }*/
}
@media screen and (max-width:175px)
{
   .nav-close-button{display:inline-block;}
    #nav >  li.level-top{text-align:left;display:block;width:100%;}
    .nav-container{position:absolute;top:-149px; width:100%;border-top:none;padding:0;
    }
    #nav{background-color: #89EDFA;} 
    .shown-sub{position:static!important;;}
    
   
 
}
/*******************************************************************************

                                BreadCrumbs

*******************************************************************************/
@media screen and (min-width: 932px){
    .breadcrumbs{display:block!important;}
}
@media screen and (max-width: 931px){
    .breadcrumbs{padding:0 5px!important; display:inline-block!important;/*margin-left:5px*//*-251px*//*!important*/; width:108%!important;  border-bottom:2px dotted #80FAE6 !important; line-height: 13px!important;}

}
@media screen and (max-width: 630px){
    .breadcrumbs{width:105%!important}
}

@media screen and (max-width: 600px){
     .breadcrumbs{width:103%!important}
}
@media screen and (max-width: 580px){
     .breadcrumbs{width:100%!important}
}


/*@media screen and (max-width: 820px){
    .breadcrumbs{width:60%!important}
}

@media screen and (max-width:550px){
    .breadcrumbs{width:460px !important;margin-top:-17px !important;margin-left:-221px !important}
}*/

