/*###############################################################################


                                ICONS


##############################################################################*/

.sprite-demo-store-notice-logo{
    width: 209px;
    height: 25px;
    
}

.spite-language{}