/*##############################################################################


                             LABEL MODULE -> configuration


##############################################################################*/

//Supported Types: label form-label form-contol-label
$active-labels: label form-label form-control-label;

/*=================================================================

                  CONFIGURATION -> SHARED

=================================================================*/
@include define(label form-label,$active-labels){
    font:{family: $base-typeface; size: 12px};
    line-height: $base-line-height;
    color: color(dark-gray);
}


/*=================================================================

                  CONFIGURATION -> REQUIRED SYMBOL

=================================================================*/
$use-required-symbol:
color color(alert),
font-weight bold, 
margin-right 2px;


/*=================================================================

                  CONFIGURATION -> LABEL

=================================================================*/
@include define(label,$active-labels){
}


/*=================================================================

                CONFIGURATION -> FORM-LABEL

=================================================================*/
@include define(form-label,$active-labels){
}


/*=================================================================

             CONFIGURATION -> FORM-CONTROL-LABEL

=================================================================*/
$default-form-control-label-config: 
color color(dark-gray),
font-weight 700,
font-size 12px;





/*##############################################################################


                        LABEL MODULE -> CORE


##############################################################################*/

/*=================================================================

                            CORE

=================================================================*/


/*--------------------------------------------
                normalize
--------------------------------------------*/

%label-normalize{
    background-color: transparent;
}

@include define($active-labels, $active-labels){
      
    @extend %label-normalize;
    @if $use-required-symbol{.required-symbol{@include style($use-required-symbol)}}
}


