/*##############################################################################



                               MESSAGES -> CONFIG



##############################################################################*/

$default-msg-base-config: padding 10px, text-align center, font-size 11px, text-align center;
$default-icon-spacing: 10px;

//Success Message 
$default-success-msg-config:
background-color color(success),
border '1px solid #446423',
color #3D6611;

//Error Msg
$default-error-msg-config: null;

//Info Msg
$default-info-msg-config: null;

//Global Msg
$default-global-msg-config: background-color color(black), color color(white), padding 8px;

/*##############################################################################



                             MESSAGES -> CORE



##############################################################################*/

%msg-base-config{
    @include style($default-msg-base-config);
}

.icon,.message{@include inline-block();}
.icon{margin-right: $default-icon-spacing}

.success-msg{
    @extend %msg-base-config;
    @include style($default-success-msg-config);
}

.global-msg{
    @extend %msg-base-config;
    @include style($default-global-msg-config);
}

